<table class="tg" align="center" id="tableReportingDataSheet">


  <!--header-->
  <tr>
    <td colspan="4" style="border-bottom: none; border-right: none;"></td>
    <td colspan="4" style="border-bottom: none;border-left: none;"></td>
    <td colspan="55" style="background-color: darkred; color: white;"><p style="text-align: left;">Section 1: Basic Project Data</p></td>
    <td colspan="550" style="background-color: darkred; color: white;"><p style="text-align: left;">Section 2: Narrative Project Report</p></td>
  </tr>

  <tr>
    <td colspan="4" style="border-top: none; border-bottom: none;border-right: none;"></td>
    <td colspan="4" style="border-top: none; border-bottom: none; border-left: none;"></td>
    <td colspan="54" style="background-color: darkred; color: white;"><p style="text-align: left;">1.1: Basic Information</p></td>
    <td colspan="55" style="background-color: darkred; color: white;"><p style="text-align: left;">2.1: Activity Summary</p></td>
    <td colspan="28" style="background-color: darkred; color: white;"><p style="text-align: left;">2.2: Needs Assessment</p></td>
    <td colspan="48" style="background-color: darkred; color: white;"><p style="text-align: left;">2.3: Beneficiary Influence</p></td>
    <td colspan="12" style="background-color: darkred; color: white;"><p style="text-align: left;">2.4: Lessons Learned</p></td>
    <td colspan="18" style="background-color: darkred; color: white;"><p style="text-align: left;">2.5: Visual Documentation</p></td>
    <td colspan="390" style="background-color: darkred; color: white;"><p style="text-align: left;">Section 3: Activity Report</p></td>
  </tr>

  <tr style="font-weight: bold;">
    <td colspan="4" style="border-top: none;border-right: none;"></td>
    <td colspan="4" style="border-top: none;border-left: none;"></td>
    <td colspan="13" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="9" style="background-color: lightgrey;"><p style="text-align: left;">1. What sectors will the intervention's activities most relate to (please tick all that apply)?</p></td>
    <td colspan="6" style="background-color: lightgrey;"><p style="text-align: left;">2. Presence in country before project (tick one)</p></td>
    <td colspan="6" style="background-color: lightgrey;"><p style="text-align: left;">3: Method of implementation (tick one)</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="16" style="background-color: lightgrey;"><p style="text-align: left;">5. Project Timeframe</p></td>
    <td colspan="14" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="14" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="6" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="21" style="background-color: lightgrey;"><p style="text-align: left;"></p>4. Explain how you sourced your goods (please tick all boxes that apply)</td>
    <td colspan="12" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="8" style="background-color: lightgrey;"><p style="text-align: left;"></p>3. Are you able to share a copy of your needs assessment?
      If yes, please attach with the form.</td>
    <td colspan="8" style="background-color: lightgrey;"><p style="text-align: left;"></p>4. Does your agency plan to conduct any evaluations of this project, compile case studies, or put together any other reports?</td>
    <td colspan="48" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="12" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: left;"></p>1. Do you have any photographic material from the project to share?</td>
    <td colspan="14" style="background-color: lightgrey;"><p style="text-align: left;"></p>2. Do you have any video material from the project to share?</td>
    <td colspan="390" style="background-color: lightgrey;"><p style="text-align: left;">Section 3: Activity Report</p></td>
  </tr>

  <tr>
    <!--1.1 Basic Information-->
    <td colspan="4"><p style="width:7.5em; text-align: center;">Project ID #</p></td>
    <td colspan="4"><p style="width:7.5em; text-align: center;">Date submitted to Start Team</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Project Name</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Member Agency Name</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Project Lead Name</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Position</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Email</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Telephone</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Country of Project</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;">Location(s) of project (city / province)</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;">Project start date (dd/mm/yyyy)</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;">Project end date (dd/mm/yyy)</p></td>
    <!--1.What sectors will...-->
    <td colspan="1"><p style="width:5em; text-align: center;">WaSH</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Health</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Shelter</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Nutrition</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Food security & Livelihoods</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Protection</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Education</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Camp Management</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Other (specify)</td>
    <!--2.Presence in country...-->
    <td colspan="2"><p style="width:5em; text-align: center;">Current programmes</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;">Pre-existing partner</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;">No pre-existing presnece</p></td>
    <!--3.Method of implementation...-->
    <td colspan="2"><p style="width:5em; text-align: center;">Directly through field staff</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;">Sister organisation</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;">Working through external partner</p></td>
    <!--empty title-->
    <td colspan="4"><p style="width:10em; text-align: center;">4. Name(s) of external partner(s) (if any)</p></td>
    <!--5. Project Timeframe-->
    <td colspan="4"><p style="width:10em; text-align: center;">On what date wee you able to complete a needs assessment related to the project? (dd/mm/yyyy)</p></td>
    <td colspan="4"><p style="width:10em; text-align: center;">On what date were you able to begin implementation? (dd/mm/yyyy)</p></td>
    <td colspan="4"><p style="width:10em; text-align: center;">On what date was funding made available to your agency? (dd/mm/yyyy)</p></td>
    <td colspan="4"><p style="width:10em; text-align: center;">On what date were beneficiaries first in receipt of assistance? (dd/mm/yyyy)</p></td>
    <!--empty title-->
    <td colspan="14"><p style="width:15em; text-align: center;">1. Summarize the crisis event and how it is likely to develop over the next month (maximum 5 points)</p></td>
    <!--empty title-->
    <td colspan="14"><p style="width:15em; text-align: center;">2. What internal and/or external factors negatively affected the speed of implementation?</p></td>
    <!--empty title-->
    <td colspan="6"><p style="width:25em;">3. How did your agency coordinate at operation level with other actors and/or cluster groups (including the implementing partner if applicaable) and any successful outcomes or lessons learned through coordination. </p></td>
    <!--4. Explain how you sourced your goods...-->
    <td colspan="3"><p style="text-align: center;">Internationally</p></td>
    <td colspan="3"><p style="text-align: center;">Regionally/neighbouring country</p></td>
    <td colspan="3"><p style="text-align: center;">In country/locally</p></td>
    <td colspan="12"><p style="text-align: center; width: 20em;">If this is different to how you planned it, why did you change procurement plans and what how did this affect the project? Please explain your answer in two bullet points:</p></td>
    <!--empty title-->
    <td colspan="6"><p style="text-align: center; width: 15em;">1. What additional needs arose throughout implementation?</p></td>
    <td colspan="6"><p style="text-align: center; width: 15em;">2. How did your project change in response to these needs?</p></td>
    <!--3. Are you able to share...-->
    <td colspan="4"><p style="text-align: center; width: 10em;">Yes</p></td>
    <td colspan="4"><p style="text-align: center; width: 10em;">No</p></td>
    <!--4. Does your agency plan to conduct...-->
    <td colspan="4"><p style="text-align: center; width: 10em;">Yes</p></td>
    <td colspan="4"><p style="text-align: center; width: 10em;">No</p></td>
    <!--empty title-->
    <td colspan="12"><p style="text-align: center; width: 20em;"><span>1. How many beneficiaries are you targeting?</span>
      <span style="font-style: italic;">(Beneficiaries = People Per Household * Number Of Households)</span>
    </p>
    <td colspan="12"><p style="text-align: center; width: 20em;">2. Which vulnerable groups did you specifically target within the crisis affected populations? Please be specific and explain.</p></td>
    <td colspan="12"><p style="text-align: center; width: 20em;">3. Explain how you communicated with disaster-affected communities before, during and after implementation (maximum 3 bullet points)</p></td>
    <td colspan="12"><p style="text-align: center; width: 20em;">4. Describe how disaster-affected communities were involved in and influenced your project.</p></td>
    <!--empty title-->
    <td colspan="12"><p style="text-align: center; width: 25em;">Based on the successes and challenges encountered in the field during implementation, what lessons did you learn? This section is crucial to the Start Fund's internal learning, so please answer as fully as possible.</p></td>
    <!--1. Do you have any photographic material...-->
    <td colspan="2"><p style="text-align: center; width: 10em;">Yes</p></td>
    <td colspan="2"><p style="text-align: center; width: 10em;">No</p></td>
    <!--2. Do you have any video material...-->
    <td colspan="2"><p style="text-align: center; width: 10em;">Yes</p></td>
    <td colspan="2"><p style="text-align: center; width: 10em;">No</p></td>
    <td colspan="10"><p style="text-align: center; width: 15em;">If yes to any of the above, please attach with the form. Indicate here any restrictions to sharing this material externally.</p></td>
    <!--Section 3 Activity Report-->
    <!--Blank sub header-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Activity 1</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 1 Total Female planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 1 Total Female actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 1 Total Male planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 1 Total Male actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 1 Total Planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 1 Total Actual</p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;">Activity 2</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 2 Total Female planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 2 Total Female actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 2 Total Male planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 2 Total Male actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 2 Total Planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 2 Total Actual</p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;">Activity 3</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2" style="font-weight: bold;">Activity 3 Total Female planned</td>
    <td colspan="2" style="font-weight: bold;">Activity 3 Total Female actual</td>
    <td colspan="2" style="font-weight: bold;">Activity 3 Total Male planned</td>
    <td colspan="2" style="font-weight: bold;">Activity 3 Total Male actual</td>
    <td colspan="2" style="font-weight: bold;">Activity 3 Total Planned</td>
    <td colspan="2" style="font-weight: bold;">Activity 3 Total Actual</td>

    <td colspan="2"><p style="text-align: center; width: 5em;">Activity 4</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 4 Total Female planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 4 Total Female actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 4 Total Male planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 4 Total Male actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 4 Total Planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 4 Total Actual</p></td>


    <td colspan="2"><p style="text-align: center; width: 5em;">Activity 5</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 5 Total Female planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 5 Total Female actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 5 Total Male planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 5 Total Male actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 5 Total Planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 5 Total Actual</p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;">Activity 6</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"><p style="text-align: center; width: 5em;">Male 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 6 Total Female planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 6 Total Female actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 6 Total Male planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 6 Total Male actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 6 Total Planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 6 Total Actual</p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;">Activity 7</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 7 Total Female planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 7 Total Female actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 7 Total Male planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 7 Total Male actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 7 Total Planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 7 Total Actual</p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;">Activity 8</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 8 Total Female planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 8 Total Female actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 8 Total Male planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 8 Total Male actual</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 8 Total Planned</p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;">Activity 8 Total Actual</p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;">Activity 9</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Output Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">KPI Report</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Female over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male 18-50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 planned</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male over 50 actual</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Male under 18 planned</p></td>

  </tr><!--header end-->



  <tr>
    <!--1.1 Basic Information-->
    <td colspan="4"><p style="width:7.5em; text-align: center;"></p></td>
    <td colspan="4"><p style="width:7.5em; text-align: center;"></p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{responsePlan.name}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{memberAgencyName}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{planLeadName}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{planLeadPosition}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{planLeadEmail}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{planLeadPhone}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{responsePlan.location}}</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;">{{responsePlan.location}}</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;"></p></td>
    <td colspan="2"><p style="width:10em; text-align: center;"></p></td>
    <!--1.What sectors will...-->
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.wash)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.health)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.shelter)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.nutrition)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.foodSecurityAndLivelihoods)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.protection)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.education)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.campManagement)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.other)">X</p></td>
    <!--2.Presence in country...-->
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.currentProgrammes">X</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.preExistingPartner">X</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.noPreExistingPresence">X</p></td>
    <!--3.Method of implementation...-->
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.fieldStaff">X</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;"></p></td>
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.withPartner">X</p></td>

    <!--empty title-->
    <td colspan="4" style="width:10em; text-align: center;">
      <ol *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.withPartner && responsePlan.partnerOrganisations" >
        <li *ngFor="let name of partnersList;">{{name}}</li>
      </ol>
    </td>

    <!--5. Project Timeframe-->
    <td colspan="4"><p style="width:10em; text-align: center;"></p></td>
    <td colspan="4"><p style="width:10em; text-align: center;"></p></td>
    <td colspan="4"><p style="width:10em; text-align: center;"></p></td>
    <td colspan="4"><p style="width:10em; text-align: center;"></p></td>

    <!--empty title-->

    <td colspan="14">
      <ol *ngIf="responsePlan.scenarioCrisisList" style="width:15em; text-align: left;">
        <li *ngFor="let crisis of responsePlan.scenarioCrisisList">{{crisis}}</li>
      </ol>
    </td>

    <!--empty title-->
    <td colspan="14"><p style="width:15em; text-align: center;"></p></td>
    <!--empty title-->
    <td colspan="6"><p style="width:25em;"></p></td>
    <!--4. Explain how you sourced your goods...-->
    <td colspan="3"><p style="text-align: center;" *ngIf="sourcePlanId == SourcePlan.Internationally">X</p></td>
    <td colspan="3"><p style="text-align: center;" *ngIf="sourcePlanId == SourcePlan.Regionally">X</p></td>
    <td colspan="3"><p style="text-align: center;" *ngIf="sourcePlanId == SourcePlan.Locally">X</p></td>
    <td colspan="12"><p style="text-align: center; width: 20em;">
      <ol>
        <li *ngIf="sourcePlanInfo1">{{sourcePlanInfo1}}</li>
        <li *ngIf="sourcePlanInfo2">{{sourcePlanInfo2}}</li>
      </ol>
    </td>

    <!--empty title-->
    <td colspan="6"><p style="text-align: center; width: 15em;"></p></td>
    <td colspan="6"><p style="text-align: center; width: 15em;"></p></td>
    <!--3. Are you able to share...-->
    <td colspan="4"><p style="text-align: center; width: 10em;"></p></td>
    <td colspan="4"><p style="text-align: center; width: 10em;"></p></td>
    <!--4. Does your agency plan to conduct...-->
    <td colspan="4"><p style="text-align: center; width: 10em;"></p></td>
    <td colspan="4"><p style="text-align: center; width: 10em;"></p></td>

    <!--empty title-->
    <td colspan="12"><p style="text-align: center; width: 20em;" *ngIf="responsePlan.peoplePerHousehold && responsePlan.numOfHouseholds &&
              isNumber(responsePlan.peoplePerHousehold) && isNumber(responsePlan.numOfHouseholds)">{{responsePlan.peoplePerHousehold * responsePlan.numOfHouseholds}}</p></td>
    <td colspan="12">
      <ol *ngIf="vulnerableGroupsToShow">
        <li *ngFor="let group of vulnerableGroupsToShow">{{group.name}}</li>
      </ol>
    </td>
    <td colspan="12"><p style="text-align: center; width: 20em;"></p></td>
    <td colspan="12"><p style="text-align: center; width: 20em;"></p></td>

    <!--empty title-->
    <td colspan="12"><p style="text-align: center; width: 25em;"></p></td>
    <!--1. Do you have any photographic material...-->
    <td colspan="2"><p style="text-align: center; width: 10em;" *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.photographic || responsePlan.monAccLearning['mediaFormat'] == MediaFormat.photographicAndVideo">X</p></td>
    <td colspan="2"><p style="text-align: center; width: 10em;" *ngIf="responsePlan.monAccLearning['mediaFormat'] != MediaFormat.photographic && responsePlan.monAccLearning['mediaFormat'] != MediaFormat.photographicAndVideo">X</p></td>
    <!--2. Do you have any video material...-->
    <td colspan="2"><p style="text-align: center; width: 10em;" *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.video || responsePlan.monAccLearning['mediaFormat'] == MediaFormat.video">X</p></td>
    <td colspan="2"><p style="text-align: center; width: 10em;" *ngIf="responsePlan.monAccLearning['mediaFormat'] != MediaFormat.video && responsePlan.monAccLearning['mediaFormat'] != MediaFormat.video">X</p></td>
    <td colspan="10"><p style="text-align: center; width: 15em;"></p></td>
    <!--Section 3 Activity Report-->
    <!--Blank sub header-->
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"></td>
    <td colspan="2" style="font-weight: bold;"></td>
    <td colspan="2" style="font-weight: bold;"></td>
    <td colspan="2" style="font-weight: bold;"></td>
    <td colspan="2" style="font-weight: bold;"></td>
    <td colspan="2" style="font-weight: bold;"></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>


    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>

  </tr>

</table>
