<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<div [hidden]="hideWarning" class="Alert-error">{{waringMessage | translate}}</div>

<form #addNetworkForm (ngSubmit)="submit()">
  <div id="wrap">

    <div class="Page-top__wrap--w_sub_header--no-paddng">
      <div class="Full-page__wrap--inner">

        <div class="Header-title__wrap">
          <h1 *ngIf="!isEdit">{{"SYSTEM_ADMIN.GLOBAL_NETWORKS.ADD_NEW_NETWORK" | translate}}</h1>
          <h1 *ngIf="isEdit">{{"SYSTEM_ADMIN.GLOBAL_NETWORKS.EDIT_NETWORK" | translate}}</h1>
        </div>

        <h3 class="System-admin__Sub-title--spaced">{{"SYSTEM_ADMIN.GLOBAL_NETWORKS.NETWORK_DETAIL" | translate}}</h3>
        <hr>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="form-group" [ngClass]="{'has-danger': alerts[networkName]}">
              <label for="Name">{{"SYSTEM_ADMIN.GLOBAL_NETWORKS.NETWORK_NAME" | translate}}*</label>
              <input type="text" class="form-control" id="Name" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}"
                     required
                     [(ngModel)]="networkName"
                     name="networkName">
            </div>
          </div>
        </div>

        <h3 class="System-admin__Sub-title--spaced">{{"SYSTEM_ADMIN.GLOBAL_NETWORKS.NETWORK_ADMIN_DETAIL" |
          translate}}</h3>
        <hr>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label for="Title">{{"GLOBAL.TITLE" | translate}}*</label>
              <select name="Title" id="Title" class="form-control" required [(ngModel)]="adminTitle">
                <option *ngFor="let title of PERSON_TITLE_SELECTION" [value]="title">{{PERSON_TITLE[title] |
                  translate}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group" [ngClass]="{'has-danger': alerts[adminFirstName]}">
              <label for="f-Name">{{"GLOBAL.USER_INFO.FIRST_NAME" | translate}}*</label>
              <input type="text" class="form-control" id="f-Name" required
                     placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}"
                     [(ngModel)]="adminFirstName" name="adminFirstName">
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group" [ngClass]="{'has-danger': alerts[adminLastName]}">
              <label for="l-Name">{{"GLOBAL.USER_INFO.LAST_NAME" | translate}}*</label>
              <input type="text" class="form-control" id="l-Name" required
                     placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}"
                     [(ngModel)]="adminLastName"
                     name="adminLastName">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="form-group" [ngClass]="{'has-danger': alerts[adminEmail]}">
              <label for="Email">{{"GLOBAL.USER_INFO.EMAIL" | translate}}*</label>
              <input type="text" class="form-control" id="Email" required
                     placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}"
                     [(ngModel)]="adminEmail"
                     name="adminEmail">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label for="A-line-1">{{"GLOBAL.USER_INFO.ADDRESS_LINE_1" | translate}}</label>
              <input type="text" class="form-control" id="A-line-1" placeholder="{{'GLOBAL.OPTIONAL' | translate}}"
                     [(ngModel)]="adminAddressLine1" name="adminAddressLine1">
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label for="A-line-2">{{"GLOBAL.USER_INFO.ADDRESS_LINE_2" | translate}}</label>
              <input type="text" class="form-control" id="A-line-2" placeholder="{{'GLOBAL.OPTIONAL' | translate}}"
                     [(ngModel)]="adminAddressLine2" name="adminAddressLine2">
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label for="A-line-3">{{"GLOBAL.USER_INFO.ADDRESS_LINE_3" | translate}}</label>
              <input type="text" class="form-control" id="A-line-3" placeholder="{{'GLOBAL.OPTIONAL' | translate}}"
                     [(ngModel)]="adminAddressLine3" name="adminAddressLine3">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label for="Country"> {{"GLOBAL.USER_INFO.COUNTRY" | translate}}</label>
              <select name="Country" id="Country" class="form-control" [(ngModel)]="adminCountry">
                <option *ngFor="let country of COUNTRY_SELECTION" [value]="country">{{COUNTRY[country] | translate}}</option>
              </select>

            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label for="City">{{"GLOBAL.USER_INFO.CITY" | translate}}</label>
              <input type="text" class="form-control" id="City" placeholder="{{'GLOBAL.OPTIONAL' | translate}}"
                     [(ngModel)]="adminCity" name="adminCity">
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label for="Postcode">{{"GLOBAL.USER_INFO.POSTCODE" | translate}}</label>
              <input type="text" class="form-control" id="Postcode" placeholder="{{'GLOBAL.OPTIONAL' | translate}}"
                     [(ngModel)]="adminPostcode" name="adminPostcode">
            </div>
          </div>
        </div>

        <div class="Form-submit__wrapper">
          <button *ngIf="!isEdit"  class="btn btn-primary" type="submit" (click)="validate()">
            {{"SYSTEM_ADMIN.GLOBAL_NETWORKS.SAVE_NEW_NETWORK" | translate | uppercase}}
          </button>
          <button *ngIf="isEdit"  class="btn btn-primary" type="submit" (click)="validate()">
            {{"GLOBAL.SAVE_CHANGES" | translate | uppercase}}
          </button>
          <button class="btn btn-outline-secondary" (click)="cancel()">{{"GLOBAL.CANCEL" | translate}}
          </button>
        </div>


      </div>

    </div>

  </div><!-- end #wrap -->
</form>
