<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <!--<div class="Back&#45;&#45;button" routerLink="/dashboard">Home</div>-->
    <div class="Header-title__wrap">
      <h1>{{"ALERT.CHANGE_LEVEL" | translate}}</h1>
    </div>
    <div class="row Spaced">
      <div class="col-lg-6 col-md-8 bg-grey">
        <div class="row align-items-center Small-spaced no-gutters">
          <div class="col-6">
            <span class="Icon Icon__circle Icon--sm Icon--b-dark-blue {{(isNumber(loadedAlert?.hazardScenario) ? getCSSHazard(loadedAlert?.hazardScenario) : 'Icon--alert')}}"></span>
            {{loadedAlert?.hazardScenario != -1 ? (HAZARDS[loadedAlert?.hazardScenario] | translate) : (loadedAlert?.displayName)}}
          </div>
          <div class="col-6 text-right">
            {{"ALERT.LAST_UPDATED" | translate}} <strong>{{(loadedAlert?.timeUpdated>0) ? (loadedAlert?.timeUpdated |
            date:"dd/MM/yyyy") :
            (loadedAlert?.timeCreated | date:"dd/MM/yyyy")}}</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="row Spaced">
      <div class="col-lg-8 col-md-10 form-group">
        <label>{{"RISK_MONITORING.ADD_ALERT.INPUTS.SELECT_ALERT" | translate}}</label>
        <div class="row no-gutters Change-alert-level">
          <label for="green-alert-level" class="col-sm-4 text-nowrap"><input type="radio" name="alert-level"
                                                                             id="green-alert-level"
                                                                             [checked]="loadedAlert?.alertLevel==0"
                                                                             (click)="selectedAlertLevel(0)"><span
            class="badge fixed badge-success">{{"ALERT.GREEN_ALERT_LEVEL" | translate}}</span></label>
          <label for="amber-alert-level" class="col-sm-4 text-nowrap"><input type="radio" name="alert-level"
                                                                             id="amber-alert-level"
                                                                             [checked]="loadedAlert?.alertLevel==1"
                                                                             (click)="selectedAlertLevel(1)"><span
            class="badge fixed badge-warning">{{"ALERT.AMBER_ALERT_LEVEL" | translate}}</span></label>
          <label for="red-alert-level" class="col-sm-4 text-nowrap"><input type="radio" name="alert-level"
                                                                           id="red-alert-level"
                                                                           [checked]="loadedAlert?.alertLevel==2"
                                                                           (click)="selectedAlertLevel(2)"><span
            class="badge fixed badge-danger">{{"ALERT.RED_ALERT_LEVEL" | translate}}</span></label>
        </div>
      </div>
    </div>

    <div *ngIf="loadedAlert?.alertLevel==2" class="row">
      <div class="col-lg-6 col-md-8">
        <div class="form-group">
          <label for="reason-red-alert">{{"ALERT.REASON_FOR_RED_ALERT" | translate}}</label>
          <textarea name="reason-red-alert" id="reason-red-alert" cols="20" rows="5" class="form-control"
                    [(ngModel)]="reasonForRedAlert"></textarea>
        </div>
      </div>
    </div>

    <div class="row Spaced">
      <div class="col-md-12 form-group">
        <label>{{"ALERT.AFFECTED_AREAS" | translate}}</label>

        <div *ngIf="loadedAlert">
          <div class="locations_affected__wrap--risk row text-left Spaced-above">
            <p class="col-sm-12"><b>{{"RISK_MONITORING.ADD_ALERT.INPUTS.LOCATION_SELECT" | translate}}</b></p><br>
            <div class="col-sm-12 row" *ngFor="let location of loadedAlert.affectedAreas; let locationKey = index">
              <div class="col-sm-3">
                <div class="form-group-risk-frequency ">
                  <select class="form-control" name="CountryArea"
                          [(ngModel)]="location.country">
                    <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
                    <option *ngFor="let countryKey of countriesList" [ngValue]="countryKey">{{countries[countryKey] |
                      translate}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group-risk-frequency"
                     *ngIf="location.country != undefined && countryLevelsValues[location.country]?.levelOneValues.length > 0">
                  <select class="form-control" name="CountryAreaLevelOne"
                          [(ngModel)]="location.level1">
                    <option value="undefined" disabled selected hidden>
                      {{ "ADD_PARTNER.AREAS_OF_OPERATION_SELECT_A" | translate }} {{
                      countryLevels[location.country]?.levels[0].value | translate }}
                    </option>
                    <option
                      *ngFor="let countryLevel1Value of countryLevelsValues[location.country]?.levelOneValues"
                      [ngValue]="countryLevel1Value.id">{{countryLevel1Value.value}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group-risk-frequency"
                     *ngIf="location.level1 != undefined && location.country != undefined && countryLevelsValues[location.country]?.levelOneValues[location.level1]?.levelTwoValues.length > 0">
                  <select class="form-control" name="CountryAreaLevelTwo"
                          [(ngModel)]="location.level2">
                    <option value="undefined" disabled selected hidden>
                      {{ "ADD_PARTNER.AREAS_OF_OPERATION_SELECT_A" | translate }} {{
                      countryLevels[location.country]?.levels[1].value | translate }}
                    </option>
                    <option
                      *ngFor="let countryLevel2Value of countryLevelsValues[location.country]?.levelOneValues[location.level1]?.levelTwoValues"
                      [ngValue]="countryLevel2Value.id">{{countryLevel2Value.value}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <a href="javascript:void(0)" class="text-danger" *ngIf="loadedAlert.affectedAreas.length > 1"
                   (click)="removeAnotherArea(locationKey)">{{ "GLOBAL.REMOVE" | translate}}</a>
              </div>
            </div>

            <div class="row no-gutters">
              <a href="javascript:void(0)" class="Add__row__cta" (click)="addAnotherAreas()">{{"ADD_PARTNER.ADD_ANOTHER_LOCATION"
                |
                translate}}</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-8">
            <div class="form-group">
              <label for="pop-affected">{{"ALERT.POPULATION_AFFECTED" | translate}}</label>
              <input type="number" class="form-control" id="pop-affected" [(ngModel)]="estimatedPopulation">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-8">
            <div class="form-group">
              <label for="info-sources-notes">{{"ALERT.INFO_AND_NOTES" | translate}}</label>
              <textarea name="info-sources-notes" id="info-sources-notes" cols="20" rows="5"
                        class="form-control" [(ngModel)]="infoNotes"></textarea>
            </div>
          </div>
        </div>

        <div class="Form-submit__wrapper">
          <div class="btn btn-primary" (click)="submit()">{{"ALERT.CONFIRM_ALERT_LEVEL" | translate}}</div>
          <div class="btn btn-outline-secondary" routerLink="/dashboard">{{"GLOBAL.CANCEL" | translate}}</div>
        </div>

      </div>
    </div>
  </div>
</div>
