<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <!--<div class="Back&#45;&#45;button" routerLink="/dashboard">Home</div>-->
    <div class="Header-title__wrap">
      <h1>{{"ALERT.CHANGE_LEVEL" | translate}}</h1>
    </div>
    <div class="row Spaced">
      <div class="col-lg-6 col-md-8 bg-grey">
        <div class="row align-items-center Small-spaced no-gutters">
          <div class="col-6">
            <span class="Icon Icon__circle Icon--sm Icon--b-dark-blue Icon--cyclone"></span>
            {{HAZARDS[loadedAlert?.hazardScenario] | translate}}
          </div>
          <div class="col-6 text-right">
            {{"ALERT.LAST_UPDATED" | translate}} <strong>{{(loadedAlert?.timeUpdated>0) ? (loadedAlert?.timeUpdated |
            date:"dd/MM/yyyy") :
            (loadedAlert?.timeCreated | date:"dd/MM/yyyy")}}</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="row Spaced">
      <div class="col-lg-8 col-md-10 form-group">
        <label>{{"ALERT.SELECT_ALERT_LEVEL" | translate}}</label>
        <div class="row no-gutters Change-alert-level">
          <label for="green-alert-level" class="col-sm-4 text-nowrap"><input type="radio" name="alert-level"
                                                                             id="green-alert-level"
                                                                             [checked]="loadedAlert?.alertLevel==0"
                                                                             (click)="selectedAlertLevel(0)"><span
            class="badge badge-success">{{"ALERT.GREEN_ALERT_LEVEL" | translate}}</span></label>
          <label for="amber-alert-level" class="col-sm-4 text-nowrap"><input type="radio" name="alert-level"
                                                                             id="amber-alert-level"
                                                                             [checked]="loadedAlert?.alertLevel==1"
                                                                             (click)="selectedAlertLevel(1)"><span
            class="badge badge-warning">{{"ALERT.AMBER_ALERT_LEVEL" | translate}}</span></label>
          <label for="red-alert-level" class="col-sm-4 text-nowrap"><input type="radio" name="alert-level"
                                                                           id="red-alert-level"
                                                                           [checked]="loadedAlert?.alertLevel==2"
                                                                           (click)="selectedAlertLevel(2)"><span
            class="badge badge-danger">{{"ALERT.RED_ALERT_LEVEL" | translate}}</span></label>
        </div>
      </div>
    </div>

    <div *ngIf="loadedAlert?.alertLevel==2" class="row">
      <div class="col-lg-6 col-md-8">
        <div class="form-group">
          <label for="reason-red-alert">{{"ALERT.REASON_FOR_RED_ALERT" | translate}}</label>
          <textarea name="reason-red-alert" id="reason-red-alert" cols="20" rows="5" class="form-control"
                    [(ngModel)]="reasonForRedAlert"></textarea>
        </div>
      </div>
    </div>

    <div class="row Spaced">
      <div class="col-md-12 form-group">
        <label>{{"ALERT.AFFECTED_AREAS" | translate}}</label>

        <div *ngIf="loadedAlert">
          <div *ngFor="let area of loadedAlert.affectedAreas; index as i" class="row align-items-center">
            <div class="col-sm-3 form-group">
              <select class="form-control" #country (change)="changeCountry(i, country.value)">
                <option selected hidden disabled>{{"GLOBAL.PLEASE_SELECT" | translate}}</option>
                <option *ngFor="let country of COUNTRIES" [value]="country"
                        [selected]="COUNTRIES.indexOf(country)==area.affectedCountry">{{country | translate}}
                </option>
              </select>
            </div>
            <div class="col-sm-3 form-group">
              <select class="form-control" #level1 (change)="changeLevel1(i, level1.value)">
                <option selected hidden disabled>{{"GLOBAL.PLEASE_SELECT" | translate}}</option>
                <option *ngFor="let level1 of geoMap.get(area.affectedCountry)?geoMap.get(area.affectedCountry):temp"
                        [value]="level1.id"
                        [selected]="level1.id==area.affectedLevel1">
                  {{level1.value}}
                </option>
              </select>
            </div>
            <div class="col-sm-3 form-group">
              <select class="form-control" #level2 (change)="changeLevel2(i, level2.value)">
                <option selected hidden disabled>{{"GLOBAL.PLEASE_SELECT" | translate}}</option>
                <option
                  *ngFor="let level2 of geoMap.get(area.affectedCountry)&&geoMap.get(area.affectedCountry)[area.affectedLevel1]?geoMap.get(area.affectedCountry)[area.affectedLevel1]?.levelTwoValues:temp"
                  [value]="level2.id" [selected]="level2.id==area.affectedLevel2">
                  {{level2.value}}
                </option>
              </select>
            </div>
            <div *ngIf="loadedAlert?.affectedAreas?.length>1" class="col-sm-3 form-group">
              <a href="javascript:void(0)" class="text-danger" (click)="removeArea(i)">{{"GLOBAL.REMOVE" | translate}}</a>
            </div>
          </div>
        </div>

        <div class="row no-gutters">
          <a href="javascript:void(0)" class="Add__row__cta" (click)="addNewArea()">{{"ALERT.ADD_ANOTHER_LOCATION" |
            translate}}</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-8">
        <div class="form-group">
          <label for="pop-affected">{{"ALERT.POPULATION_AFFECTED" | translate}}</label>
          <input type="number" class="form-control" id="pop-affected" [(ngModel)]="estimatedPopulation">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-8">
        <div class="form-group">
          <label for="info-sources-notes">{{"ALERT.INFO_AND_NOTES" | translate}}</label>
          <textarea name="info-sources-notes" id="info-sources-notes" cols="20" rows="5"
                    class="form-control" [(ngModel)]="infoNotes"></textarea>
        </div>
      </div>
    </div>

    <div class="Form-submit__wrapper">
      <div class="btn btn-primary" (click)="submit()">{{"ALERT.CONFIRM_ALERT_LEVEL" | translate}}</div>
      <div class="btn btn-outline-secondary" routerLink="/dashboard">{{"GLOBAL.CANCEL" | translate}}</div>
    </div>

  </div>
</div>
