<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    <ul>
      <li class="Header_bar__username">
        John Doe
      </li>
      <li class="Header_bar__country">
        PHL
      </li>
      <li class="Header_bar__alert">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</div>
<app-system-admin-menu></app-system-admin-menu>

<div class="Alert-error" [hidden]="hideWarning">{{waringMessage}}</div>
<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div [routerLink]="['/system-admin']" class="Back--button">Home</div>

    <div class="Header-title__wrap">
      <h1>Add new agency</h1>
    </div>

    <h3 class="System-admin__Sub-title--spaced">Agency Details</h3>
    <hr>

    <form #addAgencyForm="ngForm">

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="Name">Name*</label>
            <input type="text" class="form-control" id="Name" required [(ngModel)]="agencyName" name="name"
                   #name="ngModel">
          </div>
        </div>
      </div>

      <h3 class="System-admin__Sub-title--spaced">Agency Administrator Details</h3>
      <hr>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="Title">Title*</label>
            <input type="text" class="form-control" id="Title">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="f-Name">First Name*</label>
            <input type="text" class="form-control" id="f-Name" required [(ngModel)]="agencyAdminFirstName"
                   name="firstName" #name="ngModel">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="l-Name">Last Name*</label>
            <input type="text" class="form-control" id="l-Name" required [(ngModel)]="agencyAdminLastName"
                   name="lastName" #name="ngModel">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="Email">Email Address*</label>
            <input type="text" class="form-control" id="Email" required [(ngModel)]="agencyAdminEmail" name="email"
                   #email="ngModel">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="A-line-1">Address Line 1</label>
            <input type="text" class="form-control" id="A-line-1">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="A-line-2">Address Line 2</label>
            <input type="text" class="form-control" id="A-line-2">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="A-line-3">Address Line 3</label>
            <input type="text" class="form-control" id="A-line-3">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="Country">Country</label>
            <input type="text" class="form-control" id="Country">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="City">City</label>
            <input type="text" class="form-control" id="City">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="Postcode">Postcode</label>
            <input type="text" class="form-control" id="Postcode">
          </div>
        </div>
      </div>

      <div class="Form-submit__wrapper">
        <div class="btn btn-outline-secondary">Cancel</div>
        <button class="btn btn-primary" (click)="onSubmit()">Save new agency</button>
      </div>

    </form>


  </div>

</div>
