<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success" [show] = "alertMessage"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
        <div class="Back--button row" (click)="goBack()">{{ 'COUNTRY_ADMIN.PROFILE.CONTACTS.GO_BACK_TITLE' | translate }}</div> <!-- Back button-->

        <div class="Header-title__wrap" *ngIf="!pointOfContact.id">
            <h1>{{ 'COUNTRY_ADMIN.PROFILE.CONTACTS.TITLE_ADD' | translate }}</h1>
        </div>

        <div class="row" *ngIf="pointOfContact.id">
            <div class="col-sm-10"><h1>{{ 'COUNTRY_ADMIN.PROFILE.CONTACTS.TITLE_EDIT' | translate }}</h1></div>
            <div class="col-sm-2 Right-aligned"><button *ngIf="countryPermissionsMatrix.countryContacts.Delete" class="btn btn-danger text-uppercase" (click)="deletePointOfContact()">{{ 'DELETE' | translate }}</button></div>
        </div>
        <br>

        <form (ngSubmit)="submit()">

            <div class="row Spaced-above">
                <div class="col-sm-4"><h6 class="font-weight-bold">{{ 'COUNTRY_ADMIN.PROFILE.CONTACTS.NAME' | translate }}</h6></div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <select type="text" class="form-control" name="staffMember"
                            [(ngModel)]="pointOfContact && pointOfContact.staffMember">
                        <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
                        <option *ngFor="let staff of staffList"
                                [value]="staff.id">{{ staffNamesList && staffNamesList[staff.id] }}</option>
                    </select>
                </div>
            </div><br>

            <div class="row Spaced-above">
                <div class="col-sm-4"><h6 class="font-weight-bold">{{ 'COUNTRY_ADMIN.PROFILE.CONTACTS.SKYPE_NAME' | translate }}</h6></div>
            </div>

            <div class="row">
                <div class="col-sm-4"><input type="text" class="form-control" placeholder="{{ 'GLOBAL.PLEASE_ENTER' | translate }}" name="skype"
                    [(ngModel)]="pointOfContact && pointOfContact.skypeName"></div>
            </div><br>

            <div class="row Spaced-above">
                <div class="col-sm-4"><h6 class="font-weight-bold">{{ 'COUNTRY_ADMIN.PROFILE.CONTACTS.PHONE' | translate }}</h6></div>
            </div>

            <div class="row">
                <div class="col-sm-4"><input type="text" class="form-control" placeholder="{{ 'GLOBAL.PLEASE_ENTER' | translate }}" name="phone"
                    [(ngModel)] = "pointOfContact && pointOfContact.phone"></div>
            </div><br>

            <!--Save and cancel-->
            <div class="row margin-top-ten margin-left-one">
                <button class="btn btn-primary text-uppercase Spaced col-sm-0" type="submit" (click)="validateForm()">{{ 'SAVE' | translate }}</button>
                <div class="col-sm-1 margin-top-five">
                    <a href="javascript:void(0)" (click)="goBack()">
                        {{ 'GLOBAL.CANCEL' | translate }}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="delete-action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{"COUNTRY_ADMIN.PROFILE.CONTACTS.DELETE_DIALOG_TITLE" |
          translate}}</strong></h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{"COUNTRY_ADMIN.PROFILE.CONTACTS.DELETE_DIALOG_CONTENT" | translate}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">{{"GLOBAL.CANCEL"| translate}}</button>
        <button type="button" class="btn btn-primary" (click)="deleteAction()">{{"GLOBAL.CONFIRM" | translate}}</button>
      </div>
    </div>
  </div>
</div>
