<div *ngIf="userType && (userType == UserType.RegionalDirector || userType == UserType.GlobalDirector)">
  <app-director-header></app-director-header>
  <app-director-menu></app-director-menu>
</div>
<div *ngIf="userType && userType == UserType.Donor">
  <app-donor-header></app-donor-header>
  <app-donor-menu></app-donor-menu>
</div>
<div
  *ngIf="!userType || (userType != UserType.Donor && userType != UserType.RegionalDirector && userType != UserType.GlobalDirector)">
  <ng-container *ngIf="!isLocalAgency">
    <app-country-admin-header></app-country-admin-header>
    <app-country-admin-menu></app-country-admin-menu>
  </ng-container>
  <ng-container *ngIf="isLocalAgency">
    <app-local-agency-header></app-local-agency-header>
    <app-local-agency-menu></app-local-agency-menu>
  </ng-container>
</div>
<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success"
                  [show]="alertMessage"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <ng-container *ngIf="!isLocalAgency">
      <!--<div *ngIf="!agencyOverview && (userType != UserType.Donor && userType != UserType.RegionalDirector && userType != UserType.GlobalDirector)"-->
      <div *ngIf="userType != UserType.Donor">
        <div *ngIf="!agencyOverview"
             class="Back--button" routerLink="/country-admin/country-my-agency">{{agencyName}} :
          {{"COUNTRY_ADMIN.VIEW_MY_AGENCY.OVERVIEW" |
          translate}}
        </div>
        <!--<div *ngIf="agencyOverview && (userType != UserType.Donor && userType != UserType.RegionalDirector && userType != UserType.GlobalDirector)"-->
        <div *ngIf="agencyOverview"
             class="Back--button" routerLink="/country-admin/country-agencies">{{networkName ? networkName : agencyName}} :
          {{"COUNTRY_ADMIN.VIEW_MY_AGENCY.OVERVIEW" |
          translate}}
        </div>
      </div>

      <div *ngIf="userType == UserType.Donor"
           class="Back--button" (click)="backForDonor()">{{agencyName}} :
        {{"COUNTRY_ADMIN.VIEW_MY_AGENCY.OVERVIEW" |
        translate}}
      </div>
    </ng-container>

    <ng-container *ngIf="isLocalAgency">
      <div class="Back--button" routerLink="//local-agency/country-agencies">{{networkName ? networkName : agencyName}} :
        {{"COUNTRY_ADMIN.VIEW_MY_AGENCY.OVERVIEW" |
        translate}}
      </div>
    </ng-container>
  </div>
</div>

<!--menu-->
<app-view-country-menu (onMenuSelected)="menuSelection($event)"></app-view-country-menu>

<!--alerts-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div *ngIf="alerts | async as alertList">
      <div class="Widget Alert-Widget" *ngFor="let alert of alertList">
        <div class="row">
          <div class="col-md-3 Alert-Widget__item"
               [class.AlertLevel-gray]="alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.WaitingResponse"
               [class.AlertLevel-red]="alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.Approved"
               [class.AlertLevel-amber]="alert.alertLevel == AlertLevels.Amber">
            <h4 *ngIf="alert.alertLevel == AlertLevels.Red">{{"GLOBAL.ALERTS.RED" | translate}}</h4>
            <h4 *ngIf="alert.alertLevel == AlertLevels.Amber">{{"GLOBAL.ALERTS.AMBER" | translate}}</h4>
          </div>
          <div class="col-md-3 Alert-Widget__item Alert-Widget__item--risk Centered">
            <i
              class="Icon__circle Icon--sm Icon--b-dark-blue {{(isNumber(alert.hazardScenario) ? getCSSHazard(alert.hazardScenario) : 'Icon--alert')}}"></i>
            <div>
              <span>{{"ALERT.RISK" | translate}}:</span>
              {{alert.hazardScenario != -1 ? (HazardScenariosList[alert.hazardScenario] | translate) : alert.otherName}}
            </div>
          </div>
          <div class="col-md-3 Alert-Widget__item">
            <div>
              <span>{{"ALERT.POPULATION_AFFECTED" | translate}}:</span> {{alert.estimatedPopulation}} {{"ALERT.PEOPLE"
              | translate}}
            </div>
          </div>
          <div class="col-md-3 Alert-Widget__item">
            <div *ngIf="alert.affectedAreasDisplay">
              <!--<span>{{"ALERT.AFFECTED_AREAS" | translate}}:</span> {{alert.affectedAreasDisplay}}-->
              <a href="javascript:void(0)" class="text-primary"
                 (click)="showAffectedAreasForAlert(alert.affectedAreasDisplay)">
                {{alert.affectedAreasDisplay.length}} {{"ALERT.AFFECTED_AREAS" | translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--sub pages-->
<div class="modal fade" id="view-areas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{"AFFECTED_AREAS" | translate}}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" *ngIf="affectedAreasToShow">
          <p *ngFor="let area of affectedAreasToShow">{{area.country | translate}} {{area.areas}}</p></div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="!isViewingFromExternal">
  <app-country-office-programme [isLocalAgency]="isLocalAgency"
    *ngIf="tabMap.get('officeProfile') && officeMap.get('programme')"></app-country-office-programme>
  <app-country-office-capacity [isLocalAgency]="isLocalAgency"
    *ngIf="tabMap.get('officeProfile') && officeMap.get('officeCapacity')"></app-country-office-capacity>
  <app-country-office-partners [isLocalAgency]="isLocalAgency"
    *ngIf="tabMap.get('officeProfile') && officeMap.get('partners')"></app-country-office-partners>
  <app-country-office-equipment [isLocalAgency]="isLocalAgency"
    *ngIf="tabMap.get('officeProfile') && officeMap.get('equipment')"></app-country-office-equipment>
  <app-country-office-coordination [isLocalAgency]="isLocalAgency"
    *ngIf="tabMap.get('officeProfile') && officeMap.get('coordination')"></app-country-office-coordination>
  <app-country-office-stock-capacity [isLocalAgency]="isLocalAgency"
    *ngIf="tabMap.get('officeProfile') && officeMap.get('stockCapacity')"></app-country-office-stock-capacity>
  <app-country-office-documents [isLocalAgency]="isLocalAgency"
    *ngIf="tabMap.get('officeProfile') && officeMap.get('documents')"></app-country-office-documents>
  <app-country-office-contacts [isLocalAgency]="isLocalAgency"
    *ngIf="tabMap.get('officeProfile') && officeMap.get('contacts')"></app-country-office-contacts>
  <app-risk-monitoring *ngIf="tabMap.get('risk')"></app-risk-monitoring>
  <app-response-plans *ngIf="tabMap.get('plan')" [isViewing]="isViewing"
                      [countryIdForViewing]="countryId" [agencyIdForViewing]="agencyId" [canCopy]="canCopy"
                      [agencyOverview]="agencyOverview"></app-response-plans>
  <app-minimum *ngIf="tabMap.get('preparedness-min')"></app-minimum>
  <app-advanced *ngIf="tabMap.get('preparedness-adv')"></app-advanced>
  <app-budget *ngIf="tabMap.get('preparedness-budget')"></app-budget>

  <div
    *ngIf="agencyId!=userAgencyId && !tabMap.get('officeProfile') && !tabMap.get('risk') && !tabMap.get('plan') && !tabMap.get('preparedness-min') && !tabMap.get('preparedness-adv') "
    class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
      <div class="Empty--ribbon">
        No permission to view country details for this agency!
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isViewingFromExternal">
  <app-network-country-profile-programme
    *ngIf="tabMap.get('officeProfile') && officeMap.get('programme') && networkCountryId"></app-network-country-profile-programme>
  <app-local-network-profile-programme
    *ngIf="tabMap.get('officeProfile') && officeMap.get('programme') && !networkCountryId"></app-local-network-profile-programme>

  <app-network-country-profile-office-capacity
    *ngIf="tabMap.get('officeProfile') && officeMap.get('officeCapacity') && networkCountryId"></app-network-country-profile-office-capacity>
  <app-local-network-profile-office-capacity
    *ngIf="tabMap.get('officeProfile') && officeMap.get('officeCapacity') && !networkCountryId"></app-local-network-profile-office-capacity>

  <app-network-country-profile-partners
    *ngIf="tabMap.get('officeProfile') && officeMap.get('partners') && networkCountryId"></app-network-country-profile-partners>
  <app-local-network-profile-partners
    *ngIf="tabMap.get('officeProfile') && officeMap.get('partners') && !networkCountryId"></app-local-network-profile-partners>

  <app-network-country-profile-equipment
    *ngIf="tabMap.get('officeProfile') && officeMap.get('equipment') && networkCountryId"></app-network-country-profile-equipment>
  <app-local-network-profile-equipment
    *ngIf="tabMap.get('officeProfile') && officeMap.get('equipment') && !networkCountryId"></app-local-network-profile-equipment>

  <app-network-country-profile-coordination
    *ngIf="tabMap.get('officeProfile') && officeMap.get('coordination') && networkCountryId"></app-network-country-profile-coordination>
  <app-local-network-profile-coordination
    *ngIf="tabMap.get('officeProfile') && officeMap.get('coordination') && !networkCountryId"></app-local-network-profile-coordination>

  <app-network-country-profile-stock-capacity
    *ngIf="tabMap.get('officeProfile') && officeMap.get('stockCapacity') && networkCountryId"></app-network-country-profile-stock-capacity>
  <app-local-network-profile-stock-capacity
    *ngIf="tabMap.get('officeProfile') && officeMap.get('stockCapacity') && !networkCountryId"></app-local-network-profile-stock-capacity>

  <app-network-country-profile-documents
    *ngIf="tabMap.get('officeProfile') && officeMap.get('documents') && networkCountryId"></app-network-country-profile-documents>
  <app-local-network-profile-documents
    *ngIf="tabMap.get('officeProfile') && officeMap.get('documents') && !networkCountryId"></app-local-network-profile-documents>

  <app-network-country-profile-contacts
    *ngIf="tabMap.get('officeProfile') && officeMap.get('contacts') && networkCountryId"></app-network-country-profile-contacts>
  <app-local-network-profile-contacts
    *ngIf="tabMap.get('officeProfile') && officeMap.get('contacts') && !networkCountryId"></app-local-network-profile-contacts>

  <app-network-risk-minitoring *ngIf="tabMap.get('risk') && networkCountryId"></app-network-risk-minitoring>
  <app-local-network-risk-monitoring
    *ngIf="tabMap.get('risk') && !networkCountryId"></app-local-network-risk-monitoring>
  <!--<app-network-plans *ngIf="tabMap.get('plan')" [isViewing]="isViewing"-->
  <!--[countryIdForViewing]="countryId" [agencyIdForViewing]="agencyId" [canCopy]="canCopy"-->
  <!--[agencyOverview]="agencyOverview"></app-network-plans>-->
  <app-network-plans [isLocalNetworkAdmin]="!networkCountryId" *ngIf="tabMap.get('plan')"></app-network-plans>

  <app-network-country-mpa [isLocalNetworkAdmin]="!networkCountryId"
                           *ngIf="tabMap.get('preparedness-min')"></app-network-country-mpa>

  <app-network-country-apa [isLocalNetworkAdmin]="!networkCountryId"
                           *ngIf="tabMap.get('preparedness-adv')"></app-network-country-apa>

  <div
    *ngIf="!tabMap.get('officeProfile') && !tabMap.get('risk') && !tabMap.get('plan') && !tabMap.get('preparedness-min') && !tabMap.get('preparedness-adv')"
    class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
      <div class="Empty--ribbon">
        No permission to view office details for this network!
      </div>
    </div>
  </div>
</ng-container>

