<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success" [show] = "alertMessage"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
        <div class="Back--button row" (click)="goBack()">{{ 'COUNTRY_ADMIN.PROFILE.CONTACTS.GO_BACK_TITLE' | translate }}</div> <!-- Back button-->
        <div class="Header-title__wrap">
            <h1>{{ 'COUNTRY_ADMIN.PROFILE.CONTACTS.EDIT_COUNTRY_OFFICE_DETAILS' | translate }}</h1>
        </div><br>

        <form (ngSubmit)="submit()">
            <div class="Spaced">
                <div class="row ">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                    <label for="A-line-1">{{"GLOBAL.USER_INFO.ADDRESS_LINE_1" | translate}}</label>
                    <input type="text" class="form-control" id="A-line-1" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" name="addressLine1"
                        [(ngModel)]="countryOfficeAddress && countryOfficeAddress.addressLine1">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                    <label for="A-line-2">{{"GLOBAL.USER_INFO.ADDRESS_LINE_2" | translate}}</label>
                    <input type="text" class="form-control" id="A-line-2" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" name="addressLine2"
                        [(ngModel)]="countryOfficeAddress && countryOfficeAddress.addressLine2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                    <label for="A-line-3">{{"GLOBAL.USER_INFO.ADDRESS_LINE_3" | translate}}</label>
                    <input type="text" class="form-control" id="A-line-3" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" name="addressLine3"
                        [(ngModel)]="countryOfficeAddress && countryOfficeAddress.addressLine3">
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                    <label for="Country">{{"GLOBAL.USER_INFO.COUNTRY" | translate}}</label>
                    <select name="Country" [disabled] = "countryOfficeAddress && countryOfficeAddress.location >= 0" id="Country" class="form-control"
                        [(ngModel)]="countryOfficeAddress && countryOfficeAddress.location">
                        <option *ngFor="let country of COUNTRY_SELECTION" [ngValue]="country">{{COUNTRIES[country] | translate}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                    <label for="City">{{"CITY" | translate}}</label>
                    <input type="text" class="form-control" id="City" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" name="City"
                        [(ngModel)]="countryOfficeAddress && countryOfficeAddress.city">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group" >
                    <label for="Postcode">{{"GLOBAL.USER_INFO.POSTCODE" | translate}}</label>
                    <input type="text" class="form-control" id="Postcode" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" name="postCode"
                        [(ngModel)]="countryOfficeAddress && countryOfficeAddress.postCode">
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                    <label for="T-number">{{"GLOBAL.USER_INFO.PHONE" | translate}}</label>
                    <input type="text" class="form-control" id="T-number" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" name="phone"
                        [(ngModel)]="countryOfficeAddress && countryOfficeAddress.phone">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                    <label for="email">{{"EMAIL_ADDRESS" | translate}}</label>
                    <input type="email" class="form-control" id="email" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" name="email"
                        [(ngModel)]="countryOfficeAddress && countryOfficeAddress.email">
                    </div>
                </div>
                </div>
            </div>

            <!--Save and cancel-->
            <div class="row margin-top-ten margin-left-one">
                <button class="btn btn-primary text-uppercase Spaced col-sm-0" type="submit" (click)="validateForm()">{{ 'SAVE' | translate }}</button>
                <div class="col-sm-1 margin-top-five">
                    <a href="javascript:void(0)" (click)="goBack()">
                        {{ 'GLOBAL.CANCEL' | translate }}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
