<table class="tg" align="center" id="tableTechnicalGuidance">

  <tr>
    <td class="tg" colspan="7" style="width: 40%; text-align: center;">
      <h2>Start Fund Project Application Form</h2>
      <br>
      <h1 style="color: maroon;">Technical Guidance</h1>
    </td>
  </tr>

  <tr>
    <td colspan="7" style="background-color: lightgrey;"><p>The following guidance has been designed for use with the Project Reporting Form contained within the next three worksheets.</p></td>
  </tr>

  <tr>
    <td colspan="7" style="background-color: darkred;"><p style="color: white;">General Guidelines</p></td>
  </tr>

  <tr>
    <td colspan="7">
      <ol type="1">
        <li>Before you begin completing the form, please save a new copy of the file with the following format: "Start Fund Project Application - (your agency name) (crisis name) Response ((project lead name)). For example: <strong>Start Fund Project Application - ACF Somalia Response (Jane Doe)</strong></li>
        <li>All Project Application Forms should be submitted by or on behalf of the the Project Lead.</li>
        <li>Please enter all text in <strong>Arial, size 10 font.</strong> The comment and track changes function is now enabled.</li>
        <li>In cells whose response requires input of numbers, <strong>only whole numbers are accepted.</strong></li>
        <li>In the Project Activities worksheet, ten lines have been provided for listing different types of activities.</li>
        <ol type="a">
          <li type="a">In the first column, <strong>please contain your activities to these ten lines and be succinct when listing each individual activity</strong> (2-5 words each).</li>
          <li type="a">In the second column, state the specific output expected from each activity. <strong>If a given activity has multiple outputs, separate them using a semi-colon (;).</strong> </li>
          <li type="a">In the third column, give a specific Key Performance Indicator (KPI) for each activity in terms of the short or medium term effects the activities are expected to have. <strong>If multiple activities have the same KPI, repeat the KPI for each applicable activity.</strong> </li>
        </ol>
        <li>In the Project Budget worksheet, please list your project inputs by sector. The total will automatically calculate. In addition, five lines have been provided for listing individual items costing more than £1,000 each. <strong>If you need to report on more than five items, please use the Additional Comments section to do so.</strong></li>
      </ol>
    </td>
  </tr>

  <tr>
    <td colspan="7" style="background-color: darkred;"><p style="color: white;">Specific Guidelines</p></td>
  </tr>

  <tr>
    <td colspan="7">
      <ol>
        <li><strong>Needs assessment:</strong> You were not required to complete a separate needs assessment for this project, but please provide details of the most relevant assessment to which this project responded.</li>
        <li><strong>Lessons Learned:</strong> The M&E Team will use your answer to identify learning that can be shared and further developed and may follow-up with you directly for more details in some cases.</li>
        <li><strong>Visual Documentation:</strong> You are encouraged to submit visual documentation (e.g. photos, videos) with your reporting form as this is highly valued for case studies and communications.</li>
        <li><strong>Beneficiary Influence:</strong> If beneficiaries have not been substantially involved in the project, please explain why the context prevented this.</li>
        <li><strong>The one-percent:</strong> See technical guidance on the application form (worksheet 1) for more information about the 1% learning budget and the simple process for accessing and reporting on it.</li>
        <li><strong>Peer-review:</strong> Reports will be submitted to the Learning and Evaluation Committee for peer-review by Start Fund agencies, and the M&E Team may contact you directly with any follow-up questions.</li>
      </ol>
    </td>
  </tr>

</table>
