<table class="tg" align="center" width="960px" id="tableGuidanceNew">

  <tr style="width: 100%;">
    <td colspan="4" style="width: 50%" style="background: #CD0000; color: white; padding: 40px 0; text-align: center;">
      <h2>Start Fund Project Proposal Form</h2></td>
    <td colspan="6" style="width: 50%; text-align: center;"></td>
  </tr>

  <tr style="width: 100%; padding: 20px"></tr>

  <tr style="width: 100%; background: #CD0000; color: white; padding: 10px; text-align: center;">
    <td colspan="10"><p style="margin-bottom: 0;">FREQUENTLY ASK QUESTIONS</p></td>
  </tr>

  <tr style="width: 100%; padding: 5px;">
    <td colspan="4" style="border: solid 1px #CD0000; width: 49%; padding: 20px 5px;">
      <strong style="color: #CD0000;">What should I name this document?</strong>
      <p>Please save a new copy of the file with the following format: "Start Fund Project Proposal - 'your agency name', 'crisis name' Response.</p>
      <br>
      <strong style="color: #CD0000;">Will I be able to change the proposal after submission?</strong>
      <p>The submitted proposal is treated as a final document, however if you recieve a conditional award, you will need to change the proposal to meet those conditions and then resubmit to the Start Team (startfund@startnetwork.org)</p>
    </td>
    <td></td>
    <td colspan="4" style="border: solid 1px #CD0000; width: 49%; padding: 20px 5px;">
      <strong style="color: #CD0000;">Who do I need to send this proposal to and when?</strong>
      <p>Please respond by the date stated in the accompanying email and return the form to: startfund@startnetwork.org</p>
      <br>
      <strong style="color: #CD0000;">Who should I contact if I have issues with the form?</strong>
      <p>For questions related to deadlines and submission, please contact the Start Fund team at: startfund@startnetwork.org</p>
      <p>For M&E related questions contact the Start Fund MEAL team at: david.burt@worldvision.org.uk</p>
    </td>
  </tr>

  <tr style="width: 100%; background: #CD0000; color: white; padding: 20px; text-align: center;">
    <td colspan="10"><p style="margin-bottom: 0;"></p></td>
  </tr>

  <tr style="width: 100%; padding: 5px;">
    <td colspan="4" style="border: solid 1px #CD0000; width: 49%; padding: 10px 5px;">
      <strong style="color: #CD0000;">Activities can be adapted</strong> <p>during implementation however changes must be communicated beforehand to the Start Team.</p>
      <br>
      <strong style="color: #CD0000;">Agencies must complete an accountable project within 45 days</strong> <p>of the date of the funding decision, in terms of actual spend and completion of activities. However, monitoring and evaluation (M&E) activities can beyond these 45 days.</p>

      <strong style="color: #CD0000; font-style: italic;">Please note: the 45 day timeframe includes weekends</strong>
    </td>
    <td></td>
    <td colspan="4" style="border: solid 1px #CD0000; width: 49%; padding: 20px 5px;">
      <strong style="color: #CD0000;">The Start Fund Anticipation Window</strong>
      <p>The Start Fund Crisis Anticipation Window enables members to begin to act before a crisis turns into a disaster. More information can be found here:</p>
      <a href="https://start-network.box.com/s/7mbn2z5pv6sisx54psnjh0byamhzgca8">https://start-network.box.com/s/7mbn2z5pv6sisx54psnjh0byamhzgca8</a>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="10">
      <strong style="color: #CD0000;">The Start Fund 1% Learning Budget</strong>
      <p>The Start Fund sets aside 1% of its total funding for learning. Start Network member agencies can further strengthen humanitarian response through learning from experience and increased involvement of communities. Agencies can apply for this funding (up to £10,000 per Alert) during or after any Start Fund project they are awarded. The application is short and any activity can be proposed with any (suggestions are in the guidance) timeframe and budget they wish. Once an application is received, the Start Fund MEAL team will reply with a decision at the next scheduled selection date.</p>
      <p style="text-decoration: underline;">Guidance</p>
      <p style="text-decoration: underline;">Application Form</p>
      <p>For 1% Learning Budget related questions contact the Start Fund MEAL team at: ian.simcox-heath@worldvision.org.uk</p>
    </td>
  </tr>
</table>
<br>
<hr>
<br>
