<table class="tg" align="center" id="tableTechnicalGuidance">

  <tr>
    <td class="tg" colspan="7" style="width: 40%; text-align: center;">
      <h2>Start Fund Project Application Form</h2>
      <br>
      <h1 style="color: maroon;">Technical Guidance</h1>
    </td>
  </tr>

  <tr>
    <td colspan="7" style="background-color: lightgrey;"><p>The following guidance has been designed for use with the Project Reporting Form contained within the next three worksheets.</p></td>
  </tr>

  <tr>
    <td colspan="7" style="background-color: darkred;"><p style="color: white;">General Guidelines</p></td>
  </tr>

  <tr>
    <td colspan="7">
      <ol type="1">
        <li>Before you begin completing the form, please save a new copy of the file with the following format: "Start Fund Project Application - (your agency name) (crisis name) Response ((project lead name)). For example: <strong>Start Fund Project Application - ACF Somalia Response (Jane Doe)</strong></li>
        <li>All Project Application Forms should be submitted by or on behalf of the the Project Lead.</li>
        <li>Please enter all text in <strong>Arial, size 10 font.</strong> The comment and track changes function is now enabled.</li>
        <li>In cells whose response requires input of numbers, <strong>only whole numbers are accepted.</strong></li>
        <li>In the Project Activities worksheet, ten lines have been provided for listing different types of activities.</li>
        <ol type="a">
          <li type="a">In the first column, <strong>please contain your activities to these ten lines and be succinct when listing each individual activity</strong> (2-5 words each).</li>
          <li type="a">In the second column, state the specific output expected from each activity. <strong>If a given activity has multiple outputs, separate them using a semi-colon (;).</strong> </li>
          <li type="a">In the third column, give a specific Key Performance Indicator (KPI) for each activity in terms of the short or medium term effects the activities are expected to have. <strong>If multiple activities have the same KPI, repeat the KPI for each applicable activity.</strong> </li>
        </ol>
        <li>In the Project Budget worksheet, please list your project inputs by sector. The total will automatically calculate. In addition, five lines have been provided for listing individual items costing more than £1,000 each. <strong>If you need to report on more than five items, please use the Additional Comments section to do so.</strong></li>
      </ol>
    </td>
  </tr>

  <tr>
    <td colspan="7" style="background-color: darkred;"><p style="color: white;">Specific Guidelines for Accessing the 1% Budget and Visual Documentation</p></td>
  </tr>

  <tr>
    <td colspan="7">
      <ol>
        <li><strong>The 1%:</strong>Every project is eligible for an extra 1% funding (in addition to their project budget) for learning activities that will support the broader Network in its learning. As in the <strong>Start Fund Handbook, 9.2.2.4:</strong></li>
        <li><strong>Visual documentation:</strong>Every project is encouraged to visually document their project in some way. This enables better communication about Start Fund projects to other members of the Network, as well as external partners.<strong>The Communications Manager may be in touch to ask if you may share any visual materials from the project.</strong></li>
      </ol>
    </td>
  </tr>

</table>
