<table class="tg" align="center" id="tableApplicationDatasheet">
  <!--header-->
  <tr>
    <td colspan="4" style="border-bottom: none; border-right: none;"></td>
    <td colspan="4" style="border-bottom: none;border-left: none;"></td>
    <td colspan="54" style="background-color: darkred; color: white;"><p style="text-align: left;">Section 1: Basic Project Data</p></td>
    <td colspan="110" style="background-color: darkred; color: white;"><p style="text-align: left;">Section 2: Narrative Project Report</p></td>
    <td colspan="240" style="background-color: darkred; color: white;"><p style="text-align: left;">Section 3: Activities</p></td>
  </tr>

  <tr>
    <td colspan="4" style="border-top: none; border-bottom: none;border-right: none;"></td>
    <td colspan="4" style="border-top: none; border-bottom: none; border-left: none;"></td>
    <td colspan="38" style="background-color: darkred; color: white;"><p style="text-align: left;">1.1: Basic Information</p></td>
    <td colspan="34" style="background-color: darkred; color: white;"><p style="text-align: left;">2.1: Context</p></td>
    <td colspan="43" style="background-color: darkred; color: white;"><p style="text-align: left;">2.2: Activity Summary</p></td>
    <td colspan="49" style="background-color: darkred; color: white;"><p style="text-align: left;">2.3: Description of Target Population</p></td>
    <td colspan="240" style="background-color: darkred; color: white;"><p style="text-align: left;">Section 4: Budget</p></td>
  </tr>

  <tr style="font-weight: bold;">
    <td colspan="4" style="border-top: none;border-right: none;"></td>
    <td colspan="4" style="border-top: none;border-left: none;"></td>
    <td colspan="13" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="9" style="background-color: lightgrey;"><p style="text-align: left;">1. What sectors will the intervention's activities most relate to (please tick all that apply)?</p></td>
    <td colspan="6" style="background-color: lightgrey;"><p style="text-align: left;">2. Presence in country before project (tick one)</p></td>
    <td colspan="6" style="background-color: lightgrey;"><p style="text-align: left;">3: Method of implementation (tick one)</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="34" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="33" style="background-color: lightgrey;"><p style="text-align: left;"></p>4. Explain how you are planning to source your goods (please tick all boxes that apply)</td>
    <td colspan="36" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="15" style="background-color: lightgrey;"><p style="text-align: left;"></p>2.4: Expected Results</td>
    <td colspan="1" style="background-color: lightgrey;"><p style="text-align: left;"></p>2.5: Monitoring, Accountability & Learning</td>
    <td colspan="4" style="background-color: lightgrey; border-right: none;"><p style="text-align: center;"></p>Do you intend to visually document your project? (please tick)</td>
    <td colspan="3" style="background-color: lightgrey; border-left: none;"><p style="text-align: center;"></p>If so, will this be photographic, video, or both? (please tick)</td>
    <td colspan="149" style="background-color: lightgrey;"><p style="text-align: left;"></p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A: Inputs</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-1: WaSH</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-2: Health</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-3: Shelter</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-4: Nutrition</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-5: Camp Management</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-6: Education</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-7: Protection</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-8: Food Security</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-9: Emergency FSL</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">A-10: Other</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">B: Transport</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">C: Security</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">D: Logistics and overheads</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">E: Staffing and support</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">F: Monitoring and evaluation</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">G: Capital items*</p></td>
    <td colspan="4" style="background-color: lightgrey;"><p style="text-align: center;">H: Management support (10%)</p></td>
    <td colspan="7" style="background-color: lightgrey;"><p style="text-align: center;">Total</p></td>
    <td colspan="12" style="background-color: lightgrey;"><p style="text-align: center;">Please specify any individual items costing more than £1,000:</p></td>
  </tr>

  <tr>
    <!--1.1 Basic Information-->
    <td colspan="4"><p style="width:7.5em; text-align: center;">Project ID #</p></td>
    <td colspan="4"><p style="width:7.5em; text-align: center;">Date submitted to Start Team</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Project Name</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Member Agency Name</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Project Lead Name</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Position</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Email</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Telephone</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Country of Project</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;">Location(s) of project (city / province)</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;">Project start date (dd/mm/yyyy)</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;">Project end date (dd/mm/yyy)</p></td>
    <!--1.What sectors will...-->
    <td colspan="1"><p style="width:5em; text-align: center;">WaSH</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Health</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Shelter</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Nutrition</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Food security & Livelihoods</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Protection</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Education</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Camp Management</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">Other (specify)</td>
    <!--2.Presence in country...-->
    <td colspan="2"><p style="width:5em; text-align: center;">Current programmes</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;">Pre-existing partner</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;">No pre-existing presnece</p></td>
    <!--3.Method of implementation...-->
    <td colspan="2"><p style="width:5em; text-align: center;">Directly through field staff</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;">Sister organisation</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;">Working through external partner</p></td>
    <!--empty title-->
    <td colspan="4"><p style="width:10em; text-align: center;">4. Name(s) of external partner(s) (if any)</p></td>
    <!--empty title-->
    <td colspan="14"><p style="width:15em; text-align: center;">1. Summarize the crisis event and how it is likely to develop over the next month (maximum 5 bullet points)</p></td>
    <!--empty title-->
    <td colspan="14"><p style="width:15em; text-align: center;">2. Explain the impact of the crisis on people you want to help (maximum 5 bullet points)</p></td>
    <!--empty title-->
    <td colspan="6"><p style="width:25em;">3. Explain the availability of funding your agency can access for this crisis (maximum 3 bullet points)</p></td>
    <!--4. Explain how you are planning to source your goods (please tick all boxes that apply)-->
    <td colspan="6"><p style="width:25em; text-align: center;">1. Explain your proposed project and why you have selected this particular response to the crisis.</p></td>
    <td colspan="6"><p style="width:25em; text-align: center;">2. Explain how you will start your activities in 7 days and finish within 45 days.</p></td>
    <td colspan="6"><p style="width:25em; text-align: center;">3. How are you co-ordinating and with whom?</p></td>
    <td colspan="3"><p style="text-align: center;">Internationally</p></td>
    <td colspan="3"><p style="text-align: center;">Regionally/neighbouring country</p></td>
    <td colspan="3"><p style="text-align: center;">In country/locally</p></td>
    <td colspan="6"><p style="text-align: center; width: 20em;">Please explain your answer in two bullet points:</p></td>
    <!--empty title-->
    <td colspan="10"><p style="text-align: center; width: 100%;"><span>1. How many beneficiaries are you targeting?</span>
      <span style="font-style: italic;">(Beneficiaries = People Per Household * Number Of Households)</span>
    </p>
    </td>
    <td colspan="6"><p style="text-align: center; width: 100%;">2. Which vulnerable groups are you specifically targeting? Please explain.</p></td>
    <td colspan="20"><p style="text-align: center; width: 100%;">3. Explain how the target population has been / is involved in your proposed intervention (maximum 5 bullet points)</p></td>
    <!--2.4: Expected Results-->
    <td colspan="3"><p style="text-align: center; width: 20em;">1. What will success look like and in what time frame?</p></td>
    <td colspan="12"><p style="text-align: center; width: 25em;">2. Describe the risks to a successful project and how you are managing them.</p></td>
    <!--2.5: Monitoring, Accountability & Learning-->
    <td colspan="1"><p style="text-align: center; width: 25em;">1. Describe the monitoring, accountability and learning systems that you will employ to ensure quality and accountability.</p></td>
    <!--1. Do you intend to visually document your project?...-->
    <td colspan="2"><p style="text-align: center; width: 10em;">Yes</p></td>
    <td colspan="2"><p style="text-align: center; width: 10em;">No</p></td>
    <!--If so, will this be photographic, video, or both?-->
    <td colspan="1"><p style="text-align: center; width: 10em;">Photographic</p></td>
    <td colspan="1"><p style="text-align: center; width: 10em;">Video</p></td>
    <td colspan="1"><p style="text-align: center; width: 10em;">Both</p></td>
    <!--Section 3: Activities-->
    <!--Blank sub header-->
    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 1</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 1</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 1</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 2</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 2</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 2</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 3</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 3</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 3</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 4</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 4</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 4</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>


    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 5</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 5</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 5</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 6</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 6</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 6</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 7</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 7</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 7</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 7</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 7</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 7</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 8</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 8</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 8</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 9</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 9</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 9</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Activity 10</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Output 10</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">KPI 10</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Overall Total Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Overall Total Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Overall Total Female Over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Overall Total Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Overall Total Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Overall Total Female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Overall Total Male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total</p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;">Total Adjusted Female under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total Adjusted Female 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total Adjusted Female over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total Adjusted Male under 18</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total Adjusted Male 18-50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total Adjusted Male over 50</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total Adjusted Female</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;">Total Adjusted Male</p></td>
    <td colspan="1"><p style="text-align: center; width: 5em; font-weight: bold;">Overall Total Adjusted</p></td>
    <!--A: Inputs-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A1: WaSH-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A-2: Health-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A-3: Shelter-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A-4: Nutrition-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A-5: Camp Management-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A-6: Education-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A-7: Protection-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A-8: Food Security-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A-9: Emergency FSL-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--A-10: Other-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--B: Transport-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--C: Security-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--D: Logistics and overheads-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--E: Staffing and support-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--F: Monitoring and evaluation-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--G: Capital items*-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--H: Management support (10%)-->
    <td colspan="2"><p style="text-align: center; width: 5em;">Budget (£)</p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;">Description</p></td>
    <!--Total-->
    <td colspan="3"><p style="text-align: center; width: 5em; font-weight: bold;">Budget (£)</p></td>
    <td colspan="4"><p style="text-align: center; width: 5em; font-weight: bold;">Description</p></td>
    <!--Please specify any individual items costing more than £1,000:-->
    <td colspan="4"><p style="text-align: left; width: 10em;">Cost (£)</p></td>
    <td colspan="4"><p style="text-align: left; width: 10em;">Description:</p></td>
    <td colspan="4"><p style="text-align: left; width: 10em;">Additional Descriptions</p></td>
  </tr><!--header end-->



  <tr>
    <!--1.1 Basic Information-->
    <td colspan="4"><p style="width:7.5em; text-align: center;"></p></td>
    <td colspan="4"><p style="width:7.5em; text-align: center;"></p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{responsePlan.name}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{memberAgencyName}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{planLeadName}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{planLeadPosition}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{planLeadEmail}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{planLeadPhone}}</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;">{{responsePlan.location}}</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;">{{responsePlan.location}}</p></td>
    <td colspan="2"><p style="width:10em; text-align: center;"></p></td>
    <td colspan="2"><p style="width:10em; text-align: center;"></p></td>

    <!--1.What sectors will...-->
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.wash)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.health)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.shelter)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.nutrition)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.foodSecurityAndLivelihoods)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.protection)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.education)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.campManagement)">X</p></td>
    <td colspan="1"><p style="width:5em; text-align: center;" *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.other)">X</p></td>

    <!--2.Presence in country...-->
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.currentProgrammes">X</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.preExistingPartner">X</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.noPreExistingPresence">X</p></td>

    <!--3.Method of implementation...-->
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.fieldStaff">X</p></td>
    <td colspan="2"><p style="width:5em; text-align: center;"></p></td>
    <td colspan="2"><p style="width:5em; text-align: center;" *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.withPartner">X</p></td>

    <!--empty title-->
    <td colspan="4"><p style="width:10em; text-align: center;"></p></td>

    <!--empty title-->
    <td colspan="14">
      <ol *ngIf="responsePlan.scenarioCrisisList" style="width:10em; text-align: left;">
        <li *ngFor="let crisis of responsePlan.scenarioCrisisList">{{crisis}}</li>
      </ol>
    </td>
    <!--empty title-->
    <td colspan="14"><p style="width:15em; text-align: center;"></p></td>
    <!--empty title-->
    <td colspan="6"><p style="width:25em;"></p></td>
    <!--4. Explain how you sourced your goods...-->
    <td colspan="6"><p style="text-align: center;"></p></td>
    <td colspan="6"><p style="text-align: center;"></p></td>
    <td colspan="6"><p style="text-align: center;"></p></td>
    <td colspan="3"><p style="text-align: center; width: 20em;" *ngIf="sourcePlanId == SourcePlan.Internationally">X</p></td>
    <!--empty title-->
    <td colspan="3"><p style="text-align: center; width: 15em;" *ngIf="sourcePlanId == SourcePlan.Regionally">X</p></td>
    <td colspan="3"><p style="text-align: center; width: 15em;" *ngIf="sourcePlanId == SourcePlan.Locally">X</p></td>
    <!--3. Are you able to share...-->
    <td colspan="2"><p style="text-align: center; width: 10em;" *ngIf="sourcePlanInfo1">{{sourcePlanInfo1}}</p></td>
    <td colspan="4"><p style="text-align: center; width: 10em;" *ngIf="sourcePlanInfo2">{{sourcePlanInfo2}}</p></td>
    <!--4. Does your agency plan to conduct...-->
    <td colspan="10"><p style="text-align: center; width: 10em;" *ngIf="responsePlan.peoplePerHousehold && responsePlan.numOfHouseholds &&
              isNumber(responsePlan.peoplePerHousehold) && isNumber(responsePlan.numOfHouseholds)">{{responsePlan.peoplePerHousehold * responsePlan.numOfHouseholds}}</p></td>
    <!--empty title-->
    <td colspan="6">
      <ol *ngIf="vulnerableGroupsToShow">
        <li *ngFor="let group of vulnerableGroupsToShow">{{group.name}}</li>
      </ol>
    </td>
    <td colspan="20"><p style="text-align: center; width: 20em;"></p></td>
    <td colspan="3"><p style="text-align: center; width: 20em;"></p></td>
    <td colspan="12"><p style="text-align: center; width: 20em;"></p></td>
    <!--empty title-->
    <td colspan="1"><p style="text-align: center; width: 25em;">{{responsePlan.monAccLearning && responsePlan.monAccLearning['mALSystemsDescription'] ?
      (responsePlan.monAccLearning['mALSystemsDescription']) : ''}}</p></td>
    <!--1. Do you have any photographic material...-->
    <td colspan="2"><p style="text-align: center; width: 10em;">{{responsePlan.monAccLearning && responsePlan.monAccLearning['isMedia'] ?
      ((responsePlan.monAccLearning['isMedia']) ? 'X' : '') : ''}}</p></td>
    <td colspan="2"><p style="text-align: center; width: 10em;">{{responsePlan.monAccLearning && responsePlan.monAccLearning['isMedia'] ?
      ((responsePlan.monAccLearning['isMedia']) ? '' : 'X') : ''}}</p></td>
    <!--2. Do you have any video material...-->
    <td colspan="1"><p style="text-align: center; width: 10em;" *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.photographic">X</p></td>
    <td colspan="1"><p style="text-align: center; width: 10em;" *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.video">X</p></td>
    <td colspan="1"><p style="text-align: center;" *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.photographicAndVideo">X</p></td>
    <!--Section 3 Activity Report-->
    <!--Blank sub header-->
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center;"></p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>


    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="1"><p style="text-align: center; width: 5em;"></p></td>
    <!--A: Inputs-->
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2" style="font-weight: bold;"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>

    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="2"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="3"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="4"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="4"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="4"><p style="text-align: center; width: 5em;"></p></td>
    <td colspan="4"><p style="text-align: center; width: 5em;"></p></td>

  </tr>

</table>
