<table id="customers" class="table table-striped">
  <thead>
  <tr class='warning'>
    <th><b>Country</b></th>
  </tr>
  </thead>
  <tbody>
  <br />
  <tr>
    <td>China</td>
    <td>1,363,480,000 4iewutr4w rtw4t wriuthw4 tiuwr twr9 twr9 twr9tioruwt wrt rwt wtrw4 rtwr twri twr9 twr9tioruwt wrt rwt wtrw4 rtwr twritg wriut rw twr9t rwiught r twr9 twr9tioruwt wrt rwt wtrw4 rtwr twritg wriut rw twr9t rwiught rtg wriut rw twr9t rwiught rw</td>
  </tr>
  <br />
  <tr>
    <td>India</td>
    <td>1,241,900,000</td>
  </tr>
  <br />
  <tr>
    <td>United States</td>
    <td>317,746,000</td>
  </tr>
  <br />
  <tr>
    <td>Indonesia</td>
    <td>249,866,000</td>
  </tr>
  <br />
  <tr>
    <td>Brazil</td>
    <td>201,032,714</td>
  </tr>
  </tbody>
</table>

<button onClick="$('#customers').tableExport({type:'excel',escape:'false', tableName:'tableExcel'});">export excel
</button>
<button onClick="$('#customers').tableExport({type:'doc',escape:'false', tableName:'tableDoc'});">export word</button>
