<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>


<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>CHS minimum preparedness actions</h1>
      <a routerLink="/system-admin/min-prep/create" class="btn btn-primary">Create new action</a>
    </div>

    <!-- Show only when no actions are created yet -->
    <!--<div class="Empty&#45;&#45;ribbon">No actions have been created</div>-->

    <div class="Data--ribbon" *ngFor="let chsMinPrepAction of chsMinPrepActions | async" >
      <div class="col-sm-9 ">
        <p>{{chsMinPrepAction.task}}</p>
        <!--<p>type: <b>{{ActionType[chsMinPrepAction.type]}}</b></p>-->
        <p>type: <b>chs</b></p>
      </div>
      <div class="col-lg-3 Right-aligned">
        <div class="btn btn-danger" (click)="deleteChsMinPrepAction(chsMinPrepAction)">Delete</div>
        <div class="btn btn-primary" (click)="editChsMinPrepAction(chsMinPrepAction)">Edit</div>
      </div>
    </div>
  </div>
</div>
