<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    <ul>
      <li class="Header_bar__username">
        John Doe
      </li>
      <li class="Header_bar__country">
        PHL
      </li>
      <li class="Header_bar__alert">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</div>
<app-system-admin-menu></app-system-admin-menu>


<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>Create new CHS minimum preparedness action</h1>
      <a routerLink="/system-admin/min-prep/create" class="btn btn-primary">Create new action</a>
    </div>

    <!-- Show only when no actions are created yet -->
    <div class="Empty--ribbon" style="display: none">No actions have been created</div>


    <div class="Data--ribbon">
      <div class="col-sm-9 ">
        <p>Establish Emergency Response Team/Structure (assign people, clarified roles/functions, accountability framework, coordination and communication procedure)</p>
        <p>type: <b>CHB</b></p>
      </div>
      <div class="col-lg-3 Right-aligned">
        <div class="btn btn-danger">Delete</div>
        <div class="btn btn-primary">Edit</div>
      </div>
    </div>

    <div class="Data--ribbon">
      <div class="col-sm-9">
        <p>Develop volunteer’s programme/framework on emergencies</p>
        <p>type: <b>CHB</b></p>
      </div>
      <div class="col-lg-3 Right-aligned">
        <div class="btn btn-danger">Delete</div>
        <div class="btn btn-primary">Edit</div>
      </div>
    </div>

  </div>
</div>
