<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>


<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"CHS_MPA.TITLE_TEXT" | translate}}</h1>
      <a routerLink="/system-admin/min-prep/create" class="btn btn-primary">{{"CHS_MPA.CREATE_NEW_ACTION" | translate}}</a>
    </div>

    <div *ngIf="(chsMinPrepActions | async)?.length == 0" class="Empty--ribbon">{{"CHS_MPA.NO_ACTIONS" | translate}}</div>

    <div class="Data--ribbon" *ngFor="let chsMinPrepAction of chsMinPrepActions | async" >
      <div class="col-sm-9 ">
        <p>{{chsMinPrepAction.task}}</p>
        <!--<p>type: <b>{{ActionType[chsMinPrepAction.type]}}</b></p>-->
        <p>{{"GLOBAL.TYPE" | translate}}<b>{{"CHS_MPA.CHS" | translate}}</b></p>
      </div>
      <div class="col-lg-3 Right-aligned">
        <div class="btn btn-danger" (click)="deleteChsMinPrepAction(chsMinPrepAction)">{{"GLOBAL.DELETE" | translate}}</div>
        <div class="btn btn-primary" (click)="editChsMinPrepAction(chsMinPrepAction)">{{"GLOBAL.EDIT" | translate}}</div>
      </div>
    </div>
  </div>
</div>
