{% extends "default.html" %} <!--Our page template-->
{% set title = "Home" %} <!--Set our page title-->
{% block header %}
<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    {% include "parts/navbar.html"%}
  </div>
</div>
<div class="Sub-header_bar">
  {% include "parts/Subnav__system-admin.html"%}
</div>
{% endblock %}


{% block content %} <!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">


    <div class="Header-title__wrap">
      <h1>Agency Settings</h1>
    </div>

    {% include "parts/Bordered-subnav.html"%}

    <div class="Sub-header-title__wrap">
      <h2>Departments</h2>
      <button type="button" class="btn btn-outline-secondary Inline-editable--enable">Cancel</button>
      <button type="button" class="btn btn-danger Inline-editable--enable">Delete</button>
    </div>

    <div class="Departments Inline-editable">
      {# Disable both inputs to make them standard #}
      <div class="row Editable-check-text Large-spacing-top">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Finance">
          <input type="text" class="form-control" placeholder="Finance">
        </div>
      </div>
      {# #}
      <div class="row Editable-check-text">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="HR">
          <input type="text" class="form-control" placeholder="HR">
        </div>
      </div>
      {# #}
      <div class="row Editable-check-text">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Logistics">
          <input type="text" class="form-control" placeholder="Logistics">
        </div>
      </div>
      {# #}
      <div class="row Editable-check-text">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Programme">
          <input type="text" class="form-control" placeholder="Programme">
        </div>
      </div>


    </div>


  </div>
</div>
{% include "parts/modal.html"%}
{% endblock %} <!--End of content-->
