<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
        <div class="Header-title__wrap">
            <h1>Helpage International: Overview</h1>
        </div>

        <div class="row align-items-center Filter-form Spaced">
            <div class="col-lg-1 col-md-2 col-sm-6">
                Sort by:
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <select class="form-control">
                    <option value="" disabled selected hidden>Alert level</option>
                    <option value="Expired">Red alert level</option>
                    <option value="In progress">Amber alert level</option>
                    <option value="Completed">Green alert level</option>
                </select>
            </div>
        </div>

        <div class="Ribbon__section__wrap Spaced">

            <div class="Accordion Preparedness__agency-list">
                <div class="row">
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right">
                        <div class="Icon--md Icon--align-center Icon__country--philippines"></div>
                        <span>Philippines</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon--md Icon__circle Icon--alert Icon--b-red"></div><span>Alert level</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--blue Icon--md">9</div>
                        </div>
                        <span>Response plans</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--b-green Icon--md"><i class="fa fa-check fa-inverse" aria-hidden="true"></i></div>
                        </div>
                        <span>Minimum preparedness</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--b-orange Icon--md"><i class="fa fa-ellipsis-h fa-inverse" aria-hidden="true"></i></div>
                        </div>
                        <span>Advanced preparedness</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--blue Icon--md">94%</div>
                        </div>
                        <span>CHS Preparedness</span>
                    </div>
                </div>
            </div>



            <div class="Accordion Preparedness__agency-list">
                <div class="row">
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right">
                        <div class="Icon--md Icon--align-center Icon__country--indonesia"></div>
                        <span>Indonesia</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon--md Icon__circle Icon--alert Icon--b-green"></div><span>Alert level</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--blue Icon--md">4</div>
                        </div>
                        <span>Response plans</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--b-green Icon--md"><i class="fa fa-check fa-inverse" aria-hidden="true"></i></div>
                        </div>
                        <span>Minimum preparedness</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--b-green Icon--md"><i class="fa fa-check fa-inverse" aria-hidden="true"></i></div>
                        </div>
                        <span>Advanced preparedness</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--blue Icon--md">85%</div>
                        </div>
                        <span>CHS Preparedness</span>
                    </div>
                </div>
            </div>



            <div class="Accordion Preparedness__agency-list">
                <div class="row">
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right">
                        <div class="Icon--md Icon--align-center Icon__country--malaysia"></div>
                        <span>Malaysia</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon--md Icon__circle Icon--alert Icon--b-green"></div><span>Alert level</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--blue Icon--md">4</div>
                        </div>
                        <span>Response plans</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--b-green Icon--md"><i class="fa fa-check fa-inverse" aria-hidden="true"></i></div>
                        </div>
                        <span>Minimum preparedness</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--b-orange Icon--md"><i class="fa fa-ellipsis-h fa-inverse" aria-hidden="true"></i></div>
                        </div>
                        <span>Advanced preparedness</span>
                    </div>
                    <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                        <div class="Icon">
                            <div class="Icon__circle Icon--align-center Icon--blue Icon--md">90%</div>
                        </div>
                        <span>CHS Preparedness</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div><!-- end #wrap -->