.hover-selection:hover
{
  cursor: pointer;
  background-color: #ffa;
  opacity: 0.5;

}

li.Header_bar__username {
  text-transform: capitalize;
}

.modal-body{
  padding: 25px;
}

textarea{
  resize: none;
}

.btn.btn-primary{
  color: #ffffff;
}


