
<app-alert-loader *ngIf="showLoader"></app-alert-loader>

<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    <div class="logo" (click)="goToHome()"></div>
    <span *ngIf="!isAnonym" class="badge badge-pill" [class.badge-success]="alertLevel==0"
          [class.badge-warning]="alertLevel==1"
          [class.badge-danger]="alertLevel==2">{{alertTitle | translate}}
    </span>
    <ul *ngIf="!isAnonym">
      <li>
        <a *ngIf="!isViewingNetwork" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"
           aria-expanded="false">{{agencyDetail?.name}}</a>
        <a *ngIf="isViewingNetwork" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"
           aria-expanded="false">{{selectedNetwork?.name}}</a>
        <div *ngIf="isViewingNetwork || partnerAgencies.length>1 || networks.length>0" class="dropdown-menu">
          <ng-container *ngIf="isViewingNetwork">
            <a class="dropdown-item"
               (click)="selectAgency()">{{agencyDetail?.name}}</a>
          </ng-container>
          <ng-container *ngIf="partnerAgencies.length>1">
            <a *ngFor="let agency of partnerAgencies" class="dropdown-item"
               (click)="selectAgencyCountryForPartner(agency)">{{agency.name}}</a>
          </ng-container>
          <ng-container *ngIf="networks.length>0">
            <a *ngFor="let network of networks" class="dropdown-item"
               (click)="selectNetwork(network)">{{network.name}}</a>
          </ng-container>

        </div>
        <!--<div *ngIf="networks.length>0" class="dropdown-menu">-->
        <!--<a *ngFor="let network of networks" class="dropdown-item"-->
        <!--(click)="selectNetwork(network)">{{network.name}}</a>-->
        <!--</div>-->
        <!--<div *ngIf="isViewingNetwork" class="dropdown-menu">-->
        <!--<a class="dropdown-item"-->
        <!--(click)="selectAgency()">{{agencyDetail?.name}}</a>-->
        <!--</div>-->
      </li>

      <li class="Header_bar__username">
        {{firstName+" "+lastName}}
      </li>

      <li class="Header_bar__country dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">{{Countries[countryLocation]
          | translate}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/country-admin/country-account-settings">{{"GLOBAL.ACCOUNT_SETTINGS.TITLE"
            | translate}}</a>
          <a class="dropdown-item" routerLink="/country-admin/country-my-agency">{{"VIEW_MY_AGENCY" | translate}}</a>
          <a
            *ngIf="userType == UserType.CountryAdmin || userType == UserType.CountryDirector || userType==UserType.ErtLeader"
            class="dropdown-item" routerLink="/country-admin/country-agencies">{{"VIEW_AGENCIES_IN_MY_COUNTRIES" |
            translate}}</a>
          <a class="dropdown-item" (click)="openLanguageModal()">{{"GLOBAL.SWITCH" | translate}}</a>
          <a class="dropdown-item" (click)="logout()">
            {{"GLOBAL.LOGOUT" | translate}}
          </a>
        </div>
      </li>
      <app-notification-badge [userId]="uid" [USER_TYPE]="USER_TYPE" [countryId]="countryId"
                              [agencyId]="agencyId"></app-notification-badge>
    </ul>

  </div>


</div>

<!-- Modal for language selection-->
<div class="modal fade" id="language-selection" role="dialog" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">{{"GLOBAL.MODAL_HEADER" | translate}}</h2>
      </div>
      <div class="modal-body">

        <div *ngFor="let language of userLang">
          <hr/>
          <p><a class="hover-selection" (click)="changeLanguage(language)">{{languageMap.get(language)}}</a></p>
        </div>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
