<div id="wrap">
  <div class="Header_bar">
    <div class="Header_bar__wrap--inner">
      <div class="logo"></div>
    </div>
  </div>

  <div class="Alert-success" [hidden]="successInactive">
    {{successMessage | translate}}
  </div>

  <div class="Alert-error" [hidden]="errorInactive">
    {{errorMessage | translate}}
  </div>

  <div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
      <div class="Header-title__wrap">
        <h1>{{"GLOBAL.WELCOME" | translate}}, {{agencyAdminName}}</h1>
      </div>
      <h3>{{"GLOBAL.CREATE_PASSWORD" | translate}}</h3>
      <label>{{"GLOBAL.ACCOUNT_SETTINGS.INVALID_PASSWORD" | translate}}</label>
      <form action="" method="POST">
        <div class="row Spaced">
          <div class="col-lg-5 col-md-7">

            <div class="form-group" [ngClass]="{'has-danger': alerts[passwordEntered]}">
              <label for="Password">{{"GLOBAL.ACCOUNT_SETTINGS.PASSWORD" | translate}}</label>
              <input type="password" name="Password" class="form-control" id="Password"
                     placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" [(ngModel)]="passwordEntered">
            </div>
            <div class="form-group" [ngClass]="{'has-danger': alerts[confirmPasswordEntered]}">
              <label for="Password">{{"GLOBAL.ACCOUNT_SETTINGS.CONFIRM_PASSWORD" | translate}}</label>
              <input type="password" name="C-Password" class="form-control" id="C-Password"
                     placeholder="{{'GLOBAL.CONFIRM_PASSWORD' | translate}}" [(ngModel)]="confirmPasswordEntered">
            </div>

          </div>
        </div>
        <div class="Form-submit__wrapper">
          <div class="btn btn-primary" (click)="onSubmit()">{{"GLOBAL.CONTINUE" | translate | uppercase}}</div>
        </div>
      </form>
    </div>
  </div>

</div>
