<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<div class="Alert-success" [hidden]="successInactive">
  {{successMessage | translate}}
</div>

<div class="Alert-error" [hidden]="errorInactive">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"SYSTEM_ADMIN.ACCOUNT_SETTINGS.TITLE" | translate}}</h1>
    </div>

    <ul class="section-nav">
      <li class="section-nav__item"><a [routerLink]="['/system-admin/account-settings']">{{"SYSTEM_ADMIN.ACCOUNT_SETTINGS.PROFILE" | translate}}</a></li>
      <li class="section-nav__item active"><a [routerLink]="['/system-admin/account-settings/change-password']">{{"SYSTEM_ADMIN.ACCOUNT_SETTINGS.PASSWORD" | translate}}</a></li>
    </ul>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group" [ngClass]="{'has-danger': alerts[currentPasswordEntered]}">
          <label for="CurrentPassword">{{"SYSTEM_ADMIN.ACCOUNT_SETTINGS.CURRENT_PASSWORD" | translate}}</label>
          <!--&lt;!&ndash;Placeholder can not be used with translations&ndash;&gt;-->
          <!--<input type="password" class="form-control" placeholder="Your current password" id="CurrentPassword" [(ngModel)]="currentPasswordEntered">-->
          <input type="password" class="form-control" id="CurrentPassword" [(ngModel)]="currentPasswordEntered">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" [ngClass]="{'has-danger': alerts[newPasswordEntered]}">
        <div class="form-group">
          <label for="NewPassword">{{"SYSTEM_ADMIN.ACCOUNT_SETTINGS.NEW_PASSWORD" | translate}}</label>
          <input type="password" class="form-control" id="NewPassword" [(ngModel)]="newPasswordEntered">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" [ngClass]="{'has-danger': alerts[confirmPasswordEntered]}">
        <div class="form-group">
          <label for="ConfirmPassword">{{"SYSTEM_ADMIN.ACCOUNT_SETTINGS.CONFIRM_PASSWORD" | translate}}</label>
          <input type="password" class="form-control" id="ConfirmPassword" [(ngModel)]="confirmPasswordEntered">
        </div>
      </div>
    </div>
    <div class="Form-submit__wrapper">
      <div class="btn btn-primary" (click)="onSubmit()">{{"SYSTEM_ADMIN.ACCOUNT_SETTINGS.UPDATE_PASSORD" | translate | uppercase}}</div>
      <div class="btn btn-outline-secondary" routerLink="/system-admin/agency">{{"GLOBAL.CANCEL" | translate}}</div>
    </div>
  </div>
</div>
