<div class="Header-title__wrap">
  <h1>{{ "COUNTRY_OFFICE_PROFILE" | translate}}</h1>
</div>

<!--<div class="Page-top__wrap&#45;&#45;w_sub_header&#45;&#45;no-paddng">-->
<!--<div class="Full-page__wrap&#45;&#45;inner">-->
<div class="Sub-header_bar--country no-bg">
  <div class="Hamburger">
    <span></span>
  </div>
  <ul class="subnav_country-office-profile">

    <li *ngIf="!isViewing" routerLinkActive="active">
      <a routerLink="/local-agency/profile/programme">{{
        "SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.CATEGORIES.Programmes" | translate}}</a>
    </li>
    <li *ngIf="isViewing" [class.active]="activeMap.get('programme')">
      <a (click)="viewingToProgramme()">{{ "SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.CATEGORIES.Programmes" |
        translate}}</a>
    </li>

    <li *ngIf="!isViewing" routerLinkActive="active">
      <a routerLink="/local-agency/profile/office-capacity">{{
        "COUNTRY_ADMIN.PROFILE.MENU.OFFICE_CAPACITY" | translate}}</a>
    </li>
    <li *ngIf="isViewing" [class.active]="activeMap.get('officeCapacity')">
      <a (click)="viewingToOfficeCapacity()">{{ "COUNTRY_ADMIN.PROFILE.MENU.OFFICE_CAPACITY" |
        translate}}</a>
    </li>

    <li *ngIf="!isViewing" routerLinkActive="active">
      <a routerLink="/local-agency/profile/partners">{{
        "GLOBAL.USER_TYPE.PARTNER" |
        translate}}</a>
    </li>
    <li *ngIf="isViewing" [class.active]="activeMap.get('partners')">
      <a (click)="viewingToPartners()">{{ "GLOBAL.USER_TYPE.PARTNER" |
        translate}}</a>
    </li>

    <li *ngIf="!isViewing" routerLinkActive="active">
      <a routerLink="/local-agency/profile/equipment">{{
        "COUNTRY_ADMIN.PROFILE.EQUIPMENT.TITLE_TEXT" |
        translate}}</a>
    </li>
    <li *ngIf="isViewing" [class.active]="activeMap.get('equipment')">
      <a (click)="viewingToEquipment()">{{ "COUNTRY_ADMIN.PROFILE.EQUIPMENT.TITLE_TEXT" |
        translate}}</a>
    </li>

    <li *ngIf="!isViewing" routerLinkActive="active">
      <a routerLink="/local-agency/profile/coordination">{{
        "COUNTRY_ADMIN.PROFILE.MENU.COORDINATION" | translate}}</a>
    </li>
    <li *ngIf="isViewing" [class.active]="activeMap.get('coordination')">
      <a (click)="viewingToCoordination()">{{
        "COUNTRY_ADMIN.PROFILE.MENU.COORDINATION" | translate}}</a>
    </li>

    <li *ngIf="!isViewing" routerLinkActive="active">
      <a routerLink="/local-agency/profile/stock-capacity">{{
        "COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.TITLE_TEXT" | translate}}</a>
    </li>
    <li *ngIf="isViewing" [class.active]="activeMap.get('stockCapacity')">
      <a (click)="viewingToStockCapacity()">{{
        "COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.TITLE_TEXT" | translate}}</a>
    </li>

    <li *ngIf="!isViewing" routerLinkActive="active">
      <a routerLink="/local-agency/profile/documents">{{
        "DOCUMENTS_TEXT" |
        translate}}</a>
    </li>
    <li *ngIf="isViewing" [class.active]="activeMap.get('documents')">
      <a (click)="viewingToDocuments()">{{ "DOCUMENTS_TEXT" |
        translate}}</a>
    </li>

    <li *ngIf="!isViewing" routerLinkActive="active">
      <a routerLink="/local-agency/profile/contacts">{{
        "COUNTRY_ADMIN.PROFILE.CONTACTS.TITLE_TEXT" |
        translate}}</a>
    </li>
    <li *ngIf="isViewing" [class.active]="activeMap.get('contacts')">
      <a (click)="viewingToContacts()">{{ "COUNTRY_ADMIN.PROFILE.CONTACTS.TITLE_TEXT" |
        translate}}</a>
    </li>
  </ul>
</div>
