<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success"
                  [show]="alertMessage"></app-status-alert>
<div id="wrap"><!-- start #wrap -->
  <div class="Header_bar">

    <div class="Header_bar__wrap--inner">
      <div class="logo"></div>
    </div>
  </div>


  <!--Start Put page data-->
  <div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
      <div class="Header-title__wrap">
        <h1>Partnership validation</h1>
      </div>


      <div class="Partnership__wrap">

        <div class="Underline-title__wrap">
          <h3>Partnership details</h3>
        </div>

        <div class="Partnership__seperator">
          <p><b>Your organisation</b></p>
          <p>{{modelPartnerOrg.organisationName}}</p>
        </div>

        <div class="Partnership__seperator">
          <p><b>Relationship with agency</b></p>
          <p>{{modelPartnerOrg.relationship}}</p>
        </div>

        <div class="Partnership__seperator">
          <p><b>Areas of operation</b></p>
          <a href="javascript:void(0)" class="text-primary" (click)="showAffectedAreasForPartner()">
            {{'COUNTRY_ADMIN.PROFILE.PARTNERS.VIEW_FOR_PROJECTS' | translate}} {{modelPartnerOrg.projects.length}}
            {{'COUNTRY_ADMIN.PROFILE.PARTNERS.PROJECTS_LOWERCASE' | translate}}
          </a>
        </div>
        <div class="Partnership__seperator">
          <p><b>Contact’s Name</b></p>
          <p>{{modelPartnerOrg.firstName +" "+modelPartnerOrg.lastName}}</p>
        </div>
        <div class="Partnership__seperator">
          <p><b>Contact’s Position</b></p>
          <p>{{modelPartnerOrg.position}}</p>
        </div>
        <div class="Partnership__seperator">
          <p><b>Contact’s Email</b></p>
          <p>{{modelPartnerOrg.email}}</p>
        </div>
        <div class="Partnership__seperator">
          <p><b>Contact’s Telephone</b></p>
          <p>{{modelPartnerOrg.phone}}</p>
        </div>
      </div>

      <div class="Partnership__wrap">

        <div class="Underline-title__wrap">
          <h3>Projects</h3>
        </div>

        <div *ngFor="let project of modelPartnerOrg.projects">
          <h6>{{project.title}}</h6>
          <p><b>Sectors</b></p>
          <div class="Selection-row">
            <div *ngFor="let sector of project.sector" class="Item__selectable Icon__selectable">
              <div class="{{sectorIcons[sector]}}"></div>
              <label>{{sectorLabels[sector] | translate}}</label></div>
          </div>
          <p><b>Project End date</b></p>
          <p>{{project.endDate | date:"MM/yy"}}</p>
          <hr>
        </div>

        <!--<div>-->
        <!--<h6>Food security. School lunch programme</h6>-->
        <!--<p><b>Sectors</b></p>-->
        <!--<div class="Selection-row">-->
        <!--<div class="Item__selectable Icon__selectable">-->
        <!--<div class="water"></div>-->
        <!--<label>WaSH</label></div>-->
        <!--</div>-->
        <!--<p><b>Project End date</b></p>-->
        <!--<p>03/18</p>-->
        <!--<hr>-->
        <!--</div>-->

        <div class="Form-submit__wrapper margin-top-eight">
          <button *ngIf="!modelPartnerOrg.isApproved" class="btn btn-success" (click)="validatePartnership()">Validate
            partnership
          </button>
          <button *ngIf="modelPartnerOrg.isApproved" class="btn btn-ghost" disabled>Approved already</button>
        </div>
      </div>
    </div>
  </div>


</div><!-- end #wrap -->

<!-- Areas of operation popup-->
<div class="modal fade" id="view-areas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{ 'COUNTRY_ADMIN.PROFILE.PARTNERS.AREAS_OF_OPERATION' |
          translate }}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-left" *ngIf="modelPartnerOrg.projects">
          <div *ngFor="let project of modelPartnerOrg.projects">
            <p><strong>{{project.title}}</strong></p>
            <p *ngFor="let affectedArea of project.operationAreas">{{COUNTRIES[affectedArea.country] | translate}}
              {{affectedArea.level1?areaJson[affectedArea.country]["levelOneValues"][affectedArea.level1].value:""}}
              {{affectedArea.level2?areaJson[affectedArea.country]["levelOneValues"][affectedArea.level1]["levelTwoValues"][affectedArea.level2].value:""}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


