<div id="wrap"><!-- start #wrap -->

  <div class="Header_bar">

    <div class="Header_bar__wrap--inner">
      <div class="logo"></div>
    </div>
  </div>

  <!--Start Put page data-->
  <div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
      <div class="Header-title__wrap">
        <h1>Partnership validation</h1>
      </div>


      <div class="Partnership__wrap">

        <div class="Underline-title__wrap">
          <h3>Partnership details</h3>
        </div>

        <div class="Partnership__seperator">
          <p><b>Your organisation</b></p>
          <p>COSE</p>
        </div>

        <div class="Partnership__seperator">
          <p><b>Relationship with agency</b></p>
          <p>Supporting partner</p>
        </div>

        <div class="Partnership__seperator">
          <p><b>Areas of operation</b></p>
          <p>Leyte, Cebu, Lloilo</p>
        </div>
        <div class="Partnership__seperator">
          <p><b>Contact’s Name</b></p>
          <p>Christopher Rodriguez</p>
        </div>
        <div class="Partnership__seperator">
          <p><b>Contact’s Position</b></p>
          <p>Head of human resouces</p>
        </div>
        <div class="Partnership__seperator">
          <p><b>Contact’s Email</b></p>
          <p>c.rodriguez@charity.org</p>
        </div>
        <div class="Partnership__seperator">
          <p><b>Contact’s Telephone</b></p>
          <p>+692138858881</p>
        </div>
      </div>

      <div class="Partnership__wrap">

        <div class="Underline-title__wrap">
          <h3>Projects</h3>
        </div>

        <div>
          <h6>Food security. School lunch programme</h6>
          <p><b>Sectors</b></p>
          <div class="Selection-row">
            <div class="Item__selectable Icon__selectable">
              <div class="water"></div>
              <label>WaSH</label></div>
          </div>
          <p><b>Project End date</b></p>
          <p>03/18</p>
          <hr>
        </div>

        <div>
          <h6>Food security. School lunch programme</h6>
          <p><b>Sectors</b></p>
          <div class="Selection-row">
            <div class="Item__selectable Icon__selectable">
              <div class="water"></div>
              <label>WaSH</label></div>
          </div>
          <p><b>Project End date</b></p>
          <p>03/18</p>
          <hr>
        </div>

        <div class="Form-submit__wrapper margin-top-eight">
          <button class="btn btn-success">Validate partnership</button>
        </div>
      </div>
    </div>
  </div>


</div><!-- end #wrap -->


