<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="">
      <!--<div style="width: 100%; top: 0; background-color: #131D50; padding: 1em;">-->
      <!--<img src="../../assets/images/alert_logo&#45;&#45;white.svg" class="Login__logo">-->
      <!--</div>-->

      <div class="Back--button" routerLink="/response-plans">{{"RESPONSE_PLANS.TITLE_TEXT" | translate}}</div>

      <div align="center">
        <h1>Start Fund</h1>
        <a id="downloadLink" style="display:none;"></a>

        <input type="button" onclick="exportToExcelFile('tableProjectNarrative', 'Basic Data & Narrative')"
               value="Download All">
      </div>

      <br>


      <style type="text/css">
        body {
          line-height: 0;
        }

        .tg {
          border-collapse: collapse;
          border-spacing: 0;
        }

        .tg td {
          font-family: Arial, sans-serif;
          font-size: 14px;
          padding: 10px 5px;
          border-style: solid;
          border-width: 1px;
          overflow: hidden;
          word-break: normal;
        }

        .tg th {
          font-family: Arial, sans-serif;
          font-size: 14px;
          font-weight: normal;
          padding: 10px 5px;
          border: 1px solid;
          border-width: 1px;
          overflow: hidden;
          word-break: normal;
        }
      </style>

      <!--Project Narrative Table-->
      <table class="tg" style="width: 50%;" align="center" id="tableProjectNarrative">

        <tr>
          <td class="tg" colspan="3" style="width: 40%; text-align: center;">
            <h2>Start Fund</h2>
            <br>
            <h1 style="color: maroon;">Project Narrative</h1>
          </td>
          <td class="tg" colspan="6"
              style="background: darkred; color: white; text-align: left; font-weight: normal; border: 1px solid #222;">
            <p>Instructions:</p>
            <p>1. Please keep Section 2 (Narrative) under 4 pages.</p>
            <p>2.There are strict deadlines - please submit the entire application form (Basic Data & Narrative,
              Activties
              and Budget worksheets) no later than the deadline set.</p>
            <p>3.Refer to the Technical Guidance worksheet for help with any technical issues in filling out the
              form.</p>
          </td>
        </tr>
        <tr>
          <td class="tg" colspan="9"></td>
        </tr>
        <tr style="text-align: center;" colspan="9">

          <td colspan="2" class="tg" style="width: 15%; background-color: lightgrey;padding: 0 0.25em; margin-top: 0;">
            <p>Return this form to</p></td>
          <td colspan="2" class="tg" style="width: 25%; text-align: center;"><a
            href="mailto:startfund@savechildren.org.uk">startfund@savethechildren.org.uk</a></td>
          <td colspan="3" class="tg" style="width: 30%; background-color: lightgrey;padding: 0 0.25em;"><p>Date
            submitted to Start
            Team</p>
          </td>
          <td colspan="3" class="tg" style="width: 30%; padding: 0 0.25em;"></td>
        </tr>
        <tr>
          <td class="tg" colspan="9"></td>
        </tr>
        <tr>
          <td class="tg" colspan="9"
              style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
            style="margin: 0; padding: 0; font-weight: normal;">Section 1: Basic Project Data</h2></td>
        </tr>
        <tr>
          <td class="tg" colspan="9"></td>
        </tr>
        <tr>
          <td class="tg" colspan="9"
              style="margin: 0; padding: 0.25em; color: white; font-weight: normal; font-size: 1.1em; border: 1px solid #222;background: darkred;">
            <p
              style="font-weight: 100;">1.1: Basic Information</p></td>
        </tr>
        <tr>
          <td class="tg" colspan="9"></td>
        </tr>
        <tr>
          <td class="tg" colspan="4" style="background: lightgrey;">Project Name</td>
          <td class="tg" colspan="5"></td>
        </tr>
        <tr>
          <td class="tg" colspan="4" style="background: lightgrey;">Member Agency Name</td>
          <td class="tg" colspan="5"></td>
        </tr>

        <tr>
          <td class="tg" colspan="4" style="border:none; background: lightgrey;border-left: 1px solid;">Project Lead
            Name
          </td>
          <td class="tg" colspan="5"><p>{{planLeadName}}</p></td>
        </tr>
        <tr>
          <td class="tg" colspan="4" style="border: none; background: lightgrey;border-left: 1px solid;">Position</td>
          <td class="tg" colspan="5"></td>
        </tr>

        <tr>
          <td class="tg" colspan="4" style="border: none; background: lightgrey;border-left: 1px solid;">Email</td>
          <td class="tg" colspan="5"><a href="mailto:{{planLeadEmail}}"><p>{{planLeadEmail}}</p></a></td>
        </tr>
        <tr>
          <td class="tg" colspan="4" style="border: none; background: lightgrey;border-left: 1px solid;">Telephone</td>
          <td class="tg" colspan="5" style="text-align: left;"><p>{{planLeadPhone}}</p></td>
        </tr>
        <tr>
          <td class="tg" colspan="4" style="border: none; background: lightgrey;border-left: 1px solid;">Mobile</td>
          <td class="tg" colspan="5" style="text-align: left;"></td>
        </tr>
        <tr>
          <td class="tg" colspan="4" style="background: lightgrey;">Country of project</td>
          <td class="tg" colspan="5"><p>{{responsePlan.location}}</p></td>
        </tr>
        <tr>
          <td class="tg" colspan="4" style="background: lightgrey;">Location(s) of project (city/province)</td>
          <td class="tg" colspan="5"><p>{{responsePlan.location}}</p></td>
        </tr>
        <tr>
          <td class="tg" colspan="4" style="background: lightgrey;">Project start date (dd/mm/yyyy)</td>
          <td class="tg" colspan="5">This is the date of recieving the grant award notification.</td>
        </tr>
        <tr>
          <td class="tg" colspan="4" style="background: lightgrey;">Project end date (dd/mm/yyyy)</td>
          <td class="tg" colspan="5">This is 45 days after receiving the grant award notification.</td>
        </tr>
        <tr>
          <td class="tg" colspan="9"></td>
        </tr>
        <tr>
          <td class="tg" colspan="9" style="background-color: lightgrey; font-weight: bold;"><p>1. What sectors will the
            intervention's activities most relate to (please mark all that apply)?</p></td>
        </tr>

        <tr>
          <td class="tg" style="width: 10%; padding: 0em 0.25em; background-color: lightgrey; text-align: center;"><p>
            WaSH</p></td>
          <td class="tg" style="width: 10%; padding: 0em 0.25em; background-color: lightgrey; text-align: center;"><p>
            Health</p></td>
          <td class="tg" style="width: 10%; padding: 0em 0.25em; background-color: lightgrey; text-align: center;"><p>
            Shelter</p></td>
          <td class="tg" style="width: 10%; padding: 0em 0.25em; background-color: lightgrey; text-align: center;"><p>
            Nutrition</p></td>
          <td class="tg" style="width: 10%; padding: 0em 0.25em; background-color: lightgrey; text-align: center;"><p>
            Food security & livelihoods</p></td>
          <td class="tg" style="width: 10%; padding: 0em 0.25em; background-color: lightgrey; text-align: center;"><p>
            Protection</p></td>
          <td class="tg" style="width: 10%; padding: 0em 0.25em; background-color: lightgrey; text-align: center;"><p>
            Education</p></td>
          <td class="tg" style="width: 10%; padding: 0em 0.25em; background-color: lightgrey; text-align: center;"><p>
            Camp Management</p></td>
          <td class="tg" style="padding: 0em 0.25em;background-color: lightgrey; text-align: center;"><p>Other
            (specify)</p></td>
        </tr>

        <tr style="text-align: center;">
          <td class="tg" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.wash)">X</p></td>
          <td class="tg" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.health)">X</p></td>
          <td class="tg" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.shelter)">X</p></td>
          <td class="tg" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.nutrition)">X</p>
          </td>
          <td class="tg" style="width: 10%;"><p
            *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.foodSecurityAndLivelihoods)">X</p></td>
          <td class="tg" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.protection)">X</p>
          </td>
          <td class="tg" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.education)">X</p>
          </td>
          <td class="tg" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.campManagement)">
            X</p></td>
          <td class="tg" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.other)">X</p></td>
        </tr>

        <tr>
          <td class="tg" colspan="3" style="text-align: left;text-align: center; background-color: lightgrey;"><p
            style="font-weight: bold;">2. Presence in country
            before project (mark one)</p></td>
          <td class="tg" colspan="2" style="text-align: center; background-color: lightgrey;"><p>Current programmers</p>
          </td>
          <td class="tg" colspan="2" style="text-align: center; background-color: lightgrey;"><p>Pre-existing
            partner</p></td>
          <td class="tg" colspan="2" style="text-align: center; background-color: lightgrey;"><p>No pre-existing
            presence</p></td>
        </tr>

        <tr style="text-align: center;">
          <td class="tg" colspan="3"
              style="background-color: lightgrey; border-style: hidden;border-left: 1px solid; border-right: 1px solid;border-bottom: 1px solid;"></td>
          <td class="tg" colspan="2"><p
            *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.currentProgrammes">X</p></td>
          <td class="tg" colspan="2"><p
            *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.preExistingPartner">X</p></td>
          <td class="tg" colspan="2"><p
            *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.noPreExistingPresence">X</p></td>
        </tr>

        <tr>
          <td class="tg" colspan="3" style="text-align: left; background-color: lightgrey;"><p
            style="font-weight: bold; text-align: center;">3. Method of implementation
            (mark one)</p></td>
          <td class="tg" colspan="2" style="text-align: center; background-color: lightgrey;"><p>Directly through field
            staff </p></td>
          <td class="tg" colspan="2" style="text-align: center; background-color: lightgrey;"><p>Sister organisation</p>
          </td>
          <td class="tg" colspan="2" style="text-align: center; background-color: lightgrey;"><p>Working through
            external partner</p></td>
        </tr>

        <tr style="text-align: center;">
          <td class="tg" colspan="3"
              style="background-color: lightgrey; border-style: hidden;border-left: 1px solid; border-right: 1px solid;border-bottom: 1px solid;"></td>
          <td class="tg" colspan="2"><p
            *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.fieldStaff">X</p></td>
          <td class="tg" colspan="2"></td>
          <td class="tg" colspan="2"><p
            *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.withPartner">X</p></td>
        </tr>

        <tr style="text-align: center;">
          <td class="tg" colspan="4" style="background-color: lightgrey; text-align: left; font-weight: bold;"><p>4.
            Name(s) of external partner(s) (if any)</p></td>
          <td class="tg" colspan="5" style="text-align: left;">
            <ol *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.withPartner && responsePlan.partnerOrganisations" >
              <li *ngFor="let name of partnersList;">{{name}}</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td colspan="9" style="background: darkred;"><h2
            style="color: white; padding: 0em; margin: 0em; text-align: center; font-weight: lighter;">
            Section 2: Narrative Project Description</h2></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9"
              style="font-weight: lighter; margin: 0; padding: 0.25em; font-size: 1.1em;background-color: darkred;"><p
            style="color: white;">2.1: Context</p></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em;background-color: lightgrey;"><p style="font-weight: bold;">1.
            Summarize the crisis event and how
            it is
            likely to develop over the next month (maximum 5 points)</p></td>
        </tr>

        <tr>
          <td colspan="9">
            <ol *ngIf="responsePlan.scenarioCrisisList">
              <li *ngFor="let crisis of responsePlan.scenarioCrisisList">{{crisis}}</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em;background-color: lightgrey;"><p style="font-weight: bold;">2. Explain
            the impact of the crisis on
            people you want to help (maximum 5 points)</p></td>
        </tr>

        <tr>
          <td colspan="9">
            <ol *ngIf="responsePlan.impactOfCrisisList">
              <li *ngFor="let impact of responsePlan.impactOfCrisisList">{{impact}}</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em;background-color: lightgrey;"><p style="font-weight: bold;">3. Explain
            the availability of funding
            your
            agency can access for this crisis (maximum 3 points)</p></td>
        </tr>

        <tr>
          <td colspan="9">
            <ol *ngIf="responsePlan.availabilityOfFundsList">
              <li *ngFor="let availability of responsePlan.availabilityOfFundsList">{{availability}}</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td colspan="9"
              style="font-weight: lighter; margin: 0; padding: 0.25em; font-size: 1.1em; background: darkred;"><p
            style="color: white;">2.2: Activity Summary</p></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em; background-color: lightgrey;"><p style="font-weight: bold;">1. Explain
            your proposed project and
            why
            you have selected this particular response to the crisis.</p></td>
        </tr>

        <tr>
          <td colspan="9">
            <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q1']">{{responsePlan.activitySummary['q1']}}</p></td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em; background-color: lightgrey;"><p style="font-weight: bold;">2. Explain
            how you will start your
            activities in 7 days and finish within 45 days.</p>
          </td>
        </tr>

        <tr>
          <td colspan="9">
            <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q2']">{{responsePlan.activitySummary['q2']}}</p>
          </td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em; background-color: lightgrey;"><p style="font-weight: bold;">3. How are
            you co-ordinating and with
            whom?</p></td>
        </tr>

        <tr>
          <td colspan="9">
            <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q3']">{{responsePlan.activitySummary['q3']}}</p>
          </td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em; background-color: lightgrey;"><p style="font-weight: bold; ">4.
            Explain how you are planning to
            source
            your goods (please mark all boxes that apply)</p></td>
        </tr>

        <tr>
          <td colspan="2" style="background: lightgrey;"><p>Internationally</p></td>
          <td colspan="1"><p *ngIf="sourcePlanId == SourcePlan.Internationally">X</p></td>
          <td colspan="2" style="background: lightgrey;"><p>Regionally/ neighbouring country</p></td>
          <td colspan="1"><p *ngIf="sourcePlanId == SourcePlan.Regionally">X</p></td>
          <td colspan="2" style="background: lightgrey;"><p>In country/locally</p></td>
          <td colspan="1"><p *ngIf="sourcePlanId == SourcePlan.Locally">X</p></td>
        </tr>

        <tr>
          <td colspan="9">
            <p style="font-style: italic;">Please explain your answer in 2 points:</p>
            <ol>
              <li *ngIf="sourcePlanInfo1">{{sourcePlanInfo1}}</li>
              <li *ngIf="sourcePlanInfo2">{{sourcePlanInfo2}}</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9"
              style="font-weight: lighter; margin: 0; padding: 0.25em; font-size: 1.1em; background: darkred;"><p
            style="color: white;">2.3: Description of Target Population</p></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em; background-color: lightgrey;"><p><span style="font-weight: bold;">1. How many beneficiaries are you targeting?</span>
            <span style="font-style: italic;">(Beneficiaries = People Per Household * Number Of Households)</span>
          </p></td>
        </tr>

        <tr>
          <td colspan="9">
            <p style="text-align: left;" *ngIf="responsePlan.peoplePerHousehold && responsePlan.numOfHouseholds &&
              isNumber(responsePlan.peoplePerHousehold) && isNumber(responsePlan.numOfHouseholds)">{{responsePlan.peoplePerHousehold * responsePlan.numOfHouseholds}}
            </p>
          </td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em; background-color: lightgrey;"><p><span style="font-weight: bold;">2. Which vulnerable groups are you specifically targeting?</span>
            <span style="font-style: italic;">Please explain.</span></p></td>
        </tr>

        <tr>
          <td colspan="9">
            <ol *ngIf="responsePlan.vulnerableGroups">
              <li *ngFor="let group of responsePlan.vulnerableGroups">{{group}}</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em; background-color: lightgrey;"><p><span style="font-weight: bold;">3. Explain how the target population has been / is involved in your proposed intervention</span>
            <span style="font-style: italic;">(maximum 5 points)</span></p></td>
        </tr>

        <tr>
          <td colspan="9">
            <ol *ngIf="responsePlan.targetPopulationInvolvementList">
              <li *ngFor="let involvement of responsePlan.targetPopulationInvolvementList">{{involvement}}</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9"
              style="font-weight: lighter; margin: 0; padding: 0.25em; font-size: 1.1em; background: darkred;"><p
            style="color: white;">2.4: Expected Results</p></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em;background-color: lightgrey;"><p><span style="font-weight: bold;">1. What will success look like and in what time frame?</span>
          </p></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em;background-color: lightgrey;"><p><span style="font-weight: bold;">2. Describe the risks to a successful project and how you are managing them.</span>
          </p></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9"
              style="font-weight: lighter; margin: 0; padding: 0.25em; font-size: 1.1em; background: darkred;"><p
            style="color: white;">2.5: Monitoring, Accountability & Learning</p></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em;background-color: lightgrey;"><p><span style="font-weight: bold;">1. Describe the monitoring, accountability and learning systems that you will employ to ensure quality and accountability.</span>
          </p></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="9" style="padding: 0.25em;background-color: lightgrey;"><p><span style="font-style: italic;">Every project is eligible to receive an additional 1% on top of their project budget for learning. Please see line 19 on the Technical Guidance tab for information on the simple process for accessing this amount, earmarked for learning and sharing. </span>
          </p></td>
        </tr>

        <tr>
          <td colspan="9"></td>
        </tr>

        <tr>
          <td colspan="5" style="background-color: lightgrey;"><p>Do you intend to visually document your project? <span
            style="font-style: italic;">(please mark)</span>
          </p></td>
          <td colspan="2" style="text-align: center; background-color: lightgrey;"><p>Yes</p></td>
          <td colspan="2" style="text-align: center; background-color: lightgrey;"><p>No</p></td>
        </tr>

        <tr>
          <td colspan="5" style="background: lightgrey;"><p>If so, will this be photographic, video, or both? <span
            style="font-style: italic;">(please mark)</span>
          </p></td>
          <td colspan="2" style="text-align: center; background-color: lightgrey;"><p>Photographic</p></td>
          <td colspan="1" style="text-align: center; background-color: lightgrey;"><p>Video</p></td>
          <td colspan="1" style="text-align: center; background-color: lightgrey;"><p>Both</p></td>
        </tr>

        <tr>
          <td colspan="9" style="background-color: lightgrey;"><p
            style="font-weight: bold; font-style: italic; text-align: center;">Please note that applicants will not be
            penalised if they do not have the ability to visually document their projects.</p></td>
        </tr>

      </table>


    </div>
  </div>
</div>
