<ng-container *ngIf="!isLocalAgency">

  <ng-container *ngIf="!isViewing; else country">
    <ng-container *ngIf="!isLocalNetworkAdmin; else localNetworkAdmin">
      <ng-container *ngIf="networkCountryId; else normal">
        <app-network-country-header></app-network-country-header>
        <app-network-country-menu></app-network-country-menu>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #localNetworkAdmin>
    <app-local-network-header></app-local-network-header>
    <app-local-network-menu></app-local-network-menu>
  </ng-template>

  <ng-template #country>
    <app-country-admin-header></app-country-admin-header>
    <app-network-country-menu></app-network-country-menu>
  </ng-template>

  <ng-template #normal>
    <app-country-admin-header></app-country-admin-header>
    <app-country-admin-menu></app-country-admin-menu>
  </ng-template>

</ng-container>

<ng-container *ngIf="isLocalAgency">

  <app-local-agency-header></app-local-agency-header>
  <app-local-agency-menu></app-local-agency-menu>

</ng-container>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="">
      <div *ngIf="!isLocalAgency" class="Back--button"
                 [routerLink]="isViewing ? ['/network-country/network-plans', networkViewValues] : isLocalNetworkAdmin ? '/network/local-network-plans' : networkCountryId ? '/network-country/network-plans' : '/response-plans'">
      {{"RESPONSE_PLANS.TITLE_TEXT" | translate}}
    </div>

      <div *ngIf="isLocalAgency" class="Back--button"
           [routerLink]="['/local-agency/response-plans']">
        {{"RESPONSE_PLANS.TITLE_TEXT" | translate}}
      </div>

      <div align="center">
        <h1>{{"RESPONSE_PLANS.HOME.EXPORT_FOR_START_FUND" | translate}}</h1>
        <a id="downloadLink" style="display:none;"></a>

        <input type="button"
               onclick="exportToExcelFile(['tableGuidanceNew', 'tableNarrativeNew', 'tableActivityNew', 'tableBudgetNew'], ['Proposal - Guidance', 'Proposal - Narrative', 'Proposal - Activities', 'Proposal - Budget'])"
               value="Download All"/>
      </div>

      <br>

      <div>

        <!--Technical Guidance-->
        <div class="scrollingDiv">
          <app-export-start-fund-technical-guidance></app-export-start-fund-technical-guidance>
        </div>

        <br>
        <br>
        <br>
        <br>

        <!--Project Narrative-->
        <div class="scrollingDiv">
          <app-export-start-fund-project-narrative></app-export-start-fund-project-narrative>
        </div>

        <br>
        <br>
        <br>
        <br>

        <!--Project Activities-->
        <div class="fundStyle">
          <app-export-start-fund-project-activities></app-export-start-fund-project-activities>
        </div>

        <br>
        <br>
        <br>
        <br>

        <!--Project Budget-->
        <div class="scrollingDiv">
          <app-export-start-fund-project-budget></app-export-start-fund-project-budget>
        </div>

        <!--<br>-->
        <!--<br>-->
        <!--<br>-->
        <!--<br>-->

        <!--&lt;!&ndash;Application Datasheet&ndash;&gt;-->
        <!--<div class="scrollingDiv">-->
          <!--<app-export-start-fund-application-datasheet></app-export-start-fund-application-datasheet>-->
        <!--</div>-->

        <!--<br>-->
        <!--<br>-->
        <!--<br>-->
        <!--<br>-->

        <!--&lt;!&ndash;Guidance Report&ndash;&gt;-->
        <!--<div class="scrollingDiv">-->
          <!--<app-export-start-fund-guidance-report></app-export-start-fund-guidance-report>-->
        <!--</div>-->

        <!--<br>-->
        <!--<br>-->
        <!--<br>-->
        <!--<br>-->

        <!--&lt;!&ndash;Project Report&ndash;&gt;-->
        <!--<div class="scrollingDiv">-->
          <!--<app-export-start-fund-project-report></app-export-start-fund-project-report>-->
        <!--</div>-->

        <!--<br>-->
        <!--<br>-->
        <!--<br>-->
        <!--<br>-->

        <!--&lt;!&ndash;Activity Report&ndash;&gt;-->
        <!--<div class="scrollingDiv">-->
          <!--<app-export-start-fund-project-activity-report></app-export-start-fund-project-activity-report>-->
        <!--</div>-->

        <!--<br>-->
        <!--<br>-->
        <!--<br>-->
        <!--<br>-->

        <!--&lt;!&ndash;Budget Report&ndash;&gt;-->
        <!--<div class="scrollingDiv">-->
          <!--<app-export-start-fund-budget-report></app-export-start-fund-budget-report>-->
        <!--</div>-->

        <!--<br>-->
        <!--<br>-->
        <!--<br>-->
        <!--<br>-->

        <!--&lt;!&ndash;Reporting Datasheet&ndash;&gt;-->
        <!--<div class="scrollingDiv">-->
          <!--<app-export-start-fund-reporting-datasheet></app-export-start-fund-reporting-datasheet>-->
        <!--</div>-->

      </div>


    </div>
  </div>
</div>
