<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="">
      <div class="Back--button" routerLink="/response-plans">{{"RESPONSE_PLANS.TITLE_TEXT" | translate}}</div>

      <div align="center">
        <h1>Start Fund</h1>
        <a id="downloadLink" style="display:none;"></a>

        <input type="button" onclick="exportToExcelFile(['tableProjectNarrative', 'tableProjectBudget', 'tableProjectReport', 'tableBudgetReport', 'tableProjectActivities', 'tableTechnicalGuidance','tableGuidanceReport'], ['Basic Data & Narrative', 'Project Budget', 'Report Basic Data & Narrative', 'Report Budget', 'Project Activities', 'Technical Guidance', 'Guidance Report'])"
               value="Download All">
      </div>

      <br>

      <div>
        <!--Guidance Report-->
        <div class="scrollingDiv">
          <app-export-start-fund-guidance-report></app-export-start-fund-guidance-report>
        </div>

        <br>
        <br>

        <!--Technical Guidance-->
        <div class="scrollingDiv">
          <app-export-start-fund-technical-guidance></app-export-start-fund-technical-guidance>
        </div>

        <br>
        <br>

        <!--Project Activities-->
        <div class="scrollingDiv">
          <app-export-start-fund-project-activities></app-export-start-fund-project-activities>
        </div>

        <br>
        <br>

        <!--Budget Report-->
        <div class="scrollingDiv">
          <app-export-start-fund-budget-report></app-export-start-fund-budget-report>
        </div>

        <br>
        <br>

        <!--Project Report-->
        <div class="scrollingDiv">
          <app-export-start-fund-project-report></app-export-start-fund-project-report>
        </div>

        <br>
        <br>

        <!--Project Budget-->
        <div class="scrollingDiv">
          <app-export-start-fund-project-budget></app-export-start-fund-project-budget>
        </div>

        <br>
        <br>

        <!--Project Narrative-->
        <div class="scrollingDiv">
          <app-export-start-fund-project-narrative></app-export-start-fund-project-narrative>
        </div>

      </div>


    </div>
  </div>
</div>
