<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Alert-success" [hidden]="successInactive">
  {{successMessage | translate}}
</div>

<div class="Alert-error" [hidden]="errorInactive">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"GLOBAL.ACCOUNT_SETTINGS.TITLE" | translate}}</h1>
    </div>

    <ul class="section-nav">
      <li class="section-nav__item active"><a [routerLink]="['/agency-admin/agency-account-settings']">{{"GLOBAL.ACCOUNT_SETTINGS.PROFILE"
        | translate}}</a></li>
      <li class="section-nav__item"><a [routerLink]="['/agency-admin/agency-account-settings/agency-change-password']">{{"GLOBAL.ACCOUNT_SETTINGS.PASSWORD"
        | translate}}</a></li>
    </ul>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Title">{{"GLOBAL.TITLE" | translate}}</label>

          <select name="Title" id="Title" class="form-control" [(ngModel)]="agencyAdminTitle">
            <option *ngFor="let title of personTitleList" [ngValue]="title">{{PersonTitle[title] | translate}}</option>
          </select>

        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group" [ngClass]="{'has-danger': alerts[agencyAdminFirstName]}">
          <label for="f-Name">{{"GLOBAL.USER_INFO.FIRST_NAME" | translate}}*</label>
          <input type="text" class="form-control" id="f-Name" [(ngModel)]="agencyAdminFirstName">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group" [ngClass]="{'has-danger': alerts[agencyAdminLastName]}">
          <label for="l-Name">{{"GLOBAL.USER_INFO.LAST_NAME" | translate}}*</label>
          <input type="text" class="form-control" id="l-Name" [(ngModel)]="agencyAdminLastName">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group" [ngClass]="{'has-danger': alerts[agencyAdminEmail]}">
          <label for="Email">{{"GLOBAL.USER_INFO.EMAIL" | translate}}*</label>
          <input type="text" class="form-control" id="Email" [(ngModel)]="agencyAdminEmail">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="AddressLine1">Address Line 1</label>
          <input type="text" class="form-control" id="AddressLine1" placeholder="Optional" [(ngModel)]="agencyAdminAddressLine1">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="AddressLine2">Address Line 2</label>
          <input type="text" class="form-control" id="AddressLine2" placeholder="Optional" [(ngModel)]="agencyAdminAddressLine2">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="AddressLine3">Address Line 3</label>
          <input type="text" class="form-control" id="AddressLine3" placeholder="Optional" [(ngModel)]="agencyAdminAddressLine3">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Country">{{"GLOBAL.USER_INFO.COUNTRY" | translate}}</label>

          <select name="Country" id="Country" class="form-control" [(ngModel)]="agencyAdminCountry">
            <option *ngFor="let country of countriesList" [ngValue]="country">{{Country[country] | translate}}</option>
          </select>

        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="City">City</label>
          <input type="text" class="form-control" id="City" placeholder="Optional" [(ngModel)]="agencyAdminCity">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="l-Name">Postcode/Zip Code</label>
          <input type="text" class="form-control" id="p-code" placeholder="Optional" [(ngModel)]="agencyAdminPostCode">
        </div>
      </div>
    </div>
    <div class="Form-submit__wrapper">
      <div class="btn btn-primary" (click)="onSubmit()">{{"GLOBAL.ACCOUNT_SETTINGS.SAVE" | translate | uppercase}}</div>
      <div class="btn btn-outline-secondary" routerLink="/agency-admin/country-office">{{"GLOBAL.CANCEL" | translate}}
    </div>
  </div>
</div>

