<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>
<app-status-alert [message]="alertMessage" [success]="alertSuccess" [(show)]="alertShow" (onAlertHidden)="onAlertHidden($event)"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">

		<app-settings-menu></app-settings-menu>

        <div class="Sub-header-title__wrap">
          <h2>{{"COUNTRY_ADMIN.SETTINGS.MODULES.TITLE_TEXT" | translate}}</h2>
          <button type="button" class="btn btn-primary Inline-editable--enable" (click)="saveChanges()">{{"COUNTRY_ADMIN.SETTINGS.MODULES.SAVE_MODULES" | translate}}</button>
          <button type="button" class="btn btn-primary btn-ghost Inline-editable--enable" (click)="cancelChanges()">{{"GLOBAL.CANCEL" | translate}}</button>
        </div>
        <div class="row Small-spaced align-items-center Header">
            <div class="col-lg-4 col-md-4 col-sm-12">{{"COUNTRY_ADMIN.SETTINGS.MODULES.MODULE" | translate}}</div>
            <div class="col-lg-5 col-md-5 col-sm-7">{{"COUNTRY_ADMIN.SETTINGS.MODULES.PRIVACY_SETTINGS" | translate}}</div>
            <!--tooltip-->
            <tooltip
            [level1]="{{TOOLTIPS.COUNTRY_ADMIN.TT8.LEVEL1}}">
            </tooltip>
            <div class="col-lg-3 col-md-3 col-sm-6">{{"COUNTRY_ADMIN.SETTINGS.MODULES.STATUS" | translate}}</div>
        </div>
        <template ngFor let-module [ngForOf]="modules" let-moduleIdx="index">
            <div class="row Line-row Small-spaced align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-12">{{MODULE_NAME[moduleIdx] | translate}}</div>
                <div class="col-lg-5 col-md-5 col-sm-7">
                    <label for=""><div class="btn " [ngClass]="{'btn-primary': module.privacy == Public, 'btn-outline-primary': module.privacy != Public}" (click)="changePrivacy(moduleIdx, Public)">{{"GLOBAL.PUBLIC" | translate}}</div></label>
                    <label for=""><div class="btn " [ngClass]="{'btn-primary': module.privacy == Private, 'btn-outline-primary': module.privacy != Private}" (click)="changePrivacy(moduleIdx, Private)">{{"GLOBAL.PRIVATE" | translate}}</div></label>
                    <label for=""><div class="btn " [ngClass]="{'btn-primary': module.privacy == Network, 'btn-outline-primary': module.privacy != Network}" (click)="changePrivacy(moduleIdx, Network)">{{"GLOBAL.NETWORK" | translate}}</div></label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="row">
                    <div class="col-md-6" *ngIf="listOfEnabledEnableButtons.get(moduleIdx)">
                      <div class="btn disabled" [ngClass]="{'btn-success': module.status == true, 'btn-outline-success': module.status == false}" (click)="showAlert()">{{"GLOBAL.ENABLED" | translate}}</div>
                    </div>
                    <div class="col-md-6" *ngIf="!listOfEnabledEnableButtons.get(moduleIdx)">
                      <div class="btn" [ngClass]="{'btn-success': module.status == true, 'btn-outline-success': module.status == false}" (click)="changeStatus(moduleIdx, true)">{{"GLOBAL.ENABLED" | translate}}</div>
                    </div>
                    <div class="col-md-6">
                      <div class="btn" [ngClass]="{'btn-danger': module.status == false, 'btn-outline-danger': module.status == true}" (click)="changeStatus(moduleIdx, false)">{{"GLOBAL.DISABLED" | translate}}</div>
                    </div>
                  </div>
                </div>
            </div>
        </template>
    </div>
</div>
