<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
    <template [ngIf]="saved">
        <div class="Notification-success">Module Settings succesfully saved!</div>
    </template>
    
		<app-settings-menu></app-settings-menu>

        <div class="Sub-header-title__wrap">
            <h2>Module Settings</h2>
            <button type="button" class="btn btn-primary btn-ghost Inline-editable--enable" (click)="cancelChanges()">Cancel</button>
            <button type="button" class="btn btn-primary Inline-editable--enable" (click)="saveChanges()">Save Module Settings</button>
        </div>
        <div class="row Small-spaced align-items-center Header">
            <div class="col-lg-4 col-md-4 col-sm-12">Module</div>
            <div class="col-lg-5 col-md-5 col-sm-7">Privacy Settings</div>
            <div class="col-lg-3 col-md-3 col-sm-6">Status</div>
        </div>
        <template ngFor let-module [ngForOf]="modules" let-moduleIdx="index">
            <div class="row Line-row Small-spaced align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-12">{{MODULE_NAME[moduleIdx] | translate}}</div>
                <div class="col-lg-5 col-md-5 col-sm-7">
                    <label for=""><div class="btn " [ngClass]="{'btn-primary': module.privacy == Public, 'btn-outline-primary': module.privacy != Public}" (click)="changePrivacy(moduleIdx, Public)">Public</div></label>
                    <label for=""><div class="btn " [ngClass]="{'btn-primary': module.privacy == Private, 'btn-outline-primary': module.privacy != Private}" (click)="changePrivacy(moduleIdx, Private)">Private</div></label>
                    <label for=""><div class="btn " [ngClass]="{'btn-primary': module.privacy == Network, 'btn-outline-primary': module.privacy != Network}" (click)="changePrivacy(moduleIdx, Network)">Network</div></label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="btn " [ngClass]="{'btn-success': module.status == true, 'btn-outline-success': module.status == false}" (click)="changeStatus(moduleIdx, true)">Enabled</div>
                    <div class="btn " [ngClass]="{'btn-danger': module.status == false, 'btn-outline-danger': module.status == true}" (click)="changeStatus(moduleIdx, false)">Disabled</div>
                </div>
            </div>
        </template>
    </div>
</div>
