<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">

		<app-settings-menu></app-settings-menu>

        <div class="Sub-header-title__wrap">
            <h2>Module Settings</h2>
            <button type="button" class="btn btn-primary btn-ghost Inline-editable--enable">Cancel</button> 
            <button type="button" class="btn btn-primary Inline-editable--enable">Save Module Settings</button>  
        </div>
        <div class="row Small-spaced align-items-center Header">
            <div class="col-lg-4 col-md-4 col-sm-12">Module</div>
            <div class="col-lg-5 col-md-5 col-sm-7">Privacy Settings</div>
            <div class="col-lg-3 col-md-3 col-sm-6">Status</div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">Minimum preparedness actions</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-primary">Public</div></label><label for=""><div class="btn btn-outline-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-success">Enabled</div><div class="btn btn-outline-danger">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">Advanced preparedness actions</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-primary">Public</div></label><label for=""><div class="btn btn-outline-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-success">Enabled</div><div class="btn btn-outline-danger">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">CHS preparedness actions</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-primary">Public</div></label><label for=""><div class="btn btn-outline-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-success">Enabled</div><div class="btn btn-outline-danger">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">Hazard Prioritisation</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-primary">Public</div></label><label for=""><div class="btn btn-outline-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-success">Enabled</div><div class="btn btn-outline-danger">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">Preparedness Budget</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-primary">Public</div></label><label for=""><div class="btn btn-outline-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-success">Enabled</div><div class="btn btn-outline-danger">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">Seasonal Calendar</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-primary">Public</div></label><label for=""><div class="btn btn-outline-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-success">Enabled</div><div class="btn btn-outline-danger">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">Hazard Indicator</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-primary">Public</div></label><label for=""><div class="btn btn-outline-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-success">Enabled</div><div class="btn btn-outline-danger">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">Country Office Profile</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-outline-primary">Public</div></label><label for=""><div class="btn btn-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-success">Enabled</div><div class="btn btn-outline-danger">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">Response Planning</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-primary">Public</div></label><label for=""><div class="btn btn-outline-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-success">Enabled</div><div class="btn btn-outline-danger">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">Global Maps</div>
            <div class="col-lg-5 col-md-5 col-sm-7"><label for=""><div class="btn btn-primary">Public</div></label><label for=""><div class="btn btn-outline-primary">Private</div></label><label for=""><div class="btn btn-outline-primary">Network</div></label></div>
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="btn btn-outline-success">Enabled</div><div class="btn btn-danger">Disabled</div></div>
        </div>
    </div>
</div>