<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Header-title__wrap">
      <h1>{{"NETWORK_OFFICE_SETTINGS" | translate}}</h1>
    </div>
    <!-- Set the active item -->

    <ul class="section-nav">
      <li class="section-nav__item" routerLinkActive="active">
        <a routerLink="/network-country/network-country-settings/network-country-modules">{{"COUNTRY_ADMIN.SETTINGS.MENU.MODULES"
          | translate}}</a>
      </li>
      <li class="section-nav__item" routerLinkActive="active">
        <a routerLink="/network-country/network-country-settings/network-country-clocks">{{"GLOBAL.CLOCK_SETTINGS" |
          translate}}</a>
      </li>
    </ul>

  </div>
</div>
