<div class="row align-items-center Filter-form Spaced">
    <div class="col-lg-1 col-md-2 col-sm-6">
        {{"COUNTRY_ADMIN.VIEW_MY_AGENCY.SORT_BY" | translate}}:
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <select class="form-control" (change)="filterAlertLevel($event)">
            <option value="all" selected>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.ALL_ALERT_LEVEL" | translate}}</option>
            <option *ngFor="let alertLevelKey of alertLevelsList" [value]="alertLevelKey">{{alertLevels[alertLevelKey] | translate}}</option>
        </select>
    </div>
</div>

<div class="Ribbon__section__wrap Spaced" *ngIf="filteredCountryOfficeData && filteredCountryOfficeData.length > 0">
    <div class="Accordion Preparedness__agency-list" *ngFor="let countryData of filteredCountryOfficeData">
            <div class="row" (click)="overviewCountry(countryData.$key)">
            <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right" *ngIf="!_agencies">
            <div class="Icon--md Icon--align-center Icon__country" [style.background-image]="getBackground(countryData.location)"></div>
                <span>{{countries[countryData.location] | translate}}</span>
            </div>
            <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right" *ngIf="_agencies">
                <div class="Agency-logo--no-border Agency-logo--md Icon--align-center"
                    [ngStyle]="_agencies && _agencies[countryData.countryId]?.logoPath ? { 'background-image': 'url(' + _agencies[countryData.countryId].logoPath + ')'} : { 'background-image': 'url(' + defaultAgencyLogo + ')'}"></div>
                <span>{{_agencies && _agencies[countryData.countryId]?.name}}</span>
            </div>
            <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                <div class="Icon--md Icon__circle Icon--align-center Icon--alert Icon--b-{{alertColors[countryData.alertLevel] ? alertColors[countryData.alertLevel] : 'red'}}"></div><span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.ALERT_LEVEL" | translate}}</span>
            </div>
            <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                <div class="Icon">
                    <div class="Icon__circle Icon--align-center Icon--blue Icon--md">{{countResponsePlans[countryData.$key] ? countResponsePlans[countryData.$key] : 0}}</div>
                </div>
                <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.RESPONSE_PLANS" | translate}}</span>
            </div>
            <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                <div class="Icon">
                    <div class="Icon__circle Icon--align-center Icon--b-{{mpaStatusColors[countryData.$key]}} Icon--md"><i class="fa {{mpaStatusIcons[countryData.$key]}} fa-inverse fa-2x" aria-hidden="true"></i></div>
                </div>
                <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.MPA" | translate}}</span>
            </div>
            <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                <div class="Icon">
                    <div class="Icon__circle Icon--align-center Icon--b-{{advStatusColors[countryData.$key]}} Icon--md">
                        <i class="fa {{advStatusIcons[countryData.$key]}} fa-inverse fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
                <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.APA" | translate}}</span>
            </div>
            <div class="col-sm-2 col-6 Preparedness__agency-list__item">
                <div class="Icon">
                    <div class="Icon__circle Icon--align-center Icon--blue Icon--md">{{percentageCHS[countryData.$key]}}%</div>
                </div>
                <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.CHS" | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="Ribbon__section__wrap Spaced Empty--ribbon" *ngIf="!filteredCountryOfficeData || !filteredCountryOfficeData.length">
    <p *ngIf="filter != 'all'" style="text-align:center;">{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.NO_COUNTRIES_BY" | translate}} {{alertLevels[filter] | translate}}</p>
    <p *ngIf="filter == 'all'" style="text-align:center;">{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.NO_COUNTRIES" | translate}}</p>
</div>
