<div class="row align-items-center Filter-form Spaced">
  <div class="col-lg-1 col-md-2 col-sm-6">
    {{"COUNTRY_ADMIN.VIEW_MY_AGENCY.SORT_BY" | translate}}:
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <select class="form-control" (change)="filterAlertLevel($event)">
      <option value="all" selected>{{"GLOBAL.ALERT_LEVELS.ALL" | translate}}</option>
      <option *ngFor="let alertLevelKey of alertLevelsList" [value]="alertLevelKey">{{alertLevels[alertLevelKey] |
        translate}}
      </option>
    </select>
  </div>
</div>

<h4>Country Offices</h4>

<div class="Ribbon__section__wrap Spaced" *ngIf="filteredCountryOfficeData && filteredCountryOfficeData.length > 0">
  <div class="Accordion Preparedness__agency-list" *ngFor="let countryData of filteredCountryOfficeData">
    <div class="row" (click)="overviewCountry(countryData.$key, countryData.agencyId)">
      <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right" *ngIf="!_agencies">
        <div class="Icon--md Icon--align-center Icon__country"
             [style.background-image]="getBackground(countryData.location)"></div>
        <span>{{countries[countryData.location] | translate}}</span>
      </div>
      <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right" *ngIf="_agencies">
        <div class="Agency-logo--no-border Agency-logo--md Icon--align-center"
             [ngStyle]="_agencies && _agencies[countryData.countryId]?.logoPath ? { 'background-image': 'url(' + _agencies[countryData.countryId].logoPath + ')'} : { 'background-image': 'url(' + defaultAgencyLogo + ')'}"></div>
        <span>{{_agencies && _agencies[countryData.countryId]?.name}}</span>
      </div>
      <div class="col-sm-2 col-6 Preparedness__agency-list__item">
        <div
          class="Icon--md Icon__circle Icon--align-center Icon--alert Icon--b-{{alertColors[countryData.alertLevel] ? alertColors[countryData.alertLevel] : 'green'}}"></div>
        <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.ALERT_LEVEL" | translate}}</span>
      </div>
      <div class="col-sm-2 col-6 Preparedness__agency-list__item">
        <div class="Icon">
          <div
            class="Icon__circle Icon--align-center Icon--{{userAgencyId==countryData.agencyId ? 'blue' : getIcon('plan', countryData.agencyId, countryData.countryId)}} Icon--md">
            {{userAgencyId==countryData.agencyId ? (countResponsePlans[countryData.$key] ?
            countResponsePlans[countryData.$key] : 0) : (privacyMapCountry.get(countryData.countryId)?.responsePlan ==
            Privacy.Public ? (countResponsePlans[countryData.$key] ? countResponsePlans[countryData.$key] : 0) :
            'N/A')}}
          </div>
        </div>
        <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.RESPONSE_PLANS" | translate}}</span>
      </div>
      <div class="col-sm-2 col-6 Preparedness__agency-list__item">
        <div class="Icon">
          <div
            class="Icon__circle Icon--align-center Icon--b-{{userAgencyId==countryData.agencyId ? mpaStatusColors[countryData.$key] : getActionIcon(true, countryData.agencyId, countryData.countryId, mpaStatusColors[countryData.$key])}} Icon--md">
            <i
              class="fa {{mpaStatusIcons[countryData.$key]}} fa-inverse fa-2x" aria-hidden="true"></i></div>
        </div>
        <span>{{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}}</span>
      </div>
      <div class="col-sm-2 col-6 Preparedness__agency-list__item">
        <div class="Icon">
          <div
            class="Icon__circle Icon--align-center Icon--b-{{userAgencyId==countryData.agencyId ? advStatusColors[countryData.$key] : getActionIcon(false, countryData.agencyId, countryData.countryId, advStatusColors[countryData.$key])}} Icon--md">
            <i class="fa {{advStatusIcons[countryData.$key]}} fa-inverse fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        <span>{{"ADVANCED_PREPAREDNESS" | translate}}</span>
      </div>
      <div class="col-sm-2 col-6 Preparedness__agency-list__item">
        <div class="Icon">
          <div
            class="Icon__circle Icon--align-center Icon--{{userAgencyId==countryData.agencyId ? 'blue' : getIcon('chs', countryData.agencyId, countryData.countryId)}} Icon--md">
            {{userAgencyId==countryData.agencyId ? (percentageCHS[countryData.$key] ? percentageCHS[countryData.$key] +
            '%' : '0%') : (privacyMapCountry.get(countryData.countryId)?.chs == Privacy.Public ?
            percentageCHS[countryData.$key] + '%' : 'N/A')}}
          </div>
        </div>
        <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.CHS" | translate}}</span>
      </div>
    </div>
  </div>
</div>

<div class="Ribbon__section__wrap Spaced Empty--ribbon"
     *ngIf="!filteredCountryOfficeData || filteredCountryOfficeData.length===0">
  <p *ngIf="filter != 'all'" style="text-align:center;">{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.NO_COUNTRIES_BY" | translate}}
    {{alertLevels[filter] | translate}}</p>
  <p *ngIf="filter == 'all'" style="text-align:center;">{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.NO_COUNTRIES" | translate}}</p>
</div>

<ng-container *ngIf="!_agencyId">
  <h4 *ngIf="agencyOverview">Networks</h4>
  <h4 *ngIf="!agencyOverview">Network Countries</h4>

  <div class="Ribbon__section__wrap Spaced" *ngIf="filteredNetworkCountryData && filteredNetworkCountryData.length > 0">
    <div class="Accordion Preparedness__agency-list" *ngFor="let networkCountryData of filteredNetworkCountryData">
      <div class="row"
           (click)="overviewNetworkCountry(networkCountryData.id ? networkCountryData.id : networkCountryData.$key, networkCountryData.networkId ? networkCountryData.networkId : networkCountryData.globalNetworkId)">
        <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right" *ngIf="!_globalNetworks">
          <div class="Icon--md Icon--align-center Icon__country"
               [style.background-image]="getBackground(networkCountryData.location)"></div>
          <span>{{countries[networkCountryData.location] | translate}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right" *ngIf="_globalNetworks">
          <div class="Agency-logo--no-border Agency-logo--md Icon--align-center"
               [ngStyle]="_globalNetworks && _globalNetworks[networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId]?.logoPath ? { 'background-image': 'url(' + _globalNetworks[networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId].logoPath + ')'} : { 'background-image': 'url(' + defaultAgencyLogo + ')'}"></div>
          <span>{{_globalNetworks && _globalNetworks[networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId]?.name}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div
            class="Icon--md Icon__circle Icon--align-center Icon--alert Icon--b-{{alertColors[networkCountryData.alertLevel] ? alertColors[networkCountryData.alertLevel] : 'green'}}"></div>
          <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.ALERT_LEVEL" | translate}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div class="Icon">
            <div
              class="Icon__circle Icon--align-center Icon--{{userAgencyId==networkCountryData.globalNetworkId ? 'blue' : getIconNetwork('plan', networkCountryData.networkId ? networkCountryData.networkId : networkCountryData.globalNetworkId, networkCountryData.id ? networkCountryData.id :  networkCountryData.networkCountryId)}} Icon--md">
              {{(privacyMapNetworkCountry?.get(networkCountryData.id ? networkCountryData.id :
              networkCountryData.$key)?.responsePlan === Privacy.Public ||
              (privacyMapNetworkCountry?.get(networkCountryData.id ? networkCountryData.id :
              networkCountryData.$key)?.responsePlan === Privacy.Network &&
              withinNetworkMap?.get(networkCountryData.id ? networkCountryData.id : networkCountryData.$key))) ?
              countResponsePlans[networkCountryData.id ? networkCountryData.id : networkCountryData.$key] ?
              countResponsePlans[networkCountryData.id ? networkCountryData.id : networkCountryData.$key] : 0 : 'N/A'}}
            </div>
          </div>
          <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.RESPONSE_PLANS" | translate}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div class="Icon">
            <div
              class="Icon__circle Icon--align-center Icon--b-{{getActionIconNetwork(true, (networkCountryData.networkId ? networkCountryData.networkId : networkCountryData.globalNetworkId), (networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId), mpaStatusColors[networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId])}} Icon--md">
              <i
                class="fa {{mpaStatusIcons[networkCountryData.id ? networkCountryData.id : networkCountryData.$key]}} fa-inverse fa-2x"
                aria-hidden="true"></i></div>
          </div>
          <span>{{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div class="Icon">
            <div
              class="Icon__circle Icon--align-center Icon--b-{{getActionIconNetwork(false, (networkCountryData.networkId ? networkCountryData.networkId : networkCountryData.globalNetworkId), (networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId), advStatusColors[networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId])}} Icon--md">
              <i
                class="fa {{advStatusIcons[networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId]}} fa-inverse fa-2x"
                aria-hidden="true"></i>
            </div>
          </div>
          <span>{{"ADVANCED_PREPAREDNESS" | translate}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div class="Icon">
            <div
              class="Icon__circle Icon--align-center Icon--{{getIconNetwork('chs', (networkCountryData.networkId ? networkCountryData.networkId : networkCountryData.globalNetworkId), (networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId))}} Icon--md">
              {{userAgencyId==networkCountryData.globalNetworkId ? (percentageCHS[networkCountryData.id ?
              networkCountryData.id : networkCountryData.$key] ? percentageCHS[networkCountryData.id ?
              networkCountryData.id : networkCountryData.$key] + '%' : '0%') : 'N/A'}}
            </div>
          </div>
          <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.CHS" | translate}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="Ribbon__section__wrap Spaced" *ngIf="filteredLocalNetworkData && filteredLocalNetworkData.length > 0">
    <div class="Accordion Preparedness__agency-list" *ngFor="let networkCountryData of filteredLocalNetworkData">
      <div class="row"
           (click)="overviewLocalNetwork(networkCountryData.networkId)">
        <!--<div class="col-sm-2 col-6 Preparedness__agency-list__item border-right" *ngIf="!_globalNetworks">-->
          <!--<div class="Icon&#45;&#45;md Icon&#45;&#45;align-center Icon__country"-->
               <!--[style.background-image]="getBackground(networkCountryData.countryCode)"></div>-->
          <!--<span>{{countries[networkCountryData.countryCode] | translate}}</span>-->
        <!--</div>-->
        <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right" *ngIf="_globalNetworks">
          <div class="Agency-logo--no-border Agency-logo--md Icon--align-center"
               [ngStyle]="_globalNetworks && _globalNetworks[networkCountryData.networkId]?.logoPath ? { 'background-image': 'url(' + _globalNetworks[networkCountryData.networkId].logoPath + ')'} : { 'background-image': 'url(' + defaultAgencyLogo + ')'}"></div>
          <span>{{_globalNetworks && _globalNetworks[networkCountryData.networkId]?.name}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div
            class="Icon--md Icon__circle Icon--align-center Icon--alert Icon--b-{{alertColors[networkCountryData.alertLevel] ? alertColors[networkCountryData.alertLevel] : 'green'}}"></div>
          <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.ALERT_LEVEL" | translate}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div class="Icon">
            <div
              class="Icon__circle Icon--align-center Icon--{{userAgencyId==networkCountryData.globalNetworkId ? 'blue' : getIconLocalNetwork('plan', networkCountryData.networkId)}} Icon--md">
              {{(privacyMapNetworkCountry?.get(networkCountryData.networkId)?.responsePlan === Privacy.Public ||
              (privacyMapNetworkCountry?.get(networkCountryData.networkId)?.responsePlan === Privacy.Network &&
              withinNetworkMap?.get(networkCountryData.networkId))) ?
              countResponsePlans[networkCountryData.networkId] ?
              countResponsePlans[networkCountryData.networkId] : 0 : 'N/A'}}
            </div>
          </div>
          <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.RESPONSE_PLANS" | translate}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div class="Icon">
            <div
              class="Icon__circle Icon--align-center Icon--b-{{getActionIconLocalNetwork(true, networkCountryData.networkId, mpaStatusColors[networkCountryData.networkId])}} Icon--md">
              <i
                class="fa {{mpaStatusIcons[networkCountryData.networkId]}} fa-inverse fa-2x"
                aria-hidden="true"></i></div>
          </div>
          <span>{{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div class="Icon">
            <div
              class="Icon__circle Icon--align-center Icon--b-{{getActionIconLocalNetwork(false, networkCountryData.networkId, advStatusColors[networkCountryData.networkId])}} Icon--md">
              <i
                class="fa {{advStatusIcons[networkCountryData.networkId]}} fa-inverse fa-2x"
                aria-hidden="true"></i>
            </div>
          </div>
          <span>{{"ADVANCED_PREPAREDNESS" | translate}}</span>
        </div>
        <div class="col-sm-2 col-6 Preparedness__agency-list__item">
          <div class="Icon">
            <div
              class="Icon__circle Icon--align-center Icon--{{getIconNetwork('chs', (networkCountryData.networkId ? networkCountryData.networkId : networkCountryData.globalNetworkId), (networkCountryData.id ? networkCountryData.id : networkCountryData.networkCountryId))}} Icon--md">
              {{userAgencyId==networkCountryData.globalNetworkId ? (percentageCHS[networkCountryData.id ?
              networkCountryData.id : networkCountryData.$key] ? percentageCHS[networkCountryData.id ?
              networkCountryData.id : networkCountryData.$key] + '%' : '0%') : 'N/A'}}
            </div>
          </div>
          <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.CHS" | translate}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="Ribbon__section__wrap Spaced Empty--ribbon"
       *ngIf="(!filteredNetworkCountryData || filteredNetworkCountryData.length === 0) && (!filteredLocalNetworkData || filteredLocalNetworkData.length === 0)">
    <p *ngIf="filter != 'all'" style="text-align:center;">{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.NO_COUNTRIES_BY" | translate}}
      {{alertLevels[filter] | translate}}</p>
    <p *ngIf="filter == 'all'" style="text-align:center;">{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.NO_COUNTRIES" |
      translate}}</p>
  </div>
</ng-container>


