<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
        <div class="Header-title__wrap--risk">
            <h1>Risk Monitoring</h1>
            <div class="btn btn-tertiary" routerLink="/risk-monitoring/create-alert">Create an alert</div>
            <a routerLink="/risk-monitoring/add-hazard" class="btn btn-primary">ADD NEW HAZARD</a>
        </div>

        <div class="Ribbon__section__wrap--risk Spaced">

        </div>

        <div class="Accordion__Content collapse" id="collapseThree">

            <div class="Accordion Plans-list">
                <div class="row align-items-center Plans-list__item">
                    <div class="col-md-2 col-sm-2 Plans-list__item--type">Typhoon</div>
                    <div class="col-md-3 col-sm-3">Rapid response health, shelter and cash project to 6,000 typhoon…</div>
                    <div class="col-md-3 col-sm-2 Plans-list__item--status">
                        <a href="#" class=" text-muted" data-toggle="collapse" data-target="#ribbon6" aria-expanded="false" aria-controls="popover_content">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                            </span> 
                            Archived
                        </a>

                        <div id="ribbon6" class="Popover__ribbon prevent_parent_collapse collapse col-md-5 Popover__ribbon--b-white Popover__ribbon--float">

                        </div>

                    </div>
                    <div class="col-md-1 col-sm-2 Plans-list__item--progress"><div>70%</div>01/01/2017</div>
                    <div class="col-sm-3">

                        <a href="#" class="btn btn-block text-muted btn-outline-secondary">Re-activate</a>

                    </div>
                </div>
            </div>

        </div>

        <!--Expand All / Collapse All -->
        <div class="expand_collapse__wrap--risk Right-aligned"><a href="#">Expand All</a><a href="#">Collapse All</a></div>

        <!--Risk monitoring row-->
        <div class="Ribbon__section__wrap--risk Spaced align-items-right">
            <div class="Accordion--risk Map-list" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4"><div class="risk-icon__components"><img src="assets/images/risks/context.svg"></div><h4>Country Context</h4></div>
                    <div class="indicators__wrap--risk col-md-7 col-lg-6 col-sm-5 Right-aligned"><strong>4</strong> Indicators</div>
                    <div class="col-md-1 col-lg-1 col-sm-1 Icon--align-center"><i class="fa fa-caret-up text-primary" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="Sub-header-title__wrap--risk">
                <div class="sub-sub-contents__wrap--risk col-lg-11 col-md-11 col-sm-11">
                    <a href="#">Archive</a><a href="#">Copy</a><a href="#">Delete</a>
                    <a href="#" class="btn btn-primary pull-right" routerLink="/risk-monitoring/add-indicator">Add new indicator</a>
                </div>
            </div>
            <!--Trends in malnutrition-->
            <div class="edit__wrap--risk row Small-spaced align-items-center Header">
                <div class="col-lg-4 col-md-4 col-sm-12">Trends in malnutrition rate | National<a href="#">Edit</a></div>
            </div>
            <div class="row_expanded__wrap--risk row Line-row--risk Small-spaced align-items-center">
                <div class=""><div class="btn btn-primary">Average or failing</div><p class="low_risk_text__wrap--risk-left-green low">Check every 6 months</p> <div class="btn btn-ghost">Increasing</div> <div class="btn btn-ghost">High</div> </div>
                <div class="mid-col__wrap--risk col-lg-3 col-md-5 col-sm-7 Right-aligned"><img src="assets/images/icons/info_source.svg"><div class="log_bubble"><img src="assets/images/icons/log_bubble.svg"><p>2</p></div><div class="info-log-text__wrap--risk"><p>Info sources</p><p class="Flex-right">Log</p></div></div>
                <div class="end-col__wrap--risk col-lg-3 col-md-3 col-sm-6"><div class="col-lg-12 col-md-12 col-sm-12 btn btn-tertiary">Update</div><p>Last update: <strong>01 March 2016</strong> </p><p>Next update: <strong>16 June 2016</strong></p></div>
            </div>

            <!--Access to grain-->
            <div class="edit__wrap--risk row Small-spaced align-items-center Header">
                <div class="col-lg-4 col-md-4 col-sm-12">Access to grain in the market | National<a href="#">Edit</a></div>
            </div>
            <div class="row_expanded__wrap--risk row Line-row--risk Small-spaced align-items-center">
                <div class=""><div class="btn btn-ghost">Average or increasing<br></div> <div class="btn btn-amber">Decreasing Potential negative impacts</div> <p class="low_risk_text__wrap--risk-middle-amber low">Check every 1 month</p>  <div class="btn btn-ghost">Low with prevailing negative impacts</div></div>
                <div class="mid-col__wrap--risk col-lg-3 col-md-5 col-sm-7 Right-aligned"><img src="assets/images/icons/info_source.svg"><div class="log_bubble"><img src="assets/images/icons/log_bubble.svg"><p>2</p></div><div class="info-log-text__wrap--risk"><p>Info sources</p><p class="Flex-right">Log</p></div></div>
                <div class="end-col__wrap--risk col-lg-3 col-md-3 col-sm-6"><div class="col-lg-12 col-md-12 col-sm-12 btn btn-tertiary">Update</div><p>Last update: <strong>01 March 2016</strong> </p><p>Next update: <strong>16 June 2016</strong></p></div>
            </div>
            <!--Change in crop harvest-->
            <div class="edit__wrap--risk row Small-spaced align-items-center Header">
                <div class="col-lg-4 col-md-4 col-sm-12">Change in crop harvest in comparison to normal year | National<a href="#">Edit</a></div>
            </div>
            <div class="row_expanded__wrap--risk row Line-row--risk Small-spaced align-items-center">
                <div class=""><div class="btn btn-primary">Average for a normal year</div><p class="low_risk_text__wrap--risk-left-green low">Check every 3 months</p> <div class="btn btn-ghost">30% less than normal year</div> <div class="btn btn-ghost">60% less than normal year</div> </div>
                <div class="mid-col__wrap--risk col-lg-3 col-md-5 col-sm-7 Right-aligned"><img src="assets/images/icons/info_source.svg"><div class="log_bubble"><img src="assets/images/icons/log_bubble.svg"><p>2</p></div><div class="info-log-text__wrap--risk"><p>Info sources</p><p class="Flex-right">Log</p></div></div>
                <div class="end-col__wrap--risk col-lg-3 col-md-3 col-sm-6"><div class="col-lg-12 col-md-12 col-sm-12 btn btn-tertiary">Update</div><p>Last update: <strong>01 March 2016</strong> </p><p>Next update: <strong>16 June 2016</strong></p></div>
            </div>
            <!--Internal or Cross border displacements-->
            <div class="edit__wrap--risk row Small-spaced align-items-center Header">
                <div class="col-lg-4 col-md-4 col-sm-12">Internal or cross-border displacements, refugee or returnee influx | National<a href="#">Edit</a></div>
            </div>
            <div class="row_expanded__wrap--risk row Line-row--risk Small-spaced align-items-center">
                <div class=""><div class="btn btn-primary">No significant challenges, manageable risks</div><p class="low_risk_text__wrap--risk-left-green low">Check every 1 month</p> <div class="btn btn-ghost">Potential challenges & risks</div> <div class="btn btn-ghost">Very significant challenges & risks</div> </div>
                <div class="mid-col__wrap--risk col-lg-3 col-md-5 col-sm-7 Right-aligned"><img src="assets/images/icons/info_source.svg"><div class="log_bubble"><img src="assets/images/icons/log_bubble.svg"><p>20</p></div><div class="info-log-text__wrap--risk"><p>Info sources</p><p class="Flex-right">Log</p></div></div>
                <div class="end-col__wrap--risk col-lg-3 col-md-3 col-sm-6"><div class="col-lg-12 col-md-12 col-sm-12 btn btn-tertiary">Update</div><p>Last update: <strong>01 March 2016</strong> </p><p>Next update: <strong>16 June 2016</strong></p></div>
            </div>
        </div>

        <div class="Ribbon__section__wrap--risk Spaced align-items-right">
            <div class="Accordion--risk Map-list" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4"><div class="risk-icon__components"><img src="assets/images/risks/typhoon.svg"></div><h4>Typhoon</h4></div>
                    <div class="indicators__wrap--risk  col-md-3 col-lg-3 col-sm-3 Right-aligned"><img src="assets/images/icons/calendar.svg"> Seasonal hazard</div>
                    <div class="indicators__wrap--risk col-md-3 col-lg-3 col-sm-3 Right-aligned"><strong>3</strong> Indicators</div>
                    <div class="col-md-1 col-lg-1 col-sm-1 Icon--align-center"><i class="fa fa-caret-down text-primary" aria-hidden="true"></i></div>
                </div>
            </div>

            <div class="Ribbon__section__wrap--risk Spaced align-items-right">
                <div class="Accordion--risk Map-list" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4"><div class="risk-icon__components"><img src="assets/images/risks/flood.svg"></div><h4>Floods</h4></div>
                        <div class="indicators__wrap--risk  col-md-3 col-lg-3 col-sm-3 Right-aligned"><img src="assets/images/icons/calendar.svg"> Seasonal hazard</div>
                        <div class="indicators__wrap--risk col-md-3 col-lg-3 col-sm-3 Right-aligned"><strong>3</strong> Indicators</div>
                        <div class="col-md-1 col-lg-1 col-sm-1 Icon--align-center"><i class="fa fa-caret-down text-primary" aria-hidden="true"></i></div>
                    </div>
                </div>

                <div class="Ribbon__section__wrap--risk Spaced align-items-right">
                    <div class="Accordion--risk Map-list" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-4"><div class="risk-icon__components"><img src="assets/images/risks/conflict.svg"></div><h4>Conflicts</h4></div>
                            <div class="indicators__wrap--risk col-md-6 col-lg-6 col-sm-7 Right-aligned"><strong>5</strong> Indicators</div>
                            <div class="col-md-1 col-lg-1 col-sm-1 Icon--align-center"><i class="fa fa-caret-down text-primary" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end #wrap -->
    </div>
</div>
