<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>Global Map</h1>
      <a (click)="goToListView()">See countries as a list</a>
      <a href="" (click)="goToListView()">See countries as a list</a>
    </div>
    <div class="Ribbon__section__wrap Spaced">

      <div id="map" class="map">

        <!--Add the map here-->

      </div>

    </div>
  </div>
</div>
