{% extends "default.html" %} <!--Our page template-->
{% set title = "Home" %} <!--Set our page title-->
{% block header %}
<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    {% include "parts/navbar.html"%}
  </div>
</div>
<div class="Sub-header_bar">
  {% include "parts/Subnav__system-admin.html"%}
</div>
{% endblock %}


{% block content %} <!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">


    <div class="Header-title__wrap">
      <h1>Agency Settings</h1>
    </div>


    {# {% include "parts/Bordered-subnav.html"%} #}


    <div class="Sub-header-title__wrap">
      <h2>Default Notification settings</h2>
      <button type="button" class="btn btn-outline-primary Inline-editable--enable">Edit default notification settings</button>
    </div>


    <h3 class="System-admin__Sub-title--spaced">ERT</h3>
    <hr>
    <div class="row">
      <label for="aar"   class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="aar">Amber alert request</label>
      <label for="rar" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="rar">Red alert request</label>
      <label for="uhi" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="uhi">Update hazard indicator</label>
      <label for="mpaapad" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="mpaapad">MPA/APA due</label>
      <label for="rpe" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="rpe">Response plan expired</label>
      <label for="rpr" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="rpr">Response plan rejected</label>
    </div>

    <h3 class="System-admin__Sub-title--spaced">ERT Lead</h3>
    <hr>
    <div class="row">
      <label for="aar-1"   class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="aar-1">Amber alert request</label>
      <label for="rar-1" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="rar-1">Red alert request</label>
      <label for="uhi-1" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="uhi-1">Update hazard indicator</label>
      <label for="mpaapad-1" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="mpaapad-1">MPA/APA due</label>
      <label for="rpe-1" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="rpe-1">Response plan expired</label>
      <label for="rpr-1" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="rpr-1">Response plan rejected</label>
    </div>

    <h3 class="System-admin__Sub-title--spaced">Country Director</h3>
    <hr>
    <div class="row">
      <label for="aar"   class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="aar">Amber alert request</label>
      <label for="rar" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="rar">Red alert request</label>
      <label for="uhi" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="uhi">Update hazard indicator</label>
      <label for="mpaapad" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="mpaapad">MPA/APA due</label>
      <label for="rpe" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="rpe">Response plan expired</label>
      <label for="rpr" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox" name="Action-type" id="rpr">Response plan rejected</label>
    </div>

    <h3 class="System-admin__Sub-title--spaced">Country Administrator</h3>
    <hr>
    <div class="row">
      <label for="aar"   class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="radio" name="Action-type" id="aar">Amber alert request</label>
      <label for="rar" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="radio" name="Action-type" id="rar">Red alert request</label>
      <label for="uhi" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="radio" name="Action-type" id="uhi">Update hazard indicator</label>
      <label for="mpaapad" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="radio" name="Action-type" id="mpaapad">MPA/APA due</label>
      <label for="rpe" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="radio" name="Action-type" id="rpe">Response plan expired</label>
      <label for="rpr" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="radio" name="Action-type" id="rpr">Response plan rejected</label>
    </div>


  </div>
</div>
{% include "parts/modal.html"%}
{% endblock %} <!--End of content-->
