<table class="tg" align="center" id="tableProjectActivities">

  <tr>
    <td class="tg" colspan="4" style="width: 40%; text-align: center;">
      <h2>Start Fund</h2>
      <br>
      <h1 style="color: maroon;">Project Activties</h1>
    </td>
    <td class="tg" colspan="16"
        style="background: darkred; vertical-align: middle;color: white; text-align: left; font-weight: normal; border: 1px solid #222;">
      <p>Instructions:</p>
      <p>1. Please adjust row heights to show all entered text (on all three worksheets).</p>
      <p>2. There are strict deadlines – please submit the entire application form (Basic Data & Narrative, Activities
        and Budget worksheets) no later than the deadline set.</p>
    </td>
  </tr>
  <tr>
    <td class="tg" colspan="20"></td>
  </tr>
  <tr style="text-align: right;" colspan="17">
    <td colspan="3" class="tg" style="width: 15%; background-color: lightgrey;padding: 0; margin: 0;"><p
      style="margin-top: 4%; padding: 0 0.25em;">Return this form to </p></td>
    <td colspan="2" class="tg" style="width: 25%; text-align: center; padding: 0 0.25em;">
      <a href="mailto:startfund@savechildren.org.uk">startfund@savethechildren.org.uk</a>
    </td>
    <td colspan="3" class="tg" style="width: 30%; background-color: lightgrey;padding: 0; margin: 0;"><p
      style="margin-top: 4%; padding: 0 0.25em;">Date submitted to Start
      Team </p>
    </td>
    <td colspan="11" class="tg" style="width: 30%; padding: 0; margin: 0; text-align: center;padding-top: 1em;"><p></p>
    </td>
  </tr>

  <tr style="text-align: right;" colspan="17">
    <td colspan="3" class="tg" style="width: 15%; background-color: lightgrey;padding: 0; margin: 0;"><p style="margin-top: 4%; padding: 0 0.25em;">Project Name </p></td>
    <td colspan="2" class="tg" style="width: 25%; text-align: center; padding: 0;">{{responsePlan.name}}</td>
    <td colspan="3" class="tg" style="width: 30%; background-color: lightgrey;padding: 0; margin: 0;"><p style="margin-top: 4%; padding: 0 0.25em;">Member Agency Name </p></td>
    <td colspan="11" class="tg" style="width: 30%; padding: 0; margin: 0; text-align: center;padding-top: 1em;"><p>{{memberAgencyName}}</p></td>
  </tr>

  <tr>
    <td colspan="20"></td>
  </tr>

  <tr>
    <td colspan="20" style="background-color: darkred;"><p style="color: white; text-align: center;">Section 3:
      Activities</p></td>
  </tr>

  <tr>
    <td colspan="20"></td>
  </tr>

  <tr>
    <td colspan="7" style="text-align: center;"><p></p></td>
    <td colspan="13" style="background-color: lightgrey; text-align: center;"><p>Target Population</p></td>
  </tr>

  <tr>
    <td colspan="7"></td>
    <td colspan="4" style="background-color: lightgrey; text-align: center;"><p>Female - by age</p></td>
    <td colspan="3" style="background-color: lightgrey; text-align: center;"><p>Male - by age</p></td>
    <td colspan="6" style="background-color: lightgrey; text-align: center;"><p>Totals</p></td>
  </tr>

  <tr>
    <td style="background-color: lightgrey; text-align: center;"><p>Sector</p></td>
    <td colspan="2" style="background-color: lightgrey; text-align: center;"><p>What types of activities are
      planned?</p></td>
    <td colspan="2" style="background-color: lightgrey; text-align: center;"><p>What are the planned outputs of these
      activities?</p></td>
    <td colspan="2" style="background-color: lightgrey; text-align: center;"><p>Please provide one indicator (KPI) for
      each activity to capture the short-term or medium-term effects of your activity</p></td>
    <td colspan="2" style="background-color: lightgrey; text-align: center;"><p>Under 18</p></td>
    <td colspan="1" style="background-color: lightgrey; text-align: center;"><p>Between 18-50</p></td>
    <td colspan="1" style="background-color: lightgrey; text-align: center;"><p>Over 50</p></td>
    <td colspan="1" style="background-color: lightgrey; text-align: center;"><p>Under 18</p></td>
    <td colspan="1" style="background-color: lightgrey; text-align: center;"><p>Between 18-50</p></td>
    <td colspan="1" style="background-color: lightgrey; text-align: center;"><p>Over 50</p></td>
    <td colspan="1" style="background-color: lightgrey; text-align: center;"><p>Total female</p></td>
    <td colspan="1" style="background-color: lightgrey; text-align: center;"><p>Total male</p></td>
    <td colspan="4" style="background-color: lightgrey; text-align: center;"><p>Overall total</p></td>
  </tr>

  <tr>
    <td style="background-color: #E5E7E9; text-align: left;"><p>E.g. Camp Management</p></td>
    <td colspan="2" style="background: #E5E7E9; text-align: left;"><p>Distribution of hygiene kits</p></td>
    <td colspan="2" style="background-color: #E5E7E9; text-align: left;"><p>500 Kits distributed across 4
      communities</p></td>
    <td colspan="2" style="background-color: #E5E7E9; text-align: left;"><p>20% Change in the proportion of households
      that report having access to hygiene items in the 4 targeted communities</p></td>
    <td colspan="2" style="background-color: #E5E7E9; text-align: center;"><p>2</p></td>
    <td colspan="1" style="background-color: #E5E7E9; text-align: center;"><p>4</p></td>
    <td colspan="1" style="background-color: #E5E7E9; text-align: center;"><p>3</p></td>
    <td colspan="1" style="background-color: #E5E7E9; text-align: center;"><p>1</p></td>
    <td colspan="1" style="background-color: #E5E7E9; text-align: center;"><p>5</p></td>
    <td colspan="1" style="background-color: #E5E7E9; text-align: center;"><p>9</p></td>
    <td colspan="1" style="background-color: #E5E7E9; text-align: center;"><p>24</p></td>
    <td colspan="1" style="background-color: #E5E7E9; text-align: center;"><p>15</p></td>
    <td colspan="4" style="background-color: #E5E7E9; text-align: center;"><p>39</p></td>
  </tr>

  <ng-container *ngFor="let sector of sectors">
      <tr *ngFor="let activity of activityMap.get(sector.id)">
        <td style="background-color: #f8f8f8; text-align: left;"><p>{{SECTORS[sector.id] | translate}}</p></td>
        <td colspan="2" style="background: #f8f8f8; text-align: left;">{{activity.name}}<p></p></td>
        <td colspan="2" style="background-color: #f8f8f8; text-align: left;"><p>{{activity.output}}</p></td>
        <td colspan="2" style="background-color: #f8f8f8; text-align: left;"><p></p></td>
        <td colspan="2" style="background-color: #f8f8f8; text-align: center;"><p>{{activity.beneficiary && activity.beneficiary[0]?activity.beneficiary[0]["value"]:0}}</p></td>
        <td colspan="1" style="background-color: #f8f8f8; text-align: center;"><p>{{activity.beneficiary && activity.beneficiary[1]?activity.beneficiary[1]["value"]:0}}</p></td>
        <td colspan="1" style="background-color: #f8f8f8; text-align: center;"><p>{{activity.beneficiary && activity.beneficiary[2]?activity.beneficiary[2]["value"]:0}}</p></td>
        <td colspan="1" style="background-color: #f8f8f8; text-align: center;"><p>{{activity.beneficiary && activity.beneficiary[3]?activity.beneficiary[3]["value"]:0}}</p></td>
        <td colspan="1" style="background-color: #f8f8f8; text-align: center;"><p>{{activity.beneficiary && activity.beneficiary[4]?activity.beneficiary[4]["value"]:0}}</p></td>
        <td colspan="1" style="background-color: #f8f8f8; text-align: center;"><p>{{activity.beneficiary && activity.beneficiary[5]?activity.beneficiary[5]["value"]:0}}</p></td>
        <td colspan="1" style="background-color: #f8f8f8; text-align: center;"><p>{{getTotalFemalePopulation(activity)}}</p></td>
        <td colspan="1" style="background-color: #f8f8f8; text-align: center;"><p>{{getTotalMalePopulation(activity)}}</p></td>
        <td colspan="4" style="background-color: #f8f8f8; text-align: center;"><p>{{getOverallTotalPopulation(activity)}}</p></td>
      </tr>
  </ng-container>

  <tr>
    <td colspan="6" style="background-color: #f8f8f8; text-align: left; font-style: italic;"><p></p></td>
    <td colspan="1"
        style="background-color: #f8f8f8; text-align: center; background-color: lightgrey; font-weight: bold;"><p>
      Total</p></td>
    <td colspan="2" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{totalFemaleUnder18}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{totalFemale18To50}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{totalFemaleOver50}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{totalMaleUnder18}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{totalMale18To50}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{totalMaleOver50}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{totalOverallFemale}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{totalOverallMale}}</p></td>
    <td colspan="4" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{totalOverallPopulation}}</p></td>
  </tr>

  <tr style="">
    <td colspan="6" style="background-color: #f8f8f8; text-align: left; font-style: italic;"><p>Note: Please be sure to
      provide adjustments to the totals to prevent double counting of individual beneficiaries. If there is no double
      counting, please copy the totals from the line above.</p></td>
    <td colspan="1"
        style="background-color: #f8f8f8; text-align: center; background-color: lightgrey; font-weight: bold;"><p>Total
      adjusted for double counting</p></td>
    <td colspan="2" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p *ngIf="responsePlan.doubleCounting[0]">{{responsePlan.doubleCounting[0].value}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p *ngIf="responsePlan.doubleCounting[1]">{{responsePlan.doubleCounting[1].value}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p *ngIf="responsePlan.doubleCounting[2]">{{responsePlan.doubleCounting[2].value}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p *ngIf="responsePlan.doubleCounting[3]">{{responsePlan.doubleCounting[3].value}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p *ngIf="responsePlan.doubleCounting[4]">{{responsePlan.doubleCounting[4].value}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p *ngIf="responsePlan.doubleCounting[5]">{{responsePlan.doubleCounting[5].value}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{dcTotalFemale ? dcTotalFemale : 0}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{dcTotalMale ? dcTotalMale : 0}}</p></td>
    <td colspan="1" style="background-color: #f8f8f8; text-align: center; font-weight: bold;"><p>{{dcTotal ? dcTotal : 0}}</p></td>
  </tr>

</table>
