<app-network-header></app-network-header>
<app-network-menu></app-network-menu>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success" [show] = "alertMessage"></app-status-alert>

<app-alert-loader *ngIf="showLoader"></app-alert-loader>

<!--Start Put page data-->
<div class="Page-top__wrap padding-top-none">
  <div class="Full-page__wrap--inner">
    <!--<div class="Back&#45;&#45;button row">Country Offices</div> &lt;!&ndash; Back button&ndash;&gt;-->
    <h1 *ngIf="!isEditing" class="col-sm-12 margin-top-one">{{"NETWORK.ADD_NEW_NETWORK_OFFICE" | translate}}</h1><br>
    <h1 *ngIf="isEditing" class="col-sm-12 margin-top-one">{{"EDIT_NETWORK_OFFICE" | translate}}</h1><br>
    <h6 class="col-sm-12 font-weight-bold">{{"NETWORK.OFFICE_DETAIL" | translate}}</h6>
    <div class="Line-row"></div>

    <form #networkOfficeForm="ngForm" (ngSubmit)="submit()">
      <div class="row col-sm-12">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="networkOffice" class="Spaced-above">{{"GLOBAL.USER_INFO.COUNTRY" | translate}}*</label>

            <select class="form-control" id="networkOffice" required [(ngModel)]="networkOffice.location"
                    name="networkOfficeLocation">
              <option value="undefined" selected hidden disabled>{{"GLOBAL.PLEASE_SELECT" | translate}}</option>
              <option *ngFor="let country of COUNTRY_SELECTION" [value]="country">
                {{COUNTRIES[country] | translate}}
              </option>
            </select>

          </div>
        </div>
      </div>
      <br>

      <h6 class="col-sm-12 font-weight-bold Spaced-above">{{"NETWORK.OFFICE_ADMIN_DETAIL" | translate}}</h6>
      <div class="Line-row"></div>

      <div class="row col-sm-12">
        <div class="col-lg-4 col-md-6 Spaced-above">
          <div class="form-group">
            <label for="title">{{"GLOBAL.TITLE" | translate}}*</label>

            <select class="form-control" id="title" required [(ngModel)]="networkCountryUser.title"
                    name="title">
              <option value="undefined" selected hidden disabled>{{"GLOBAL.PLEASE_SELECT" | translate}}</option>
              <option *ngFor="let title of PERSON_TITLE_SELECTION" [value]="title">
                {{PERSON_TITLE[title] | translate}}
              </option>
            </select>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 Spaced-above">
          <div class="form-group">
            <label for="City">{{"FIRST_NAME" | translate}}*</label>
            <input type="text" class="form-control" id="firstName" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" required [(ngModel)]="networkCountryUser.firstName"
                   name="firstName">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 Spaced-above">
          <div class="form-group">
            <label for="Postcode">{{"GLOBAL.USER_INFO.LAST_NAME" | translate}}*</label>
            <input type="text" class="form-control" id="lastName" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" required [(ngModel)]="networkCountryUser.lastName"
                   name="lastName">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 Spaced-above">
          <div class="form-group">
            <label for="A-line-1">{{"EMAIL_ADDRESS" | translate}}*</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" required [(ngModel)]="networkCountryUser.email"
                   name="email">
          </div>
        </div>
      </div>


      <div class="row col-sm-12 Spaced-above"><br>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="A-line-1">{{"GLOBAL.USER_INFO.ADDRESS_LINE_1" | translate}}</label>
            <input type="text" class="form-control" id="A-line-1" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" [(ngModel)]="networkCountryUser.addressLine1"
                   name="address1">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="A-line-2">{{"GLOBAL.USER_INFO.ADDRESS_LINE_2" | translate}}</label>
            <input type="text" class="form-control" id="A-line-2" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" [(ngModel)]="networkCountryUser.addressLine2"
                   name="address2">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="A-line-3">{{"GLOBAL.USER_INFO.ADDRESS_LINE_3" | translate}}</label>
            <input type="text" class="form-control" id="A-line-3" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" [(ngModel)]="networkCountryUser.addressLine3"
                   name="address3">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 Spaced-above">
          <div class="form-group">
            <label for="adminCountry">{{"GLOBAL.USER_INFO.COUNTRY" | translate}}</label>
            <select class="form-control" id="adminCountry" [(ngModel)]="networkCountryUser.country"
                    name="adminCountry">
              <option value="undefined" selected hidden disabled>{{"GLOBAL.OPTIONAL" | translate}}</option>
              <option *ngFor="let country of COUNTRY_SELECTION" [value]="country">
                {{COUNTRIES[country] | translate}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 Spaced-above">
          <div class="form-group">
            <label for="City">{{"CITY" | translate}}</label>
            <input type="text" class="form-control" id="City" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" [(ngModel)]="networkCountryUser.city"
                   name="city">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 Spaced-above">
          <div class="form-group">
            <label for="Postcode">{{"GLOBAL.USER_INFO.POSTCODE" | translate}}</label>
            <input type="text" class="form-control" id="Postcode" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" [(ngModel)]="networkCountryUser.postCode"
                   name="postCode">
          </div>
        </div>
      </div>

      <div class="Form-submit__wrapper col-sm-2">
        <button class="btn btn-primary text-uppercase">{{isEditing ? ('NETWORK.UPDATE_OFFICE' | translate) : ('NETWORK.SAVE_NEW_OFFICE' | translate)}}</button>
        <div class="col-sm-1 margin-top-one"><a href="javascript:void(0)" (click)="back()">{{"GLOBAL.CANCEL" | translate}}</a></div>
      </div>
    </form>


  </div>
</div>
