<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Alert-error" [hidden]="hideWarning">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Header-title__wrap ">
      <h1>{{pageTitle | translate}}</h1>
      <button *ngIf="isEdit" type="button" class="btn btn-danger">{{"AGENCY_ADMIN.COUNTRY_OFFICES.DELETE_REGION" |
        translate}}
      </button>
    </div>

    <div class="row System-admin--form-wrap">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Region-Name">{{"AGENCY_ADMIN.COUNTRY_OFFICES.REGION_NAME" | translate}}*</label>
          <input type="text" class="form-control" id="Region-Name" placeholder="Please enter" required
                 [(ngModel)]="regionName" name="regionName">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group countries_parent" id="countries_parent">
          <label for="country">{{"AGENCY_ADMIN.COUNTRY_OFFICES.COUNTRIES" | translate}}*</label>

          <select *ngFor="let selectCountry of countries" class="form-control"
                  [(ngModel)]="countrySelected" (change)="countryChange(selectCountry)">
            <option *ngFor="let country of countrySelections | async"
                    [selected]="country.location === selectedCountries[selectCountry]">{{COUNTRY_NAMES[country.location]
              | translate}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <a id="add-country" (click)="addCountrySelection()">+{{"AGENCY_ADMIN.COUNTRY_OFFICES.ADD_ANOTHER_COUNTRY" |
            translate}}</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="RegionalDirector">{{"AGENCY_ADMIN.COUNTRY_OFFICES.REGIONAL_DIRECTOR" | translate}}</label>
          <select name="regional-director" class="form-control" [(ngModel)]="regionalDirectorId">
            <option *ngFor="let director of regionalDirectors" [value]="director?.$key"
                    [selected]="director?.$key == regionalDirectorId">
              {{showName(director)}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="Form-submit__wrapper">
      <button type="submit" class="btn btn-primary" (click)="submit()">{{submitText | translate | uppercase}}</button>
      <div class="btn btn-outline-secondary" (click)="cancel()">{{"GLOBAL.CANCEL" | translate}}</div>
    </div>
  </div>
</div>
