<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>

<div [class.hide]="inactive" class="Alert-error">
  {{errorMessage | translate}}
</div>


<div [class.hide]="successInactive" class="Alert-success">
  {{successMessage | translate}} {{emailEntered}}
</div>

<app-alert-loader [class.hide]="loaderInactive"></app-alert-loader>

<!--Start Put page data-->
<div class="Page-top__wrap">
  <div class="Login__wrap--inner">
    <form (ngSubmit)="onSubmit()">
      <div class="Login__logo-container">
        <img src="/assets/images/alert_logo.svg" class="Login__logo">
      </div>

      <p class="Login__info--blue">{{"LOGIN.TITLE_TEXT" | translate}}</p>
      <p class="Login__info--blue--extra-space">{{"LOGIN.WELCOME_INSTRUCTIONS" | translate}}</p>

      <div class="input-group" [ngClass]="{'has-danger': alerts[localUser.userEmail]}">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
        <input name="userEmail" [(ngModel)]="localUser.userEmail" type="text" class="form-control"
               placeholder="Email Address" aria-describedby="basic-addon1">
      </div>

      <div class="input-group" [ngClass]="{'has-danger': alerts[localUser.password]}">

        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
        <input name="password" [(ngModel)]="localUser.password" type="password" id="password" class="form-control"
               placeholder="Password" aria-describedby="basic-addon1">
        <label class="input-group-addon" id="basic-addon2">
          <input type="checkbox" style="display:none"
                 onclick="(function(e, el){
          document.getElementById('password').type = el.checked ? 'text' : 'password';
          el.parentNode.lastElementChild.innerHTML = el.checked ? '<i class=\'fa fa-eye-slash\' aria-hidden=\'true\'>' : '<i class=\'fa fa-eye\' aria-hidden=\'true\'>';
          })(event, this)">
          <span><i class="fa fa-eye"></i></span>
        </label>
      </div>

      <input type="submit" class="btn btn-primary Login__button--submit" value="{{'LOGIN.LOGIN' | translate}}"/>
      <a routerLink="/forgot-password" class="Login__forgotten-pass">{{"LOGIN.FORGOT_PASSWORD_BUTTON" | translate}}</a>
    </form>
  </div>

</div>
