<app-country-admin-header *ngIf="!isViewing"></app-country-admin-header>
<app-country-admin-menu *ngIf="!isViewing"></app-country-admin-menu>

<div class="Alert-error" [hidden]="hideWarning">{{waringMessage | translate}}</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"RESPONSE_PLANS.HOME.TITLE" | translate}}</h1>
      <button *ngIf="!isViewing" class="btn btn-primary" (click)="goToCreateNewResponsePlan()">
        {{"RESPONSE_PLANS.CREATE_NEW_RESPONSE_PLAN.CREATE_NEW_RESPONSE_PLAN" | translate | uppercase}}
      </button>
    </div>


    <div class="Empty--ribbon" [hidden]="activePlans?.length!=0">{{"RESPONSE_PLANS.HOME.EMPTY_LIST" | translate}}
    </div>

    <div class="Ribbon__section__wrap Spaced">

      <div *ngFor="let plan of activePlans" class="Accordion Plans-list">
        <div class="row align-items-center Plans-list__item">
          <div class="col-md-2 col-sm-2 Plans-list__item--type">{{HazardScenariosList[plan.hazardScenario] |
            translate}}
          </div>
          <div class="col-md-3 col-sm-3">{{plan.name}}</div>
          <div *ngIf="plan.status==0" class="col-md-3 col-sm-2 Plans-list__item--status">
            <a href="#" class=" text-warning" data-toggle="collapse" [attr.data-target]="'#'+plan.$key"
               aria-expanded="false"
               aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                </span>
              {{"RESPONSE_PLANS.HOME.IN_PROGRESS" | translate}}
            </a>
          </div>

          <div *ngIf="plan?.status==1" class="col-md-3 col-sm-2 Plans-list__item--status">
            <a href="#" class=" text-muted" data-toggle="collapse" [attr.data-target]="'#'+plan.$key"
               aria-expanded="false"
               aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                </span>
              {{"RESPONSE_PLANS.HOME.WAITING_APPROVAL" | translate}}
            </a>
            <div id="{{plan.$key}}"
                 class="Popover__ribbon prevent_parent_collapse collapse col-md-5 Popover__ribbon--b-white Popover__ribbon--float">
              <!-- Waiting approval -->
              <div class="row  Spaced">
                <div class="col-sm-10 col-8  text-left"><h4>{{"RESPONSE_PLANS.HOME.APPROVAL" | translate}}</h4></div>
                <div class="col-sm-2 col-4 text-right">
                  <button class="btn-link"
                          onclick="$(this).parent().parent().parent().collapse('hide')">{{"GLOBAL.CLOSE" | translate}}
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <strong>{{"RESPONSE_PLANS.HOME.PARTNERS" | translate}}</strong>
                  <div *ngFor="let partner of plan?.partnerOrganisations; index as i"
                       class="row no-gutters Small-spaced">
                    <div class="col-6 text-left">Partner {{i+1}}</div>
                    <div *ngIf="!plan?.approval?.partner[partner]"
                         class="col-6 text-right text-warning">
                      {{"RESPONSE_PLANS.HOME.REQUIRE_SUBMISSION" |
                      translate}}<i
                      class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                    <div *ngIf="plan?.approval?.partner[partner] == 1" class="col-6 text-right text-warning">
                      {{"RESPONSE_PLANS.HOME.REQUIRE_APPROVAL" |
                      translate}}<i
                      class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                    <div *ngIf="plan?.approval?.partner[partner] == 2" class="col-6 text-right text-success">
                      {{"RESPONSE_PLANS.HOME.APPROVAL" |
                      translate}}<i
                      class="fa fa-check-circle" aria-hidden="true"></i></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <strong>{{"RESPONSE_PLANS.HOME.DIRECTORS" | translate}}</strong>
                  <div *ngFor="let approve of getApproves(plan); let idx = index" class="row no-gutters Small-spaced">
                    <div class="col-6 text-left" *ngIf="idx==0">{{"GLOBAL.USER_TYPE.COUNTRY_DIRECTORS_SINGLE" |
                      translate}}
                    </div>
                    <div class="col-6 text-left" *ngIf="idx==1">
                      {{isGlobalDirectorMap.get(plan.$key)?("GLOBAL.USER_TYPE.GLOBAL_DIRECTOR_SINGLE" |
                      translate):("GLOBAL.USER_TYPE.REGIONAL_DIRECTOR_SINGLE" |
                      translate)}}
                    </div>
                    <div class="col-6 text-left" *ngIf="idx==2">{{"GLOBAL.USER_TYPE.GLOBAL_DIRECTOR_SINGLE" |
                      translate}}
                    </div>
                    <div class="col-md-6 text-right" [class.text-success]="getApproveStatus(approve)"
                         [class.text-muted]="!getApproveStatus(approve)">
                      {{getApproveStatus(approve) ? ('RESPONSE_PLANS.HOME.APPROVED' | translate) :
                      ('RESPONSE_PLANS.HOME.WAITING_APPROVAL'
                      | translate)}}
                      <i class="fa fa-check-circle" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="plan?.status==2" class="col-md-3 col-sm-2 Plans-list__item--status">
            <a href="#" class=" text-success" data-toggle="collapse" [attr.data-target]="'#'+plan.$key"
               aria-expanded="false"
               aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                </span>
              {{"RESPONSE_PLANS.HOME.APPROVED" | translate}}
            </a>
            <div id="{{plan.$key}}"
                 class="Popover__ribbon prevent_parent_collapse collapse col-md-3 Popover__ribbon--b-white Popover__ribbon--float">
              <!-- Approved -->
              <div class="row  Spaced">
                <div class="col-sm-10 col-8  text-left"><h4>{{"RESPONSE_PLANS.HOME.APPROVAL" | translate}}</h4></div>
                <div class="col-sm-2 col-4 text-right">
                  <button class="btn-link" onclick="$(this).parent().parent().parent().collapse('hide')">
                    {{"GLOBAL.CLOSE" | translate}}
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <strong>{{"RESPONSE_PLANS.HOME.DIRECTORS" | translate}}</strong>
                  <div *ngFor="let approve of getApproves(plan); let idx = index" class="row no-gutters Small-spaced">
                    <div class="col-6 text-left" *ngIf="idx==0">{{"GLOBAL.USER_TYPE.COUNTRY_DIRECTORS_SINGLE" |
                      translate}}
                    </div>
                    <div class="col-6 text-left" *ngIf="idx==1">{{"GLOBAL.USER_TYPE.REGIONAL_DIRECTOR_SINGLE" |
                      translate}}
                    </div>
                    <div class="col-6 text-left" *ngIf="idx==2">{{"GLOBAL.USER_TYPE.GLOBAL_DIRECTOR_SINGLE" |
                      translate}}
                    </div>
                    <div class="col-md-6 text-right text-success">
                      {{"RESPONSE_PLANS.HOME.APPROVED" | translate}}
                      <i class="fa fa-check-circle" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="plan?.status==3" class="col-md-3 col-sm-2 Plans-list__item--status">
            <a href="#" class=" text-danger" data-toggle="collapse" [attr.data-target]="'#'+plan.$key"
               aria-expanded="false"
               aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                </span>
              {{"RESPONSE_PLANS.HOME.NEEDS_REVIEWING" | translate}}
            </a>
            <div id="{{plan.$key}}"
                 class="Popover__ribbon prevent_parent_collapse collapse col-md-7 Popover__ribbon--b-white Popover__ribbon--float">
              <!-- Approved -->
              <div class="row">
                <div class="col-sm-10 col-10  text-left"><h4>{{"RESPONSE_PLANS.HOME.REVIEW_NOTES" | translate}}</h4>
                </div>
                <div class="col-sm-2 col-2 text-right">
                  <button class="btn-link" onclick="$(this).parent().parent().parent().collapse('hide')">
                    {{"GLOBAL.CLOSE" | translate}}
                  </button>
                </div>
              </div>
              <div *ngIf="notesMap.get(plan.$key) != null">
                <div class="row" *ngFor="let note of notesMap.get(plan.$key)">
                  <div class="col-sm-3 text-left">
                    {{note.time | date:'dd MMM yy'}}
                  </div>
                  <div class="col-sm-9">
                    <div>{{note.content}}</div>
                    <div><b>by {{getName(note.uploadBy)}}</b></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-1 col-sm-2 Plans-list__item--progress">
            <div>{{plan.sectionsCompleted/plan.totalSections*100}}%</div>
            {{plan.startDate | date:'d/MM/y'}}
          </div>
          <div class="col-sm-3">
            <div class="btn-group btn-block">
              <button *ngIf="isViewing" type="button" class="btn  btn-block btn-primary"
                      (click)="viewResponsePlan(plan, isViewing)">{{"RESPONSE_PLANS.HOME.VIEW" | translate}}
              </button>
              <button *ngIf="!isViewing" type="button" class="btn  btn-block" [class.btn-success]="plan.status==2"
                      [class.btn-primary]="plan.status!=2" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">{{"RESPONSE_PLANS.HOME.OPTIONS" | translate}}
              </button>
              <button *ngIf="!isViewing" type="button" class="btn dropdown-toggle dropdown-toggle-split"
                      [class.btn-success]="plan.status==2" [class.btn-primary]="plan.status!=2"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="viewResponsePlan(plan)">{{"RESPONSE_PLANS.HOME.VIEW_PLAN" |
                  translate}}</a>
                <a class="dropdown-item" (click)="editResponsePlan(plan)">{{"RESPONSE_PLANS.HOME.EDIT_PLAN" |
                  translate}}</a>
                <a class="dropdown-item" *ngIf="plan.status!=1 && plan.status!=2"
                   (click)="submitForApproval(plan)">{{"RESPONSE_PLANS.HOME.SUBMIT_FOR_APPROVAL" | translate}}</a>
                <a *ngIf="plan?.partnerOrganisations && !plan?.approval?.partner && partnersMap.get(plan.$key)"
                   class="dropdown-item"
                   (click)="submitForPartnerValidation(plan)">{{"RESPONSE_PLANS.HOME.SUBMIT_FOR_PARTNER_VALIDATION" |
                  translate}}</a>
                <a class="dropdown-item" (click)="exportStartFund(plan)">{{"RESPONSE_PLANS.HOME.EXPORT_FOR_PROPOSAL" |
                  translate}} <br/> Start Fund
                  (.doc, 78Kb)</a>
                <a class="dropdown-item" (click)="exportProposal(plan)">{{"RESPONSE_PLANS.HOME.EXPORT_FOR_PROPOSAL" | translate}} <br/> Excel (.xls,
                  78Kb)</a>
                <a class="dropdown-item" (click)="exportProposal(plan)">{{"RESPONSE_PLANS.HOME.EXPORT_FOR_PROPOSAL" | translate}} <br/> Word (.doc,
                  78Kb)</a>
                <a class="dropdown-item"
                   (click)="archivePlan(plan)">{{"RESPONSE_PLANS.HOME.ARCHIVE_PLAN" | translate}}</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="Ribbon__section__wrap Spaced">
      <div class="Accordion--b-white Accordion__hide-links">
        <div class="row align-items-center no-gutters">
          <div class="col-sm-12">
            <h2>{{"RESPONSE_PLANS.HOME.ARCHIVED_PLANS" | translate}}</h2>
            <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" class="Hide-all">{{"GLOBAL.HIDE_ALL" |
              translate}}</a>
            <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" class="Show-all">{{"GLOBAL.SHOW_ALL" |
              translate}}</a>
          </div>
        </div>
      </div>
      <div class="Accordion__Content collapse" id="collapseThree">

        <div *ngFor="let plan of archivedPlans | async" class="Accordion Plans-list">
          <div class="row align-items-center Plans-list__item">
            <div class="col-md-2 col-sm-2 Plans-list__item--type">{{plan?.hazardScenario}}</div>
            <div class="col-md-3 col-sm-3">{{plan?.name}}</div>
            <div class="col-md-3 col-sm-2 Plans-list__item--status">
              <a href="#" class=" text-muted" data-toggle="collapse" data-target="#ribbon6" aria-expanded="false"
                 aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                </span>
                {{"RESPONSE_PLANS.HOME.ARCHIVED" | translate}}
              </a>

            </div>
            <div class="col-md-1 col-sm-2 Plans-list__item--progress">
              <div>{{plan?.sectionsCompleted / plan?.totalSections * 100}}%</div>
              {{plan?.startDate | date:'d/MM/y'}}
            </div>
            <div class="col-sm-3">
              <a *ngIf="!isViewing" class="btn btn-block text-muted btn-outline-secondary" (click)="activatePlan(plan)">{{"GLOBAL.RE_ACTIVATE"
                | translate}}</a>
              <button *ngIf="isViewing" type="button" class="btn  btn-block btn-primary"
                      (click)="viewResponsePlan(plan, isViewing)">{{"RESPONSE_PLANS.HOME.VIEW" | translate}}
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!--dialog modal-->
<div class="modal fade" id="dialog-action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{dialogTitle | translate}}</strong></h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{dialogContent | translate}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmDialog()">{{"GLOBAL.CONFIRM" | translate}}
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal(false)">{{"GLOBAL.CANCEL"| translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--dialog modal-->
<div class="modal fade" id="dialog-acknowledge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><strong>{{dialogTitle | translate}}</strong></h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{dialogContent | translate}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal(true)">{{"GLOBAL.OK" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
