<ng-container *ngIf="!isLocalAgency">
  <app-country-admin-header *ngIf="!isViewing"></app-country-admin-header>
  <app-country-admin-menu *ngIf="!isViewing"></app-country-admin-menu>
</ng-container>

<ng-container *ngIf="isLocalAgency">
  <app-local-agency-header></app-local-agency-header>
  <app-local-agency-menu></app-local-agency-menu>
</ng-container>

<div class="Alert-error" [hidden]="hideWarning">{{waringMessage | translate}}</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"RESPONSE_PLANS.HOME.TITLE" | translate}}</h1>
      <tooltip
        [level1]="'TOOLTIPS.RESPONSE_PLANS.TT1.LEVEL1'"
        [level2]="'TOOLTIPS.RESPONSE_PLANS.TT1.LEVEL2'">
      </tooltip>
      <button *ngIf="!isViewing" class="btn btn-primary" (click)="goToCreateNewResponsePlan()">
        {{"RESPONSE_PLANS.CREATE_NEW_RESPONSE_PLAN.CREATE_NEW_RESPONSE_PLAN" | translate | uppercase}}
      </button>
    </div>


    <div class="Empty--ribbon" [hidden]="activePlans?.length!=0">{{"RESPONSE_PLANS.HOME.EMPTY_LIST" | translate}}
    </div>

    <div class="Ribbon__section__wrap Spaced">

      <div *ngFor="let plan of activePlans" class="Accordion Plans-list">
        <div class="row align-items-center Plans-list__item">
          <div class="col-md-2 col-sm-2 Plans-list__item--type">{{HazardScenariosList[plan?.hazardScenario] |
            translate}}
          </div>
          <div class="col-md-3 col-sm-3">{{plan.name}}</div>
          <div *ngIf="plan.status==0" class="col-md-3 col-sm-2 Plans-list__item--status">
            <a href="#" class=" text-warning" data-toggle="collapse" [attr.data-target]="'#'+plan.$key"
               aria-expanded="false"
               aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                </span>
              {{"RESPONSE_PLANS.HOME.IN_PROGRESS" | translate}}
            </a>
          </div>

          <div *ngIf="plan?.status==1" class="col-md-3 col-sm-2 Plans-list__item--status">
            <a href="#" class=" text-muted" data-toggle="collapse" [attr.data-target]="'#'+plan.$key"
               aria-expanded="false"
               aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                </span>
              {{"RESPONSE_PLANS.HOME.WAITING_APPROVAL" | translate}}
            </a>
            <div id="{{plan.$key}}"
                 class="Popover__ribbon prevent_parent_collapse collapse col-md-5 Popover__ribbon--b-white Popover__ribbon--float">
              <!-- Waiting approval -->
              <div class="row  Spaced">
                <div class="col-sm-10 col-8  text-left"><h4>{{"RESPONSE_PLANS.HOME.APPROVAL" | translate}}</h4></div>
                <div class="col-sm-2 col-4 text-right">
                  <button class="btn-link"
                          onclick="$(this).parent().parent().parent().collapse('hide')">{{"GLOBAL.CLOSE" | translate}}
                  </button>
                </div>
              </div>
              <div class="row">
                <!--partners-->
                <div class="col-md-6">
                  <strong>{{"GLOBAL.USER_TYPE.PARTNER" | translate}}</strong>
                  <div *ngFor="let partnerOrg of plan?.partnerOrganisations; index as i"
                       class="row no-gutters Small-spaced">
                    <div>
                      <div class="col-12 text-left">{{"PARTNER" | translate}} {{i+1}}</div>
                      <div
                        *ngIf="!(plan?.approval?.partner && plan?.approval?.partner[partnersApprovalMap.get(partnerOrg)])"
                        class="col-12 text-left text-warning">
                        {{"RESPONSE_PLANS.HOME.REQUIRE_SUBMISSION" | translate}}
                        <i class="fa fa-exclamation-circle text-right" aria-hidden="true"></i></div>

                      <div
                        *ngIf="plan?.approval?.partner && plan?.approval?.partner[partnersApprovalMap.get(partnerOrg)] && plan?.approval?.partner[partnersApprovalMap.get(partnerOrg)] == 1"
                        class="col-12 text-left text-muted">
                        {{"RESPONSE_PLANS.HOME.WAITING_APPROVAL" |
                        translate}}<i class="fa fa-check-circle margin-left-one" aria-hidden="true"></i></div>
                      <div
                        *ngIf="plan?.approval?.partner && plan?.approval?.partner[partnersApprovalMap.get(partnerOrg)] && plan?.approval?.partner[partnersApprovalMap.get(partnerOrg)] == 2"
                        class="col-12 text-left text-success text-right">
                        {{"RESPONSE_PLANS.HOME.APPROVED" |
                        translate}}<i
                        class="fa fa-check-circle margin-left-one" aria-hidden="true"></i></div>
                    </div>
                  </div>
                </div>

                <!--directors-->
                <div class="col-md-6">
                  <strong>{{"RESPONSE_PLANS.HOME.DIRECTORS" | translate}}</strong>
                  <!--not submit yet-->
                  <div
                    *ngIf="plan?.approval && plan?.approval['partner'] && (!plan?.approval['countryDirector'] || !plan?.approval['regionDirector'] || !plan?.approval['globalDirector'])">
                    <!--<div *ngIf="plan?.approval">-->
                    <div *ngIf="directorSubmissionRequireMap.get(1)" class="row no-gutters Small-spaced">
                      <div class="col-12 text-left">{{"GLOBAL.USER_TYPE.COUNTRY_DIRECTORS_SINGLE" | translate}}</div>
                      <div class="col-md-12 text-left text-warning">{{"RESPONSE_PLANS.HOME.REQUIRE_SUBMISSION" |
                        translate}}
                        <i class="fa fa-exclamation-circle text-right" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div *ngIf="directorSubmissionRequireMap.get(2)" class="row no-gutters Small-spaced">
                      <div class="col-12 text-left">{{"GLOBAL.USER_TYPE.REGIONAL_DIRECTOR_SINGLE" | translate}}</div>
                      <div class="col-md-12 text-left text-warning">{{"RESPONSE_PLANS.HOME.REQUIRE_SUBMISSION" |
                        translate}}
                        <i class="fa fa-exclamation-circle text-right" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div *ngIf="directorSubmissionRequireMap.get(3)" class="row no-gutters Small-spaced">
                      <div class="col-12 text-left">{{"GLOBAL.USER_TYPE.GLOBAL_DIRECTOR_SINGLE" | translate}}</div>
                      <div class="col-md-12 text-left text-warning">{{"RESPONSE_PLANS.HOME.REQUIRE_SUBMISSION" |
                        translate}}
                        <i class="fa fa-exclamation-circle text-right" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>

                  <!--after submit for approval-->
                  <div *ngFor="let approve of getApproves(plan); let idx = index" class="row no-gutters Small-spaced">

                    <div *ngIf="idx==0">
                      <div class="col-12 text-left">{{"GLOBAL.USER_TYPE.COUNTRY_DIRECTORS_SINGLE" | translate}}</div>

                      <div class="col-md-12 text-left"
                           [class.text-success]="getApproveStatus(getApproves(plan)[0]) == ApprovalStatus.Approved"
                           [class.text-muted]="getApproveStatus(getApproves(plan)[0]) == ApprovalStatus.WaitingApproval"
                           [class.text-warning]="getApproveStatus(getApproves(plan)[0]) == ApprovalStatus.InProgress">
                        {{getApproveStatus(getApproves(plan)[0]) == ApprovalStatus.Approved ?
                        ('RESPONSE_PLANS.HOME.APPROVED' | translate)
                        : getApproveStatus(getApproves(plan)[0]) == ApprovalStatus.WaitingApproval ?
                        ('RESPONSE_PLANS.HOME.WAITING_APPROVAL' | translate)
                        :
                        ('RESPONSE_PLANS.HOME.REQUIRE_SUBMISSION' | translate)}}
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div *ngIf="idx==1">
                      <div class="col-12 text-left">
                        {{isGlobalDirectorMap.get(plan.$key) && !isRegionalDirectorMap.get(plan.$key)
                        ?("GLOBAL.USER_TYPE.GLOBAL_DIRECTOR_SINGLE" |
                        translate):("GLOBAL.USER_TYPE.REGIONAL_DIRECTOR_SINGLE" |
                        translate)}}
                      </div>
                      <div *ngIf="isGlobalDirectorMap.get(plan.$key) && isRegionalDirectorMap.get(plan.$key)"
                           class="col-md-12 text-left"
                           [class.text-success]="getApproveStatus(getApproves(plan)[2]) == ApprovalStatus.Approved"
                           [class.text-muted]="getApproveStatus(getApproves(plan)[2]) == ApprovalStatus.WaitingApproval"
                           [class.text-warning]="getApproveStatus(getApproves(plan)[2]) == ApprovalStatus.InProgress">
                        {{getApproveStatus(getApproves(plan)[2]) == ApprovalStatus.Approved ?
                        ('RESPONSE_PLANS.HOME.APPROVED' | translate)
                        : getApproveStatus(getApproves(plan)[2]) == ApprovalStatus.WaitingApproval ?
                        ('RESPONSE_PLANS.HOME.WAITING_APPROVAL' | translate)
                        :
                        ('RESPONSE_PLANS.HOME.REQUIRE_SUBMISSION' | translate)}}
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </div>
                      <div *ngIf="(isGlobalDirectorMap.get(plan.$key) && !isRegionalDirectorMap.get(plan.$key))
                           || (!isGlobalDirectorMap.get(plan.$key) && isRegionalDirectorMap.get(plan.$key))"
                           class="col-md-12 text-left"
                           [class.text-success]="getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.Approved"
                           [class.text-muted]="getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.WaitingApproval"
                           [class.text-warning]="getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.InProgress">
                        {{getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.Approved ?
                        ('RESPONSE_PLANS.HOME.APPROVED' | translate)
                        : getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.WaitingApproval ?
                        ('RESPONSE_PLANS.HOME.WAITING_APPROVAL' | translate)
                        :
                        ('RESPONSE_PLANS.HOME.REQUIRE_SUBMISSION' | translate)}}
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div *ngIf="idx==2">
                      <div class="col-12 text-left">{{"GLOBAL.USER_TYPE.GLOBAL_DIRECTOR_SINGLE" |
                        translate}}
                      </div>
                      <div class="col-md-12 text-left"
                           [class.text-success]="getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.Approved"
                           [class.text-muted]="getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.WaitingApproval"
                           [class.text-warning]="getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.InProgress">
                        {{getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.Approved ?
                        ('RESPONSE_PLANS.HOME.APPROVED' | translate)
                        : getApproveStatus(getApproves(plan)[1]) == ApprovalStatus.WaitingApproval ?
                        ('RESPONSE_PLANS.HOME.WAITING_APPROVAL' | translate)
                        :
                        ('RESPONSE_PLANS.HOME.REQUIRE_SUBMISSION' | translate)}}
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>

          <div *ngIf="plan?.status==2" class="col-md-3 col-sm-2 Plans-list__item--status">
            <a href="#" class=" text-success" data-toggle="collapse" [attr.data-target]="'#'+plan.$key"
               aria-expanded="false"
               aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                </span>
              {{"RESPONSE_PLANS.HOME.APPROVED" | translate}}
            </a>
            <!--TODO need to match requirements-->
            <!--<div id="{{plan.$key}}"-->
            <!--class="Popover__ribbon prevent_parent_collapse collapse col-md-3 Popover__ribbon&#45;&#45;b-white Popover__ribbon&#45;&#45;float">-->
            <!--&lt;!&ndash; Approved &ndash;&gt;-->
            <!--<div class="row  Spaced">-->
            <!--<div class="col-sm-10 col-8  text-left"><h4>{{"RESPONSE_PLANS.HOME.APPROVAL" | translate}}</h4></div>-->
            <!--<div class="col-sm-2 col-4 text-right">-->
            <!--<button class="btn-link" onclick="$(this).parent().parent().parent().collapse('hide')">-->
            <!--{{"GLOBAL.CLOSE" | translate}}-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="col-md-12">-->
            <!--<strong>{{"RESPONSE_PLANS.HOME.DIRECTORS" | translate}}</strong>-->
            <!--<div *ngFor="let approve of getApproves(plan); let idx = index" class="row no-gutters Small-spaced">-->
            <!--<div class="col-6 text-left" *ngIf="idx==0">{{"GLOBAL.USER_TYPE.COUNTRY_DIRECTORS_SINGLE" |-->
            <!--translate}}-->
            <!--</div>-->
            <!--<div class="col-6 text-left" *ngIf="idx==1">{{"GLOBAL.USER_TYPE.REGIONAL_DIRECTOR_SINGLE" |-->
            <!--translate}}-->
            <!--</div>-->
            <!--<div class="col-6 text-left" *ngIf="idx==2">{{"GLOBAL.USER_TYPE.GLOBAL_DIRECTOR_SINGLE" |-->
            <!--translate}}-->
            <!--</div>-->
            <!--<div class="col-md-6 text-right text-success">-->
            <!--{{"RESPONSE_PLANS.HOME.APPROVED" | translate}}-->
            <!--<i class="fa fa-check-circle" aria-hidden="true"></i></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
          </div>

          <div *ngIf="plan?.status==3" class="col-md-3 col-sm-2 Plans-list__item--status">
            <a href="#" class=" text-danger" data-toggle="collapse" [attr.data-target]="'#'+plan.$key"
               aria-expanded="false"
               aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                </span>
              {{"RESPONSE_PLANS.HOME.NEEDS_REVIEWING" | translate}}
            </a>
            <div id="{{plan.$key}}"
                 class="Popover__ribbon prevent_parent_collapse collapse col-md-7 Popover__ribbon--b-white Popover__ribbon--float">
              <!-- Approved -->
              <div class="row">
                <div class="col-sm-10 col-10  text-left"><h4>{{"RESPONSE_PLANS.HOME.REVIEW_NOTES" | translate}}</h4>
                </div>
                <div class="col-sm-2 col-2 text-right">
                  <button class="btn-link" onclick="$(this).parent().parent().parent().collapse('hide')">
                    {{"GLOBAL.CLOSE" | translate}}
                  </button>
                </div>
              </div>
              <div *ngIf="notesMap.get(plan.$key) != null">
                <div class="row" *ngFor="let note of notesMap.get(plan.$key)">
                  <div class="col-sm-3 text-left">
                    {{note.time | date:'dd MMM yy'}}
                  </div>
                  <div class="col-sm-9">
                    <div>{{note.content}}</div>
                    <div><b>by {{note.uploadByName}}</b></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-1 col-sm-2 Plans-list__item--progress">
            <!--<div>{{plan.sectionsCompleted/plan.totalSections*100 | number: 0}}%</div>-->
            <!--<div>{{plan.sectionsCompleted/plan.totalSections | percent}}</div>-->
            <div>{{convertToInt(plan.sectionsCompleted/plan.totalSections*100)}}%</div>
            {{plan.startDate | date:'d/MM/y'}}
          </div>
          <div class="col-sm-3">
            <div class="btn-group btn-block">
              <button *ngIf="isViewing" type="button" class="btn  btn-block btn-primary"
                      (click)="viewResponsePlan(plan, isViewing)">{{"RESPONSE_PLANS.HOME.VIEW" | translate}}
              </button>
              <button *ngIf="!isViewing" type="button" class="btn  btn-block" [class.btn-success]="plan.status==2"
                      [class.btn-primary]="plan.status!=2" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">{{"RESPONSE_PLANS.HOME.OPTIONS" | translate}}
              </button>
              <button *ngIf="!isViewing" type="button" class="btn dropdown-toggle dropdown-toggle-split"
                      [class.btn-success]="plan.status==2" [class.btn-primary]="plan.status!=2"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">{{"TOGGLE_DROPDOWN" | translate}}</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="viewResponsePlan(plan)">{{"RESPONSE_PLANS.HOME.VIEW_PLAN" |
                  translate}}</a>
                <a class="dropdown-item" (click)="checkEditingAllowed(plan)">{{"RESPONSE_PLANS.HOME.EDIT_PLAN" |
                  translate}}</a>
                <!--<a class="dropdown-item" *ngIf="plan.status!=1 && plan.status!=2"-->
                <a class="dropdown-item" *ngIf="checkStatus(plan)"
                   (click)="submitForApproval(plan)">{{"RESPONSE_PLANS.HOME.SUBMIT_FOR_APPROVAL" | translate}}</a>
                <!--<a *ngIf="plan?.partnerOrganisations && !plan?.approval?.partner && partnersMap.get(plan.$key)"-->
                   <!--class="dropdown-item"-->
                   <!--(click)="submitForPartnerValidation(plan)">{{"RESPONSE_PLANS.HOME.SUBMIT_FOR_PARTNER_VALIDATION" |-->
                  <!--translate}}</a>-->
                <a class="dropdown-item" (click)="exportStartFund(plan)">{{"RESPONSE_PLANS.HOME.EXPORT_FOR_START_FUND" |
                  translate}}<br/>(.xls, 78Kb)</a>
                <a class="dropdown-item" (click)="exportProposal(plan, true)">{{"RESPONSE_PLANS.HOME.EXPORT_FOR_PROPOSAL"
                  |
                  translate}} <br/> Excel (.xls,
                  78Kb)</a>
                <a class="dropdown-item" (click)="exportProposal(plan, false)">{{"RESPONSE_PLANS.HOME.EXPORT_FOR_PROPOSAL"
                  |
                  translate}} <br/> Word (.doc,
                  78Kb)</a>
                <a class="dropdown-item"
                   (click)="archivePlan(plan)">{{"RESPONSE_PLANS.HOME.ARCHIVE_PLAN" | translate}}</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="Ribbon__section__wrap Spaced">
      <div class="Accordion--b-white Accordion__hide-links">
        <div class="row align-items-center no-gutters">
          <div class="col-sm-12">
            <h2>{{"RESPONSE_PLANS.HOME.ARCHIVED_PLANS" | translate}}</h2>
            <tooltip
              [level1]="'TOOLTIPS.RESPONSE_PLANS.TT4.LEVEL1'">
            </tooltip>
            <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" class="Hide-all">{{"HIDE_ALL" |
              translate}}</a>
            <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" class="Show-all">{{"SHOW_ALL" |
              translate}}</a>
          </div>
        </div>
      </div>
      <div class="Accordion__Content collapse" id="collapseThree">

        <div *ngFor="let plan of archivedPlans" class="Accordion Plans-list">
          <div class="row align-items-center Plans-list__item">
            <div class="col-md-2 col-sm-2 Plans-list__item--type">{{HazardScenariosList[plan?.hazardScenario] |
              translate}}
            </div>
            <div class="col-md-3 col-sm-3">{{plan?.name}}</div>
            <div class="col-md-3 col-sm-2 Plans-list__item--status">
              <a href="#" class=" text-muted" data-toggle="collapse" data-target="#ribbon6" aria-expanded="false"
                 aria-controls="popover_content">
                 <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                </span>
                {{"GLOBAL.ACTION_STATUS.ARCHIVED" | translate}}
              </a>

            </div>
            <div class="col-md-1 col-sm-2 Plans-list__item--progress">
              <div>{{convertToInt(plan.sectionsCompleted/plan.totalSections*100)}}%</div>
              {{plan?.startDate | date:'d/MM/y'}}
            </div>
            <div class="col-sm-3">
              <a *ngIf="!isViewing" class="btn btn-block text-muted btn-outline-secondary" (click)="activatePlan(plan)">{{"GLOBAL.RE_ACTIVATE"
                | translate}}</a>
              <button *ngIf="isViewing" type="button" class="btn  btn-block btn-primary"
                      (click)="viewResponsePlan(plan, isViewing)">{{"RESPONSE_PLANS.HOME.VIEW" | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--dialog modal-->
<div class="modal fade" id="dialog-action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{dialogTitle | translate}}</strong></h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{dialogContent | translate}}</p></div>
        <!--tooltip-->
        <tooltip
          [level1]="'TOOLTIPS.RESPONSE_PLANS.TT2.LEVEL1'">
        </tooltip>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmDialog()">{{"GLOBAL.CONFIRM" | translate}}
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal('#dialog-action')">
          {{"GLOBAL.CANCEL"| translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--dialog modal-->
<div class="modal fade" id="dialog-acknowledge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><strong>{{dialogTitle | translate}}</strong></h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{dialogContent | translate}}</p></div>
        <div class="text-center"><a href="mailto:{{dialogEditingUserEmail}}">{{dialogEditingUserName}}</a></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal('#dialog-acknowledge')">{{"GLOBAL.OK" |
          translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--dialog modal-->
<div class="modal fade" id="dialog-responseplan-editing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{dialogTitle | translate}}</strong></h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{dialogContent | translate}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="editResponsePlan()">{{"YES" | translate}}
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal('#dialog-responseplan-editing')">
          {{"GLOBAL.NO"| translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--Director Selection Modal-->
<div class="modal fade" id="directorSelection" tabindex="-1" role="dialog" aria-labelledby="directorSelection"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Director Selection</h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--directors-->
        <ng-container>
          <div class="row">
            <div class="col-sm-4">Directors</div>
            <!--<div class="col-sm-8"><b>{{ notificationName | translate }}</b></div>-->
          </div>
          <div class="row Small-spaced">
            <div class="col-sm-2"></div>
            <div class="col-sm-10 ">
              <!--<div class="row" *ngFor="let userType of USER_TYPE_SELECTION; let i = index;">-->
              <div class="row" *ngIf="directorIdMap.get('countryDirector')">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="countryDirector"
                         [(ngModel)]="countryDirectorSelected">
                  Country director - {{directorModelMap.get("countryDirector")?.firstName +" "+
                  directorModelMap.get("countryDirector")?.lastName}}
                </label>
              </div>
              <div class="row"
                   *ngIf="directorIdMap.get('regionDirector') && agencyApprovalSettingMap.get('regionDirector')">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="regionDirector"
                         [(ngModel)]="regionDirectorSelected">
                  Region director - {{directorModelMap.get("regionDirector")?.firstName +" "+
                  directorModelMap.get("regionDirector")?.lastName}}
                </label>
              </div>
              <div class="row"
                   *ngIf="directorIdMap.get('globalDirector') && agencyApprovalSettingMap.get('globalDirector')">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="globalDirector"
                         [(ngModel)]="globalDirectorSelected">
                  Global director - {{directorModelMap.get("globalDirector")?.firstName +" "+
                  directorModelMap.get("globalDirector")?.lastName}}
                </label>
              </div>
              <!--</div>-->
            </div>
          </div>
        </ng-container>
        <!--partners-->
        <ng-container *ngIf="planToApproval?.partnerOrganisations">
          <div class="row">
            <div class="col-sm-4">Partners</div>
          </div>
          <div class="row Small-spaced">
            <div class="col-sm-2"></div>
            <div class="col-sm-10 ">
              <div class="row" *ngFor="let partnerId of partnerList; index as i">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="countryDirector" #selectedPaetnerId
                         (change)="selectPartner(partnerId, selectedPaetnerId.checked)"
                         [checked]="partnerApprovalIdMap.get(partnerId)">
                  Partner {{i}}: {{extPartnerOrgMap.get(partnerId) ? extPartnerOrgMap.get(partnerId)?.organisationName : intPartnerOrgMap.get(partnerId)?.organisationName}}
                </label>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline-secondary">{{"GLOBAL.CANCEL"| translate}}
        </button>
        <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="submitPlanToApproval()">{{"SAVE"|
          translate}}
        </button>
      </div>
    </div>
  </div>
</div>
