<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>

<div [hidden]="inactiveFail" class="Alert-error">
  {{failMessage | translate}}
</div>

<div [hidden]="inactiveSuccess" class="Alert-success">
  {{"RESET_PASSWORD.SUCCESSFUL" | translate}}
</div>

<app-alert-loader [hidden]="loaderInactive"></app-alert-loader>

<!--Start Put page data-->
<div class="Page-top__wrap">
  <div class="Login__wrap--inner">
    <form (ngSubmit)="onSubmit()">
    <div class="Login__logo-container">
      <img src="assets/images/alert_logo.svg" class="Login__logo">
    </div>

    <p class="Login__info--blue">{{"RESET_PASSWORD.TITLE_TEXT" | translate}}</p>
    <p class="Login__info--blue--extra-space">{{"RESET_PASSWORD.INSTRUCTIONS" | translate}}</p>

    <div class="input-group" [ngClass]="{'has-danger': alerts[password]}">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
      <input [(ngModel)]="password" type="password" name="password" class="form-control" placeholder="Password"
             aria-describedby="basic-addon1">
    </div>

    <input type="submit" class="btn btn-primary Login__button--submit" (click)="onSubmit()"
           value="{{'RESET_PASSWORD.RESET_PASSWORD' | translate}}"/>

      <p *ngIf="!inactiveFail && failMessage == 'RESET_PASSWORD.INVALID_CODE'" class="text-center Spaced"><a href="javascript:void(0)" (click)="backToReset()">{{"RESET_PASSWORD.RECOVER_ACCOUNT" | translate}}</a></p>
      <p *ngIf="!inactiveSuccess"  class="text-center Spaced"><a href="javascript:void(0)" (click)="backToLogin()">{{"RESET_PASSWORD.BACK_TO_LOGIN" | translate}}</a></p>
    </form>
  </div>

</div>
