<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<app-status-alert [message]="alertMessage" [success]="alertSuccess" [(show)]="alertShow" (onAlertHidden)="onAlertHidden($event)"></app-status-alert>

<div *ngIf="isSaved" class="Alert-success">{{successMessage | translate}}</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Header-title__wrap">
      <h1>{{"GLOBAL.ACCOUNT_SETTINGS.TITLE" | translate}}</h1>
    </div>

    <ul class="section-nav">
      <li class="section-nav__item "><a [routerLink]="['/system-admin/account-settings']">{{"GLOBAL.ACCOUNT_SETTINGS.PROFILE"
        | translate}}</a></li>
      <li class="section-nav__item "><a [routerLink]="['/system-admin/account-settings/change-password']">{{"GLOBAL.ACCOUNT_SETTINGS.PASSWORD"
        | translate}}</a></li>
      <li class="section-nav__item active"><a [routerLink]="['/system-admin/account-settings/view-coc/view-coc']">{{"SYSTEM_ADMIN.SETTING.COC" | translate}}</a></li>
    </ul>

    <div class="Sub-header-title__wrap">
      <h2>{{"GLOBAL.COC_TITLE" | translate}}</h2>
      <button class="btn btn-primary" (click)="onAgree()">{{"GLOBAL.IAGREE" | translate | uppercase}}</button>
    </div>

    <div class="wrapper" align="left">
      <p class="coc-text">{{cocText}}</p>
    </div>

  </div>
</div>

