<div *ngIf="!isDirector">
  <app-country-admin-header></app-country-admin-header>
  <app-country-admin-menu></app-country-admin-menu>
</div>
<div *ngIf="isDirector">
  <app-director-header></app-director-header>
  <app-director-menu></app-director-menu>
</div>

<div class="Page-top__wrap--w_sub_header">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"AGENCY_ADMIN.SETTINGS.MODULE_NAME.GLOBAL_MAPS" | translate}}</h1>
      <a href="javascript:void(0)" (click)="goToMapView()">{{"MAPS.SEE_COUNTRIES_MAP" | translate}}</a>
    </div>

    <!-- Region header -->
    <div *ngFor="let x of regions">
      <div class="Accordion Ribbon__response Ribbon__section__wrap"  role="tablist" aria-multiselectable="true"
           [attr.data-target]="x.listOfCountries()" data-toggle="collapse" [attr.href]="x.getRegionIdHash()"
           aria-expanded="true">
        <div class="Ribbon__header__wrap">
          <div class="Ribbon__header__number">
            <h4> {{x.regionName}}</h4>
          </div>
          <div class="Ribbon__header__chevron"></div>
        </div>
      </div>

      <div id="{{x.getRegionId()}}" class="Ribbon__section__wrap Spaced collapse">
        <div *ngFor="let y of countries">
          <div *ngIf="x.countries.has(y.countryId)">
            <div class="Accordion Map-list" data-toggle="collapse" [attr.href]="moduleAccess.minimumPreparedness ? x.getDepartmentIdHash(y.countryId) : 'err'"
                 aria-expanded="true" id="{{x.getCountryId(y.countryId)}}">
              <div class="row align-items-center">
                <div class="col-md-2 col-lg-2 col-sm-2 text-center Subtle-border-right">
                  <i
                    class="Icon__square--transparent Icon__country--{{getCountryCodeFromLocation(y.location).toUpperCase()}} Icon--lg"></i>
                  <p><strong>{{"GLOBAL.COUNTRIES." + getCountryCodeFromLocation(y.location).toUpperCase() |
                    translate}} ({{getCountryCodeFromLocation(y.location)}})</strong></p>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 text-center">
                  <i *ngIf="y.overall() == -1 || !moduleAccess.minimumPreparedness" class="fa fa-times-circle fa-5x text-muted"></i>
                  <i *ngIf="y.overall() >= minThreshGreen && moduleAccess.minimumPreparedness" class="fa fa-check-circle fa-5x text-success"
                     aria-hidden="true"></i>
                  <i *ngIf="y.overall() >= minThreshYellow && !(y.overall() >= minThreshGreen) && moduleAccess.minimumPreparedness"
                     class="fa fa-exclamation-circle fa-5x text-warning" aria-hidden="true"></i>
                  <i
                    *ngIf="!(y.overall() >= minThreshYellow) && !(y.overall() >= minThreshGreen) && y.overall() != -1 && moduleAccess.minimumPreparedness"
                    class="fa fa-times-circle fa-5x text-danger" aria-hidden="true"></i>
                  <p>{{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}}</p>
                </div>
                <div class="col-sm-7">
                  <div *ngFor="let z of y.hazardScenarioList">
                    <div class="col-sm- col-md-2 text-center pull-right">
                      <p class="text-center"><i
                        class="Icon__circle Icon--b-black {{(isNumber(z) && z != -1 ? getCSSHazard(z) : 'Icon--alert')}} Icon--sm text-center"></i>
                      </p>
                      <p *ngIf="isNumber(z)"><span><b>{{("GLOBAL.HAZARD_SCENARIOS.HAZARD_SCENARIO" + z | translate)}}</b></span>
                      </p>
                      <p class="MapList__HazardOverflow" *ngIf="!isNumber(z)">
                        <b>{{mapService.otherHazardMap.get(z)}}</b></p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-1"><i class="fa fa-caret-down text-primary" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
          <div class="Accordion__Content collapse" id="{{moduleAccess.minimumPreparedness ? x.getDepartmentId(y.countryId) : 'nomin'}}">
            <div class="info-window container-fluid">
              <div class="info-window__subheading row">
                <div class="col">{{"MAPS.MPA" | translate}}</div>
              </div>
              <table class="table">
                <thead>
                <tr *ngIf="y.departments.length == 0">
                  <th class="col-8 text-left">{{"MAPS.NO_DEPARTMENTS" | translate}}</th>
                  <th class="col-4 text-center"></th>
                </tr>
                <tr *ngIf="y.departments.length != 0">
                  <th class="col-8 text-left">{{"MAPS.DEPARTMENTS" | translate}}</th>
                  <th class="col-4 text-center">{{"MAPS.READINESS" | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let z of y.departments">
                  <td>{{DEPARTMENT_MAP.get(z.id)}}</td>
                  <td *ngIf="z.overall() >= minThreshGreen"><i class="fa fa-check-circle fa-2x text-success"
                                                                  aria-hidden="true"></i></td>
                  <td *ngIf="z.overall() >= minThreshYellow && !(z.overall() >= minThreshGreen)"><i
                    class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
                  <td *ngIf="!(z.overall() >= minThreshYellow) && !(z.overall() >= minThreshGreen)"><i
                    class="fa fa-times-circle fa-2x text-danger" aria-hidden="true"></i></td>
                </tr>
                <tr *ngIf="y.departments.length != 0">
                  <td><strong>{{"MAPS.OVERALL" | translate}}</strong></td>
                  <td *ngIf="y.overall() >= minThreshGreen"><i class="fa fa-check-circle fa-2x text-success"
                                                                     aria-hidden="true"></i></td>
                  <td *ngIf="y.overall() >= minThreshYellow && !(y.overall() >= minThreshGreen)"><i
                    class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
                  <td *ngIf="!(y.overall() >= minThreshYellow) && !(y.overall() >= minThreshGreen)"><i
                    class="fa fa-times-circle fa-2x text-danger" aria-hidden="true"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="Accordion Ribbon__response Ribbon__section__wrap"  role="tablist" aria-multiselectable="true"
           [attr.data-target]="otherRegion.listOfCountries()" data-toggle="collapse" [attr.href]="otherRegion.getRegionIdHash()"
           aria-expanded="true">
        <div class="Ribbon__header__wrap">
          <div class="Ribbon__header__number">
            <h4> {{otherRegion.regionName}}</h4>
          </div>
          <div class="Ribbon__header__chevron"></div>
        </div>
      </div>
      <div id="{{otherRegion.getRegionId()}}" class="Ribbon__section__wrap Spaced collapse">
        <div *ngFor="let y of countries">
          <div *ngIf="otherRegion.countries.has(y.countryId)">
            <div class="Accordion Map-list" data-toggle="collapse"
                 [attr.href]="moduleAccess.minimumPreparedness ? otherRegion.getDepartmentIdHash(y.countryId) : 'err'"
                 aria-expanded="true" id="{{otherRegion.getCountryId(y.countryId)}}">
              <div class="row align-items-center">
                <div class="col-md-2 col-lg-2 col-sm-2 text-center Subtle-border-right">
                  <i
                    class="Icon__square--transparent Icon__country--{{getCountryCodeFromLocation(y.location).toUpperCase()}} Icon--lg"></i>
                  <p><strong>{{"GLOBAL.COUNTRIES." + getCountryCodeFromLocation(y.location).toUpperCase() |
                    translate}} ({{getCountryCodeFromLocation(y.location)}})</strong></p>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 text-center">
                  <i *ngIf="y.overall() == -1 || !moduleAccess.minimumPreparedness" class="fa fa-times-circle fa-5x text-muted"></i>
                  <i *ngIf="y.overall() >= minThreshGreen && moduleAccess.minimumPreparedness" class="fa fa-check-circle fa-5x text-success"
                     aria-hidden="true"></i>
                  <i *ngIf="y.overall() >= minThreshYellow && !(y.overall() >= minThreshGreen) && moduleAccess.minimumPreparedness"
                     class="fa fa-exclamation-circle fa-5x text-warning" aria-hidden="true"></i>
                  <i
                    *ngIf="!(y.overall() >= minThreshYellow) && !(y.overall() >= minThreshGreen) && y.overall() != -1 && moduleAccess.minimumPreparedness"
                    class="fa fa-times-circle fa-5x text-danger" aria-hidden="true"></i>
                  <p>{{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}}</p>
                </div>
                <div class="col-sm-7">
                  <div *ngFor="let z of y.hazardScenarioList">
                    <p>HAZARDS!</p>
                    <div class="col-sm- col-md-2 text-center pull-right">
                      <p class="text-center"><i
                        class="Icon__circle Icon--b-black {{(isNumber(z) ? getCSSHazard(z) : 'Icon--alert')}} Icon--sm text-center"></i>
                      </p>
                      <p *ngIf="isNumber(z)"><span><b>{{"GLOBAL.HAZARD_SCENARIOS.HAZARD_SCENARIO" + z | translate}}</b></span>
                      </p>
                      <p class="MapList__HazardOverflow" *ngIf="!isNumber(z)">
                        <b>{{z}}</b></p>
                    </div>
                  </div>
                </div>
                <!--<div class="col-md-2 col-lg-2 col-sm-2"></div>-->
                <!--<div class="col-md-4 col-sm-4"></div>-->
                <!--<div class="col-sm-1 text-center">-->
                <!--<i class="Icon__circle Icon&#45;&#45;b-black Icon&#45;&#45;cyclone Icon&#45;&#45;sm"></i>-->
                <!--<span><b>Typhoon</b></span>-->
                <!--</div>-->
                <div class="col-sm-1"><i class="fa fa-caret-down text-primary" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
          <div class="Accordion__Content collapse" id="{{moduleAccess.minimumPreparedness ? otherRegion.getDepartmentId(y.countryId) : 'nomin'}}">
            <div class="info-window container-fluid">
              <div class="info-window__subheading row">
                <div class="col">{{"MAPS.MPA" | translate}}</div>
              </div>
              <table class="table">
                <thead>
                <tr *ngIf="y.departments.length == 0">
                  <th class="col-8 text-left">{{"MAPS.NO_DEPARTMENTS" | translate}}</th>
                  <th class="col-4 text-center"></th>
                </tr>
                <tr *ngIf="y.departments.length != 0">
                  <th class="col-8 text-left">{{"MAPS.DEPARTMENTS" | translate}}</th>
                  <th class="col-4 text-center">{{"MAPS.READINESS" | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let z of y.departments">
                  <td>{{DEPARTMENT_MAP.get(z.id)}}</td>
                  <td *ngIf="z.overall() >= minThreshGreen"><i class="fa fa-check-circle fa-2x text-success"
                                                                  aria-hidden="true"></i></td>
                  <td *ngIf="z.overall() >= minThreshYellow && !(z.overall() >= minThreshGreen)"><i
                    class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
                  <td *ngIf="!(z.overall() >= minThreshYellow) && !(z.overall() >= minThreshGreen)"><i
                    class="fa fa-times-circle fa-2x text-danger" aria-hidden="true"></i></td>
                </tr>
                <tr *ngIf="y.departments.length != 0">
                  <td><strong>{{"MAPS.OVERALL" | translate}}</strong></td>
                  <td *ngIf="y.overall() >= minThreshGreen"><i class="fa fa-check-circle fa-2x text-success"
                                                                     aria-hidden="true"></i></td>
                  <td *ngIf="y.overall() >= minThreshYellow && !(y.overall() >= minThreshGreen)"><i
                    class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
                  <td *ngIf="!(y.overall() >= minThreshYellow) && !(y.overall() >= minThreshGreen)"><i
                    class="fa fa-times-circle fa-2x text-danger" aria-hidden="true"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
