<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>Global Map</h1>
      <a (click)="goToMapView()">See countries as a map</a>
      <a href="" (click)="goToMapView()">See countries as a map</a>
    </div>
    <div class="Ribbon__section__wrap Spaced">
      <div class="Accordion Map-list" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="row align-items-center">
          <div class="col-md-2 col-lg-2 col-sm-2 text-center Subtle-border-right"><i class="Icon__square--transparent  Icon__country--philippines Icon--lg"></i><b><p>Philippines (PHL)</p></b></div>
          <div class="col-md-2 col-lg-2 col-sm-2 text-center"><i class="fa fa-check-circle fa-5x text-success" aria-hidden="true"></i><p>Minimum Preparedness</p></div>
          <div class="col-md-2 col-lg-2 col-sm-2"></div>
          <div class="col-md-3 col-sm-3"></div>
          <div class="col-md-2 col-sm-2 text-center">
            <i class="Icon__circle Icon--b-black Icon--cyclone Icon--sm"></i>
            <span>Typhoon</span>
          </div>
          <div class="col-sm-1"><i class="fa fa-caret-down text-primary" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="Accordion__Content collapse" id="collapseOne">
        <div class="info-window container-fluid">
          <div class="info-window__subheading row">
            <div class="col">Minimum Preparedness Action (MPAs)</div>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th class="col-8 text-left">Department</th>
              <th class="col-4 text-center">Readliness</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>CHS</td>
              <td><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Finance</td>
              <td><i class="fa fa-times-circle fa-2x text-danger" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>HR</td>
              <td><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Logistics</td>
              <td><i class="fa fa-check-circle fa-2x text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Programme</td>
              <td><i class="fa fa-check-circle fa-2x text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Security</td>
              <td><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="Accordion Map-list" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <div class="row align-items-center">
          <div class="col-md-2 col-lg-2 col-sm-2 text-center Subtle-border-right"><i class="Icon__square--transparent  Icon__country--indonesia Icon--lg"></i><b><p>Indonesia (ID)</p></b></div>
          <div class="col-md-2 col-lg-2 col-sm-2 text-center"><i class="fa fa-check-circle fa-5x text-success" aria-hidden="true"></i><p>Minimum Preparedness</p></div>
          <div class="col-md-2 col-lg-2 col-sm-2"></div>
          <div class="col-md-3 col-sm-3"></div>
          <div class="col-md-2 col-sm-2 text-center">
          </div>
          <div class="col-sm-1"><i class="fa fa-caret-down text-primary" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="Accordion__Content collapse" id="collapseTwo">
        <div class="info-window container-fluid">
          <div class="info-window__subheading row">
            <div class="col">Minimum Preparedness Action (MPAs)</div>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th class="col-8 text-left">Department</th>
              <th class="col-4 text-center">Readliness</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>CHS</td>
              <td><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Finance</td>
              <td><i class="fa fa-times-circle fa-2x text-danger" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>HR</td>
              <td><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Logistics</td>
              <td><i class="fa fa-check-circle fa-2x text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Programme</td>
              <td><i class="fa fa-check-circle fa-2x text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Security</td>
              <td><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="Accordion Map-list" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        <div class="row align-items-center">
          <div class="col-md-2 col-lg-2 col-sm-2 text-center Subtle-border-right"><i class="Icon__square--transparent Icon__country--malaysia Icon--lg"></i><b><p>Malaysia (MY)</p></b></div>
          <div class="col-md-2 col-lg-2 col-sm-2 text-center"><i class="fa fa-check-circle fa-5x text-success" aria-hidden="true"></i><p>Minimum Preparedness</p></div>
          <div class="col-md-2 col-lg-2 col-sm-2"></div>
          <div class="col-md-3 col-sm-3"></div>
          <div class="col-md-2 col-sm-2 text-center">
          </div>
          <div class="col-sm-1"><i class="fa fa-caret-down text-primary" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="Accordion__Content collapse" id="collapseThree">
        <div class="info-window container-fluid">
          <div class="info-window__subheading row">
            <div class="col">Minimum Preparedness Action (MPAs)</div>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th class="col-8 text-left">Department</th>
              <th class="col-4 text-center">Readliness</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>CHS</td>
              <td><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Finance</td>
              <td><i class="fa fa-times-circle fa-2x text-danger" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>HR</td>
              <td><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Logistics</td>
              <td><i class="fa fa-check-circle fa-2x text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Programme</td>
              <td><i class="fa fa-check-circle fa-2x text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Security</td>
              <td><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
