<ng-container *ngIf="!isViewing; else country">
  <ng-container *ngIf="!isLocalNetworkAdmin; else localNetworkAdmin">
    <app-network-country-header></app-network-country-header>
    <app-network-country-menu></app-network-country-menu>
  </ng-container>
</ng-container>

<ng-template #localNetworkAdmin>
  <app-local-network-header></app-local-network-header>
  <app-local-network-menu></app-local-network-menu>
</ng-template>

<ng-template #country>
  <ng-container *ngIf="!isLocalNetworkAdmin">
    <app-country-admin-header></app-country-admin-header>
    <app-network-country-menu [isViewing]="isViewing"></app-network-country-menu>
  </ng-container>
  <ng-container *ngIf="isLocalNetworkAdmin">
    <app-country-admin-header></app-country-admin-header>
    <app-local-network-menu [isViewing]="isViewing"></app-local-network-menu>
  </ng-container>
</ng-template>


<app-alert-loader *ngIf="showLoader"></app-alert-loader>

<div class="Page-top__wrap--w_sub_header--no-paddng--grey">
  <div class="Full-page__wrap--inner">

    <app-network-country-statistics-ribbon
      [isLocalNetworkAdmin]="isLocalNetworkAdmin"></app-network-country-statistics-ribbon>

    <!--alert screen-->
    <div
      *ngIf="DashboardTypeUsed == DashboardType.default && (!isViewing || (isViewing && networkModules && networkModules[NETWORK_MODULE.RiskMonitoring].status))">
      <div *ngIf="alerts | async as alertList">
        <div class="Widget Alert-Widget" *ngFor="let alert of alertList">
          <div class="row">

            <div class="col-md-3 Alert-Widget__item"
                 [class.AlertLevel-gray]="alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.WaitingResponse"
                 [class.AlertLevel-red]="alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.Approved"
                 [class.AlertLevel-amber]="alert.alertLevel == AlertLevels.Amber">
              <h4 *ngIf="alert.alertLevel == AlertLevels.Red">{{"GLOBAL.ALERTS.RED" | translate}}</h4>
              <h4 *ngIf="alert.alertLevel == AlertLevels.Amber">{{"GLOBAL.ALERTS.AMBER" | translate}}</h4>
            </div>

            <div class="col-md-2 Alert-Widget__item Alert-Widget__item--risk">
              <i div
                 class="Icon__circle Icon--sm Icon--b-dark-blue {{(isNumber(alert.hazardScenario) ? getCSSHazard(alert.hazardScenario) : 'Icon--alert')}}"></i>
              <div>
                <span>{{"ALERT.RISK" | translate}}:</span>
                {{alert.hazardScenario != -1 ? (HazardScenariosList[alert.hazardScenario] | translate) :
                (alert.otherName)}}
              </div>
            </div>
            <div class="col-md-2 Alert-Widget__item">
              <div>
                <span>{{"ALERT.POPULATION_AFFECTED" | translate}}:</span> {{alert.estimatedPopulation}} {{"ALERT.PEOPLE"
                | translate}}
              </div>
            </div>
            <div class="col-md-2 Alert-Widget__item">
              <div *ngIf="alert.affectedAreasDisplay">
                <!--<span>{{"ALERT.AFFECTED_AREAS" | translate}}:</span> {{alert.affectedAreasDisplay}}-->
                <a href="javascript:void(0)" class="text-primary"
                   (click)="showAffectedAreasForAlert(alert.affectedAreasDisplay)">
                  {{alert.affectedAreasDisplay.length}} {{"ALERT.AFFECTED_AREAS" | translate}}
                </a>
              </div>
            </div>

            <div class="col-md-1 Alert-Widget__item Alert-Widget__item--notes">
              <a href="javascript:void(0)" class="text-primary" data-toggle="collapse" [attr.data-target]="'#'+alert.id"
                 aria-expanded="false" [attr.aria-controls]="alert.id">
                <div class="fa-stack">
                  <i class="fa fa-comment fa-stack-2x"></i>
                  <i class="fa fa-stack-1x fa-inverse"></i>
                </div>
                <div>{{"GLOBAL.NOTES" | translate}}</div>
              </a>
            </div>


            <div class="col-md-2 Alert-Widget__item">
              <span *ngIf="(alert.alertLevel != AlertLevels.Red && alert.approvalStatus == AlertStatus.WaitingResponse)
              || (alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.WaitingResponse)"
                    class="text-danger text-bold">{{"ALERT.RED_ALERT_REQUESTED" | translate}}</span>
              <button
                *ngIf="!(alert.alertLevel != AlertLevels.Red && alert.approvalStatus == AlertStatus.WaitingResponse) && !(alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.WaitingResponse)"
                class="btn btn-outline-primary"
                (click)="updateAlert(alert.id)">
                {{"ALERT.UPDATE_ALERT_LEVEL" | translate}}
              </button>
            </div>

          </div>

          <!--notes modal-->
          <div id="{{alert.id}}" class="Popover__ribbon prevent_parent_collapse collapse col-12 notes-popover">
            <!-- Notes -->
            <div class="row Spaced">
              <div class="col-md-2"></div>
              <div class="col-md-10">
                <div class="row align-items-center Small-spaced no-gutters">
                  <div class="col-sm-6 col-8">
                    <h4>{{"ALERT.INFO_AND_NOTES" | translate}}</h4>
                  </div>
                  <div class="col-sm-6 col-4 text-right">
                    <a href="javascript:void(0);"
                       onClick="$(this).parent().parent().parent().parent().parent().collapse('hide')">{{"GLOBAL.CLOSE"
                      | translate}}</a>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-sm-10 col-12 notes-popover__item">
                    <p>
                      {{alert.infoNotes}}
                    </p>
                    <p>
                      <strong>{{"BY" | translate}} {{alert.createdByName}}</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!--director alert screen-->
    <div *ngIf="DashboardTypeUsed == DashboardType.director && (!isViewing || (isViewing && networkModules && networkModules[NETWORK_MODULE.RiskMonitoring].status))">

      <div *ngIf="alertsNetwork | async as alertList">
        <div *ngFor="let alert of alertList">
          <div class="Widget Alert-Widget ">
            <div class="row">

              <div class="col-md-3 Alert-Widget__item"
                   [class.AlertLevel-gray]="alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.WaitingResponse"
                   [class.AlertLevel-red]="alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.Approved"
                   [class.AlertLevel-amber]="alert.alertLevel == AlertLevels.Amber">
                <h4 *ngIf="alert.alertLevel == AlertLevels.Red">{{"GLOBAL.ALERTS.RED" | translate}}</h4>
                <h4 *ngIf="alert.alertLevel == AlertLevels.Amber">{{"GLOBAL.ALERTS.AMBER" | translate}}</h4>
              </div>

              <div class="col-md-2 Alert-Widget__item Alert-Widget__item--risk">
                <i div
                   class="Icon__circle Icon--sm Icon--b-dark-blue {{(isNumber(alert.hazardScenario) ? getCSSHazard(alert.hazardScenario) : 'Icon--alert')}}"></i>
                <div>
                  <span>{{"ALERT.RISK" | translate}}:</span>
                  {{alert.hazardScenario != -1 ? (HazardScenariosList[alert.hazardScenario] | translate) :
                  (alert.otherName)}}
                </div>
              </div>
              <div class="col-md-2 Alert-Widget__item">
                <div>
                  <span>{{"ALERT.POPULATION_AFFECTED" | translate}}:</span> {{alert.estimatedPopulation}}
                  {{"ALERT.PEOPLE"
                  |
                  translate}}
                </div>
              </div>
              <div class="col-md-2 Alert-Widget__item">
                <div *ngIf="alert.affectedAreasDisplay">
                  <!--<span>{{"ALERT.AFFECTED_AREAS" | translate}}:</span> {{alert.affectedAreasDisplay}}-->
                  <a href="javascript:void(0)" class="text-primary"
                     (click)="showAffectedAreasForAlert(alert.affectedAreasDisplay)">
                    {{alert.affectedAreasDisplay.length}} {{"ALERT.AFFECTED_AREAS" | translate}}
                  </a>
                </div>
              </div>

              <div class="col-md-1 Alert-Widget__item Alert-Widget__item--notes">
                <a href="javascript:void(0)" class="text-primary" data-toggle="collapse"
                   [attr.data-target]="'#'+alert.id"
                   aria-expanded="false" [attr.aria-controls]="alert.id">
                  <div class="fa-stack">
                    <i class="fa fa-comment fa-stack-2x"></i>
                    <i class="fa fa-stack-1x fa-inverse"></i>
                  </div>
                  <div>{{"GLOBAL.NOTES" | translate}}</div>
                </a>
              </div>


              <div class="col-md-2 Alert-Widget__item">
                <span class="text-danger text-bold"></span>

                <button *ngIf="alert.approvalStatus == AlertStatus.WaitingResponse" class="btn btn-outline-danger"
                        (click)="updateAlert(alert.id)">
                  {{"ALERT.ACCEPT_REJECT_ALERT_LEVEL" | translate}}
                </button>
              </div>

            </div>


            <div id="{{alert.id}}" class="Popover__ribbon prevent_parent_collapse collapse col-12 notes-popover">
              <div class="row Spaced">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                  <div class="row align-items-center Small-spaced no-gutters">
                    <div class="col-sm-6 col-8">
                      <h4>{{"ALERT.INFO_AND_NOTES" | translate}}</h4>
                    </div>
                    <div class="col-sm-6 col-4 text-right">
                      <a href="javascript:void(0);"
                         onClick="$(this).parent().parent().parent().parent().parent().collapse('hide')">{{"GLOBAL.CLOSE"
                        |
                        translate}}</a>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-sm-10 col-12 notes-popover__item">
                      <p>
                        {{alert.infoNotes}}
                      </p>
                      <p>
                        <strong>{{"BY" | translate}} {{alert.createdByName}}</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>

          <div class="alert-danger" *ngIf="approveMap.get(alert.id)">
            <br>
            <div *ngIf="alert.alertLevel == AlertLevels.Red">
              <div class="Centered row Spaced-above">
                <h6 class="col-sm-7 text-gray-dark text-center"><strong>{{alert.createdByName}}</strong>
                  {{"HAS_REQ_ALERT_LEVEL_TO_GO_FROM_AMBER_TO_RED_ON_THE" | translate}} <strong>{{alert.timeUpdated ?
                    alert.timeUpdated : alert.timeCreated | date:"dd/MM/yyyy"}}</strong></h6>
              </div>
              <div class="Centered row Spaced-above">
                <p class="text-gray-dark text-left col-sm-7"><strong>{{"REASONS_FOR_RAISING_ALERT_LEVEL" |
                  translate}}:</strong>
                  "{{alert?.reasonForRedAlert}}" - {{alert?.createdByName.split(" ")[0]}}</p>
              </div>
              <div class="Centered row Spaced">
                <button class="btn btn-danger col-sm-4 col-md-3 text-capitalize align-self-center"
                        (click)="approveRedAlert(alert.id)">{{"APPROVED_RED_ALERT_LEVEL" | translate}}
                </button>
              </div>
              <div class="Centered row"><a href="javascript:void(0)" (click)="rejectRedRequest(alert)">{{"OR_REJECT_THIS_REQUEST"
                | translate}}</a></div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <div *ngIf="alertsNetworkLocal | async as alertList">
        <div *ngFor="let alert of alertList">
          <div class="Widget Alert-Widget ">
            <div class="row">

              <div class="col-md-3 Alert-Widget__item"
                   [class.AlertLevel-gray]="alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.WaitingResponse"
                   [class.AlertLevel-red]="alert.alertLevel == AlertLevels.Red && alert.approvalStatus == AlertStatus.Approved"
                   [class.AlertLevel-amber]="alert.alertLevel == AlertLevels.Amber">
                <h4 *ngIf="alert.alertLevel == AlertLevels.Red">{{"GLOBAL.ALERTS.RED" | translate}}</h4>
                <h4 *ngIf="alert.alertLevel == AlertLevels.Amber">{{"GLOBAL.ALERTS.AMBER" | translate}}</h4>
              </div>

              <div class="col-md-2 Alert-Widget__item Alert-Widget__item--risk">
                <i div
                   class="Icon__circle Icon--sm Icon--b-dark-blue {{(isNumber(alert.hazardScenario) ? getCSSHazard(alert.hazardScenario) : 'Icon--alert')}}"></i>
                <div>
                  <span>{{"ALERT.RISK" | translate}}:</span>
                  {{alert.hazardScenario != -1 ? (HazardScenariosList[alert.hazardScenario] | translate) :
                  (alert.otherName)}}
                </div>
              </div>
              <div class="col-md-2 Alert-Widget__item">
                <div>
                  <span>{{"ALERT.POPULATION_AFFECTED" | translate}}:</span> {{alert.estimatedPopulation}}
                  {{"ALERT.PEOPLE"
                  |
                  translate}}
                </div>
              </div>
              <div class="col-md-2 Alert-Widget__item">
                <div *ngIf="alert.affectedAreasDisplay">
                  <!--<span>{{"ALERT.AFFECTED_AREAS" | translate}}:</span> {{alert.affectedAreasDisplay}}-->
                  <a href="javascript:void(0)" class="text-primary"
                     (click)="showAffectedAreasForAlert(alert.affectedAreasDisplay)">
                    {{alert.affectedAreasDisplay.length}} {{"ALERT.AFFECTED_AREAS" | translate}}
                  </a>
                </div>
              </div>

              <div class="col-md-1 Alert-Widget__item Alert-Widget__item--notes">
                <a href="javascript:void(0)" class="text-primary" data-toggle="collapse"
                   [attr.data-target]="'#'+alert.id"
                   aria-expanded="false" [attr.aria-controls]="alert.id">
                  <div class="fa-stack">
                    <i class="fa fa-comment fa-stack-2x"></i>
                    <i class="fa fa-stack-1x fa-inverse"></i>
                  </div>
                  <div>{{"GLOBAL.NOTES" | translate}}</div>
                </a>
              </div>


              <div class="col-md-2 Alert-Widget__item">
                <span class="text-danger text-bold"></span>

                <button *ngIf="alert.approvalStatus == AlertStatus.WaitingResponse" class="btn btn-outline-danger"
                        (click)="updateAlert(alert.id)">
                  {{"ALERT.ACCEPT_REJECT_ALERT_LEVEL" | translate}}
                </button>
              </div>

            </div>


            <div id="{{alert.id}}" class="Popover__ribbon prevent_parent_collapse collapse col-12 notes-popover">
              <div class="row Spaced">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                  <div class="row align-items-center Small-spaced no-gutters">
                    <div class="col-sm-6 col-8">
                      <h4>{{"ALERT.INFO_AND_NOTES" | translate}}</h4>
                    </div>
                    <div class="col-sm-6 col-4 text-right">
                      <a href="javascript:void(0);"
                         onClick="$(this).parent().parent().parent().parent().parent().collapse('hide')">{{"GLOBAL.CLOSE"
                        |
                        translate}}</a>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-sm-10 col-12 notes-popover__item">
                      <p>
                        {{alert.infoNotes}}
                      </p>
                      <p>
                        <strong>{{"BY" | translate}} {{alert.createdByName}}</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>

          <div class="alert-danger" *ngIf="approveMap.get(alert.id)">
            <br>
            <div *ngIf="alert.alertLevel == AlertLevels.Red">
              <div class="Centered row Spaced-above">
                <h6 class="col-sm-7 text-gray-dark text-center"><strong>{{alert.createdByName}}</strong>
                  {{"HAS_REQ_ALERT_LEVEL_TO_GO_FROM_AMBER_TO_RED_ON_THE" | translate}} <strong>{{alert.timeUpdated ?
                    alert.timeUpdated : alert.timeCreated | date:"dd/MM/yyyy"}}</strong></h6>
              </div>
              <div class="Centered row Spaced-above">
                <p class="text-gray-dark text-left col-sm-7"><strong>{{"REASONS_FOR_RAISING_ALERT_LEVEL" |
                  translate}}:</strong>
                  "{{alert?.reasonForRedAlert}}" - {{alert?.createdByName.split(" ")[0]}}</p>
              </div>
              <div class="Centered row Spaced">
                <button class="btn btn-danger col-sm-4 col-md-3 text-capitalize align-self-center"
                        (click)="approveRedAlert(alert.id)">{{"APPROVED_RED_ALERT_LEVEL" | translate}}
                </button>
              </div>
              <div class="Centered row"><a href="javascript:void(0)" (click)="rejectRedRequest(alert)">{{"OR_REJECT_THIS_REQUEST"
                | translate}}</a></div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <div *ngIf="redAlerts | async as alertList">
        <div *ngFor="let alert of alertList">
          <div class="Widget Alert-Widget ">
            <div class="row">

              <div class="col-md-3 Alert-Widget__item AlertLevel-red">
                <h4>{{"GLOBAL.ALERTS.RED" | translate}}</h4>
              </div>

              <div class="col-md-2 Alert-Widget__item Alert-Widget__item--risk">
                <i div
                   class="Icon__circle Icon--sm Icon--b-dark-blue {{(isNumber(alert.hazardScenario) ? getCSSHazard(alert.hazardScenario) : 'Icon--alert')}}"></i>
                <div>
                  <span>{{"ALERT.RISK" | translate}}:</span>
                  {{alert.hazardScenario!=-1 ? (HazardScenariosList[alert.hazardScenario] | translate) :
                  (alert.otherName)}}
                </div>
              </div>
              <div class="col-md-2 Alert-Widget__item">
                <div>
                  <span>{{"ALERT.POPULATION_AFFECTED" | translate}}:</span> {{alert.estimatedPopulation}}
                  {{"ALERT.PEOPLE"
                  |
                  translate}}
                </div>
              </div>
              <div class="col-md-2 Alert-Widget__item">
                <div *ngIf="alert.affectedAreasDisplay">
                  <!--<span>{{"ALERT.AFFECTED_AREAS" | translate}}:</span> {{alert.affectedAreasDisplay}}-->
                  <a href="javascript:void(0)" class="text-primary"
                     (click)="showAffectedAreasForAlert(alert.affectedAreasDisplay)">
                    {{alert.affectedAreasDisplay.length}} {{"ALERT.AFFECTED_AREAS" | translate}}
                  </a>
                </div>
              </div>

              <div class="col-md-1 Alert-Widget__item Alert-Widget__item--notes">
                <a href="javascript:void(0)" class="text-primary" data-toggle="collapse"
                   [attr.data-target]="'#'+alert.id"
                   aria-expanded="false" [attr.aria-controls]="alert.id">
                  <div class="fa-stack">
                    <i class="fa fa-comment fa-stack-2x"></i>
                    <i class="fa fa-stack-1x fa-inverse"></i>
                  </div>
                  <div>{{"GLOBAL.NOTES" | translate}}</div>
                </a>
              </div>


              <div class="col-md-2 Alert-Widget__item">
                <span class="text-danger text-bold"></span>

                <button class="btn btn-outline-primary" (click)="updateAlert(alert.id, true)">
                  {{"ALERT.UPDATE_ALERT_LEVEL" | translate}}
                </button>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div *ngIf="amberAlerts | async as alertList">
        <div *ngFor="let alert of alertList">
          <div class="Widget Alert-Widget ">
            <div class="row">
              <div class="col-md-3 Alert-Widget__item bg-warning">
                <h4>{{"GLOBAL.ALERTS.AMBER" | translate}}</h4>
              </div>
              <div class="col-md-2 Alert-Widget__item Alert-Widget__item--risk">
                <i
                  class="Icon__circle Icon--sm Icon--b-dark-blue {{(isNumber(alert.hazardScenario) ? getCSSHazard(alert.hazardScenario) : 'Icon--alert')}}"></i>
                <div>
                  <span>{{"ALERT.RISK" | translate}}:</span>
                  {{alert.hazardScenario != -1 ? (HazardScenariosList[alert.hazardScenario] | translate) :
                  (alert.otherName)}}
                </div>
              </div>
              <div class="col-md-2 Alert-Widget__item">
                <div>
                  <span>{{"ALERT.POPULATION_AFFECTED" | translate}}:</span> {{alert.estimatedPopulation}}
                  {{"ALERT.PEOPLE"
                  |
                  translate}}
                </div>
              </div>
              <div class="col-md-2 Alert-Widget__item">
                <div *ngIf="alert.affectedAreasDisplay">
                  <!--<span>{{"ALERT.AFFECTED_AREAS" | translate}}:</span> {{alert.affectedAreasDisplay}}-->
                  <a href="javascript:void(0)" class="text-primary"
                     (click)="showAffectedAreasForAlert(alert.affectedAreasDisplay)">
                    {{alert.affectedAreasDisplay.length}} {{"ALERT.AFFECTED_AREAS" | translate}}
                  </a>
                </div>
              </div>

              <div class="col-md-1 Alert-Widget__item Alert-Widget__item--notes">
                <a href="javascript:void(0)" class="text-primary" data-toggle="collapse"
                   [attr.data-target]="'#'+alert.id"
                   aria-expanded="false" [attr.aria-controls]="alert.id">
                  <div class="fa-stack">
                    <i class="fa fa-comment fa-stack-2x"></i>
                    <i class="fa fa-stack-1x fa-inverse"></i>
                  </div>
                  <div>{{"GLOBAL.NOTES" | translate}}</div>
                </a>
              </div>


              <div class="col-md-2 Alert-Widget__item">
                <!--<span class="text-danger text-bold"></span>-->
                <button class="btn btn-outline-primary"
                        (click)="updateAlert(alert.id, true)">
                  {{"ALERT.UPDATE_ALERT_LEVEL" | translate}}
                </button>
              </div>

            </div>


            <div id="{{alert.id}}" class="Popover__ribbon prevent_parent_collapse collapse col-12 notes-popover">
              <div class="row Spaced">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                  <div class="row align-items-center Small-spaced no-gutters">
                    <div class="col-sm-6 col-8">
                      <h4>{{"ALERT.INFO_AND_NOTES" | translate}}</h4>
                    </div>
                    <div class="col-sm-6 col-4 text-right">
                      <a href="javascript:void(0);"
                         onClick="$(this).parent().parent().parent().parent().parent().collapse('hide')">{{"GLOBAL.CLOSE"
                        |
                        translate}}</a>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-sm-10 col-12 notes-popover__item">
                      <p>
                        {{alert.infoNotes}}
                      </p>
                      <p>
                        <strong>{{"BY" | translate}} {{alert.createdByName}}</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>

          <div class="alert-info">
            <br>
            <div>
              <div class="row Spaced-above">
                <h6 class="col-sm-7 text-gray-dark"><strong>{{alert.updatedByName ? alert.updatedByName :
                  alert.createdByName}}</strong>
                  has set the alert to Amber Level on
                  <strong>{{alert.timeUpdated ? alert.timeUpdated : alert.timeCreated |
                    date:"dd/MM/yyyy"}}</strong></h6>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>

    </div>

    <!--empty rubber for default dashboard not partner-->
    <div *ngIf="userType!=UserType.PartnerUser">
      <div
        *ngIf="actionsOverdue.length == 0 && indicatorsOverdue.length == 0 && actionsToday.length==0 && indicatorsToday.length==0 && actionsThisWeek.length==0 && indicatorsThisWeek.length==0 && approvalPlans.length == 0"
        class="Widget">
        <h3>{{"DASHBOARD.MY_TASKS" | translate}}</h3>
        <div class="My-Tasks container-fluid">
          <div class="Empty--ribbon">
            {{"DASHBOARD.EMPTY_DEFAULT" | translate}}
          </div>
        </div>
      </div>
    </div>

    <!--empty rubber for default dashboard only partner user-->
    <div *ngIf="userType==UserType.PartnerUser">
      <div
        *ngIf="actionsOverdue.length == 0 && indicatorsOverdue.length == 0 && actionsToday.length==0 && indicatorsToday.length==0 && actionsThisWeek.length==0 && indicatorsThisWeek.length==0 && approvalPlans.length == 0"
        class="Widget">
        <h3>{{"DASHBOARD.MY_TASKS" | translate}}</h3>
        <div class="My-Tasks container-fluid">
          <div class="Empty--ribbon">
            {{"DASHBOARD.EMPTY_DEFAULT" | translate}}
          </div>
        </div>
      </div>
    </div>

    <!--my tasks-->
    <div class="Widget"
         *ngIf="actionsOverdue.length > 0 || indicatorsOverdue.length > 0 || actionsToday.length>0 || indicatorsToday.length>0 || actionsThisWeek.length>0 || indicatorsThisWeek.length>0 || approvalPlans.length>0">
      <div class="col-sm-5"><h3>{{"DASHBOARD.MY_TASKS" | translate}}</h3></div>
      <br>
      <div *ngIf="userType == UserType.CountryDirector">
        <div *ngIf="responsePlansForApproval | async as plans">
          <div *ngFor="let plan of plans" class="row Spaced">
            <div class="col-sm-9" col-md-1>
              <p class="col-sm-9 margin-bottom-none"><strong>{{plan?.displayName}}</strong>
                {{"DASHBOARD.SUBMIT_TO_APPROVE" | translate}}</p>
              <p class="col-sm-9 margin-bottom-none"><em>{{plan.name}}</em></p>
              <p class="col-sm-9 text-gray-light margin-bottom-none">{{"DASHBOARD.SUBMITTED" | translate}}
                {{plan.timeUpdated ?
                (plan.timeUpdated|date:"dd/MM/yyyy") : (plan.timeCreated|date:"dd/MM/yyyy")}}</p>
            </div>
            <div class="col-md-3">
              <!--<button class="btn btn-primary font-weight-normal" (click)="planReview(plan.$key)">-->
              <!--{{"DASHBOARD.REVIEW_AND_APPROVE" | translate}}-->
              <!--</button>-->
              <a href="javascript:void(0)" class="btn btn-primary btn-block" (click)="planReview(plan.$key)">
                {{"DASHBOARD.REVIEW_AND_APPROVE" | translate}}</a>
            </div>
          </div>
        </div>

      </div>
      <!--partner users-->
      <div *ngIf="userType == UserType.PartnerUser">
        <div *ngIf="responsePlansForApproval | async as plans">
          <div *ngFor="let plan of plans" class="row Spaced">
            <div class="col-sm-9" col-md-1>
              <p class="col-sm-9 margin-bottom-none"><strong>{{plan?.displayName}}</strong>
                {{"DASHBOARD.SUBMIT_TO_APPROVE" | translate}}</p>
              <p class="col-sm-9 margin-bottom-none"><em>{{plan.name}}</em></p>
              <p class="col-sm-9 text-gray-light margin-bottom-none">{{"DASHBOARD.SUBMITTED" | translate}}
                {{plan.timeUpdated ?
                (plan.timeUpdated|date:"dd/MM/yyyy") : (plan.timeCreated|date:"dd/MM/yyyy")}}</p>
            </div>
            <div class="col-md-3">
              <!--<button class="btn btn-primary font-weight-normal" (click)="planReview(plan.$key)">-->
              <!--{{"DASHBOARD.REVIEW_AND_APPROVE" | translate}}-->
              <!--</button>-->
              <a href="javascript:void(0)" class="btn btn-primary btn-block" (click)="planReview(plan.$key)">
                {{"DASHBOARD.REVIEW_AND_APPROVE" | translate}}</a>
            </div>
          </div>
        </div>
        <div *ngIf="responsePlansForApprovalNetwork | async as plans">
          <div *ngFor="let plan of plans" class="row Spaced">
            <div class="col-sm-9" col-md-1>
              <p class="col-sm-9 margin-bottom-none"><strong>{{plan?.displayName}}</strong>
                {{"DASHBOARD.SUBMIT_TO_APPROVE" | translate}}</p>
              <p class="col-sm-9 margin-bottom-none"><em>{{plan.name}}</em></p>
              <p class="col-sm-9 text-gray-light margin-bottom-none">{{"DASHBOARD.SUBMITTED" | translate}}
                {{plan.timeUpdated ?
                (plan.timeUpdated|date:"dd/MM/yyyy") : (plan.timeCreated|date:"dd/MM/yyyy")}}</p>
            </div>
            <div class="col-md-3">
              <!--<button class="btn btn-primary font-weight-normal" (click)="planReview(plan.$key)">-->
              <!--{{"DASHBOARD.REVIEW_AND_APPROVE" | translate}}-->
              <!--</button>-->
              <a href="javascript:void(0)" class="btn btn-primary btn-block" (click)="planReview(plan.$key)">
                {{"DASHBOARD.REVIEW_AND_APPROVE" | translate}}</a>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="actionsOverdue.length > 0 || indicatorsOverdue.length > 0 || actionsToday.length>0 || indicatorsToday.length>0 || actionsThisWeek.length>0 || indicatorsThisWeek.length>0">

        <div *ngFor="let action of actionsOverdue">
          <div *ngIf="shouldShow(action.level, action.action)" class="row Spaced">
            <div class="col-md-1">
              <i class="fa fa-exclamation-circle fa-2x text-danger" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
              <p>{{getActionTitle(action)}}<strong> {{action.dueDate | date:'mediumDate'}}</strong>.<br/>
                <span>{{getCHSActionTask(action)}} {{action.task}}</span>
              </p>
            </div>
            <div class="col-md-3">
              <a href="javascript:void(0)" class="btn btn-danger btn-block" (click)="navigateToNetworkActions(action)">
                {{"GLOBAL.UPDATE" | translate}}
              </a>
            </div>
          </div>
        </div>

        <ng-container
          *ngIf="!isViewing || (isViewing && networkModules && networkModules[NETWORK_MODULE.RiskMonitoring].status)">
          <div *ngFor="let indicator of indicatorsOverdue">
            <div class="row Spaced">
              <div class="col-md-1">
                <i class="fa fa-exclamation-circle fa-2x text-danger" aria-hidden="true"></i>
              </div>
              <div class="col-md-8">
                <p>{{getIndicatorName(indicator)}}<strong> {{indicator.dueDate | date:'mediumDate'}}</strong>.<br/>
                  <span>{{indicator.name}}</span>
                </p>
              </div>
              <div class="col-md-3">
                <a href="javascript:void(0)" class="btn btn-danger btn-block" (click)="navigateToNetworkIndicator(indicator)">
                   <!--[routerLink]="isViewing ? ['/network-country/network-risk-monitoring', networkViewValues] : isLocalNetworkAdmin ? ['/network/local-network-risk-monitoring'] : ['/network-country/network-risk-monitoring']">-->
                  {{"GLOBAL.UPDATE" | translate}}
                </a>
              </div>
            </div>
          </div>
        </ng-container>

        <div *ngFor="let action of actionsToday">
          <div *ngIf="shouldShow(action.level, action.action)" class="row Spaced">
            <div class="col-md-1">
              <i class="fa fa-exclamation-circle fa-2x text-danger" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
              <p> {{(getActionTitle(action))}}<strong> {{"TODAY" | translate}}</strong>.<br/>
                <span> {{getCHSActionTask(action)}} {{action.task}}</span>
                <span>{{action.type == actionType.mandated ? mandatedMap.get(action.$key)?.task : ''}}</span>

              </p>
            </div>
            <div class="col-md-3">
              <a href="javascript:void(0)" class="btn btn-danger btn-block"  (click)="navigateToNetworkActions(action)">
                 <!--[routerLink]="isViewing ? ['/network-country/network-country-mpa', networkViewValues] : isLocalNetworkAdmin ? ['/network/local-network-preparedness-mpa'] : ['/network-country/network-country-mpa']">-->
                {{"GLOBAL.UPDATE" | translate}}
              </a>
            </div>
          </div>
        </div>

        <ng-container
          *ngIf="!isViewing || (isViewing && networkModules && networkModules[NETWORK_MODULE.RiskMonitoring].status)">
          <div *ngFor="let indicator of indicatorsToday">
            <div class="row Spaced">
              <div class="col-md-1">
                <i class="fa fa-exclamation-circle fa-2x text-danger" aria-hidden="true"></i>
              </div>
              <div class="col-md-8">
                <p>{{getIndicatorName(indicator)}}<strong> {{"TODAY" | translate}}</strong>.<br/>
                  <span>{{indicator.name}}</span>
                </p>
              </div>
              <div class="col-md-3">
                <a href="javascript:void(0)" class="btn btn-danger btn-block" (click)="navigateToNetworkIndicator(indicator)">
                   <!--[routerLink]="isViewing ? ['/network-country/network-risk-monitoring', networkViewValues] : isLocalNetworkAdmin ? ['/network/local-network-risk-monitoring'] : ['/network-country/network-risk-monitoring']">-->
                  {{"GLOBAL.UPDATE" | translate}}
                </a>
              </div>
            </div>
          </div>
        </ng-container>

        <div *ngFor="let action of actionsThisWeek">
          <div *ngIf="shouldShow(action.level, action.action)" class="row Spaced">
            <div class="col-md-1">
              <i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
              <p>{{getActionTitle(action)}}<strong> {{"DASHBOARD.THIS_WEEK" | translate}}</strong>.<br/>
                  <span> {{getCHSActionTask(action)}} {{action.task}}</span>
                  <span>{{action.type == actionType.mandated ? mandatedMap.get(action.$key)?.task : ''}}</span>

              </p>

            </div>
            <div class="col-md-3">
              <a href="javascript:void(0)" class="btn btn-primary btn-block" (click)="navigateToNetworkActions(action)">
                 <!--[routerLink]="isViewing ? ['/network-country/network-country-mpa', networkViewValues] : isLocalNetworkAdmin ? ['/network/local-network-preparedness-mpa'] : ['/network-country/network-country-mpa']">-->
                {{"GLOBAL.UPDATE" | translate}}</a>
            </div>
          </div>
        </div>

        <ng-container
          *ngIf="!isViewing || (isViewing && networkModules && networkModules[NETWORK_MODULE.RiskMonitoring].status)">
          <div *ngFor="let indicator of indicatorsThisWeek">
            <div class="row Spaced">
              <div class="col-md-1">
                <i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i>
              </div>
              <div class="col-md-8">
                <p>{{getIndicatorName(indicator)}}<strong> {{"DASHBOARD.THIS_WEEK" | translate}}</strong>.<br/>
                  <span>{{indicator?.name}}</span>
                </p>
              </div>
              <div class="col-md-3">
                <a href="javascript:void(0)" class="btn btn-primary btn-block" (click)="navigateToNetworkIndicator(indicator)">
                   <!--[routerLink]="isViewing ? ['/network-country/network-risk-monitoring', networkViewValues] : isLocalNetworkAdmin ? ['/network/local-network-risk-monitoring'] : ['/network-country/network-risk-monitoring']">-->
                  {{"GLOBAL.UPDATE" | translate}}</a>
              </div>
            </div>
          </div>
        </ng-container>

      </div>

    </div>

    <!--risk monitoring & calendars-->
    <div class="Widget-Group"
         [hidden]="!((isViewing && networkModules && networkModules[NETWORK_MODULE.RiskMonitoring].status) || !isViewing)">

      <div class="Widget Risk-Monitoring">
        <h3>{{"RISK_MONITORING_TEXT" | translate}}</h3>
        <ul class="list-inline">
          <li class="list-inline-item">
            <div class="Icon">
              <div
                class="Icon--md Icon__circle Icon--b-dark-blue Icon__country--{{getCountryCodeFromLocation(countryLocation)}}"></div>
            </div>
            <span>{{"DASHBOARD.CONTEXT" | translate}}</span>
            {{countryContextIndicators.length}} {{"DASHBOARD.INDICATORS" | translate}}
          </li>
          <li class="list-inline-item" *ngFor="let hazard of hazards">
            <div class="Icon">
              <div
                class="Icon--md Icon__circle Icon--b-dark-blue {{(isNumber(hazard.hazardScenario) ? getCSSHazard(hazard.hazardScenario) : 'Icon--alert')}}"></div>
            </div>

            <span>{{hazard.hazardScenario != -1 ? (HazardScenariosList[hazard.hazardScenario] | translate) : hazard.otherName}}</span>
            {{numberOfIndicatorsObject[hazard.$key]}} {{"DASHBOARD.INDICATORS" | translate}}
          </li>
        </ul>
      </div>

      <div class="Widget Calendar-Widget">
        <h3>{{"DASHBOARD.CALENDAR.SEASONAL_CALENDAR" | translate}}</h3>
        <div id="target2" class="timeline-tgt Spaced"></div>
        <a href="javascript:void(0)"
           (click)="toCalendar()"
           [routerLink]="isViewing ? ['/network-country/network-calendar', networkViewValues] : isLocalNetworkAdmin ? ['/network/local-network-calendar'] : ['/network-country/network-calendar']">{{"DASHBOARD.CALENDAR.VIEW_FULL_CALENDAR"
          | translate}}</a>
      </div>

    </div>

  </div>
</div>

<div class="modal fade" id="view-areas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{"AFFECTED_AREAS" | translate}}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" *ngIf="affectedAreasToShow">
          <p *ngFor="let area of affectedAreasToShow">{{area.country | translate}} {{area.areas}}</p></div>
      </div>
    </div>
  </div>
</div>
