<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success" [show] = "alertMessage"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
        <div (click) = "this.router.navigateByUrl('/country-admin/country-staff');" class="Back--button">
        {{"COUNTRY_ADMIN.STAFF.TITLE_TEXT"| translate}}</div>
        <div class="Header-title__wrap">
            <h1 *ngIf="!isEdit">{{"COUNTRY_ADMIN.PARTNER.TITLE_ADD_PARTNER"| translate}}</h1>
            <h1 *ngIf="isEdit">{{"COUNTRY_ADMIN.PARTNER.TITLE_EDIT_PARTNER"| translate}}</h1>
            <button *ngIf="isEdit" type="button" class="btn btn-danger" (click)="deletePARTNER()">
              {{"COUNTRY_ADMIN.PARTNER.TITLE_DELETE_PARTNER" | translate}}
            </button>
        </div>
        <form #addPartnerForm (ngSubmit)="submit()" class="Spaced">
        <div class="row Spaced">
            <div class="col-lg-4 col-md-6 form-group">
                <label for="partner-org">{{"COUNTRY_ADMIN.PARTNER.PARTNER_ORGANISATION"| translate}}</label>
                <select class="form-control" id="partner-org" [(ngModel)] = "partner.partnerOrganisationId" name="partnerOrganisation">
                    <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
                    <option *ngFor="let partnerOrganisation of partnerOrganisations"
                        [value] = "partnerOrganisation.id">{{ partnerOrganisation.organisationName }}</option>
                </select>
            </div>
        </div>
        <div class="row Spaced">
            <div class="col-lg-4 col-md-6 form-group">
                <label for="Title">{{"GLOBAL.TITLE"| translate}}</label>
                <select class="form-control" id="Title" [(ngModel)]="userPublic.title" name="title" required #selectTitle>
                  <option value="null" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
                  <option *ngFor="let title of userTitleSelection" [value]="title">{{userTitle[title]|translate}}
                  </option>
                </select>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
                <label for="f-Name">{{"GLOBAL.USER_INFO.FIRST_NAME"| translate}}</label>
                <input type="text" class="form-control" [(ngModel)]="userPublic.firstName" name="firstName" id="f-Name" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}">
            </div>
            <div class="col-lg-4 col-md-6 form-group">
                <label for="l-Name">{{"GLOBAL.USER_INFO.LAST_NAME"| translate}}</label>
                <input type="text" class="form-control" [(ngModel)]="userPublic.lastName"  name="lastName" id="l-Name" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}">
            </div>
        </div>
        <div class="row Spaced">
            <div class="col-lg-4 col-md-6 form-group">
                <label for="Position">{{"COUNTRY_ADMIN.STAFF.POSITION"| translate}}</label>
                <input type="text" class="form-control" [(ngModel)]="partner.position" name="position" id="Position" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}">
            </div>
            <div class="col-lg-4 col-md-6 form-group">
                <label for="e-Address">{{"GLOBAL.USER_INFO.EMAIL"| translate}}</label>
                <input type="text" class="form-control" [(ngModel)]="userPublic.email" name="email" id="e-Address" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}">
            </div>
            <div class="col-lg-4 col-md-6 form-group">
                <label for="l-Name">{{"GLOBAL.USER_INFO.PHONE"| translate}}</label>
                <input type="text" class="form-control" [(ngModel)]="userPublic.phone" name="phone" id="l-Name" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}">
            </div>
        </div>

        <div class="form-group"><label>{{"GLOBAL.NOTIFICATIONS"| translate}}</label></div>
        <div class="row Spaced">
            <label *ngFor="let notification of partner?.notificationSettings | keyValues"
                class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5">
            <input type="checkbox" [(ngModel)] = "partner?.notificationSettings[notification.key]" name="notifications"
                    [checked]="partner.notificationSettings[notification.key]">{{notificationsSettingsSelection[notification.key] |
            translate}}</label>
        </div>
        
        <div class="form-group"><label>{{"COUNTRY_ADMIN.PARTNER.HAS_VALIDATION_PERMISSION"| translate}}</label></div>
        <div class="row">
            <label for="VP_no" class="Checkbox--ribbon col-md-1 col-sm-2">
            <input type="radio" name="hasValidationPermission" id="RT_no" [value]="false" [(ngModel)]="partner.hasValidationPermission">{{"GLOBAL.NO"|
            translate}}</label>
        </div>
        <div class="row">
            <label for="VP_yes" class="Checkbox--ribbon col-md-1 col-sm-2">
            <input type="radio" name="hasValidationPermission" id="VP_yes" [value]="true" [(ngModel)]="partner.hasValidationPermission">{{"GLOBAL.YES"|
            translate}}</label>
        </div>

        <div class="Form-submit__wrapper">
          <button *ngIf="!isEdit" class="btn btn-primary" type="submit" (click)="validateForm()">
            {{"COUNTRY_ADMIN.PARTNER.SAVE_NEW_PARTNER" | translate | uppercase}}
          </button>
          <button *ngIf="isEdit" class="btn btn-primary" type="submit" (click)="validateForm()">
            {{"COUNTRY_ADMIN.GLOBAL.SAVE_CHANGES" | translate | uppercase}}
          </button>
          <button class="btn btn-outline-secondary" (click)="cancel()">{{"GLOBAL.CANCEL"| translate}}</button>
      </div>
      </form>
    </div>

</div>

