<app-donor-header></app-donor-header>
<app-donor-menu></app-donor-menu>

<app-alert-loader [hidden]="loaderInactive"></app-alert-loader>

<div class="Page-top__wrap--w_sub_header">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"AGENCY_ADMIN.SETTINGS.MODULE_NAME.GLOBAL_MAPS" | translate}}</h1>
      <a href="javascript:void(0)" (click)="goToListView()">{{"MAPS.SEE_COUNTRIES_LIST" | translate}}</a>
    </div>
    <div class="Ribbon__section__wrap Spaced">
      <div id="global-map" #globalMap style="height: 500px;"></div>
    </div>
  </div>
</div>
