<app-donor-header></app-donor-header>
<app-donor-menu></app-donor-menu>

<app-alert-loader [hidden]="loaderInactive"></app-alert-loader>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Back--button row Spaced-above" routerLink="/donor-module">{{"HEADERS.GLOBAL_MAP" | translate}}</div>
    <div class="Header-title__wrap">
      <h1 *ngIf="networkToShow">{{"GLOBAL.COUNTRIES." + Countries[networkToShow.location] | translate}}</h1>
    </div>

    <div class="Bordered-box light-grey padding-one col-sm-8 Spaced-above">
      <div class="row margin-left-two">

        <div *ngIf="networkToShow" class="col-sm-4 text-center padding-one">
          <i class="Icon__square--transparent  Icon__country--{{Countries[networkToShow.location]}} Icon--lg"></i>
          <div class="Spaced-above">
            <b>
              <p>{{"GLOBAL.COUNTRIES." + Countries[networkToShow.location] | translate}}
                ({{Countries[networkToShow.location]}})</p>
            </b>
          </div>
        </div>

        <div class="text-center padding-one col-sm-4">
          <div class="Icon__circle Icon--blue Icon--lg">
            <!--<h1 class="margin-top-one">{{countryOffices.length}}</h1>-->
            <h1  class="margin-top-one">{{numOfCountryOffices}}</h1>

          </div>
          <div class="margin-top-three">
            <b>
              <p>{{"DONOR.AGENCIES_ACTIVE" | translate}}</p>
            </b>
          </div>
        </div>

        <div class="text-center padding-one col-sm-4">
          <div class="Icon__circle Icon--blue Icon--lg">
            <!--<h1 class="margin-top-one">{{countryOffices.length}}</h1>-->
            <h1  class="margin-top-one">{{numOfNetworkCountries + localNetworkData.length}}</h1>
          </div>
          <div class="margin-top-three">
            <b>
              <p>Network Countries Active</p>
            </b>
          </div>
        </div>
      </div>
    </div>

    <app-country-overview [systemId]="systemAdminId" [userId]="uid" [agencies]="agencies" [userType]="UserType" [countryOfficeData]="countryOffices" [networkCountryData]="networkCountries" [globalNetworks]="globalNetworks" [localNetworks]="localNetworkData"></app-country-overview>
  </div>
</div>
