<app-donor-header></app-donor-header>
<app-donor-menu></app-donor-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Back--button row Spaced-above">{{"HEADERS.GLOBAL_MAP" | translate}}</div>
    <div class="Header-title__wrap">
      <h1>Philippines</h1>
    </div>

    <div class="Bordered-box light-grey padding-one col-sm-4 Spaced-above">
      <div class="row margin-left-two">
        <div class="col-sm-6 text-center padding-one">
          <i class="Icon__square--transparent  Icon__country--philippines Icon--lg"></i>
          <div class="Spaced-above">
            <b>
              <p>Philippines (PH)</p>
            </b>
          </div>
        </div>

        <div class="text-center padding-one col-sm-6">
          <div class="Icon__circle Icon--blue Icon--lg">
            <h1 class="margin-top-one">10</h1>
          </div>
          <div class="margin-top-three">
            <b>
              <p>{{"DONOR.AGENCIES_ACTIVE" | translate}}</p>
            </b>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center Filter-form Spaced">
      <div class="col-lg-1 col-md-2 col-sm-6">
        {{"COUNTRY_ADMIN.VIEW_MY_AGENCY.SORT_BY" | translate}}:
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <select class="form-control" [(ngModel)]="alertLevelSelected" (change)="filter()">
          <option *ngFor="let alertLevelKey of alertLevelsList" [value]="alertLevelKey">{{alertLevels[alertLevelKey] |
            translate}}
          </option>
        </select>
      </div>
    </div>

    <div class="Ribbon__section__wrap Spaced">

      <div class="Accordion Preparedness__agency-list">
        <div class="row">
          <div class="col-sm-2 col-6 Preparedness__agency-list__item border-right">
            <div class="Icon--md Icon--align-center Icon__donors--ocha"></div>
            <span>OCHA</span>
          </div>
          <div class="col-sm-2 col-6 Preparedness__agency-list__item">
            <div class="Icon--md Icon__circle--transparent Icon--align-center Icon--alert Icon--b-red"></div>
            <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.ALERT_LEVEL" | translate}}</span>
          </div>
          <div class="col-sm-2 col-6 Preparedness__agency-list__item">
            <div class="Icon">
              <div class="Icon__circle Icon--align-center Icon--blue Icon--md">9</div>
            </div>
            <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.RESPONSE_PLANS" | translate}}</span>
          </div>
          <div class="col-sm-2 col-6 Preparedness__agency-list__item">
            <div class="Icon">
              <div class="Icon__circle Icon--align-center Icon--b-green Icon--md"><i
                class="fa fa-check fa-inverse fa-2x" aria-hidden="true"></i></div>
            </div>
            <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.MPA" | translate}}</span>
          </div>
          <div class="col-sm-2 col-6 Preparedness__agency-list__item">
            <div class="Icon">
              <div class="Icon__circle Icon--align-center Icon--b-orange Icon--md"><i
                class="fa fa-ellipsis-h fa-inverse fa-2x" aria-hidden="true"></i></div>
            </div>
            <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.APA" | translate}}</span>
          </div>
          <div class="col-sm-2 col-6 Preparedness__agency-list__item">
            <div class="Icon">
              <div class="Icon__circle Icon--align-center Icon--blue Icon--md">94%</div>
            </div>
            <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.CHS" | translate}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
