<div class="Sub-header_bar">
  <div class="Hamburger">
    <span></span>
  </div>
  <ul>
    <li class="" routerLinkActive="active">
      <a routerLink="/system-admin/agency">{{'SYSTEM_ADMIN.MENU.AGENCIES'|translate}}</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/system-admin/network">{{"SYSTEM_ADMIN.GLOBAL_NETWORKS.GLOBAL_NETWORKS" | translate}}</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/system-admin/min-prep">{{"SYSTEM_ADMIN.MENU.CHS" | translate}}</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/system-admin/mpa">{{"SYSTEM_ADMIN.MENU.MPAAPA" | translate}}</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/system-admin/system-settings">{{"SYSTEM_ADMIN.SETTING.TITLE" | translate}}</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/system-admin/messages">{{"SYSTEM_ADMIN.MENU.MESSAGE" | translate}}</a>
    </li>
  </ul>
</div>
