<div class="Sub-header_bar">
  <div class="Hamburger">
    <span></span>
  </div>
  <ul>
    <li>
      <a routerLink="/system-admin" routerLinkActive="active">{{'MENU.HOME'|translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/network" routerLinkActive="active">{{"MENU.NETWORK" | translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/min-prep" routerLinkActive="active">{{"MENU.CHS" | translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/mpa" routerLinkActive="active">{{"MENU.MPAAPA" | translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/system-settings" routerLinkActive="active">{{"MENU.SETTING" | translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/messages" routerLinkActive="active">{{"MENU.MESSAGE" | translate}}</a>
    </li>
  </ul>
</div>
