<div class="Sub-header_bar">
  <div class="Hamburger">
    <span></span>
  </div>
  <ul>
    <li>
      <a routerLink="/system-admin" routerLinkActive="active">{{'SYSTEM_ADMIN.MENU.AGENCIES'|translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/network" routerLinkActive="active">{{"SYSTEM_ADMIN.MENU.NETWORK" | translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/min-prep" routerLinkActive="active">{{"SYSTEM_ADMIN.MENU.CHS" | translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/mpa" routerLinkActive="active">{{"SYSTEM_ADMIN.MENU.MPAAPA" | translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/system-settings" routerLinkActive="active">{{"SYSTEM_ADMIN.MENU.SETTING" | translate}}</a>
    </li>
    <li>
      <a routerLink="/system-admin/messages" routerLinkActive="active">{{"SYSTEM_ADMIN.MENU.MESSAGE" | translate}}</a>
    </li>
  </ul>
</div>
