<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<div class="modal fade" id="deactivate_network" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deactivate <strong>Alliance 2015</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>Are you sure you want to deactivate this network? The
          associated users will be unable to access the network page
          and all associated indicators, actions and response plans
          will be removed.</p></div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>

      </div>
    </div>
  </div>
</div>


<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>Global Networks</h1>
      <button type="button" class="btn btn-primary">Add new network</button>
    </div>

    <div class="Empty--ribbon">No Global Networks have been added to ALERT</div>

    <table class="table Table__v-spacing__mid Agency-table">
      <tr>
        <td><img src="img/donor/agency-preview.svg" alt="" class="Agency-logo"></td>
        <td>Alliance 2015</td>
        <td>Active</td>
        <td>
          <div class="btn btn-danger" data-toggle="modal" data-target="#deactivate_network">Deactivate</div>
          <div class="btn btn-primary">Edit</div>
        </td>
      </tr>
      <tr>
        <td><img src="img/donor/StartNetwork.svg" alt="" class="Agency-logo"></td>
        <td>Start Nextwork</td>
        <td>Active</td>
        <td>
          <div class="btn btn-danger" data-toggle="modal" data-target="#deactivate_network">Deactivate</div>
          <div class="btn btn-primary">Edit</div>
        </td>
      </tr>
    </table>
  </div>
</div>

