<app-network-header></app-network-header>
<app-network-menu></app-network-menu>

<app-alert-loader *ngIf="showLoader"></app-alert-loader>

<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Header-title__wrap">
      <h1>Network Messages</h1>
      <a routerLink="/network/network-message/network-create-edit-message" class="btn btn-primary">{{"MESSAGES.CREATE_NEW_MESSAGE"
        | translate | uppercase}}</a>
    </div>

    <div *ngIf="(sentMessages)?.length == 0" class="Empty--ribbon">{{"MESSAGES.NO_MESSAGES" | translate}}</div>

    <div>
      <div class="Data--ribbon" *ngFor="let sentMessage of sentMessages">
        <div class="row col-lg-9 col-sm-10">
          <div class="Info--ribbon--wrap">
            <div class="col-sm-5">{{"GLOBAL.SENT_AT" | translate}}<b>{{sentMessage.time | date:"HH:mm dd/MM/yyyy"}}</b></div>
          </div>
          <div class="col-sm-12">
            <h5>{{sentMessage.title}}</h5>
            <p>{{sentMessage.content}}</p>
          </div>
        </div>
        <div class="col-sm-2 col-lg-3 Right-aligned">
          <div class="btn btn-danger" (click)="deleteMessage(sentMessage)">{{"GLOBAL.DELETE" | translate}}</div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="delete-message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{"GLOBAL.WARNING" | translate}}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{"DELETE_MESSAGE_DIALOG.SINGLE_MSG_CONTENT" | translate}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteFromFirebase()">{{"GLOBAL.CONFIRM" | translate}}</button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">{{"GLOBAL.CANCEL"| translate}}</button>
      </div>
    </div>
  </div>
</div>
