<div class="Header-title__wrap">
  <h1>{{"AGENCY_SETTINGS" | translate}}</h1>
</div>
<!-- Set the active item -->

<ul class="section-nav">
<li class="section-nav__item" routerLinkActive="active">
    <a routerLink="/local-agency/settings/departments">{{"DEPARTMENTS" | translate}}</a>
  </li>
  <li class="section-nav__item" routerLinkActive="active">
    <a routerLink="/local-agency/settings/skills">{{"GLOBAL.SKILLS" | translate}}</a>
  </li>
  <li class="section-nav__item" routerLinkActive="active">
    <a routerLink="/local-agency/settings/modules">{{"COUNTRY_ADMIN.SETTINGS.MENU.MODULES" | translate}}</a>
  </li>
  <li class="section-nav__item" routerLinkActive="active">
    <a routerLink="/local-agency/settings/clock-settings">{{"GLOBAL.CLOCK_SETTINGS" | translate}}</a>
  </li>
  <li class="section-nav__item" routerLinkActive="active">
    <a routerLink="/local-agency/settings/response-plans">{{"RESPONSE_PLANS.TITLE_TEXT" | translate}}</a>
  </li>
  <li class="section-nav__item" routerLinkActive="active">
    <a routerLink="/local-agency/settings/documents">{{"DOCUMENTS_TEXT" | translate}}</a>
  </li>
  <li class="section-nav__item" routerLinkActive="active">
    <a routerLink="/local-agency/settings/notifications">{{"GLOBAL.NOTIFICATIONS" | translate}}</a>
  </li>
</ul>
