<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>
<app-alert-loader [hidden]="loaderInactive"></app-alert-loader>
<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success"
                  [show]="alertMessage"></app-status-alert>


<!--Create an alert section start-->
<div class="Page-top__wrap--w_sub_header--no-paddng" [ngSwitch]="count">
  <div class="Full-page__wrap--inner">
    <div class="Back--button row" routerLink="/risk-monitoring">{{"DASHBOARD.RISK_MONITORING" | translate}}</div> <!-- Back button-->
    <div class="Header-title__wrap--risk Spaced-above">
      <h1>{{"RISK_MONITORING.ADD_HAZARD.ADD_NEW_HAZARD" | translate}}</h1>
    </div>
    <p>{{"RISK_MONITORING.ADD_HAZARD.INFORMATION_PROVIDED" | translate}}<a href="https://www.inform-index.org/">{{"RISK_MONITORING.ADD_HAZARD.INFORM_INDEX" | translate}}.</a></p>
    <div class="Ribbon__section__wrap--risk Spaced"></div>
    <div class="row Spaced-above"> <!-- Alert selection section start -->
      <div></div>
    </div>
    <form #newHazard="ngForm" novalidate *ngSwitchCase="1">
      <div class="row" style="width:100%" *ngFor="let hazard of hazardScenariosListTop; let num = index">
        <label for="{{HazardScenario[hazard.hazardScenario] | translate}}" class="Checkbox--ribbon__alert Left col-sm-5">
          <input type="radio" name="RT" (change)="stateIsCustom(true, $event,hazard.hazardScenario)"
                 id="{{HazardScenario[hazard.hazardScenario] | translate}}" [value]="HazardScenario[hazard.hazardScenario] | translate"
                 required>
          <div class="risk-icon__components no-bg"><img class="Black-Background-Hazard-Icon"
            src="{{_getHazardImage(hazardData.hazardScenario)}}"></div>
          <p><b>{{HazardScenario[hazard.hazardScenario] | translate}}</b>{{"ALERT.RISK" | translate}} {{hazard.value}}</p>
        </label>
      </div>
      <div class="row" style="width:100%">
        <label for="RT_1" class="Checkbox--ribbon__alert Left col-sm-5">
          <input type="radio" name="RT" id="RT_1" (change)="stateIsCustom(false, $event)" required>
          <div class="col-sm-11">
            <div>
              <select class="form-control" id="select1" (change)="setHazardValue($event)"
                      [disabled]="isCustomDisabled ? true : false" name="RT">
                <option disabled [selected]="true" value="" class="hideoption">{{"RISK_MONITORING.ADD_HAZARD.SELECT_ANOTHER_HAZARD" | translate}}
                </option>
                <option *ngFor="let customHazard of customHazards">{{customHazard.$key}}</option>
                <option *ngFor="let hazard of hazardScenariosList; let num = index" value="{{hazard}}">{{HazardScenario[hazard] | translate}}</option>
                <option value="otherSelected">{{"SECTORS.OTHER" | translate}}</option>
              </select>
            </div>
          </div>
        </label>
      </div>
      <div class="row" style="width:100%" *ngIf="otherHazard">
        <label for="RT_2" class="Checkbox--ribbon__alert Left col-sm-5">
          <input type="text" id="RT_2" class="form-control form-control-sm col-sm-10 customInput"
                 (input)="newCustomHazard($event)" placeholder="{{'GLOBAL.PLEASE_SPECIFY' | translate}}">
        </label>
      </div>
      <!--Confirm/cancel buttons-->
      <br>
      <div class="Form-submit__wrapper">
        <a href="javascript:void(0)"
           class="btn btn-primary" (click)="submit()">{{"RISK_MONITORING.ADD_HAZARD.NEXT" | translate}}
        </a>
      </div>
    </form>
    <!--Earthquake-->
    <form action="" *ngSwitchCase="2">
      <div class="row" style="width:100%">
        <label class="Checkbox--ribbon__alert Left col-sm-5">
          <div class="risk-icon__components">
            <span class="Icon Icon__circle Icon--b-dark-blue Icon--sm {{_getHazardImage(hazardData.hazardScenario)}}"></span>
          </div>
          <p>
            <b>{{HazardScenario[hazardData.hazardScenario] | translate}}</b>
            <b *ngIf="otherHazard">{{hazardName}}</b>
          </p>
        </label>
      </div>
      <!--Select another hazard-->
      <div class="col-sm-4">
        <div class="Spaced-above"><p><b>{{"RISK_MONITORING.ADD_HAZARD.IS_SEASONAL_HAZARD" | translate}}</b></p></div>

        <div class="row no-gutters">
          <label class="Checkbox--ribbon col-lg-4 col-md-4 col-sm-5">
            <input type="radio" name="RT" id="RT_yes" value="false" (change)="seasonHazard($event)">
            {{'GLOBAL.YES' | translate}}
          </label>
        </div>

        <div class="row no-gutters">
          <label class="Checkbox--ribbon col-lg-4 col-md-4 col-sm-5">
            <input type="radio" name="RT" id="RT_no" value="true" (change)="seasonHazard($event)">
            {{'GLOBAL.NO' | translate}}
          </label>
        </div>

        <!--<div class="Radio&#45;&#45;ribbon">-->
          <!--<input type="radio" name="RT" id="RT_yes" value="false" (change)="seasonHazard($event)">-->
          <!--<label>{{'GLOBAL.YES' | translate}}</label>-->
        <!--</div>-->
        <!--<div class="Radio&#45;&#45;ribbon">-->
          <!--<input type="radio" name="RT" id="RT_no" value="true" (change)="seasonHazard($event)">-->
          <!--<label>{{'GLOBAL.NO' | translate}}</label>-->
        <!--</div>-->

        <button class="btn btn-outline-primary Spaced-above text-right" *ngIf="selectHazard"
                (click)="showActionConfirm('select-seasons')">{{"RISK_MONITORING.ADD_HAZARD.SELECT_SEASON_FROM_CALENDAR" | translate}}
        </button>

        <!--Edit seasons button-->
        <div *ngIf="season">
          <br>
          <div class="col-sm-8">
            <a href="javascript:void(0)" (click)="showActionConfirm('select-seasons')">{{"RISK_MONITORING.ADD_HAZARD.EDIT_SEASONS"
              | translate}}</a>
          </div>
          <div *ngFor="let season of checkedSeasons" class="row">
            <div class="hazard_season_btn__wrap--risk btn btn-info Spaced-above text-gray-dark col-md-4">
              <img src="assets/images/icons/circle_tick.svg">
              <p>{{season.name}}</p>
            </div>
            <!--<div class="col-md-6" *ngIf="season == checkedSeasons[0]">-->
              <!--<a href="javascript:void(0)" (click)="showActionConfirm('select-seasons')">{{"RISK_MONITORING.ADD_HAZARD.EDIT_SEASONS"-->
                <!--| translate}}</a>-->
            <!--</div>-->
          </div>
        </div>

      </div>
      <!--Confirm/cancel buttons-->
      <br>
      <div class="Form-submit__wrapper align-items-baseline">
        <a href="javascript:void(0)" class="btn btn-primary" (click)="addHazardBtn()">{{"RISK_MONITORING.ADD_HAZARD.ADD_HAZARD" | translate}}</a>
        <a href="javascript:void(0)" class="col-sm-1" (click)="cancel()">{{"GLOBAL.CANCEL" | translate}}</a>
      </div>
    </form>
  </div>

  <div class="modal fade" id="select-seasons" tabindex="-1" role="dialog"
       aria-labelledby="addCalendarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title Spaced-above" id="addCalendarModalLabel">{{"RISK_MONITORING.ADD_HAZARD.SELECT_SEASONS" | translate}}</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <br>
        <div class="modal-body text-center">
          <div class="row col-sm-12">
            <div class="col-sm-12">
              <div class="row margin-left-three" *ngFor="let season of AllSeasons;let i = index">
                <input class="col-sm-0 margin-top-one-half big-checkbox" type="checkbox"
                       [value]="season" [checked]="detected(i)"
                       aria-label="" (change)="selectSeason($event, i)">
                <div class="col-sm-1">
                  <div class="Color__swatch__check Right-aligned"
                       [ngStyle]="{'background':season.colorCode}">
                  </div>
                </div>
                <div class="cold-sm-7 margin-left-one"><p class="font-size-two"><strong>
                  {{season.name}} | {{season.startTime | date:"dd/MM/yy"}} - {{season.endTime |
                  date:"dd/MM/yy"}}</strong></p></div>
              </div>
              <div class="row margin-left-three">
                <div class="cold-sm-7 margin-left-one"><a href="javascript:void(0)"
                                                          (click)="showActionConfirm('add_calendar')"><p
                  class="font-size-two">+{{"RISK_MONITORING.ADD_HAZARD.ADD_TO_SEASONAL_CALENDAR" | translate}}</p></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary col-sm-3 text-uppercase font-size-two"
                  (click)="saveSelectSeasons('select-seasons')">{{"GLOBAL.SAVE" | translate}}
          </button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="closeModal()">
            {{"GLOBAL.CANCEL" | translate}}
          </button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="add_calendar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><b>{{"RISK_MONITORING.ADD_HAZARD.ADD_SEASONAL_TO_CALENDAR" | translate}}</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #colorForm="ngForm" novalidate>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="S-name">{{"RISK_MONITORING.ADD_HAZARD.SEASON_NAME" | translate}}</label>
                    <input type="text" class="form-control form-control-danger" id="S-name"
                           placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" name="name" ngModel required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="S-date">{{"RISK_MONITORING.ADD_HAZARD.START_DATE" | translate}}:</label>
                    <input type="date" class="form-control form-control-danger" id="S-date"
                           name="startTime" ngModel required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="E-date">{{"RISK_MONITORING.ADD_HAZARD.END_DATE" | translate}}:</label>
                    <input type="date" class="form-control form-control-danger" id="E-date"
                           name="endTime" ngModel required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label>Color:</label>
                </div>
                <div class="col-sm-12">
                  <label for="{{colors}}" *ngFor="let colors of scenarioColors">
                    <div class="Color__swatch"
                         [ngStyle]="{'background':colors}">
                      <input type="radio" [value]="colors" id="{{colors}}" name="colorCode"
                             ngModel hidden required>
                    </div>
                  </label>

                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary col-sm-3 text-uppercase font-size-two"
                    [disabled]="colorForm.invalid" (click)="createSeasonToCalendar(colorForm)">{{"GLOBAL.SAVE" | translate}}
            </button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{"GLOBAL.CANCEL" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
