<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Alert-success" [hidden]="successInactive">
  {{successMessage | translate}}
</div>

<div class="Alert-error" [hidden]="errorInactive">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"GLOBAL.ACCOUNT_SETTINGS.TITLE" | translate}}</h1>
    </div>
    <ul class="section-nav">
      <li class="section-nav__item"><a [routerLink]="['/agency-admin/agency-account-settings']">{{"GLOBAL.ACCOUNT_SETTINGS.PROFILE"
        | translate}}</a></li>
      <li class="section-nav__item active"><a
        [routerLink]="['/agency-admin/agency-account-settings/agency-change-password']">{{"GLOBAL.ACCOUNT_SETTINGS.PASSWORD"
        | translate}}</a></li>
    </ul>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group" [ngClass]="{'has-danger': alerts[currentPasswordEntered]}">
          <label for="CurrentPassword">{{"GLOBAL.ACCOUNT_SETTINGS.CURRENT_PASSWORD" | translate}}</label>
          <input type="password" class="form-control" id="CurrentPassword" [(ngModel)]="currentPasswordEntered"
                 placeholder="{{'GLOBAL.CURRENT_PASSWORD' | translate}}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" [ngClass]="{'has-danger': alerts[newPasswordEntered]}">
        <div class="form-group">
          <label for="NewPassword">{{"GLOBAL.ACCOUNT_SETTINGS.NEW_PASSWORD" | translate}}</label>
          <input type="password" class="form-control" id="NewPassword" [(ngModel)]="newPasswordEntered"
                 placeholder="{{'GLOBAL.NEW_PASSWORD' | translate}}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" [ngClass]="{'has-danger': alerts[confirmPasswordEntered]}">
        <div class="form-group">
          <label for="ConfirmPassword">{{"GLOBAL.ACCOUNT_SETTINGS.CONFIRM_PASSWORD" | translate}}</label>
          <input type="password" class="form-control" id="ConfirmPassword" [(ngModel)]="confirmPasswordEntered"
                 placeholder="{{'GLOBAL.CONFIRM_PASSWORD' | translate}}">
        </div>
      </div>
    </div>
    <div class="Form-submit__wrapper">
      <div class="btn btn-primary" (click)="onSubmit()">{{"GLOBAL.ACCOUNT_SETTINGS.UPDATE_PASSORD" | translate |
        uppercase}}
      </div>
      <div class="btn btn-outline-secondary" routerLink="/agency-admin/country-office">{{"GLOBAL.CANCEL" | translate}}
      </div>
    </div>
  </div>
</div>
