<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>

<!--Start Put page data-->
<div class="Page-top__wrap">
  <div class="Login__wrap--inner">
    <div class="Login__logo-container">
      <img src="assets/images/alert_logo.svg" class="Login__logo">
    </div>

    <p class="Login__info--blue">Forgot Password?</p>
    <p class="Login__info--blue--extra-space">Enter your email address to reset your password</p>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Email Address" aria-describedby="basic-addon1">
    </div>

    <button type="submit" class="btn btn-primary Login__button--submit">Login</button>
    <a routerLink="/login" class="Login__forgotten-pass">Remembered your password?</a>
  </div>

</div>
