<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    <div class="logo" (click)="goToHome()"></div>
    <ul>
      <li class="Header_bar__username">{{firstName+" "+lastName}}</li>
      <!--<li class="Header_bar__username" (click)="test()">{{firstName+" "+lastName}}</li>-->
      <li class="Header_bar__country">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
          {{"SYSTEM_ADMIN.AGENCIES.SYSTEM_ADMIN" | translate}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/system-admin/account-settings">
            {{"GLOBAL.ACCOUNT_SETTINGS.TITLE" | translate}}
          </a>
          <a class="dropdown-item" (click)="openLanguageModal()">{{"GLOBAL.SWITCH" | translate}}</a>
          <a class="dropdown-item" (click)="logout()">
            {{"GLOBAL.LOGOUT" | translate}}
          </a>
        </div>
      </li>
      <li class="Header_bar__alert">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
  <!-- Modal for language selection-->
  <div class="modal fade" id="language-selection" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">{{"GLOBAL.MODAL_HEADER" | translate}}</h2>
        </div>
        <div class="modal-body" >

          <div *ngFor="let language of userLang">
            <hr/>
            <p><a class="hover-selection" (click)="changeLanguage(language)">{{languageMap.get(language)}}</a></p>
          </div>

        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>
</div>
