<div class="Header-title__wrap">
    <h1>{{ "COUNTRY_ADMIN.PROFILE.TITLE_TEXT" | translate}}</h1>
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
      <div class="Sub-header_bar--country no-bg">
          <div class="Hamburger">
              <span></span>
          </div>
          <ul class="subnav_country-office-profile">
            <li class="" routerLinkActive="active">
              <a routerLink="/country-admin/country-office-profile">{{ "COUNTRY_ADMIN.PROFILE.MENU.PROGRAMME" | translate}}</a>
            </li>
            <li class="" routerLinkActive="active">
              <a routerLink="/country-admin/country-office-profile/office-capacity">{{ "COUNTRY_ADMIN.PROFILE.MENU.OFFICE_CAPACITY" | translate}}</a>
            </li>
            <li class="" routerLinkActive="active">
              <a routerLink="/country-admin/country-office-profile/partners">{{ "COUNTRY_ADMIN.PROFILE.MENU.PARTNERS" | translate}}</a>
            </li>
            <li class="" routerLinkActive="active">
              <a routerLink="/country-admin/country-office-profile/office-equipment">{{ "COUNTRY_ADMIN.PROFILE.MENU.EQUIPMENT" | translate}}</a>
            </li>
            <li class="" routerLinkActive="active">
              <a routerLink="/country-admin/country-office-profile/office-coordination">{{ "COUNTRY_ADMIN.PROFILE.MENU.COORDINATION" | translate}}</a>
            </li>
            <li class="" routerLinkActive="active">
              <a routerLink="/country-admin/country-office-profile/office-stock">{{ "COUNTRY_ADMIN.PROFILE.MENU.STOCK_CAPACITY" | translate}}</a>
            </li>
            <li class="" routerLinkActive="active">
              <a routerLink="/country-admin/country-office-profile/office-documents">{{ "COUNTRY_ADMIN.PROFILE.MENU.DOCUMENTS" | translate}}</a>
            </li>
            <li class="" routerLinkActive="active">
              <a routerLink="/country-admin/country-office-profile/office-contacts">{{ "COUNTRY_ADMIN.PROFILE.MENU.CONTACTS" | translate}}</a>
            </li>
          </ul>
      </div>
  </div>
</div>
