<ng-container *ngIf="!isLocalAgency">
  <app-country-admin-header></app-country-admin-header>
  <app-country-admin-menu></app-country-admin-menu>
</ng-container>

<ng-container *ngIf="isLocalAgency">
  <app-local-agency-header></app-local-agency-header>
  <app-local-agency-menu></app-local-agency-menu>
</ng-container>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success" [show] = "alertMessage"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
        <div class="Back--button row" (click)="goBack()">{{ 'COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.GO_BACK_TITLE' | translate }}</div> <!-- Back button-->
        <div class="Header-title__wrap">
            <h1 *ngIf="!stockCapacity.id && stockCapacity.stockType == 0">{{ 'COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.ADD_IN_TITLE' | translate }}</h1>
            <h1 *ngIf="!stockCapacity.id && stockCapacity.stockType == 1">{{ 'COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.ADD_OUT_TITLE' | translate }}</h1>
            <h1 *ngIf="!stockCapacity.id && stockCapacity.stockType == 3">{{ 'LOCAL_AGENCY_ADMIN.PROFILE.STOCK_CAPACITY.ADD_IN_TITLE' | translate }}</h1>

            <div class="col-sm-11" *ngIf="stockCapacity.id">
                <h1 *ngIf="stockCapacity.stockType == 0">{{ 'COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.EDIT_IN_TITLE' | translate }}</h1>
                <h1 *ngIf="stockCapacity.stockType == 1">{{ 'COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.EDIT_OUT_TITLE' | translate }}</h1>
                <h1 *ngIf="stockCapacity.stockType == 3">{{ 'LOCAL_AGENCY_ADMIN.PROFILE.STOCK_CAPACITY.EDIT_IN_TITLE' | translate }}</h1>

            </div>

            <div class="col-sm-1 Right-aligned" *ngIf="stockCapacity.id">
                <button class="btn btn-danger text-uppercase" (click)="deleteStockCapacity()">{{ 'DELETE' | translate }}</button>
            </div>
        </div><br>

        <form (ngSubmit)="submit()">
            <p><strong>{{ 'GLOBAL.DESCRIPTION' | translate }}</strong>
            <tooltip
                [level1]= "'TOOLTIPS.COUNTRY_OFFICE_PROFILE.TT10.LEVEL1'"
            ></tooltip>
            </p>
            <div>
                <input type="text" class="form-control col-sm-4" placeholder="Please enter" name="description"
                    [(ngModel)]="stockCapacity && stockCapacity.description">
            </div><br>

            <p><strong>{{ 'COUNTRY_ADMIN.PROFILE.EQUIPMENT.QUANTITY' | translate }}</strong></p>
            <div>
                <input type="text" class="form-control col-sm-4" placeholder="Please enter" name="quantity"
                    [(ngModel)]="stockCapacity && stockCapacity.quantity">
            </div><br>

            <p><strong>{{ 'COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.LOCATION' | translate }}</strong>
            <tooltip
                [level1]= "'TOOLTIPS.COUNTRY_OFFICE_PROFILE.TT11.LEVEL1'"
            ></tooltip>
            </p>

          <!--START-->

          <div class="col-sm-11 row">
            <div class="col-sm-3">
              <div class="form-group-risk-frequency row">
                <select (click)="resetValue()" [(ngModel)]="this.stockCapacity.location" (ngModelChange)="setCountryLevel(this.stockCapacity.location)" class="form-control" name="CountryArea">
                  <option *ngIf="!isLocalAgency" value="undefined" disabled selected hidden>{{ countries[selectedCountry] | translate }}</option>
                  <option *ngIf="isLocalAgency" value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
                  <option *ngFor="let countryKey of countriesList" [value]="countryKey" >{{countries[countryKey] |
                    translate}}

                  </option>
                </select>
              </div>
            </div>

            <!--LEVEL 1 START-->

            <div *ngIf="levelOneDisplay.length > 1" class="col-sm-3" >
              <div class="form-group-risk-frequency">
                <select  class="form-control" name="CountryAreaLevelOne" [(ngModel)]="this.stockCapacity.level1" (ngModelChange)="setLevel1Value(this.stockCapacity.level1)" >
                  <option value="undefined" disabled selected hidden >
                    {{ "ADD_PARTNER.AREAS_OF_OPERATION_SELECT_A" | translate }}
                  </option>
                  <option *ngFor="let x of levelOneDisplay" [value]="x.id"> {{x.value}}
                  </option>
                </select>
              </div>
            </div>

            <!--==LEVEL 1 END==-->

            <!--==LEVEL 2 START==-->

            <div *ngIf="levelTwoDisplay.length > 1" class="col-sm-3" >
              <div class="form-group-risk-frequency ">
                <select class="form-control" name="CountryAreaLvOne" [(ngModel)]="this.stockCapacity.level2">
                  <option value="undefined" disabled selected hidden >
                    {{ "ADD_PARTNER.AREAS_OF_OPERATION_SELECT_A" | translate }}
                  </option>
                  <option *ngFor="let y of levelTwoDisplay" [ngValue]="y.id">{{y.value}}
                  </option>
                </select>
              </div>
            </div>

            <!--==LEVEL 2 END==-->

          </div>


          <!--END-->
<br>
            <p *ngIf="stockCapacity.stockType == 0 || stockCapacity.stockType == 3"><strong>{{ 'COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.ETA_IN' | translate }}</strong></p>
            <p *ngIf="stockCapacity.stockType == 1 || stockCapacity.stockType == 4"><strong>{{ 'COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.ETA_OUT' | translate }}</strong></p>
            <div>
                <input type="text" class="form-control col-sm-4" placeholder="{{ 'GLOBAL.PLEASE_ENTER' | translate }}" name="leadTime"
                    [(ngModel)]="stockCapacity && stockCapacity.leadTime">
            </div><br>

            <!--Save and cancel-->
            <div class="row margin-top-ten margin-left-one">
                <button class="btn btn-primary text-uppercase Spaced col-sm-0" type="submit" (click)="validateForm()">{{ 'SAVE' | translate }}</button>
                <div class="col-sm-1 margin-top-five">
                    <a href="javascript:void(0)" (click)="goBack()">
                        {{ 'GLOBAL.CANCEL' | translate }}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="delete-action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{"COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.DELETE_DIALOG_TITLE" |
          translate}}</strong></h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{"COUNTRY_ADMIN.PROFILE.STOCK_CAPACITY.DELETE_DIALOG_CONTENT" | translate}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">{{"GLOBAL.CANCEL"| translate}}</button>
        <button type="button" class="btn btn-primary" (click)="deleteAction()">{{"GLOBAL.CONFIRM" | translate}}</button>
      </div>
    </div>
  </div>
</div>

