<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">

		<app-settings-menu></app-settings-menu>

		<div class="Sub-header-title__wrap">
            <h2>Skills</h2>
            <button type="button" class="btn btn-outline-danger Inline-editable--enable">Delete skills</button> 
            <button type="button" class="btn btn-outline-primary Inline-editable--enable">Edit skills</button>  
        </div>

        <h4>Support Skills</h4>
        <div class="Agency-settings_skills">
            <div class="row Editable-check-text Large-spacing-top">Coordination</div>
            <div class="row Editable-check-text Large-spacing-top">Finance</div>
            <div class="row Editable-check-text Large-spacing-top">HR</div>
            <div class="row Editable-check-text Large-spacing-top">Logistics</div>
            <div class="row Editable-check-text Large-spacing-top">Security</div>
            <div class="row Editable-check-text Large-spacing-top">PR/Communications</div>
            <div class="row Editable-check-text Large-spacing-top">Proposal Writing</div>
            <div class="row Editable-check-text Large-spacing-top">Programme Management</div>
            <div class="row Add-new-department no-gutters">
                <div class="col-md-4 col-8">
                    <input type="text" class="form-control" placeholder="Add a new support skill">
                </div>
                <div class="col-md-8 col-4">
                    <button type="button" class="btn btn-outline-primary">Save</button>
                </div>
            </div>
        </div>

        <h4>Technical Skills</h4>
        <div class="Agency-settings_skills">
            <div class="row Editable-check-text Large-spacing-top">Healthcare</div>
            <div class="row Editable-check-text Large-spacing-top">Psychological Support</div>
            <div class="row Editable-check-text Large-spacing-top">WaSh</div>
            <div class="row Editable-check-text Large-spacing-top">Nutrition</div>
            <div class="row Editable-check-text Large-spacing-top">Relief</div>
            <div class="row Editable-check-text Large-spacing-top">Shelter</div>
            <div class="row Add-new-department no-gutters">
                <div class="col-md-4 col-8">
                    <input type="text" class="form-control" placeholder="Add a new technical skill">
                </div>
                <div class="col-md-8 col-4">
                    <button type="button" class="btn btn-outline-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>