<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>
<div class="Sub-header_bar">
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Back--button">Agency Staff</div>
    <div class="Header-title__wrap">
      <h1>Add staff member</h1>
      <button type="button" class="btn btn-primary">Add new staff member</button>
    </div>

    <div class="row Spaced">
      <div class="col-lg-4 col-md-6 form-group">
        <label for="Title">Title</label>
        <select class="form-control" id="Title">
          <option value="D-val-1">Mr</option>
          <option value="D-val-2">Mrs</option>
        </select>
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <label for="f-Name">First Name</label>
        <input type="text" class="form-control" id="f-Name">
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <label for="l-Name">Last Name</label>
        <input type="text" class="form-control" id="l-Name">
      </div>
    </div>
    <div class="row Spaced">
      <div class="col-lg-4 col-md-6 form-group">
        <label for="JobTitle">Job Title</label>
        <select class="form-control" id="JobTitle">
          <option value="D-val-1" disabled selected>Please select</option>
          <option value="D-val-2">Option</option>
        </select>
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <label for="c-Office">Country Office</label>
        <select class="form-control" id="c-Office">
          <option value="D-val-1" disabled selected>Please select</option>
          <option value="D-val-2">Option</option>
        </select>
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <label for="o-Type">Office Type</label>
        <select class="form-control" id="o-Type">
          <option value="D-val-1" disabled selected>Please select</option>
          <option value="D-val-2">Option</option>
        </select>
      </div>
    </div>
    <div class="row Spaced">
      <div class="col-lg-4 col-md-6 form-group">
        <label for="e-Address">Email Address</label>
        <input type="text" class="form-control" id="e-Address">
      </div>
    </div>

    <label>Support Skills</label>
    <div class="row Spaced">
      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Coordination</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Finance</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">HR</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Logistics</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Security</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">PR/Communications</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Proposal Writing</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Programme Management</label>
    </div>

    <label>Technical Skills</label>
    <div class="row Spaced">
      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Healthcare</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Physcological Support</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">WaSh</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Nutrition</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Relief</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Shelter</label>
    </div>

    <label for="o-Skill">Other Skills</label>
    <div class="row">
      <div class="col-lg-4 col-md-6 form-group">
        <input type="text" class="form-control" id="o-Skill" placeholder="Add other skill">
      </div>
      <div class="col-lg-3">
        <button class="btn btn-outline-primary">Save</button>
      </div>
    </div>

    <div class="row Spaced">
      <div class="col-lg-8 col-md-10 form-group">
        <label for="n-Done">Training needs</label>
        <textarea name="n-Done" id="n-Done" cols="30" rows="5" class="form-control"></textarea>
      </div>
    </div>

    <label>Support Skills</label>
    <div class="row Spaced">
      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Amber alert request</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Red alert request</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Update hazard indicator</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">MPA/APA due</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Response plan expired</label>

      <label class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input type="checkbox">Response plan rejected</label>
    </div>

    <div class="Form-submit__wrapper">
      <div class="btn btn-primary">Save new staff member</div>
      <div class="btn btn-primary btn-ghost">Cancel</div>
    </div>


  </div>
</div>
