<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Alert-error" [hidden]="hideWarning">{{waringMessage | translate}}</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <!--<div class="Back&#45;&#45;button">Agency Staff</div>-->
    <div class="Header-title__wrap">
      <h1 *ngIf="!isEdit">{{"AGENCY_ADMIN.STAFF.TITLE_ADD_STAFF"| translate}}</h1>
      <h1 *ngIf="isEdit">{{"AGENCY_ADMIN.STAFF.TITLE_EDIT_STAFF"| translate}}</h1>
      <button *ngIf="isEdit" type="button" class="btn btn-danger" (click)="deleteStaff()">
        {{"AGENCY_ADMIN.STAFF.DELETE_STAFF_MEMBER" | translate}}
      </button>
    </div>

    <form #addStaffForm (ngSubmit)="submit()">

      <div class="row Spaced">
        <div class="col-lg-4 col-md-6 form-group">
          <label for="Title">{{"GLOBAL.TITLE"| translate}}</label>
          <select class="form-control" id="Title" [(ngModel)]="title" name="title" required #selectTitle>
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let title of PERSON_TITLE_SELECTION" [value]="title">{{PERSON_TITLE[title]|translate}}
            </option>
          </select>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="f-Name">{{"GLOBAL.USER_INFO.FIRST_NAME"| translate}}</label>
          <input type="text" class="form-control" id="f-Name" [(ngModel)]="firstName" name="firstName"
                 placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}" required>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="l-Name">{{"GLOBAL.USER_INFO.LAST_NAME"| translate}}</label>
          <input type="text" class="form-control" id="l-Name" [(ngModel)]="lastName" name="lastName"
                 placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}" required>
        </div>
      </div>
      <div class="row Spaced">
        <div class="col-lg-4 col-md-6 form-group">
          <label for="User-Type">{{"AGENCY_ADMIN.STAFF.USER_TYPE"| translate}}</label>
          <select class="form-control" id="User-Type" [(ngModel)]="userType" name="userType"
                  (change)="selectedUserType(userType)" required>
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let type of USER_TYPE_SELECTION;let idx = index" [hidden]="idx==0 || idx==8" [value]="type">
              {{USER_TYPE[type] | translate}}
            </option>
          </select>
        </div>
        <div class="col-lg-4 col-md-6 form-group" [hidden]="hideRegion">
          <label for="region">{{"AGENCY_ADMIN.STAFF.REGION"| translate}}</label>
          <select class="form-control" id="region" [(ngModel)]="region" name="region" [required]="!hideRegion" (change)="selectRegion()">
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let region of regionList | async" [ngValue]="region">{{region.name}}</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-6 form-group" [hidden]="hideCountry">
          <label for="c-Office">{{"AGENCY_ADMIN.STAFF.COUNTRY_OFFICE"| translate}}</label>
          <select class="form-control" id="c-Office" [(ngModel)]="countryOffice" name="countryOffice"
                  [required]="!hideCountry">
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let country of countryList | async" [ngValue]="country"
                    [selected]="country.location == countryOffice?.location">{{Countries[country.location] | translate}}
            </option>
          </select>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="Department">{{"GLOBAL.DEPARTMENT"| translate}}</label>
          <select class="form-control" id="Department" [(ngModel)]="department" name="department" required>
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let department of departmentList | async" [ngValue]="department">{{department}}</option>
          </select>
        </div>
        <!--</div>-->

        <!--<div class="row Spaced">-->
        <!--<div class="col-lg-4 col-md-6 form-group">-->
        <!--<label for="Position">{{"AGENCY_ADMIN.STAFF.POSITION"| translate}}</label>-->
        <!--<select class="form-control" id="Position" [(ngModel)]="position" name="position" required>-->
        <!--<option *ngFor="let position of STAFF_POSITION_SELECTION; let idx = index" [hidden]="idx==0"-->
        <!--[value]="position">{{STAFF_POSITION[position] |-->
        <!--translate}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <div class="col-lg-4 col-md-6 form-group">
          <label for="Position">{{"AGENCY_ADMIN.STAFF.POSITION"| translate}}</label>
          <input type="text" class="form-control" id="Position" [(ngModel)]="position" name="position"
                 placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}" required>
        </div>

        <div class="col-lg-4 col-md-6 form-group">
          <label for="o-Type">{{"AGENCY_ADMIN.STAFF.OFFICE_TYPE"| translate}}</label>
          <select class="form-control" id="o-Type" [(ngModel)]="officeType" name="officeType" required>
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let type of OFFICE_TYPE_SELECTION; let idx = index" [hidden]="idx==0" [value]="type">
              {{OFFICE_TYPE[type] | translate}}
            </option>
          </select>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="e-Address">{{"GLOBAL.USER_INFO.EMAIL"| translate}}</label>
          <input type="text" class="form-control" id="e-Address" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}"
                 [(ngModel)]="email"
                 name="email" required>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="telephone">{{"GLOBAL.USER_INFO.PHONE"| translate}}</label>
          <input type="text" class="form-control" id="telephone" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}"
                 [(ngModel)]="phone"
                 name="phone" required>
        </div>
      </div>

      <div class="form-group"><label>{{"AGENCY_ADMIN.STAFF.SUPPORT_SKILLS"| translate}}</label></div>
      <div class="row Spaced">
        <label *ngFor="let support of supportSkillList | async"
               class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5">
          <input type="checkbox" #box (change)="supportSkillCheck(support,box.checked)"
                 [checked]="skillsMap.get(support.$key)">{{support.name}}</label>
      </div>

      <div class="form-group"><label>{{"AGENCY_ADMIN.STAFF.TECHNICAL_SKILLS"| translate}}</label></div>
      <div class="row Spaced">
        <label *ngFor="let tech of techSkillsList | async" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5"><input
          type="checkbox" #box (change)="techSkillCheck(tech,box.checked)" [checked]="skillsMap.get(tech.$key)">{{tech.name}}</label>
      </div>

      <div class="row Spaced">
        <div class="col-lg-8 col-md-10 form-group">
          <label for="n-Done">{{"AGENCY_ADMIN.STAFF.TRAINING_NEEDS"| translate}}</label>
          <textarea name="n-Done" id="n-Done" cols="30" rows="5" class="form-control"
                    [(ngModel)]="trainingNeeds"></textarea>
        </div>
      </div>

      <div class="form-group"><label>{{"GLOBAL.NOTIFICATIONS"| translate}}</label></div>
      <div class="row Spaced">
        <label *ngFor="let notification of notificationList | async"
               class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5">
          <input type="checkbox" #box (change)="notificationCheck(notification, box.checked)"
                 [checked]="notificationSettings[notification?.$key]">{{NOTIFICATION_SETTINGS[notification.$key] |
          translate}}</label>
      </div>

      <div class="form-group"><label>{{"AGENCY_ADMIN.STAFF.IS_PART_OF_RESPONSE_TEAM?"| translate}}</label></div>
      <div class="row">
        <label for="RT_no" class="Checkbox--ribbon col-md-1 col-sm-2">
          <input type="radio" name="RT" id="RT_no" [value]="false" [(ngModel)]="isResponseMember">{{"GLOBAL.NO"|
          translate}}</label>
      </div>
      <div class="row">
        <label for="RT_yes" class="Checkbox--ribbon col-md-1 col-sm-2">
          <input type="radio" name="RT" id="RT_yes" [value]="true" [(ngModel)]="isResponseMember">{{"GLOBAL.YES"|
          translate}}</label>
      </div>

      <div class="Form-submit__wrapper">
        <button *ngIf="!isEdit" class="btn btn-primary" type="submit" (click)="validateForm()">
          {{"AGENCY_ADMIN.STAFF.SAVE_NEW_STAFF" |
          translate | uppercase}}
        </button>
        <button *ngIf="isEdit" class="btn btn-primary" type="submit" (click)="validateForm()">
          {{"AGENCY_ADMIN.STAFF.SAVE_CHANGES" |
          translate | uppercase}}
        </button>
        <button class="btn btn-outline-secondary" (click)="cancel()">{{"GLOBAL.CANCEL"| translate}}</button>
      </div>

    </form>

  </div>
</div>

<div class="modal fade" id="delete-action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{"AGENCY_ADMIN.STAFF.DELETE_DIALOG_TITLE" |
          translate}}</strong></h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{"AGENCY_ADMIN.STAFF.DELETE_DIALOG_CONTENT" | translate}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteAction()">{{"GLOBAL.CONFIRM" | translate}}</button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">{{"GLOBAL.CANCEL"| translate}}
        </button>
      </div>
    </div>
  </div>
</div>
