<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">


    <div class="Header-title__wrap">
      <h1>{{"AGENCY_SETTINGS" | translate}}</h1>
    </div>

    <div class="Sub-header-title__wrap">
      <h2>{{"NETWORK_ACCOUNTS" | translate}}</h2>
      <button type="button" class="btn btn-outline-primary Inline-editable--enable">{{"ADD_NEW_NETWORK_ACCOUNT" | translate}}</button>
    </div>

    <div class="row Spacing-wrap">
      <div class="col-lg-1 col-md-2">{{"FILTER" | translate}}:</div>
      <div class="col-lg-3 col-md-4">
        <select class="form-control">
          <option>{{"ALL_DOCUMENTS" | translate}}</option>
          <option>{{"MPA" | translate}}</option>
          <option>{{"APA" | translate}}</option>
          <option>{{"RESPONSE_PLAN" | translate}}</option>
        </select>
      </div>
    </div>

    <div class="Sub-header-title__wrap">
      <h2>Phillipines</h2>
      <span class="Hide-all">{{"HIDE_ALL" | translate}}</span>
    </div>

    <div class="row Line-row Small-spaced Header">
      <div class="col-lg-2">{{"NAME" | translate}}</div>
      <div class="col-lg-2">{{"CONTACT_NAME" | translate}}</div>
      <div class="col-lg-2">{{"CONTACT_EMAIL" | translate}}</div>
      <div class="col-lg-2">{{"STATUS" | translate}}</div>
      <div class="col-lg-2">{{"ACTIONS" | translate}}</div>
    </div>

    <div class="row Line-row Small-spaced">
      <div class="col-lg-2 col-md-2">Lorem ipsum</div>
      <div class="col-lg-2 col-md-2">John Smith</div>
      <div class="col-lg-2 col-md-2">johnsmith@gmail.com</div>
      <div class="col-lg-2 col-md-2">{{"ACTIVE" | translate}}</div>
      <div class="col-lg-4 col-md-4">
        <div class="btn btn-danger">{{"DEACTIVATE" | translate}}</div>
        <div class="btn btn-primary">{{"EDIT" | translate}}</div>
      </div>
    </div>

    <div class="Form-submit__wrapper">
      <div class="btn btn-outline-secondary">{{"CANCEL" | translate}}</div>
      <div class="btn btn-primary">{{"SAVE" | translate}}</div>
    </div>


  </div>
</div>
