
<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<div *ngIf="isSaved" class="Alert-success">{{successMessage}}</div>

<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Header-title__wrap">
      <h1>System Settings</h1>
    </div>

    <h3 class="System-admin__Sub-title--spaced">Minimum preparedness threshold</h3>
    <hr>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--green"></i>Green
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="minGreen">
          <option *ngFor="let threValue of thresholdValue" [ngValue]="threValue">{{threValue}}%</option>
          <!--<option>50%</option>-->
          <!--<option>25%</option>-->
        </select>
      </div>
    </div>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--amber"></i>Amber
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="minAmber">
          <option *ngFor="let threValue of thresholdValue" [ngValue]="threValue">{{threValue}}%</option>
          <!--<option>50%</option>-->
          <!--<option>25%</option>-->
        </select>
      </div>
    </div>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--red"></i>Red
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="minRed">
          <option *ngFor="let threValue of thresholdValue" [ngValue]="threValue">{{threValue}}%</option>
          <!--<option>50%</option>-->
          <!--<option>25%</option>-->
        </select>
      </div>
    </div>

    <h3 class="System-admin__Sub-title--spaced">Advanced preparedness threshold</h3>
    <hr>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--green"></i>Green
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="advGreen">
          <option *ngFor="let value of thresholdValue" [ngValue]="value">{{value}}%</option>
          <!--<option>50%</option>-->
          <!--<option>25%</option>-->
        </select>
      </div>
    </div>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--amber"></i>Amber
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="advAmber">
          <option *ngFor="let value of thresholdValue" [ngValue]="value">{{value}}%</option>
          <!--<option>50%</option>-->
          <!--<option>25%</option>-->
        </select>
      </div>
    </div>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--red"></i>Red
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="advRed">
          <option *ngFor="let value of thresholdValue" [ngValue]="value">{{value}}%</option>
          <!--<option>50%</option>-->
          <!--<option>25%</option>-->
        </select>
      </div>
    </div>

    <h3 class="System-admin__Sub-title--spaced">Document upload settings</h3>
    <hr>

    <label for="f-Format">File Format</label>

    <!--<h1>{{isPdf}}</h1>-->
    <div class="row">
      <label for="PDF" class="Checkbox--ribbon col-lg-2 col-md-3 col-sm-4">
        <input type="checkbox"
               name="f-Format" id="PDF" [(ngModel)]="isPdf">PDF</label>
      <label for="HTML" class="Checkbox--ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox"
                                                                                   name="f-Format"
                                                                                   [(ngModel)]="isHtml"
                                                                                   id="HTML">HTML</label>
      <label for="DOC" class="Checkbox--ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox"
                                                                                  [(ngModel)]="isDoc"
                                                                                  name="f-Format" id="DOC">DOC</label>
      <label for="DOCX" class="Checkbox--ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox"
                                                                                   name="f-Format"
                                                                                   [(ngModel)]="isDocx"
                                                                                   id="DOCX">DOCX</label>
      <label for="PS" class="Checkbox--ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox"
                                                                                 [(ngModel)]="isPs"
                                                                                 name="f-Format" id="PS">PS</label>
      <label for="RTF" class="Checkbox--ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox"
                                                                                  [(ngModel)]="isRtf"
                                                                                  name="f-Format" id="RTF">RTF</label>
      <label for="JPEG" class="Checkbox--ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox"
                                                                                   name="f-Format"
                                                                                   [(ngModel)]="isJpeg"
                                                                                   id="JPEG">JPEG</label>
      <label for="PNG" class="Checkbox--ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox"
                                                                                  [(ngModel)]="isPng"
                                                                                  name="f-Format" id="PNG">PNG</label>
      <!--<label for="XLSX" class="Checkbox&#45;&#45;ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox" checked-->
      <!--name="f-Format"-->
      <!--id="XLSX">XLSX</label>-->
      <!--<label for="PPT" class="Checkbox&#45;&#45;ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox" checked-->
      <!--name="f-Format" id="PPT">PPT</label>-->
      <!--<label for="PPTX" class="Checkbox&#45;&#45;ribbon col-lg-2 col-md-3 col-sm-4"><input type="checkbox" checked-->
      <!--name="f-Format"-->
      <!--id="PPTX">PPTX</label>-->
    </div>

    <div class="File-size--spaced">
      <label for="f-Format">Maximum file size</label>
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4">
          <select class="form-control" [(ngModel)]="fileSize">
            <option *ngFor="let value of thresholdValue" [ngValue]="value">{{value}}</option>
            <!--<option>20</option>-->
            <!--<option>30</option>-->
          </select>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4">
          <select class="form-control" [(ngModel)]="fileType">
            <option *ngFor="let value of fileTypeList" [ngValue]="value">{{fileTypeListName[value]}}</option>
            <!--<option>MB</option>-->
            <!--<option>GB</option>-->
          </select>
        </div>
      </div>
    </div>


    <div class="Form-submit__wrapper">
      <div class="btn btn-outline-secondary" (click)="back()">Cancel</div>
      <div class="btn btn-primary" (click)="saveSetting()">Save settings</div>
    </div>


  </div>
</div>
