<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<app-status-alert [message]="alertMessage" [success]="alertSuccess" [(show)]="alertShow" (onAlertHidden)="onAlertHidden($event)"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Header-title__wrap">
      <h1>{{"SYSTEM_ADMIN.SETTING.TITLE" | translate}}</h1>
    </div>

    <ul class="section-nav">
      <li class="section-nav__item active"><a [routerLink]="['/system-admin/system-settings']">{{"SYSTEM_ADMIN.SETTING.PREPAREDNESS" | translate}}</a></li>
      <li class="section-nav__item "><a [routerLink]="['/system-admin/system-settings/system-settings-documents']">{{"SYSTEM_ADMIN.SETTING.DOC_SETTINGS" | translate}}</a></li>
      <li class="section-nav__item "><a [routerLink]="['/system-admin/system-settings/system-settings-response-plans']">{{"SYSTEM_ADMIN.SETTING.RESPONSE_PLANS" | translate}}</a></li>
      <li class="section-nav__item "><a [routerLink]="['/system-admin/system-settings/coc']">{{"SYSTEM_ADMIN.SETTING.COC" | translate}}</a></li>
      <li class="section-nav__item "><a [routerLink]="['/system-admin/system-settings/toc']">{{"SYSTEM_ADMIN.SETTING.TOC" | translate}}</a></li>
    </ul>

    <h3 class="System-admin__Sub-title--spaced">{{"SYSTEM_ADMIN.SETTING.MIN" | translate}}</h3><hr>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--green"></i>{{"RISK_MONITORING.INDICATOR_STATUS.GREEN" | translate}}
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="minGreen">
          <option *ngFor="let threValue of thresholdValue" [ngValue]="threValue">{{threValue}}%</option>
        </select>
      </div>
    </div>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--amber"></i>{{"RISK_MONITORING.INDICATOR_STATUS.AMBER" | translate}}
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="minAmber">
          <option *ngFor="let threValue of thresholdValue" [ngValue]="threValue">{{threValue}}%</option>
        </select>
      </div>
    </div>

    <h3 class="System-admin__Sub-title--spaced">{{"SYSTEM_ADMIN.SETTING.ADV" | translate}}</h3><hr>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--green"></i>{{"RISK_MONITORING.INDICATOR_STATUS.GREEN" | translate}}
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="advGreen">
          <option *ngFor="let value of thresholdValue" [ngValue]="value">{{value}}%</option>
        </select>
      </div>
    </div>

    <div class="row Traffic--spaced">
      <div class="col-lg-2 col-md-3">
        <i class="Traffic--amber"></i>{{"RISK_MONITORING.INDICATOR_STATUS.AMBER" | translate}}
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control" [(ngModel)]="advAmber">
          <option *ngFor="let value of thresholdValue" [ngValue]="value">{{value}}%</option>
        </select>
      </div>
    </div>

    <div class="Form-submit__wrapper">
      <div class="btn btn-primary" (click)="saveSetting()">{{"SYSTEM_ADMIN.SETTING.SAVE" | translate | uppercase}}</div>
    </div>

  </div>
</div>
