<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>
<app-agency-admin-menu></app-agency-admin-menu>


<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Header-title__wrap">
      <h1>Mandated Preparedness Actions</h1>
      <button type="button" class="btn btn-primary">Create new action</button>
    </div>

    <div class="Filter-system__wrap row">
      <div class="col-lg-1 col-md-2 col-sm-2">
        <p>Filter</p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <select class="form-control" id="Min-prep">
          <option value="C-val-1">Option 1</option>
          <option value="C-val-2">Option 2</option>
          <option value="C-val-3">Option 3</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <select class="form-control" id="Departments">
          <option value="C-val-1">Option 1</option>
          <option value="C-val-2">Option 2</option>
          <option value="C-val-3">Option 3</option>
        </select>
      </div>
    </div>


    <div class="Data--ribbon">
      <div class="row">
        <div class="col-sm-12">
          <p>Establish Emergency Response Team/Structure (assign people, clarified roles/functions, accountability
            framework, coordination and communication procedure)</p>
        </div>
        <div class="Info--ribbon--wrap">
          <div class="col-sm-4">Type: <b>Mandated</b></div>
          <div class="col-sm-5">Department: <b>Unassigned</b></div>
        </div>
      </div>
      <div class="col-sm-4 Right-aligned Ribbon__button">
        <div class="btn btn-danger">Delete</div>
        <div class="btn btn-primary">Edit</div>
      </div>
    </div>

    <div class="Data--ribbon">
      <div class="row">
        <div class="col-sm-12">
          <p>Develop volunteer’s programme/framework on emergencies</p>
        </div>
        <div class="Info--ribbon--wrap">
          <div class="col-sm-4">Type: <b>Mandated</b></div>
          <div class="col-sm-5">Department: <b>Unassigned</b></div>
        </div>
      </div>
      <div class="col-sm-4 Right-aligned Ribbon__button">
        <div class="btn btn-danger">Delete</div>
        <div class="btn btn-primary">Edit</div>
      </div>
    </div>


  </div>
</div>
