<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Header-title__wrap">
      <h1>{{"AGENCY_MANDATED_PA.TITLE_TEXT"| translate}}</h1>
      <a class="btn btn-outline-primary" (click)="lookUpGenericActionsPressed()">Lookup generic actions
      </a>
      <a routerLink="/agency-admin/agency-mpa/create-edit-mpa" class="btn btn-primary">{{"AGENCY_MANDATED_PA.CREATE_NEW_ACTION"|
        translate}}</a>
    </div>

    <div class="Filter-system__wrap row">
      <div class="col-lg-1 col-md-2 col-sm-2">
        <p>{{"GLOBAL.FILTER"| translate}}</p>
      </div>
      <div class="col-lg-3 col-md-4">
        <select class="form-control" [(ngModel)]="actionLevelSelected" (change)="filter()">
          <option *ngFor="let level of levelsList" [value]="level">{{ActionPrepLevel[level] | translate}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <select class="form-control" [(ngModel)]="departmentSelected" (change)="filter()">
          <option>All departments</option>
          <option *ngFor="let department of departments | async" [value]="department">{{department.toString()}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="(actions | async)?.length == 0" class="Empty--ribbon">No mandated preparedness actions have been added
      to Alert
    </div>

    <div class="Data--ribbon" *ngFor="let action of actions | async">
      <div class="col-sm-9 ">
        <p>{{action.task}}</p>
        <div class="Info--ribbon--wrap">
          <div class="col-sm-4">{{"GLOBAL.TYPE"| translate}}<b>Mandated</b></div>
          <div class="col-sm-5">{{"AGENCY_MANDATED_PA.DEPARTMENT"| translate}} <b>{{action.department}}</b>
          </div>
        </div>
      </div>
      <div class="col-lg-3 Right-aligned">
        <div class="btn btn-danger" (click)="deleteAction(action.$key)">{{"GLOBAL.DELETE"| translate}}</div>
        <div class="btn btn-primary" (click)="editAction(action.$key)">{{"GLOBAL.EDIT"| translate}}</div>
      </div>
    </div>

  </div>
</div>
