<app-network-header></app-network-header>
<app-network-menu></app-network-menu>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success"
                  [show]="alertMessage"></app-status-alert>

<div class="Page-top__wrap padding-top-none">
  <div class="Full-page__wrap--inner">
    <div class="Back--button" routerLink="/network/network-agencies">Network Agencies</div> <!-- Back button-->
    <div class="row col-sm-12">
      <h1 class="col-sm-9">Select Agencies</h1><br>
      <div class="col-sm-1 margin-top-one"><a href="javascript:void(0)" routerLink="/network/network-agencies">Cancel</a></div>
      <div class="col-sm-2">
        <button href="#inviteAgencies" data-toggle="modal" class="btn btn-primary text-uppercase"
                (click)="showSelectedAgencies()">Send invites
        </button>
      </div>
    </div>

    <div class="col-sm-12">
      <p class="">Select the agencies you wish to be invited to the network, they will not be able to access the network
        page until their administrator accepts the invitation</p>
    </div>

    <!-- Remember to use unique identifiers for the labels -->
    <div *ngIf="agencies | async as agencyList; else empty" class="row Spaced">
      <label *ngFor="let agency of agencyList; index as i" for="item{{i}}"
             class="Checkbox--agency col-lg-3 col-md-4 col-sm-5"
             [hidden]="existingAgencyIds && existingAgencyIds.indexOf(agency.id) !=-1"><img
        class="margin-bottom-none"
        src="{{agency.logoPath ? agency.logoPath : 'assets/images/donor/agency-preview.svg'}}">
        <p>{{agency.name}}</p><input type="checkbox" name="Action-type" id="item{{i}}" #selection
                                     (change)="toggleAgencySelection(agency, selection.checked)"></label>
    </div>

    <ng-template #empty>
      <div class="Empty--ribbon">No agencies available</div>
    </ng-template>


    <!--Lead Agency Selection Modal (first time agency is invited)-->
    <div class="modal fade" id="leadAgencySelection" tabindex="-1" role="dialog" aria-labelledby="leadAgencySelection"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" class="Spaced-above">Lead agency selection</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="col-sm-12"><strong>Lead Agency</strong></p>
            <div class="col-sm-12 ">
              <select name="leadAgency" id="leadAgency" class="form-control" [(ngModel)]="leadAgencyId">
                <option value="undefined" hidden selected disabled>Please select</option>
                <option *ngFor="let agencyId of selectedAgencies" [value]="agencyId">{{agencyNameMap.get(agencyId)}}
                </option>
              </select>
            </div>
          </div>
          <div class="row Right-aligned Spaced col-sm-12">
            <a href="#" data-dismiss="modal" class="col-sm-9 margin-top-one">Cancel</a>
            <button href="#" data-dismiss="modal" class="btn btn-primary col-sm-3 text-uppercase"
                    (click)="saveAgenciesAndLead()">Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Invite Agencies Modal (second modal triggered n'th time after the agency is invited)-->
    <div class="modal fade" id="inviteAgencies" tabindex="-1" role="dialog" aria-labelledby="inviteAgencies"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" class="Spaced-above">Invite agencies</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p>You are about to invite the following agencies to be a part of your network:</p>
            <p *ngFor="let agencyId of selectedAgencies" class="font-weight-bold">
              {{agencyNameMap.get(agencyId)}}</p>
            <p>Are you sure you want to continue?</p>
          </div>
          <div class="row Right-aligned Spaced col-sm-12">
            <a href="#" data-dismiss="modal" class="col-sm-6 margin-top-one">Cancel</a>
            <button href="#" data-dismiss="modal" class="btn btn-primary col-sm-3 text-uppercase"
                    (click)="confirmInvitation()">Confirm
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
