<app-network-country-header></app-network-country-header>
<app-network-country-menu></app-network-country-menu>
<app-network-country-settings-menu></app-network-country-settings-menu>

<app-alert-loader *ngIf="showLoader"></app-alert-loader>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success"
                  [show]="alertMessage"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Sub-header-title__wrap">
      <h2>{{"COUNTRY_ADMIN.SETTINGS.MODULES.TITLE_TEXT" | translate}}</h2>
      <button type="button" class="btn btn-primary Inline-editable--enable" (click)="saveChanges()">
        {{"COUNTRY_ADMIN.SETTINGS.MODULES.SAVE_MODULES" | translate}}
      </button>
      <button type="button" class="btn btn-primary btn-ghost Inline-editable--enable" (click)="cancelChanges()">
        {{"GLOBAL.CANCEL" | translate}}
      </button>
    </div>

    <div class="row Small-spaced align-items-center Header">
      <div class="col-lg-4 col-md-4 col-sm-12">{{"DOCUMENTS.MODULE" | translate}}</div>
      <div class="col-lg-5 col-md-5 col-sm-7">{{"COUNTRY_ADMIN.SETTINGS.MODULES.PRIVACY_SETTINGS" | translate}}</div>
      <div class="col-lg-3 col-md-3 col-sm-6">{{"GLOBAL.STATUS" | translate}}</div>
    </div>

    <div *ngFor="let module of modules; index as i">
      <div class="row Line-row Small-spaced align-items-center" [hidden]="i >=7">
        <div class="col-lg-4 col-md-4 col-sm-12">{{MODULE_NAME[i] | translate}}</div>

        <div class="col-lg-5 col-md-5 col-sm-7">
          <label>
            <button class="btn "
                    [ngClass]="{'btn-primary': module.privacy == Privacy.Public, 'btn-outline-primary': module.privacy != Privacy.Public}"
                    [disabled]="checkDisable(i,0)"
                    (click)="changePrivacy(i, Privacy.Public)">{{"GLOBAL.PUBLIC" | translate}}
            </button>
          </label>
          <label>
            <button class="btn "
                    [hidden]="true"
                    [ngClass]="{'btn-primary': module.privacy == Privacy.Private, 'btn-outline-primary': module.privacy != Privacy.Private}"
                    [disabled]="checkDisable(i,1)"
                    (click)="changePrivacy(i, Privacy.Private)">{{"GLOBAL.PRIVATE" | translate}}
            </button>
          </label>
          <label>
            <button class="btn "
                    [ngClass]="{'btn-primary': module.privacy == Privacy.Network, 'btn-outline-primary': module.privacy != Privacy.Network}"
                    [disabled]="checkDisable(i,2)"
                    (click)="changePrivacy(i, Privacy.Network)">{{"GLOBAL.NETWORK" | translate}}
            </button>
          </label>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6">
          <p *ngIf="networkModules[i]?.status">{{ "GLOBAL.ENABLED" | translate }}</p>
          <p *ngIf="!networkModules[i]?.status">{{ "GLOBAL.DISABLED" | translate }}</p>
        </div>

      </div>
    </div>

  </div>
</div>
