<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>


<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.TITLE_TEXT" | translate}}</h1>
      <!--<i class="fa fa-question-circle fa-2x text-primary Tooltip" data-toggle="tooltip"-->
      <!--data-placement="top" title="Tooltip on top" aria-hidden="true"></i>-->
      <a routerLink="/system-admin/mpa/create" class="btn btn-primary">{{"SYSTEM_ADMIN.ACTIONS.CREATE_NEW_ACTION" |
        translate
        | uppercase}}</a>
    </div>

    <div class="row align-items-center Filter-form System-admin--form-wrap">
      <div class="col-lg-1 col-md-1 col-sm-1">
        {{"GLOBAL.FILTER" | translate}}:
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <select class="form-control" [(ngModel)]="levelSelected" (change)="filterData()" >
          <!--<option value="" disabled selected hidden>All levels</option>-->
          <!--<option>{{"GLOBAL.PREPAREDNESS_LEVEL.ALL" | translate}}</option>-->
          <option *ngFor="let level of levelsList" [value]="level">{{ActionPrepLevel[level] | translate}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5 ">
        <select class="form-control" [(ngModel)]="categorySelected" (change)="filterData()">
          <!--<option value="" disabled selected hidden>All categories</option>-->
          <!--<option value="allCategories" selected>{{"SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.ALL_CATEGORIES" | translate}}</option>-->
          <option *ngFor="let category of categoriesList" [value]="category">{{Category[category] | translate}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="(actions | async)?.length == 0" class="Empty--ribbon">
      {{"SYSTEM_ADMIN.ACTIONS.EMPTY_LIST" | translate}}
    </div>

    <div class="Data--ribbon" *ngFor="let action of actions | async">
      <div class="col-sm-9 ">
        <p>{{action.task}}</p>
        <p>{{"SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.CATEGORY" | translate}}: <b>{{GenericActionCategory[action.category]}}</b>
        </p>
      </div>
      <div class="col-lg-3 Right-aligned">
        <div class="btn btn-danger" (click)="deleteAction(action.$key)">{{"GLOBAL.DELETE" | translate}}</div>
        <div class="btn btn-primary" (click)="edit(action.$key)">{{"GLOBAL.EDIT" | translate}}</div>
      </div>
    </div>

  </div>
</div>
