<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    <ul>
      <li class="Header_bar__username">
        John Doe
      </li>
      <li class="Header_bar__country">
        PHL
      </li>
      <li class="Header_bar__alert">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</div>
<app-system-admin-menu></app-system-admin-menu>


<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">



      <h1>Mandated MPA/APAs</h1>
      <a routerLink="/system-admin/mpa/create" class="btn btn-primary">Create new action</a>
    </div>


    <div class="Empty-ribbon">No default minimum preparedness or advanced preparedmness actions have been added to Alert</div>

  </div>
</div>
