<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<div class="Alert-success" [hidden]="successInactive">
  {{successMessage | translate}}
</div>

<div class="Alert-error" [hidden]="errorInactive">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"ACCOUNT_SETTINGS" | translate}}</h1>
    </div>
    <ul class="section-nav">
      <li class="section-nav__item active"><a [routerLink]="['/system-admin/account-settings']">{{"GLOBAL.ACCOUNT_SETTINGS.PROFILE"
        | translate}}</a></li>
      <li class="section-nav__item "><a [routerLink]="['/system-admin/account-settings/change-password']">{{"GLOBAL.ACCOUNT_SETTINGS.PASSWORD"
        | translate}}</a></li>
    </ul>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Title">{{"GLOBAL.TITLE" | translate}}</label>

          <select name="Title" id="Title" class="form-control" [(ngModel)]="systemAdminTitle">
            <option *ngFor="let title of personTitleList" [ngValue]="title">{{PersonTitle[title] | translate}}</option>
          </select>

        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group" [ngClass]="{'has-danger': alerts[systemAdminFirstName]}">
          <label for="f-Name">{{"FIRST_NAME" | translate}}*</label>
          <input type="text" class="form-control" id="f-Name" [(ngModel)]="systemAdminFirstName">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group" [ngClass]="{'has-danger': alerts[systemAdminLastName]}">
          <label for="l-Name">{{"GLOBAL.USER_INFO.LAST_NAME" | translate}}*</label>
          <input type="text" class="form-control" id="l-Name" [(ngModel)]="systemAdminLastName">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group" [ngClass]="{'has-danger': alerts[systemAdminEmail]}">
          <label for="Email">{{"EMAIL_ADDRESS" | translate}}*</label>
          <input type="text" class="form-control" id="Email" [(ngModel)]="systemAdminEmail">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Phone">{{"GLOBAL.USER_INFO.PHONE" | translate}}</label>
          <input type="text" class="form-control" id="Phone" [(ngModel)]="systemAdminPhone">
        </div>
      </div>
    </div>
    <div class="Form-submit__wrapper">
      <div class="btn btn-primary" (click)="onSubmit()">{{"GLOBAL.SAVE_CHANGES" | translate | uppercase}}</div>
      <div class="btn btn-outline-secondary" routerLink="/system-admin/agency">{{"GLOBAL.CANCEL" | translate}}</div>
    </div>
  </div>
</div>
