<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<div class="Alert-success" [hidden]="inactive">
  {{succesMessage | translate}}
</div>

<div class="Alert-error" [hidden]="errorInactive">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>Account Settings</h1>
    </div>
    <ul class="section-nav">

      <li class="section-nav__item active"><a [routerLink]="['/system-admin/account-settings']">Profile</a></li>

      <li class="section-nav__item "><a [routerLink]="['/system-admin/account-settings/change-password']">Password</a></li>

    </ul>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Title">Title</label>

          <select name="Title" id="Title" class="form-control" [(ngModel)]="systemAdminTitle">
            <option *ngFor="let title of personTitleList" [ngValue]="title">{{PersonTitle[title] | translate}}</option>
          </select>

        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="f-Name">First Name</label>
          <input type="text" class="form-control" id="f-Name" [(ngModel)]="systemAdminFirstName">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="l-Name">Last Name</label>
          <input type="text" class="form-control" id="l-Name" [(ngModel)]="systemAdminLastName">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Email">Email Address</label>
          <input type="text" class="form-control" id="Email" [(ngModel)]="systemAdminEmail">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Phone">Phone Number</label>
          <input type="text" class="form-control" id="Phone" [(ngModel)]="systemAdminPhone">
        </div>
      </div>
    </div>
    <div class="Form-submit__wrapper">
      <div class="btn btn-primary" (click)="onSubmit()">Save changes</div>
      <div class="btn btn-outline-secondary" routerLink="/system-admin">{{"GLOBAL.CANCEL" | translate}}</div>
    </div>
  </div>
</div>
