<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">


    <div class="Header-title__wrap">
      <h1>{{"AGENCY_SETTINGS" | translate}}</h1>
    </div>

    <h3 class="System-admin__Sub-title--spaced">{{"NETWORK_DETAILS" | translate}}</h3>
    <hr>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Title">{{"TITLE" | translate}}</label>
          <input type="text" class="form-control" id="Title">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="A-line-1">{{"ADDRESS_LINE_1" | translate}}</label>
          <input type="text" class="form-control" id="A-line-1">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="A-line-2">{{"ADDRESS_LINE_2" | translate}}</label>
          <input type="text" class="form-control" id="A-line-2">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="A-line-3">{{"ADDRESS_LINE_3" | translate}}</label>
          <input type="text" class="form-control" id="A-line-3">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="City">{{"CITY" | translate}}</label>
          <input type="text" class="form-control" id="City">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Postcode">{{"POSTCODE" | translate}}</label>
          <input type="text" class="form-control" id="Postcode">
        </div>
      </div>
    </div>


    <h3 class="System-admin__Sub-title--spaced">{{"NETWORK_CONTACT_DETAILS" | translate}}</h3>
    <hr>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Title">{{"TITLE" | translate}}</label>
          <input type="text" class="form-control" id="tTitle">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="f-Name">{{"FIRST_NAME" | translate}}</label>
          <input type="text" class="form-control" id="f-Name">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="l-Name">{{"GLOBAL.USER_INFO.LAST_NAME" | translate}}</label>
          <input type="text" class="form-control" id="l-Name">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Email">{{"EMAIL_ADDRESS" | translate}}</label>
          <input type="text" class="form-control" id="Email">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Phone">{{"PHONE_NUMBER" | translate}}</label>
          <input type="text" class="form-control" id="Phone">
        </div>
      </div>
    </div>

    <div class="Form-submit__wrapper">
      <div class="btn btn-outline-secondary">{{"CANCEL" : translate}}</div>
      <div class="btn btn-primary">{{"SAVE_NEW_NETWORK_ACCOUNT" | translate}}</div>
    </div>


  </div>
</div>
