<app-network-header></app-network-header>
<app-network-menu></app-network-menu>
<div class="Page-top__wrap no-padding">
  <div class="Full-page__wrap--inner">
    <div class="row col-sm-12 Spaced-above">
      <div class="Back--button row col-sm-9 margin-top-none" routerLink="/network/network-mpa">Mandated preparedness actions</div> <!-- Back button-->
    </div>
    <div class="row col-sm-12">
      <h1 class="col-sm-12">Create new mandated preparedness acton</h1><br>
    </div>

    <div class="col-sm-12 Spaced-above">
      <h6 class="font-weight-bold">What needs to be done?</h6>
      <div><textarea name="" id="" cols="100" rows="5"></textarea></div>
    </div>
    <br>

    <div class="col-sm-12 Spaced-above">
      <h6 class="font-weight-bold Spaced-above">Is this a minimum or advanced prepardeness action?</h6>

      <div class="bg-grey padding-one col-sm-3 Spaced-above">
        <div class="row">
          <div class="col-sm-1"><input type="radio"></div>
          <div class="col-sm-10"><p>Minimum preparedness</p></div>
        </div>
      </div>

      <div class="bg-grey padding-one col-sm-3 Spaced-above">
        <div class="row">
          <div class="col-sm-1"><input type="radio"></div>
          <div class="col-sm-10"><p>Advanced preparedness</p></div>
        </div>
      </div>
    </div>
    <br>

    <div class="row col-sm-12 Spaced-above">
      <div class="col-sm-2">
        <button class="btn btn-primary text-uppercase">save new action</button>
      </div>
      <div class="col-sm-1 margin-top-one"><a href="#" class="col-sm-12">Cancel</a></div>
    </div>

  </div>
</div>
