<ng-container *ngIf="!isLocalAgency">
  <div *ngIf="userType != (UserType.Donor && UserType.GlobalUser)">
    <app-agency-admin-header *ngIf="isAgencyAdmin"></app-agency-admin-header>
    <app-agency-admin-menu *ngIf="isAgencyAdmin"></app-agency-admin-menu>

    <app-country-admin-header *ngIf="!isAgencyAdmin && (!isViewing || canCopy)"></app-country-admin-header>
    <app-country-admin-menu *ngIf="!isAgencyAdmin && (!isViewing || canCopy)"></app-country-admin-menu>

    <app-director-header *ngIf="!isAgencyAdmin && (isViewing && !canCopy)"></app-director-header>
    <app-director-menu *ngIf="!isAgencyAdmin && (isViewing && !canCopy)"></app-director-menu>
  </div>

  <div *ngIf="userType == UserType.Donor">
    <app-donor-header></app-donor-header>
    <app-donor-menu></app-donor-menu>
  </div>

  <div *ngIf="userType == UserType.GlobalUser">
    <app-director-header></app-director-header>
    <app-director-menu></app-director-menu>
  </div>

</ng-container>

<ng-container *ngIf="isLocalAgency">
    <app-local-agency-header></app-local-agency-header>
    <app-local-agency-menu></app-local-agency-menu>
</ng-container>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div *ngIf="!isAgencyAdmin && userType != UserType.Donor; else donorBack">
      <div *ngIf="!isViewing; else internalView" class="Back--button" [routerLink]="isLocalAgency ? ['/local-agency/response-plans'] : ['/response-plans']">{{"RESPONSE_PLANS.TITLE_TEXT" |
        translate}}
      </div>
      <ng-template #internalView>
        <div *ngIf="isViewing && !isViewingFromExternal; else externalView" class="Back--button" (click)="backToViewingPlan()">{{countryName |
          translate}} : {{"RESPONSE_PLANS.TITLE_TEXT" | translate}}
        </div>
      </ng-template>
      <ng-template #externalView>
        <div class="Back--button" (click)="backToExternalViewingPlan()">{{countryName |
          translate}} : {{"RESPONSE_PLANS.TITLE_TEXT" | translate}}
        </div>
      </ng-template>
    </div>

    <ng-template #donorBack *ngIf="!isAgencyAdmin">
      <div *ngIf="userType == UserType.Donor" class="Back--button" (click)="backForDonor()">{{countryName |
        translate}} : {{"RESPONSE_PLANS.TITLE_TEXT" | translate}}
      </div>
    </ng-template>

    <app-view-response-plan *ngIf="!isLocalAgency"></app-view-response-plan>
    <app-view-response-plan *ngIf="isLocalAgency" [isLocalAgency]="true"></app-view-response-plan>
  </div>
</div>
