<app-country-admin-header *ngIf="!isViewing"></app-country-admin-header>
<app-country-admin-menu *ngIf="!isViewing"></app-country-admin-menu>
<app-director-header *ngIf="isViewing"></app-director-header>
<app-director-menu *ngIf="isViewing"></app-director-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div *ngIf="!isViewing" class="Back--button" routerLink="/response-plans">{{"RESPONSE_PLANS.TITLE_TEXT" |
      translate}}
    </div>
    <div *ngIf="isViewing" class="Back--button" (click)="backToViewingPlan()">{{countryName |
      translate}} : {{"RESPONSE_PLANS.TITLE_TEXT" | translate}}
    </div>
    <app-view-response-plan></app-view-response-plan>
  </div>
</div>
