<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">

		<app-settings-menu></app-settings-menu>



        <div class="Sub-header-title__wrap">
            <h2>Response Plan Settings</h2>
            <button type="button" class="btn btn-primary btn-ghost Inline-editable--enable">Cancel</button>
            <button type="button" class="btn btn-primary Inline-editable--enable">Response Plan Settings</button>
        </div>
        <h4 class="System-admin--form-wrap">Sections selection</h4>
        <div class="row Small-spaced align-items-center Header no-gutters">
            <div class="col-lg-9 col-md-9 col-sm-6 col-6">Sections</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">Status</div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">1.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Plan Details</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">2.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Plan Context</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">3.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Basic Information</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">4.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Activity Summary</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">5.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Target Population</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">6.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Expected Results</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">7.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Activities</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">8.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Monitoring, Accountability and Learning</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">9.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Adjust Beneficiaries for Double Counting</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">10.</div>
            <div class="col-lg-8 col-md-8 col-sm-5 col-5">Budget</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-success btn_fixed_width">Enabled</div><div class="btn btn-outline-danger btn_fixed_width">Disabled</div></div>
        </div>

        <h4 class="System-admin--form-wrap">Approval Hierarchy</h4>
        <div class="row Small-spaced align-items-center Header no-gutters">
            <div class="col-lg-9 col-md-9 col-sm-6 col-6">User type</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">Required</div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-9 col-md-9 col-sm-6 col-6">Regional Director</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-outline-success btn_fixed_width">Yes</div><div class="btn btn-danger btn_fixed_width">No</div></div>
        </div>
        <div class="row Line-row Small-spaced align-items-center no-gutters">
            <div class="col-lg-9 col-md-9 col-sm-6 col-6">Global Director</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><div class="btn btn-outline-success btn_fixed_width">Yes</div><div class="btn btn-danger btn_fixed_width">No</div></div>
        </div>
    </div>
</div>
