<ng-container *ngIf="!isLocalAgency">
  <app-agency-admin-header></app-agency-admin-header>
  <app-agency-admin-menu></app-agency-admin-menu>
</ng-container>
<ng-container *ngIf="isLocalAgency">
  <app-local-agency-header></app-local-agency-header>
  <app-local-agency-menu></app-local-agency-menu>
</ng-container>
<app-status-alert [message]="alertMessage" [success]="alertSuccess" [(show)]="alertShow"
                  (onAlertHidden)="onAlertHidden($event)"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <app-settings-menu *ngIf="!isLocalAgency"></app-settings-menu>
    <app-local-agency-settings-menu *ngIf="isLocalAgency"></app-local-agency-settings-menu>

    <div class="Sub-header-title__wrap">
      <h2>{{"AGENCY_ADMIN.SETTINGS.RESPONSE_PLAN_SECTION_SETTINGS.TITLE_TEXT" | translate}}</h2>
      <button type="button" class="btn btn-primary Inline-editable--enable" (click)="saveChanges()">
        {{"AGENCY_ADMIN.SETTINGS.RESPONSE_PLAN_SECTION_SETTINGS.SAVE" | translate}}
      </button>
      <button type="button" class="btn btn-primary btn-ghost Inline-editable--enable" (click)="cancelChanges()">
        {{"GLOBAL.CANCEL" | translate}}
      </button>
    </div>
    <h4 class="System-admin--form-wrap">
      {{"AGENCY_ADMIN.SETTINGS.RESPONSE_PLAN_SECTION_SETTINGS.SECTIONS_SELECTION" | translate}}
    </h4>
    <br>
    <div class="row Small-spaced align-items-center Header no-gutters">
      <div class="col-lg-9 col-md-9 col-sm-6 col-6">{{"AGENCY_ADMIN.SETTINGS.RESPONSE_PLAN_SECTION_SETTINGS.SECTIONS" | translate}}</div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">{{"GLOBAL.STATUS" | translate}}</div>
    </div>

    <div class="row Line-row Small-spaced align-items-center no-gutters" *ngFor="let section of sections">
      <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">{{section.$key | ordinal}}.</div>
      <div class="col-lg-8 col-md-8 col-sm-5 col-5">{{RESPONSE_PLANS_SECTION_SETTINGS[section.$key] | translate}}</div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="btn btn_fixed_width"
             [ngClass]="{'btn-success': section.$value == true, 'btn-outline-success': section.$value == false}"
             (click)="changeStatus(section.$key, true)">{{"GLOBAL.ENABLED" | translate}}
        </div>
        <div class="btn btn_fixed_width"
             [ngClass]="{'btn-danger': section.$value == false, 'btn-outline-danger': section.$value == true}"
             (click)="changeStatus(section.$key, false)">{{"GLOBAL.DISABLED" | translate}}
        </div>
      </div>
    </div>
    <h4 class="System-admin--form-wrap">{{"AGENCY_ADMIN.SETTINGS.RESPONSE_PLAN_SECTION_SETTINGS.APPROVAL_HIERARCHY" | translate}}</h4>
    <br>
    <div class="row Small-spaced align-items-center Header no-gutters">
      <div class="col-lg-9 col-md-9 col-sm-6 col-6">{{"AGENCY_ADMIN.SETTINGS.RESPONSE_PLAN_SECTION_SETTINGS.USER_TYPE" | translate}}</div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">{{"AGENCY_ADMIN.SETTINGS.RESPONSE_PLAN_SECTION_SETTINGS.REQUIRED" | translate}}</div>
    </div>
    <div class="row Line-row Small-spaced align-items-center no-gutters" *ngFor="let approval of approvals">
      <div class="col-lg-9 col-md-9 col-sm-6 col-6" *ngIf="approval.$key == 0">{{"GLOBAL.USER_TYPE.REGIONAL_DIRECTOR_SINGLE" | translate}}</div>
      <div class="col-lg-9 col-md-9 col-sm-6 col-6" *ngIf="approval.$key == 1">{{"GLOBAL.USER_TYPE.GLOBAL_DIRECTOR_SINGLE" | translate}}</div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="btn btn-outline-success btn_fixed_width"
             [ngClass]="{'btn-success': approval.$value == true, 'btn-outline-success': approval.$value == false}"
             (click)="changeApproval(approval.$key, true)">{{"YES" | translate}}
        </div>
        <div class="btn btn-danger btn_fixed_width"
             [ngClass]="{'btn-danger': approval.$value == false, 'btn-outline-danger': approval.$value == true}"
             (click)="changeApproval(approval.$key, false)">{{"GLOBAL.NO" | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
