<table class="tg" style="width: 100%;" text-align="center" id="tableNarrativeNew">

  <!-- 1. Project Overview -->
  <tr style="width: 100%; background: #CD0000; color: white; width: 100%; padding: 10px; ">
    <td colspan="15"><p style="margin-bottom: 0;">1. PROJECT OVERVIEW</p></td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Project Title</strong>
      </td>
    <td colspan="4" style="text-align: center; width: 25%;">
    <p> {{responsePlan.name}}</p>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong style="">Name of Project Lead</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
    <p> {{planLeadName}} </p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Member Agency Name</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p> {{memberAgencyName}}</p>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong style="">Position/ Job Title</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p> {{planLeadPosition}} </p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Country</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{COUNTRIES[agencyCountry]}}</p>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong style="">Email</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <a href="mailto:{{planLeadEmail}}"><p>{{planLeadEmail}}</p></a>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Name of village(s), town(s), or city(ies)</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{responsePlan.location}}</p>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong style="">Area(s), district(s) or province(s)</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p> {{responsePlan.location}}</p>
    </td>
  </tr>
  <tr style="width: 100%; background: #CD0000; border: 1px solid black; color: white; padding: 10px; ">
    <td colspan="15"><p style="margin-bottom: 0;"> What sectors will the intervention include? Select as many as are applicable</p></td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Water, Sanitation and Hygiene</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.wash)">X</p>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong style="">Nutrition</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.nutrition)">X</p>
    </td>
  </tr>
  <tr style="width: 100%;">
     <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
       <strong style="">Education</strong>
     </td>
     <td colspan="4" style="text-align: center; width: 25%;">
       <p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.education)">X</p>
     </td>
     <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
       <strong style="">Protection/ Human rights/ Rule of law</strong>
     </td>
     <td colspan="4" style="text-align: center; width: 25%;">
       <p></p>
     </td>
   </tr>
  <tr style="width: 100%;">
     <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
       <strong style="">Food Security & Livelihoods</strong>
     </td>
     <td colspan="4" style="text-align: center; width: 25%;">
       <p
         *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.foodSecurityAndLivelihoods)">X</p>
     </td>
     <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
       <strong style="">Shelter and non-food items</strong>
     </td>
     <td colspan="4" style="text-align: center; width: 25%;">
       <p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.shelter)">X</p>
     </td>
   </tr>
  <tr style="width: 100%;">
     <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
       <strong style="">Health</strong>
     </td>
     <td colspan="4" style="text-align: center; width: 25%;">
       <p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.health)">X</p>
     </td>
     <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
       <strong style="">Cash (UCT, voucher/ token, or cash-for-work etc).</strong>
     </td>
     <td colspan="4" style="text-align: center; width: 25%;">
       <p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.campmanagement)">
         X</p>
     </td>
   </tr>
  <tr style="width: 100%;">
     <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
       <strong style="">Other (please specify)</strong>
     </td>
     <td colspan="11" style="text-align: center; width: 75%;">
       <p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.other)">X</p>
     </td>
   </tr>

  <tbody style="text-align: center; border: 2px solid black">
  <tr style="width: 100%;">
    <td colspan="4" style="border-bottom: none; background-color: #d8d8d8; width: 25%;">
      <strong style="">Presence in target area before project</strong>
    </td>
    <th colspan="4">Present through current Programmes</th>
    <th colspan="4">Pre-existing Partner CSO/NGO</th>
    <th colspan="4">No Pre-existing Presence</th>
  </tr>
  <tr>
  <td colspan="4" style="border-top: none; text-align: center; width: 25%; background-color: #d8d8d8;">
    <p></p>
  </td>
  <td colspan="4" style="text-align: center; width: 25%;">
    <p
      *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.currentProgrammes">X</p>
  </td>
  <td colspan="4" style="text-align: center; width: 25%;">
    <p
      *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.preExistingPartner">X</p>
  </td>
  <td colspan="4" style="text-align: center; width: 25%;">
    <p
      *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.noPreExistingPresence">X</p>
  </td>
  </tr>
  </tbody>

  <tbody style=" text-align: center; border: 2px solid black">
  <tr style="width: 100%;">
    <th colspan="4" style="text-align: center;  border-bottom: none; background-color: #d8d8d8; width: 25%;">
      <strong>Method of Implementation</strong>
    </th>

    <th colspan="4">Member Agency Staff</th>
    <th colspan="4">With Pre-Existing CSO/ NGO</th>
    <th colspan="4">With New Partner CSO/ NGO</th>

  </tr>
  <tr>
    <td colspan="4" style="border-top: none; text-align: center; width: 25%; background-color: #d8d8d8;">
      <p></p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p
        *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.fieldStaff">X</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p
        *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.withPartner">X</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p></p>
    </td>
  </tr>
  </tbody>
  <tr style="width: 100%;">
    <td colspan="4" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Name's of partner's (if applicable):</strong>
    </td>
    <td colspan="12" style="text-align: center; width: 75%;">
      <p *ngFor="let name of partnersList;">{{name}}, &nbsp;</p>
    </td>
  </tr>

  <!-- 2. Project Context -->
  <tr style="width: 100%; background: #CD0000; border: 1px solid black; color: white; padding: 10px; ">
    <td colspan="15"><p style="margin-bottom: 0;">2. Project Context</p></td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Summarise the crisis event and how it is likely to develop </strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <ol *ngIf="responsePlan.scenarioCrisisList">
        <li *ngFor="let crisis of responsePlan.scenarioCrisisList">{{crisis}}</li>
      </ol>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Summarise the impact of the crisis on the people you want to reach </strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <ol *ngIf="responsePlan.impactOfCrisisList">
        <li *ngFor="let impact of responsePlan.impactOfCrisisList">{{impact}}</li>
      </ol>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Summarise the availability of funding your agency can access for this crisis </strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <ol *ngIf="responsePlan.availabilityOfFundsList">
        <li *ngFor="let availability of responsePlan.availabilityOfFundsList">{{availability}}</li>
      </ol>
    </td>
  </tr>

  <!-- 2.1 Project Activity Summary -->
  <tr style="width: 100%; background: #CD0000; border: 1px solid black; color: white; padding: 10px; ">
    <td colspan="15"><p style="margin-bottom: 0;">2.1 PROJECT ACTIVITY SUMMARY</p></td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Summarise your proposed project, why you have selected this particular response and how you expect your approach to address the stated needs</strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" height="100" style=" width: 25%;">
      <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q1']">{{responsePlan.activitySummary['q1']}}</p>
    </td>

  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Explain how you will start your activities in 7 days and finish within 45 days.</strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16"  style=" width: 25%;">
      <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q2']">{{responsePlan.activitySummary['q2']}}</p>

    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">How are you co-ordinating and with whom?</strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q3']">{{responsePlan.activitySummary['q3']}}</p>

    </td>
  </tr>

  <tbody style="text-align: center; border: 2px solid black">
  <tr style="width: 100%;">
    <td colspan="4" style="border-bottom:none; background-color: #d8d8d8; width: 25%;">
      <strong style="">How you are planning to source your goods (select all that apply)</strong>
    </td>
    <th colspan="4">Internationally</th>
    <th colspan="4">Regionally</th>
    <th colspan="4">In-Country</th>
  </tr>
  <tr>
    <td colspan="4" style="border-top: none; text-align: center; width: 25%; background-color: #d8d8d8;">
      <p></p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p *ngIf="sourcePlanId == SourcePlan.Internationally">X</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p *ngIf="sourcePlanId == SourcePlan.Regionally">X</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p *ngIf="sourcePlanId == SourcePlan.Locally">X</p>
    </td>
  </tr>
  </tbody>

  <!-- 2.2 Project Target Population -->

  <tr style="width: 100%; background: #CD0000; border: 1px solid black; color: white; padding: 10px; ">
    <td colspan="15"><p style="margin-bottom: 0;">2.2 PROJECT TARGET POPULATION</p></td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">How are you calculating the beneficiary reach number for this Start Fund project, not including co-financing?
        E.g. If hygiene kits are given to 2000 households and 1 household = 5 beneficiaries. Reach = 10,000</strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <p style="text-align: left;" *ngIf="responsePlan.peoplePerHousehold && responsePlan.numOfHouseholds &&
              isNumber(responsePlan.peoplePerHousehold) && isNumber(responsePlan.numOfHouseholds)">{{responsePlan.peoplePerHousehold * responsePlan.numOfHouseholds}}
      </p>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Are you specifically targetting vulnerable groups? If so, which?</strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <ol *ngIf="vulnerableGroupsToShow">
        <li *ngFor="let group of vulnerableGroupsToShow">{{group.name}}</li>
      </ol>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">How will the target population be involved in your proposed intervention?</strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <ol *ngIf="responsePlan.targetPopulationInvolvementList">
        <li *ngFor="let involvement of responsePlan.targetPopulationInvolvementList">{{involvement}}</li>
      </ol>
    </td>
  </tr>

  <!-- 2.3 Project Expected Results -->

  <tr style="width: 100%; background: #CD0000; border: 1px solid black; color: white; padding: 10px; ">
    <td colspan="15"><p style="margin-bottom: 0;">2.3 PROJECT EXPECTED RESULTS</p></td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">What will success look like for the community you are working with and in what time frame?
        (Please tell us the expected impact on communities, rather than about activities which will be completed) </strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <p style=""></p>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">What are the the risks to this project and how are you managing them?</strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <p>{{responsePlan.riskManagementPlan ? responsePlan.riskManagementPlan : ''}}</p>
    </td>
  </tr>

  <!-- 2.4 Project Monitoring and Evaluation -->

  <tr style="width: 100%; background: #CD0000; border: 1px solid black; color: white; padding: 10px; ">
    <td colspan="15"><p style="margin-bottom: 0;">2.4 PROJECT MONITORING AND EVALUATION</p></td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">Describe the monitoring, accountability and learning systems that you will employ to ensure quality and accountability.</strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <p>{{responsePlan.monAccLearning && responsePlan.monAccLearning['mALSystemsDescription'] ?
        (responsePlan.monAccLearning['mALSystemsDescription']) : ''}}</p>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="16" style=" background-color: #d8d8d8; width: 25%;">
      <strong style="">What are the the risks to this project and how are you are managing them?</strong>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="16" style=" width: 25%;">
      <p style=""></p>
    </td>
  </tr>

</table>

<br>
<hr>
<br>

