<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<div class="Alert-error" [hidden]="inactive">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{pageTitle | translate}}</h1>
    </div>

      <div class="row System-admin--form-wrap">
        <div class="col-lg-8 col-md-10">
          <div class="form-group" [ngClass]="{'has-danger': alerts[textArea]}">
            <label for="n-Done">{{"GLOBAL.WHAT_NEEDS_TO_BE_DONE" | translate}}</label>
            <textarea name="n-Done" id="n-Done" cols="30" rows="10" class="form-control" [(ngModel)]="textArea"></textarea>
          </div>
        </div>
      </div>

      <div class="row System-admin--form-wrap">
        <div class="col-lg-8 col-md-10">
          <div class="form-group"><label>{{"SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.MPA_OR_APA?" | translate}}</label></div>

          <div class="Radio--ribbon">
            <input type="radio" name="Prep-level-mpa" id="Min-prep" [checked]="isMpa" (change)="mpaSelected()">
            <label for="Min-prep"> {{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}} </label>
          </div>

          <div class="Radio--ribbon">
            <input type="radio" name="Prep-level-apa" id="Adv-prep" [checked]="!isMpa" (change)="apaSelected()">
            <label for="Adv-prep"> {{"GLOBAL.PREPAREDNESS_LEVEL.APA" | translate}} </label>
          </div>
        

          <div class="row System-admin--form-wrap">
            <div class="col-md-6" [ngClass]="{'has-danger': alerts[categorySelected]}">
              <div class="form-group">
                <label for="Category">{{"SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.CATEGORY" | translate}}</label>
                <select class="form-control" id="Category" [(ngModel)]="categorySelected">
                  <option value="undefined" selected hidden disabled>{{"GLOBAL.PLEASE_SELECT" | translate}}</option>
                  <option *ngFor="let category of categoriesList">{{Category[category] | translate}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="Form-submit__wrapper">
            <div class="btn btn-primary" (click)="onSubmit()">{{buttonText | translate | uppercase}}</div>
            <div class="btn btn-outline-secondary" routerLink="/system-admin/mpa">{{"GLOBAL.CANCEL" | translate}}</div>
          </div>

        </div>
      </div>

  </div>
</div>
