<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<div class="Alert-error" [hidden]="inactive">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{pageTitle | translate}}</h1>
    </div>

      <div class="row System-admin--form-wrap">
        <div class="col-lg-8 col-md-10">
          <div class="form-group" [ngClass]="{'has-danger': alerts[textArea]}">
            <label for="n-Done">{{"GLOBAL.WHAT_NEEDS_TO_BE_DONE" | translate}}</label>
            <textarea name="n-Done" id="n-Done" cols="30" rows="10" class="form-control" [disabled]="editInitialDisable" [(ngModel)]="textArea"></textarea>
          </div>
        </div>
      </div>

      <div class="row System-admin--form-wrap">
        <div class="col-lg-8 col-md-10">
          <div class="form-group"><label>{{"SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.MPA_OR_APA?" | translate}}</label></div>

          <div class="Radio--ribbon">
            <input type="radio" name="Prep-level-mpa" id="Min-prep"  [disabled]="editInitialDisable" [checked]="isMpa" (change)="mpaSelected()">
            <label for="Min-prep"> {{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}} </label>
            <!-- TOOLTIP 3.6 -->
            <tooltip [level1]="'ountry Context is not a hazard per se, but a collection of macro-level indicators that when viewed together provides a holistic picture of the country's socioeconomic and political status'"
              [level2]="'In order to articulate APAs and distinguish them from MPAs it is useful to consider when they will be actioned.
•        Day to day – planning, preparing, reviewing & changing processes, training etc. These are MPAs
•        In the early warning “getting ready to respond” phase – if warning communications allow moving to a state of readiness because the disaster is imminent. Moving stored items to forward positions, distributing equipment, getting ready to move to emergency procedures. These are APAs
•        In the initial response phase 72h – implementing emergency procedures for essential activities, maintaining essential programme and operational services and implementing planned emergency response activities. These are APAs'"
            ></tooltip>
          </div>

          <div class="Radio--ribbon">
            <input type="radio" name="Prep-level-apa" id="Adv-prep"  [disabled]="editInitialDisable" [checked]="!isMpa" (change)="apaSelected()">
            <label for="Adv-prep"> {{"GLOBAL.PREPAREDNESS_LEVEL.APA" | translate}} </label>
            <!-- TOOLTIP 3.7 -->
            <tooltip
              [level1]="'Advanced Preparedness Actions (APAs) are executed when a disaster is imminent in the early warning phase or immediately after a severe sudden onset disaster. APAs are associated with particular hazards or can apply in any hazard scenario. The corresponding APAs are activated when a Red Alert is raised for a particular hazard.'"
              [level2]="'In order to articulate APAs and distinguish them from MPAs it is useful to consider when they will be actioned.
•        Day to day – planning, preparing, reviewing & changing processes, training etc. These are MPAs
•        In the early warning “getting ready to respond” phase – if warning communications allow moving to a state of readiness because the disaster is imminent. Moving stored items to forward positions, distributing equipment, getting ready to move to emergency procedures. These are APAs
•        In the initial response phase 72h – implementing emergency procedures for essential activities, maintaining essential programme and operational services and implementing planned emergency response activities. These are APAs'"
            ></tooltip>
          </div>

          <div class="row System-admin--form-wrap">
            <div class="col-md-6" [ngClass]="{'has-danger': alerts[categorySelected]}">
              <div class="form-group">
                <label for="Category">{{"SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.CATEGORY" | translate}}</label>
                <select class="form-control" id="Category" [(ngModel)]="categorySelected"  [disabled]="editInitialDisable">
                  <option value="undefined" selected hidden disabled>{{"GLOBAL.PLEASE_SELECT" | translate}}</option>
                  <option *ngFor="let category of categoriesList">{{Category[category] | translate}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="Form-submit__wrapper">
            <div class="btn btn-primary" (click)="onSubmit()">{{buttonText | translate | uppercase}}</div>
            <div class="btn btn-outline-secondary" routerLink="/system-admin/mpa">{{"GLOBAL.CANCEL" | translate}}</div>
          </div>

        </div>
      </div>

  </div>
</div>
