<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"AGENCY_ADMIN.STAFF.TITLE"| translate}}</h1>
      <button type="button" class="btn btn-primary" (click)="addNewStaff()">{{"AGENCY_ADMIN.STAFF.ADD_NEW_STAFF"|
        translate | uppercase}}
      </button>
    </div>

    <div class="row align-items-center Filter-form System-admin--form-wrap">
      <div class="col-lg-1 col-md-1">
        {{"GLOBAL.FILTER"| translate}}
      </div>
      <div class="col-lg-3 col-md-4">
        <select class="form-control">
          <option *ngFor="let position of positionsList" [value]="position">{{Position[position] | translate}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-4">
        <select class="form-control">
          <option *ngFor="let userType of userTypesList" [value]="userType">{{UserType[userType] | translate}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-4">
        <select class="form-control">
          <option *ngFor="let officeType of officeTypesList" [value]="officeType">{{OfficeType[officeType] |
            translate}}
          </option>
        </select>
      </div>
    </div>

    <div *ngFor="let office of staffs">
      <div class="Sub-header-title__wrap">
        <h2>{{countries[office?.country]|translate}}</h2>
        <span class="Hide-all" (click)="hideCountryStaff(office)">{{"GLOBAL.HIDE_ALL"| translate}}</span>
      </div>

      <div [hidden]="showCountryStaff.get(office.id)">
        <div [hidden]="office?.staffs.length==0" class="row Line-row Small-spaced Header">
          <div class="col-lg-2">{{"GLOBAL.NAME"| translate}}</div>
          <div class="col-lg-2">{{"AGENCY_ADMIN.STAFF.POSITION"| translate}}</div>
          <div class="col-lg-2">{{"AGENCY_ADMIN.STAFF.USER_TYPE"| translate}}</div>
          <div class="col-lg-2">{{"AGENCY_ADMIN.STAFF.OFFICE_TYPE"| translate}}</div>
          <!--<div class="col-lg-2">{{"GLOBAL.SKILLS"| translate}}</div>-->
          <!--<div class="col-lg-3">{{"AGENCY_ADMIN.STAFF.TRAINING_NEEDS"| translate}}</div>-->
          <div class="col-lg-1"></div>
        </div>
        <div *ngFor="let staff of office?.staffs" class="row Line-row Small-spaced">
          <div class="col-lg-2">{{getStaffName(staff.id)}}</div>
          <div class="col-lg-2">{{POSITION[staff.position] | translate}}</div>
          <div class="col-lg-2">{{USER_TYPE[staff.userType] | translate}}</div>
          <div class="col-lg-2">{{OFFICE_TYPE[staff.officeType] | translate}}</div>
          <!--<div class="col-lg-2">{{showSkills(staff.skills)}}</div>-->
          <!--<div class="col-lg-3">{{staff.trainingNeeds}}</div>-->
          <div class="col-lg-2 col-md-2 additional-info">
            <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
            <a href="#" data-toggle="collapse" data-target="#popover_content" aria-expanded="false"
               aria-controls="popover_content">Additional Info</a>
          </div>
          <div class="col-lg-1 col-md-3">
            <button class="btn btn-primary" (click)="editStaff(office.id, staff.id)">{{"GLOBAL.EDIT"| translate}}</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
