<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<app-alert-loader [hidden]="hideLoader"></app-alert-loader>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"AGENCY_ADMIN.STAFF.TITLE_TEXT"| translate}}</h1>
      <button type="button" class="btn btn-primary" (click)="addNewStaff()">{{"AGENCY_ADMIN.STAFF.ADD_NEW_STAFF"|
        translate | uppercase}}
      </button>
    </div>

    <div class="row align-items-center Filter-form System-admin--form-wrap">
      <div class="col-lg-1 col-md-1">
        {{"GLOBAL.FILTER"| translate}}
      </div>
      <!--<div class="col-lg-3 col-md-4">-->
      <!--<select class="form-control" [(ngModel)]="filterPosition" (change)="filterStaff()">-->
      <!--<option *ngFor="let position of positionsList" [value]="position">{{Position[position] | translate}}</option>-->
      <!--</select>-->
      <!--</div>-->
      <div class="col-lg-3 col-md-4">
        <select class="form-control" [(ngModel)]="filterPosition" (change)="filterStaff()">
          <option value="allDepartments">{{"AGENCY_ADMIN.MANDATED_PA.ALL_DEPARTMENTS" | translate}}</option>
          <option *ngFor="let department of departments" [value]="department">{{department}}
          </option>
        </select>
      </div>
      <div class="col-lg-3 col-md-4">
        <select class="form-control" [(ngModel)]="filterUser" (change)="filterStaff()">
          <option *ngFor="let userType of userTypesList" [value]="userType">{{UserType[userType] | translate}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-4">
        <select class="form-control" [(ngModel)]="filterOffice" (change)="filterStaff()">
          <option *ngFor="let officeType of officeTypesList" [value]="officeType">{{OfficeType[officeType] |
            translate}}
          </option>
        </select>
      </div>
    </div>

    <div *ngFor="let office of staffs">
      <div class="Sub-header-title__wrap">
        <h2>{{countries[office?.country]|translate}}</h2>
        <span *ngIf="!showCountryStaff.get(office.id)" class="Hide-all" (click)="hideCountryStaff(office)">{{"GLOBAL.HIDE_ALL"| translate}}</span>
        <span *ngIf="showCountryStaff.get(office.id)" class="Hide-all" (click)="hideCountryStaff(office)">{{"GLOBAL.SHOW_ALL"| translate}}</span>
      </div>

      <div [hidden]="showCountryStaff.get(office.id)">
        <div [hidden]="office?.staffs.length==0" class="row Line-row Small-spaced Header">
          <div class="col-lg-2">{{"GLOBAL.NAME"| translate}}</div>
          <div class="col-lg-2">{{"AGENCY_ADMIN.STAFF.DEPARTMENT"| translate}}</div>
          <div class="col-lg-2">{{"AGENCY_ADMIN.STAFF.USER_TYPE"| translate}}</div>
          <div class="col-lg-2">{{"AGENCY_ADMIN.STAFF.OFFICE_TYPE"| translate}}</div>
          <div class="col-lg-1"></div>
        </div>
        <div *ngFor="let staff of office?.staffs" class="row Line-row Small-spaced align-items-center"
             style="position:relative;">
          <div class="col-lg-2">{{getStaffName(staff.id)}}</div>
          <div class="col-lg-2">{{staff.department}}</div>
          <div class="col-lg-2">{{USER_TYPE[staff.userType] | translate}}</div>
          <div class="col-lg-2">{{OFFICE_TYPE[staff.officeType] | translate}}</div>
          <div class="col-lg-2 col-md-2 additional-info">
            <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
            <a href="#" data-toggle="collapse" [attr.data-target]="'#'+staff.id" aria-expanded="false"
               aria-controls="popover_content">Additional Info</a>
          </div>
          <div class="col-lg-1 col-md-3">
            <button class="btn btn-primary" (click)="editStaff(office.id, staff.id)">{{"GLOBAL.EDIT"| translate}}
            </button>
          </div>

          <div [attr.id]="staff.id" class="Popover__ribbon prevent_parent_collapse collapse col-12">
            <!-- Additional info -->
            <div class="row  Spaced">
              <div class="col-sm-10 col-8"><h4>Additional Information</h4></div>
              <div class="col-sm-2 col-4 text-right">
                <button class="btn-link" (click)="closeAdditionalInfo(staff.id)">Close</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Email Address</div>
              <div class="col-md-10 col-sm-6">{{getStaffEmail(staff.id)}}</div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Telephone Number</div>
              <div class="col-md-10 col-sm-6">{{getStaffPhone(staff.id)}}</div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Support Skills</div>
              <div class="col-md-10 col-sm-6">
                <ul>
                  <li *ngFor="let skill of getSupportSkills(office.id, staff.id)"> {{skill}}</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Technical Skills</div>
              <div class="col-md-10 col-sm-6">
                <ul>
                  <li *ngFor="let skill of getTechSkills(office.id, staff.id)"> {{skill}}</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Training Needs</div>
              <div class="col-md-10 col-sm-6">{{staff.training}}</div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Notifications</div>
              <div class="col-md-10 col-sm-6">
                <ul>
                  <li *ngFor="let notification of staff.notification"> {{NOTIFICATION_SETTINGS[notification] |
                    translate}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div [hidden]="globalUsers.length==0">
      <div class="Sub-header-title__wrap">
        <h2>{{"AGENCY_ADMIN.STAFF.GLOBAL_USERS" | translate}}</h2>
        <span *ngIf="showCountryStaff.get('globaluser')" class="Hide-all" (click)="hideCountryStaff('globaluser')">{{"GLOBAL.HIDE_ALL"| translate}}</span>
        <span *ngIf="!showCountryStaff.get('globaluser')" class="Hide-all" (click)="hideCountryStaff('globaluser')">{{"GLOBAL.SHOW_ALL"| translate}}</span>
        <!--<span  class="Hide-all" >{{"GLOBAL.SHOW_ALL"| translate}}</span>-->
      </div>

      <div *ngIf="showCountryStaff.get('globaluser')">
        <div class="row Line-row Small-spaced Header">
          <div class="col-lg-2">{{"GLOBAL.NAME"| translate}}</div>
          <div class="col-lg-2">{{"AGENCY_ADMIN.STAFF.DEPARTMENT"| translate}}</div>
          <div class="col-lg-2">{{"AGENCY_ADMIN.STAFF.USER_TYPE"| translate}}</div>
          <div class="col-lg-2">{{"AGENCY_ADMIN.STAFF.OFFICE_TYPE"| translate}}</div>
          <div class="col-lg-1"></div>
        </div>
        <div *ngFor="let globalUser of globalUsers" class="row Line-row Small-spaced align-items-center"
             style="position:relative;">
          <div class="col-lg-2">{{getStaffName(globalUser.$key)}}</div>
          <div class="col-lg-2">{{globalUser.department}}</div>
          <div class="col-lg-2">{{USER_TYPE[globalUser.userType] | translate}}</div>
          <div class="col-lg-2">{{OFFICE_TYPE[globalUser.officeType] | translate}}</div>
          <div class="col-lg-2 col-md-2 additional-info">
            <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
            <a href="#" data-toggle="collapse" [attr.data-target]="'#'+globalUser.$key" aria-expanded="false"
               aria-controls="popover_content">Additional Info</a>
          </div>
          <div class="col-lg-1 col-md-3">
            <button class="btn btn-primary" (click)="editStaff(null, globalUser.$key)">{{"GLOBAL.EDIT"| translate}}
            </button>
          </div>

          <div [attr.id]="globalUser.$key" class="Popover__ribbon prevent_parent_collapse collapse col-12">
            <!-- Additional info -->
            <div class="row  Spaced">
              <div class="col-sm-10 col-8"><h4>Additional Information</h4></div>
              <div class="col-sm-2 col-4 text-right">
                <button class="btn-link" (click)="closeAdditionalInfo(globalUser.$key)">Close</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Email Address</div>
              <div class="col-md-10 col-sm-6">{{getStaffEmail(globalUser.$key)}}</div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Telephone Number</div>
              <div class="col-md-10 col-sm-6">{{getStaffPhone(globalUser.$key)}}</div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Support Skills</div>
              <div class="col-md-10 col-sm-6">
                <ul>
                  <li *ngFor="let skill of getSupportSkills(null, globalUser.$key)"> {{skill}}</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Technical Skills</div>
              <div class="col-md-10 col-sm-6">
                <ul>
                  <li *ngFor="let skill of getTechSkills(null, globalUser.$key)"> {{skill}}</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Training Needs</div>
              <div class="col-md-10 col-sm-6">{{globalUser.training}}</div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-6 text-bold">Notifications</div>
              <div class="col-md-10 col-sm-6">
                <ul>
                  <li *ngFor="let notification of globalUser.notification"> {{NOTIFICATION_SETTINGS[notification] |
                    translate}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
