/* For Floating button */
.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#131D50;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}

.img-position {
  width: 30px;
  padding-top: 15px;
}

.btn.btn-primary{
  color: #ffffff;
}
