<app-alert-loader *ngIf="showLoader"></app-alert-loader>
<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    <div class="logo" (click)="goToHome()"></div>
    <ul>
      <li class="Header_bar__username">
        {{firstName+" "+lastName}}
      </li>
      <li class="Header_bar__country dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">{{agencyName}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/donor-module/donor-account-settings">{{"GLOBAL.ACCOUNT_SETTINGS.TITLE" | translate}}</a>
          <a class="dropdown-item" (click)="openLanguageModal()">{{"GLOBAL.SWITCH" | translate}}</a>
          <a class="dropdown-item" (click)="reportProblem()">{{"GLOBAL.REPORT" | translate}}</a>
          <a class="dropdown-item" (click)="exportData()">{{"EXPORT_SYSTEM_DATA" | translate}}</a>
          <a class="dropdown-item" (click)="logout()">
            {{"GLOBAL.LOGOUT" | translate}}
          </a>
        </div>
      </li>

      <app-notification-badge [userId]="uid" [USER_TYPE]="USER_TYPE" [countryId]="countryId" [agencyId]="agencyId"></app-notification-badge>
    </ul>

  </div>

  <!-- Modal for language selection-->
  <div class="modal fade" id="language-selection" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">{{"GLOBAL.MODAL_HEADER" | translate}}</h2>
        </div>
        <div class="modal-body" >

          <div *ngFor="let language of userLang">
            <hr/>
            <div class="hover-selection"> <a (click)="changeLanguage(language)">{{languageMap.get(language)}}</a></div>
          </div>

        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <app-report-problem></app-report-problem>
</div>
