<div class="Back--button">{{"HELPAGE_OVERVIEW" | translate}}</div>
<div class="Agency__submenu Bordered-box">
    <div class="row align-items-center">
        <div class="col-md-5 Selected-part">
            <div class="row align-items-center">
                <div class="col-2">
                    <a routerLink="/country-admin/country-office-profile/{{countryId}}"><div class="Icon--md Icon__country" [style.background-image]="getBackground()"></div></a>
                </div>
                <div class="col-10">
                    <a routerLink="/country-admin/country-office-profile/{{countryId}}"><span>{{COUNTRIES[location] | translate}}</span></a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
		    <ul>
		        <li class="" routerLinkActive="active">
		            <a routerLink="/country-admin/country-office-profile/{{countryId}}">{{"COUNTRY_OFFICE_PROFILE" | translate}}</a>
		        </li>
		        <li class="" routerLinkActive="active">
		            <a routerLink="/risk-monitoring">{{"RISK_MONITORING" | translate}}</a>
		        </li>

		        <li class="" routerLinkActive="active">
		            <div class="dropdown">
		                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">Preparedness</a>
		                <div class="dropdown-menu">
		                    <a class="dropdown-item" routerLink="/preparedness/minimum/{{countryId}}">{{"MINIMUM_PREPAREDNESS" | translate}}</a>
		                    <a class="dropdown-item" routerLink="/preparedness/advanced/{{countryId}}">{{"ADVANCED_PREPAREDNESS" | translate}}</a>
		                    <a class="dropdown-item" routerLink="/preparedness/budget/{{countryId}}">{{"PREPAREDNESS_BUDGET" | translate}}</a>
		                </div>
		            </div>
		        </li>
		        <li class="" routerLinkActive="active">
		            <a routerLink="/response-plans">{{"PLANS" | translate}}</a>
		        </li>
		    </ul>
        </div>
    </div>
</div>
