<div class="Back--button">HelpAge International : Overview</div>        
<div class="Agency__submenu Bordered-box">
    <div class="row align-items-center">
        <div class="col-md-5 Selected-part">
            <div class="row align-items-center">
                <div class="col-2">
                    <div class="Icon--md Icon__country" [style.background-image]="getBackground()"></div>
                </div>
                <div class="col-10">
                    <span>{{COUNTRIES[location] | translate}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-7">
		    <ul>
		        <li class="" routerLinkActive="active">
		            <a routerLink="/country-admin/country-office-profile">Country Office Profile</a> <!--TODO - Go to Country Office Profile-->
		        </li>
		        <li class="" routerLinkActive="active">
		            <a routerLink="/risk-monitoring">Risk Monitoring</a> <!--TODO - Go to Risk Monitoring-->
		        </li>

		        <li class="" routerLinkActive="active">
		            <div class="dropdown">
		                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">Preparedness</a>
		                <div class="dropdown-menu">
		                    <a class="dropdown-item" routerLink="/preparedness/minimum/{{countryId}}">Minimum preparedness</a>
		                    <a class="dropdown-item" routerLink="/preparedness/advanced/{{countryId}}">Advanced preparedness</a>
		                    <a class="dropdown-item" routerLink="/preparedness/budget/{{countryId}}">Preparedness budget</a>
		                </div>
		            </div>
		        </li>
		        <li class="" routerLinkActive="active">
		            <a routerLink="/response-plans">Plans</a> <!--TODO - Go to Response Plans-->
		        </li>
		    </ul>
        </div>
    </div>
</div>

<div class="Widget Alert-Widget Bordered-box noCTALink">
    <div class="row">
        <div class="col-md-3 Alert-Widget__item bg-danger">
            <h4>Red Alert</h4>
        </div>
        <div class="col-md-3 Alert-Widget__item Alert-Widget__item--risk">
                <i div class="Icon__circle Icon--sm Icon--b-dark-blue Icon--cyclone"></i>
                <div>
                    <span>Risk:</span>
                    Typhoon
                </div>
        </div>
        <div class="col-md-3 Alert-Widget__item">
            <div>
                <span>Population affected:</span> 200,000 people
            </div>
        </div>
        <div class="col-md-3 Alert-Widget__item">
            <div>
                <span>Affected areas:</span> Leyre and Cebu
            </div>
        </div>
        
        
    </div>
    
</div>