<app-donor-header></app-donor-header>
<app-donor-menu></app-donor-menu>

<app-alert-loader [hidden]="loaderInactive"></app-alert-loader>

<div class="Page-top__wrap--w_sub_header">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"AGENCY_ADMIN.SETTINGS.MODULE_NAME.GLOBAL_MAPS" | translate}}</h1>
      <a href="javascript:void(0)" (click)="goToMapView()">{{"MAPS.SEE_COUNTRIES_MAP" | translate}}</a>
    </div>


    <!--new design ui-->

    <div *ngFor="let location of displayCountries">

      <div class="row align-items-center Accordion Map-list Spaced padding-left-three"
           (click)="seeCountryIndex(location)">

        <div class="col-md-2 col-lg-2 col-sm-2 text-center Subtle-border-right">
          <i
            class="Icon__square--transparent Icon__country--{{getCountryCodeFromLocation(location).toUpperCase()}} Icon--lg"></i>
          <p><strong>{{"GLOBAL.COUNTRIES." + getCountryCodeFromLocation(location).toUpperCase() |
            translate}}</strong></p>
        </div>

        <div *ngFor="let hazard of getHazardsForCountry(location)" class="col-sm-1">
          <div class="Icon">
            <div
              class="Icon--md Icon__circle Icon--b-dark-blue {{getCSSHazard(hazard)}}"></div>
          </div>
          <span>{{HazardScenario[hazard] | translate}}</span>
        </div>
      </div>

    </div>

  </div>
</div>
