<table class="tg" style="width: 100%;" align="center" id="tableProjectBudget">

  <tr>
    <td class="tg" colspan="3" style="width: 40%; text-align: center;">
      <h2>Start Fund</h2>
      <br>
      <h1 style="color: maroon;">Project Budget</h1>
    </td>
    <td class="tg" colspan="6" style="background: darkred; color: white; text-align: left; font-weight: normal; border: 1px solid #222;">
      <p>Instructions:</p>
      <p>1. Ensure you explain each budget line</p>
      <p>2. There are strict deadlines – please submit the entire application form (Basic Data & Narrative, Activities and Budget worksheets) no later than the deadline set.</p>
    </td>
  </tr>
  <tr>
    <td class="tg" colspan="9"></td>
  </tr>
  <tr style="text-align: center;" colspan="9">
    <td colspan="2" class="tg" style="width: 15%; background-color: lightgrey;padding: 0 0.25em; margin-top: 0;"><p>Return this form to</p></td>
    <td colspan="2" class="tg" style="width: 25%; text-align: center;padding: 0 0.25em;">
      <a href="mailto:startfund@savechildren.org.uk">startfund@savethechildren.org.uk</a>
    </td>
    <td colspan="2" class="tg" style="width: 30%; background-color: lightgrey;padding: 0 0.25em;"><p>Date submitted to Start
      Team</p>
    </td>
    <td colspan="3" class="tg" style="width: 30%; padding: 0 0.25em;"></td>
  </tr>

  <tr style="text-align: center;" colspan="9">
    <td colspan="2" class="tg" style="width: 15%; background-color: lightgrey;padding: 0 0.25em; margin-top: 0;"><p>Project Name</p></td>
    <td colspan="2" class="tg" style="width: 25%; text-align: center;padding: 0 0.25em;"><p></p></td>
    <td colspan="2" class="tg" style="width: 30%; background-color: lightgrey;padding: 0 0.25em;"><p>Member agency name</p>
    </td>
    <td colspan="3" class="tg" style="width: 30%; padding: 0 0.25em;"><p></p></td>
  </tr>


  <tr>
    <td class="tg" colspan="9"></td>
  </tr>
  <tr>
    <td class="tg" colspan="9" style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
      style="margin: 0; padding: 0; font-weight: normal;">Section 4: Budget</h2></td>
  </tr>
  <tr>
    <td class="tg" colspan="9"></td>
  </tr>
  <tr style="font-weight: bold;">
    <td class="tg" colspan="3" style="background: lightgrey;">Budget Category</td>
    <td class="tg" colspan="1" style="background: lightgrey;">Budget (£)</td>
    <td class="tg" colspan="5" style="background: lightgrey;">Description</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; font-weight: bold;">A: Total Inputs (autosum)</td>
    <td class="tg" colspan="1" style="text-align: right; font-weight: bold;">{{totalInputs}}</td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-1: WaSH</td>
    <td class="tg" colspan="1"></td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-2: Health</td>
    <td class="tg" colspan="1"></td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-3: Shelter</td>
    <td class="tg" colspan="1"></td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-4: Nutrition</td>
    <td class="tg" colspan="1"></td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-5: Camp Management</td>
    <td class="tg" colspan="1"></td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-6: Education</td>
    <td class="tg" colspan="1"></td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-7: Protection</td>
    <td class="tg" colspan="1"></td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-8: Food Security & Livelihoods</td>
    <td class="tg" colspan="1"></td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-10: Other</td>
    <td class="tg" colspan="1"></td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">B: Transport</td>
    <td class="tg" colspan="1" style="text-align: right;">{{transportBudget}}</td>
    <td class="tg" colspan="5"><p>{{transportNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">C: Security</td>
    <td class="tg" colspan="1" style="text-align: right;">{{securityBudget}}</td>
    <td class="tg" colspan="5"><p>{{securityNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">D: Logistics and overheads</td>
    <td class="tg" colspan="1" style="text-align: right;">{{logisticsAndOverheadsBudget}}</td>
    <td class="tg" colspan="5"><p>{{logisticsAndOverheadsNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">E: Staffing and support</td>
    <td class="tg" colspan="1" style="text-align: right;">{{staffingAndSupportBudget}}</td>
    <td class="tg" colspan="5"><p>{{staffingAndSupportNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">F: Monitoring and evaluation</td>
    <td class="tg" colspan="1" style="text-align: right;">{{monitoringAndEvolutionBudget}}</td>
    <td class="tg" colspan="5"><p>{{monitoringAndEvolutionNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">G: Capital items*</td>
    <td class="tg" colspan="1" style="text-align: right;">{{capitalItemsBudget}}</td>
    <td class="tg" colspan="5"><p>{{capitalItemsNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">H: Management support (maximum 10% of direct costs)</td>
    <td class="tg" colspan="1" style="text-align: right;">{{totalOfAllCosts}}</td>
    <td class="tg" colspan="5"><p>{{managementSupportNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; font-weight: bold;"><p>Total (autosum)</p></td>
    <td class="tg" colspan="1" style="text-align: right; font-weight: bold;">{{total}}</td>
    <td class="tg" colspan="5" style="font-weight: bold;"></td>
  </tr>
  <tr>
    <td class="tg" colspan="9" style="font-style: italic;"><p>*Please note that project equipment costs cannot be used for programme set-up costs (e.g. vehicles and laptops)</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="9"><p>Please specify any individual items costing more than £1,000:</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="2" style="font-weight: bold;"><p>Cost (£):</p></td>
    <td class="tg" colspan="7" style="vertical-align: top; font-weight: bold;">Description:</td>
  </tr>

  <tr>
    <td class="tg" colspan="2"><p></p></td>
    <td class="tg" colspan="7" style="vertical-align: top;"><p></p></td>
  </tr>

  <tr>
    <td class="tg" colspan="2"><p></p></td>
    <td class="tg" colspan="7" style="vertical-align: top;"><p></p></td>
  </tr>

  <tr>
    <td class="tg" colspan="2"><p></p></td>
    <td class="tg" colspan="7" style="vertical-align: top;"><p></p></td>
  </tr>

  <tr>
    <td class="tg" colspan="9" style="vertical-align: top;"><p>Additional Comments:</p></td>
  </tr>

</table>
