<table class="tg" style="width: 100%;" align="center" id="tableBudgetNew">

  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-top: none; border-bottom: none; border-left: none;">
      <strong style=""></strong>
    </td>

    <td colspan="10" style="text-align: center; width: 25%;">
      <a style="color:red; text-decoration: underline;" href="http://www.xe.com/currencyconverter/">Please report all expenditure in GBP - (click this text for a conversion website)</a>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-top: none; border-bottom: none; border-left: none;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; text-align: center; width: 25%;">
      <p>Budget Category</p>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; text-align: center; width: 25%;">
      <p>Budget <br>(GBP)</p>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; text-align: center; width: 25%;">
      <p>Description</p>
    </td>
  </tr>
  <!-- Implementation -->
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-bottom:none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>WaSH</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputWaSHBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputWaSHNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Health</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputHealthBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputHealthNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Shelter</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputShelterBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputShelterNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Nutrition</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputNutritionBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputNutritionNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; text-align: center; color: white; background: #CD0000;">
      <strong style="">IMPLEMENTATION</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Camp Management</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputCampBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputCampNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Education</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputEduBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputEduNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Protection</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputProtectionBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputProtectionNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Food Security & Livelihoods</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputFoodSecBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{inputFoodSecNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Cash</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p></p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p></p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-top: none;  background: #CD0000">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="background: #F2CBAD; width: 25%;">
      <strong>Total</strong>
    </td>
    <td colspan="4" style="text-align: center; background: #F2CBAD; width: 25%;">
      <strong>£ {{total}}</strong>
    </td>
    <td colspan="4" style="text-align: center; background: #F2CBAD; width: 25%;">
      <p></p>
    </td>
  </tr>

  <!-- Operations -->
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%;border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Transport</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{transportBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{transportNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; background: #CD0000; color: white; ">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Security</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{securityBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{securityNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; background: #CD0000; text-align: center; color: white; ">
      <strong style="">OPERATIONS</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Logistics & Overheads</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{logisticsAndOverheadsBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{logisticsAndOverheadsNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; text-align: center; color:white; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Staffing & Support</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{staffingAndSupportBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{staffingAndSupportNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; text-align: center; color:white; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Monitoring & Evaluation</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{monitoringAndEvolutionBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{monitoringAndEvolutionNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; text-align: center; color:white; border: none; background: #CD0000;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>Capital items</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{capitalItemsBudget}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{capitalItemsNarrative}}</p>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-top: none; background: #CD0000">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="background: #F2CBAD; width: 25%;">
      <strong>Total</strong>
    </td>
    <td colspan="4" style="text-align: center; background: #F2CBAD; width: 25%;">
      <strong>£ {{!t ? 0 : t}} </strong>
    </td>
    <td colspan="4" style="text-align: center; background: #F2CBAD; width: 25%;">
      <p></p>
    </td>
  </tr>

  <!-- Management Support -->
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; background: #CD0000; text-align: center;">
      <strong style="color: white;">MANAGEMENT SUPPORT</strong>
    </td>
    <td colspan="4" style="text-align: center; border-right: none; width: 25%;">
      <strong>Management Support (max. 100% of direct costs)</strong>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>£ {{totalOfAllCosts}}</p>
    </td>
    <td colspan="4" style="text-align: center; width: 25%;">
      <p>{{managementSupportNarrative}}</p>
    </td>
  </tr>

  <!-- Totals -->
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-top: none; border-bottom: none; border-left: none;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong>TOTALS</strong>
    </td>
    <td colspan="6" style="background-color: #d8d8d8; text-align: center; width: 25%;">
      <p>Agency Budget</p>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-top: none; border-bottom: none; border-left: none;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong>Implementation</strong>
    </td>
    <td colspan="6" style="background-color: #d8d8d8; text-align: center; width: 25%;">
      <p>£ {{total}}</p>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-top: none; border-bottom: none; border-left: none;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong>Operations</strong>
    </td>
    <td colspan="6" style="background-color: #d8d8d8; text-align: center; width: 25%;">
      <p>£ {{total}}</p>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-top: none; border-bottom: none; border-left: none;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong>Management Support</strong>
    </td>
    <td colspan="6" style="background-color: #d8d8d8; text-align: center; width: 25%;">
      <p>{{totalOfAllCosts}}</p>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-top: none; border-bottom: none; border-left: none;">
      <strong style=""></strong>
    </td>
    <td colspan="4" style="background-color: #d8d8d8; width: 25%;">
      <strong>ALL</strong>
    </td>
    <td colspan="6" style="background-color: #d8d8d8; text-align: center; width: 25%;">
      <p>£ {{total}}</p>
    </td>
  </tr>

  <!-- Capital item cost breakdown -->
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border-bottom: none;  background: #CD0000;">
      <strong style=""></strong>
    </td>

    <td colspan="10" style="width: 25%;">
      <p style="color:red;">Please note that capital item costs cannot be used for programme set-up costs
        (e.g. vehicles and laptops). Please specify any individual items costing more than £1,000</p>
    </td>
  </tr>

  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; text-align: center; background: #CD0000;">
      <strong style="color: white;">CAPITAL ITEM COST</strong>
    </td>

    <td colspan="4" style="background-color: #d8d8d8;width: 25%;">
      <strong>Cost</strong>
    </td>
    <td colspan="6" style="background-color: #d8d8d8; text-align: center; width: 25%;">
      <p></p>
    </td>

  </tr>
  <tr style="width: 100%;">
    <td colspan="4" style="width: 25%; border: none; text-align: center; background: #CD0000;">
      <strong style="color: white;">BREAKDOWN</strong>
    </td>

    <td colspan="4" style="width: 25%;">
      <strong>£ {{capitalItemsBudget}}</strong>
    </td>
    <td colspan="6" style="text-align: center; width: 25%;">
      <p>{{capitalItemsNarrative}}</p>
    </td>

  </tr>
</table>

<br>
<hr>
<br>


<!--
<table class="tg" style="width: 100%;" align="center" id="tableProjectBudget">

  <tr>
    <td class="tg" colspan="3" style="width: 40%; text-align: center;">
      <h2>Start Fund</h2>
      <br>
      <h1 style="color: maroon;">Project Budget</h1>
    </td>
    <td class="tg" colspan="6" style="background: darkred; color: white; text-align: left; font-weight: normal; border: 1px solid #222;">
      <p>Instructions:</p>
      <p>1. Ensure you explain each budget line</p>
      <p>2. There are strict deadlines – please submit the entire application form (Basic Data & Narrative, Activities and Budget worksheets) no later than the deadline set.</p>
    </td>
  </tr>
  <tr>
    <td class="tg" colspan="9"></td>
  </tr>
  <tr style="text-align: center;" colspan="9">
    <td colspan="2" class="tg" style="width: 15%; background-color: lightgrey;padding: 0 0.25em; margin-top: 0;"><p>Return this form to</p></td>
    <td colspan="2" class="tg" style="width: 25%; text-align: center;padding: 0 0.25em;">
      <a href="mailto:startfund@savechildren.org.uk">startfund@savethechildren.org.uk</a>
    </td>
    <td colspan="2" class="tg" style="width: 30%; background-color: lightgrey;padding: 0 0.25em;"><p>Date submitted to Start
      Team</p>
    </td>
    <td colspan="3" class="tg" style="width: 30%; padding: 0 0.25em;"></td>
  </tr>

  <tr style="text-align: center;" colspan="9">
    <td colspan="2" class="tg" style="width: 15%; background-color: lightgrey;padding: 0 0.25em; margin-top: 0;"><p>Project Name</p></td>
    <td colspan="2" class="tg" style="width: 25%; text-align: center;padding: 0 0.25em;"><p>{{responsePlan.name}}</p></td>
    <td colspan="2" class="tg" style="width: 30%; background-color: lightgrey;padding: 0 0.25em;"><p>Member agency name</p></td>
    <td colspan="3" class="tg" style="width: 30%; padding: 0 0.25em;"><p>{{memberAgencyName}}</p></td>
  </tr>

  <tr>
    <td class="tg" colspan="9"></td>
  </tr>
  <tr>
    <td class="tg" colspan="9" style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
      style="margin: 0; padding: 0; font-weight: normal;">Section 4: Budget</h2></td>
  </tr>
  <tr>
    <td class="tg" colspan="9"></td>
  </tr>
  <tr style="font-weight: bold;">
    <td class="tg" colspan="3" style="background: lightgrey;">Budget Category</td>
    <td class="tg" colspan="1" style="background: lightgrey;">Budget ({{CURRENCIES[currency]}})</td>
    <td class="tg" colspan="5" style="background: lightgrey;">Description</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; font-weight: bold;">A: Total Inputs (autosum)</td>
    <td class="tg" colspan="1" style="text-align: right; font-weight: bold;">{{totalInputs}}</td>
    <td class="tg" colspan="5"></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-1: WaSH</td>
    <td class="tg" colspan="1" style="text-align: right;">{{inputWaSHBudget}}</td>
    <td class="tg" colspan="5">{{inputWaSHNarrative}}</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-2: Health</td>
    <td class="tg" colspan="1" style="text-align: right;">{{inputHealthBudget}}</td>
    <td class="tg" colspan="5">{{inputHealthNarrative}}</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-3: Shelter</td>
    <td class="tg" colspan="1" style="text-align: right;">{{inputShelterBudget}}</td>
    <td class="tg" colspan="5">{{inputShelterNarrative}}</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-4: Nutrition</td>
    <td class="tg" colspan="1" style="text-align: right;">{{inputNutritionBudget}}</td>
    <td class="tg" colspan="5">{{inputNutritionNarrative}}</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-5: Food Security & Livelihoods</td>
    <td class="tg" colspan="1" style="text-align: right;">{{inputFoodSecBudget}}</td>
    <td class="tg" colspan="5">{{inputFoodSecNarrative}}</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-6: Protection</td>
    <td class="tg" colspan="1" style="text-align: right;">{{inputProtectionBudget}}</td>
    <td class="tg" colspan="5">{{inputProtectionNarrative}}</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-7: Education</td>
    <td class="tg" colspan="1" style="text-align: right;">{{inputEduBudget}}</td>
    <td class="tg" colspan="5">{{inputEduNarrative}}</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-8: Camp Management</td>
    <td class="tg" colspan="1" style="text-align: right;">{{inputCampBudget}}</td>
    <td class="tg" colspan="5">{{inputCampNarrative}}</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; text-align: right;">A-9: Other</td>
    <td class="tg" colspan="1" style="text-align: right;">{{inputOtherBudget}}</td>
    <td class="tg" colspan="5">{{inputOtherNarrative}}</td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">B: Transport</td>
    <td class="tg" colspan="1" style="text-align: right;">{{transportBudget}}</td>
    <td class="tg" colspan="5"><p>{{transportNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">C: Security</td>
    <td class="tg" colspan="1" style="text-align: right;">{{securityBudget}}</td>
    <td class="tg" colspan="5"><p>{{securityNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">D: Logistics and overheads</td>
    <td class="tg" colspan="1" style="text-align: right;">{{logisticsAndOverheadsBudget}}</td>
    <td class="tg" colspan="5"><p>{{logisticsAndOverheadsNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">E: Staffing and support</td>
    <td class="tg" colspan="1" style="text-align: right;">{{staffingAndSupportBudget}}</td>
    <td class="tg" colspan="5"><p>{{staffingAndSupportNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">F: Monitoring and evaluation</td>
    <td class="tg" colspan="1" style="text-align: right;">{{monitoringAndEvolutionBudget}}</td>
    <td class="tg" colspan="5"><p>{{monitoringAndEvolutionNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">G: Capital items*</td>
    <td class="tg" colspan="1" style="text-align: right;">{{capitalItemsBudget}}</td>
    <td class="tg" colspan="5"><p>{{capitalItemsNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey;">H: Management support (maximum 10% of direct costs)</td>
    <td class="tg" colspan="1" style="text-align: right;">{{totalOfAllCosts}}</td>
    <td class="tg" colspan="5"><p>{{managementSupportNarrative}}</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="3" style="background: lightgrey; font-weight: bold;"><p>Total (autosum)</p></td>
    <td class="tg" colspan="1" style="text-align: right; font-weight: bold;">{{total}}</td>
    <td class="tg" colspan="5" style="font-weight: bold;"></td>
  </tr>
  <tr>
    <td class="tg" colspan="9" style="font-style: italic;"><p>*Please note that project equipment costs cannot be used for programme set-up costs (e.g. vehicles and laptops)</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="9"><p>Please specify any individual items costing more than £1,000:</p></td>
  </tr>
  <tr>
    <td class="tg" colspan="2" style="font-weight: bold;"><p>Cost ({{CURRENCIES[currency]}}):</p></td>
    <td class="tg" colspan="7" style="vertical-align: top; font-weight: bold;">Description:</td>
  </tr>

  <tr>
    <td class="tg" colspan="2"><p></p></td>
    <td class="tg" colspan="7" style="vertical-align: top;"><p></p></td>
  </tr>

  <tr>
    <td class="tg" colspan="2"><p></p></td>
    <td class="tg" colspan="7" style="vertical-align: top;"><p></p></td>
  </tr>

  <tr>
    <td class="tg" colspan="2"><p></p></td>
    <td class="tg" colspan="7" style="vertical-align: top;"><p></p></td>
  </tr>

  <tr>
    <td class="tg" colspan="9" style="vertical-align: top;"><p>Additional Comments:</p></td>
  </tr>

</table>
-->
