<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"DIRECTOR_DASHBOARD.AGENCIES_IN" | translate}} {{countries[countryKey] | translate}}
        {{"COUNTRY_ADMIN.VIEW_MY_AGENCY.OVERVIEW" | translate}}</h1>
    </div>

    <app-country-overview [systemId]="systemAdminID" [userId]="uid" [agencies]="agencies" [userType]="UserType" [countryOfficeData]="countryOffices" [agencyOverview]="true"></app-country-overview>

  </div>

</div><!-- end #wrap -->
