<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Back--button" routerLink="/dashboard">Home</div>
    <div class="Header-title__wrap">
      <h1>Seasonal calendar <a href="javascript:void(0)" class="btn btn-outline-primary" data-toggle="modal"
                               data-target="#add_calendar">Add to the calendar</a></h1>
      <div class="Header-title__wrap__Inline-links">
        <a href="/dashboard/dashboard-seasonal-calendar" class="active">View as Weeks</a> |
        <a href="dashboard__calendar--month.html">View as Months</a>
      </div>
    </div>

    <div id="target2" #target class="timeline-tgt Spaced"></div>
  </div>
</div>

<div class="modal fade" id="add_calendar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Add season to the calendar</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="S-name">Season Name</label>
              <input type="text" class="form-control form-control-danger" id="S-name" placeholder="Please enter">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="S-date">Start Date:</label>
              <input type="date" class="form-control form-control-danger" id="S-date" placeholder="Please enter">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="E-date">End Date:</label>
              <input type="date" class="form-control form-control-danger" id="E-date" placeholder="Please enter">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label>Color:</label>
          </div>
          <div class="col-sm-12">
            <div class="Color__swatch pal__red"></div>
            <div class="Color__swatch pal__orange"></div>
            <div class="Color__swatch pal__yellow"></div>
            <div class="Color__swatch pal__green"></div>
            <div class="Color__swatch pal__blue"></div>
            <div class="Color__swatch pal__turquoise"></div>
            <div class="Color__swatch pal__light-red"></div>
            <div class="Color__swatch pal__dark-blue"></div>
            <div class="Color__swatch pal__dark-green"></div>
            <div class="Color__swatch pal__purple"></div>
            <div class="Color__swatch pal__light-green"></div>
            <div class="Color__swatch pal__indigo"></div>
          </div>
        </div>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>

      </div>
    </div>
  </div>
</div>
