<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"SYSTEM_ADMIN.AGENCIES.TITLE" | translate}}</h1>
      <a [routerLink]="['/system-admin/add-agency']" class="btn btn-primary">{{"SYSTEM_ADMIN.AGENCIES.ADD_NEW_AGENCY" | translate | uppercase}}</a>
    </div>

    <div *ngIf="(agencies | async)?.length == 0" class="Empty--ribbon">
      {{"SYSTEM_ADMIN.AGENCIES.NO_AGENCY" | translate}}
    </div>

    <table class="table Table__v-spacing__mid Agency-table">
      <tr *ngFor="let agency of agencies | async">
        <td><div class="Agency-logo" [style.background-image]="agency?.logoPath ? 'url(' + agency?.logoPath + ')' : 'url(assets/images/alert_logo--grey.svg)'"></div></td>
        <td>{{agency?.name}}</td>
        <td></td>
        <td *ngIf="agency?.isActive">{{"GLOBAL.ACTIVE" | translate}}</td>
        <td *ngIf="!agency?.isActive">{{"GLOBAL.DEACTIVE" | translate}}</td>
        <td>
          <div *ngIf="!agency?.isActive" class="btn btn-success" (click)="toggleActive(agency)">{{"GLOBAL.ACTIVATE" | translate}}</div>
          <div *ngIf="agency?.isActive" class="btn btn-danger" (click)="toggleActive(agency)">{{"GLOBAL.DEACTIVATE" | translate}}</div>
          <div class="btn btn-primary" (click)="editAgency(agency)">{{"GLOBAL.EDIT" | translate}}</div>
        </td>
      </tr>
    </table>
  </div>

</div>
