<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Alert-success" [hidden]="successInactive">
  {{successMessage | translate}}
</div>

<div class="Alert-error" [hidden]="inactive">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <!--<div class="Back&#45;&#45;button">Mandated preparedness actions</div>-->

    <div class="Header-title__wrap">
      <h1>{{pageTitle | translate}}</h1>
    </div>


    <div class="row System-admin--form-wrap">
      <div class="col-lg-8 col-md-10">
        <div class="form-group" [ngClass]="{'has-danger': alerts[textArea]}">
          <label for="n-Done">{{"GLOBAL.WHAT_NEEDS_TO_BE_DONE" | translate}}</label>
          <textarea [disabled]="fieldsDisabled" [(ngModel)]="textArea" name="n-Done" id="n-Done" cols="30" rows="5" class="form-control"></textarea>
        </div>
      </div>
    </div>

    <div class="row System-admin--form-wrap">
      <div class="col-lg-8 col-md-10">
        <p>{{"AGENCY_ADMIN.MANDATED_PA.MPA_OR_APA?" | translate}}</p>

        <div class="Radio--ribbon">
          <input [disabled]="fieldsDisabled" type="radio" name="Prep-level-mpa" id="Min-prep" [checked]="isMpa" (change)="mpaSelected()">
          <label for="Min-prep"> {{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}} </label>
          <!--tooltip-->
          <tooltip
          [level1]="'TOOLTIPS.PREPAREDNESS.TT6.LEVEL1'"
          [level2]="'TOOLTIPS.PREPAREDNESS.TT6.LEVEL2'">
          </tooltip>
        </div>

        <div class="Radio--ribbon">
          <input [disabled]="fieldsDisabled" type="radio" name="Prep-level-apa" id="Adv-prep" [checked]="!isMpa" (change)="apaSelected()">
          <label for="Adv-prep"> {{"GLOBAL.PREPAREDNESS_LEVEL.APA" | translate}} </label>
          <!--tooltip-->
          <tooltip
          [level1]="'TOOLTIPS.PREPAREDNESS.TT7.LEVEL1'"
          [level2]="'TOOLTIPS.PREPAREDNESS.TT7.LEVEL2'">
          </tooltip>
        </div>

        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-12" [ngClass]="{'has-danger': alerts[departmentSelected]}">
            <label>{{"GLOBAL.DEPARTMENT" | translate}}</label>

            <select [disabled]="fieldsDisabled" class="form-control" onChange="addDepartmentModal(this, '#add_department')"
                    [(ngModel)]="departmentSelected">
              <option value="undefined" selected hidden disabled>{{"GLOBAL.PLEASE_SELECT" | translate}}</option>
              <option *ngFor="let department of departments" [value]="department.id">{{department.name}}
              </option>
              <option class="add-department">{{"AGENCY_ADMIN.MANDATED_PA.ADD_DEPARTMENT" | translate}}</option>
            </select>
          </div>
        </div>

        <div class="Form-submit__wrapper">
          <button [disabled]="fieldsDisabled" (click)="onSubmit()" class="btn btn-primary">{{buttonText | translate | uppercase}}</button>
          <button class="btn btn-outline-secondary" routerLink="/agency-admin/agency-mpa">{{"GLOBAL.CANCEL" |
            translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_department" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="Alert-error" [hidden]="newDepartmentErrorInactive">
    {{newDepartmentErrorMessage | translate}}
  </div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{"AGENCY_ADMIN.MANDATED_PA.ADD_DEPARTMENT_TITLE" | translate}}</strong></h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" [ngClass]="{'has-danger': alerts[newDepartment]}">
          <label>{{"AGENCY_ADMIN.MANDATED_PA.DEPARTMENT_NAME" | translate}}</label>
          <input type="text" class="form-control" id="Department-Name" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}" [(ngModel)]="newDepartment">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addNewDepartment()">{{"GLOBAL.SAVE"| translate | uppercase}}</button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">{{"GLOBAL.CANCEL"| translate}}</button>
        <!--<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>-->
      </div>
    </div>
  </div>
</div>
