<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Alert-error" [hidden]="inactive">
  {{errorMessage | translate}}
</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <!--<div class="Back&#45;&#45;button">Mandated preparedness actions</div>-->

    <div class="Header-title__wrap">
      <h1>{{pageTitle | translate}}</h1>
    </div>


    <div class="row System-admin--form-wrap">
      <div class="col-lg-8 col-md-10">
        <div class="form-group">
          <label for="n-Done">{{"GLOBAL.WHAT_NEEDS_TO_BE_DONE" | translate}}</label>
          <textarea [(ngModel)]="textArea" name="n-Done" id="n-Done" cols="30" rows="5" class="form-control"></textarea>
        </div>
      </div>
    </div>

    <div class="row System-admin--form-wrap">
      <div class="col-lg-8 col-md-10">
        <p>{{"AGENCY_MANDATED_PA.MPA_OR_APA?" | translate}}</p>

        <div class="Radio--ribbon">
          <input type="radio" name="Prep-level-mpa" id="Min-prep" [checked]="isMpa" (change)="mpaSelected()">
          <label for="Min-prep"> {{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}} </label>
        </div>

        <div class="Radio--ribbon">
          <input type="radio" name="Prep-level-apa" id="Adv-prep" [checked]="!isMpa" (change)="apaSelected()">
          <label for="Adv-prep"> {{"GLOBAL.PREPAREDNESS_LEVEL.APA" | translate}} </label>
        </div>

        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-12">
            <label for="Department">{{"AGENCY_MANDATED_PA.DEPARTMENT" | translate}}</label>
            <select class="form-control" id="Department" [(ngModel)]="departmentSelected" (change)="checkDepartmentSelected()">
              <option *ngFor="let department of keys()">{{department}}</option>
              <option value="addNewDepartment">{{"AGENCY_MANDATED_PA.ADD_DEPARTMENT" | translate}}</option>
            </select>
          </div>
        </div>

        <div class="Form-submit__wrapper">
          <div class="btn btn-outline-secondary" routerLink="/agency-admin/agency-mpa">{{"GLOBAL.CANCEL" | translate}}
          </div>
          <div (click)="onSubmit()" class="btn btn-primary">{{buttonText | translate}}</div>
        </div>

      </div>
    </div>
  </div>
</div>
