<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <!--<div class="Back&#45;&#45;button">Mandated preparedness actions</div>-->

    <div class="Header-title__wrap">
      <h1>Create new mandated preparedness action</h1>
    </div>


    <div class="row System-admin--form-wrap">
      <div class="col-lg-8 col-md-10">
        <div class="form-group">
          <label for="n-Done">What needs to be done?</label>
          <textarea name="n-Done" id="n-Done" cols="30" rows="5" class="form-control"></textarea>
        </div>
      </div>
    </div>

    <div class="row System-admin--form-wrap">
      <div class="col-lg-8 col-md-10">
        <p>Is this a minimum or advanced preparedness action?</p>

        <div class="row">
          <label for="APA"   class="Checkbox--ribbon col-lg-8 col-md-10 col-sm-12"><input type="radio" checked name="Action-type" id="APA">APA</label>
          <label for="MPA" class="Checkbox--ribbon col-lg-8 col-md-10 col-sm-12"><input type="radio" checked name="Action-type" id="MPA">MPA</label>
        </div>

        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-12">
            <label for="Department">Department</label>
            <select class="form-control" id="Department">
              <option value="D-val-1">Option 1</option>
              <option value="D-val-2">Option 2</option>
              <option value="modal-trigger">Add new department +</option>
            </select>
          </div>
        </div>

        <div class="Form-submit__wrapper">
          <div class="btn btn-outline-secondary">Cancel</div>
          <div class="btn btn-primary">Save new action</div>
        </div>

      </div>
    </div>
  </div>
</div>
