<div class="Widget Alert-Widget Bordered-box noCTALink">
    <div class="row">
        <div class="col-md-3 Alert-Widget__item bg-danger">
            <h4>Red Alert</h4>
        </div>
        <div class="col-md-3 Alert-Widget__item Alert-Widget__item--risk">
                <i div class="Icon__circle Icon--sm Icon--b-dark-blue Icon--cyclone"></i>
                <div>
                    <span>Risk:</span>
                    Typhoon
                </div>
        </div>
        <div class="col-md-3 Alert-Widget__item">
            <div>
                <span>Population affected:</span> 200,000 people
            </div>
        </div>
        <div class="col-md-3 Alert-Widget__item">
            <div>
                <span>Affected areas:</span> Leyre and Cebu
            </div>
        </div>
        
        
    </div>
    
</div>