<ng-template ngFor let-alert [ngForOf]="alerts">
<div class="Widget Alert-Widget Bordered-box noCTALink" >
    <div class="row">
        <div class="col-md-3 Alert-Widget__item" [ngClass]="
                                               {
                                               'bg-warning': alert.alertLevel == AmberAlertStatus,
                                               'bg-danger': alert.alertLevel == RedAlertStatus
                                               }
                                               ">
            <h4>{{alertLevels[alert.alertLevel] | translate}}</h4>
        </div>
        <div class="col-md-3 Alert-Widget__item Alert-Widget__item--risk">
                <i div class="Icon__circle Icon--sm Icon--b-dark-blue {{getCSSHazard(alert.hazardScenario)}}"></i>
                <div>
                    <span>{{"ALERT.RISK" | translate}}:</span>
                    {{hazardScenarios[alert.hazardScenario] | translate}}<br>
                </div>
        </div>
        <div class="col-md-3 Alert-Widget__item">
            <div>
                <span>{{"POPULATION_AFFECTED" | translate}}:</span> {{alert.estimatedPopulation}} people
            </div>
        </div>
        <div class="col-md-3 Alert-Widget__item">
            <div>
                <span>{{"AFFECTED_AREAS" | translate}}:</span>
                <ng-template ngFor let-area [ngForOf]="alert.affectedAreas | keyValues" let-isLast="last">
                    {{area.value.region}}, {{area.value.province}} <ng-template [ngIf]="!isLast">{{"AND" | translate}} </ng-template>
                </ng-template>

            </div>
        </div>


    </div>
</div>
</ng-template>
