{% extends "default.html" %} <!--Our page template-->
{% set title = "Home" %} <!--Set our page title-->
{% block header %}
<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    {% include "parts/navbar.html"%}
  </div>
</div>
<div class="Sub-header_bar">
  {% include "parts/Subnav__system-admin.html"%}
</div>
{% endblock %}


{% block content %} <!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Back--button">Home</div>

    <div class="Header-title__wrap">
      <h1>Mandated Preparedness Actions</h1>
      <button type="button" class="btn btn-primary">Create new action</button>
    </div>

    <div class="Filter-system__wrap row">
      <div class="col-lg-1 col-md-2 col-sm-2">
        <p>Filter</p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <select class="form-control" id="Min-prep">
          <option value="C-val-1">Option 1</option>
          <option value="C-val-2">Option 2</option>
          <option value="C-val-3">Option 3</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <select class="form-control" id="Departments">
          <option value="C-val-1">Option 1</option>
          <option value="C-val-2">Option 2</option>
          <option value="C-val-3">Option 3</option>
        </select>
      </div>
    </div>


    <div class="Empty--ribbon">No agencies have been added to the Alert Portal</div>


  </div>

</div>
{% include "parts/modal.html"%}
{% endblock %} <!--End of content-->
