<app-alert-loader *ngIf="showLoader"></app-alert-loader>
<div class="Sub-header_bar">
  <div class="Hamburger">
    <span></span>
  </div>
  <ul>
    <li class="" routerLinkActive="active">
      <a routerLink="/local-agency/dashboard">{{"GLOBAL.HOME" | translate}}</a>
    </li>
    <li class="" [hidden]="permRiskMonitoring" routerLinkActive="active">
      <a routerLink="/local-agency/risk-monitoring">{{"RISK_MONITORING_TEXT" | translate}}</a>
    </li>

    <li class="" routerLinkActive="active" [hidden]="permMinimumPreparedness && permAdvancedPreparedness">
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" aria-haspopup="true"
           aria-expanded="false">{{"PREPAREDNESS_TEXT" | translate}}</a>
        <div class="dropdown-menu">
          <a [hidden]="permMinimumPreparedness" class="dropdown-item" routerLink="/local-agency/preparedness/minimum">{{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}}</a>
          <a [hidden]="permAdvancedPreparedness" class="dropdown-item" routerLink="/local-agency/preparedness/advanced">{{"ADVANCED_PREPAREDNESS" | translate}}</a>
          <a class="dropdown-item" routerLink="/local-agency/preparedness/budget">{{"AGENCY_ADMIN.SETTINGS.MODULE_NAME.PREP_BUDGET" |
            translate}}</a>
        </div>
      </div>
    </li>

    <li class="" [hidden]="permResponsePlanning" routerLinkActive="active">
      <a routerLink="/local-agency/response-plans">{{"HEADERS.PLANS" | translate}}</a>
    </li>
    <li class="" [hidden]="permCountryOffice" routerLinkActive="active">
      <a routerLink="/local-agency/profile">{{"AGENCY_ADMIN.STAFF.COUNTRY_OFFICE" | translate}}</a>
    </li>
    <li *ngIf="userType == UserType.LocalAgencyAdmin" class="" routerLinkActive="active">
      <div class="dropdown">
        <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Agency Administrator</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/local-agency/agency-staff">{{"LOCAL_AGENCY_ADMIN.STAFF.TITLE_TEXT" |
            translate}}</a>
          <a class="dropdown-item" routerLink="/local-agency/settings/departments">{{"LOCAL_AGENCY_ADMIN.SETTINGS.TITLE_TEXT"
            | translate}}</a>
          <a class="dropdown-item" routerLink="/local-agency/agency-messages">{{"LOCAL_AGENCY_ADMIN.MESSAGES.TITLE_TEXT" |
            translate}}</a>
          <a class="dropdown-item" (click)="exportData()">Export Data</a>
        </div>
      </div>
    </li>
  </ul>
</div>
