<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="">
      <div class="Back--button" routerLink="/response-plans">{{"RESPONSE_PLANS.TITLE_TEXT" | translate}}</div>

      <div align="center">
        <h1>Export for Proposal ({{docType}})</h1>
        <a id="downloadLink" style="display:none;"></a>

        <input *ngIf="isExcel == 1" type="button" onclick="exportToExcelFile(['tableExportProposal'], ['Response Plan for Proposal'])" value="Download"/>
        <input *ngIf="isExcel == 0" type="button" onclick="exportToWordFile(['tableExportProposal'], ['Response Plan for Proposal'])" value="Download"/>

      </div>

      <br>

      <div>

        <!--Proposal Table-->
        <div class="scrollingDiv">
          <table class="tg" style="width: auto;" align="center" id="tableExportProposal">

            <tr>
              <td class="tg" colspan="9" style="width: 40%; text-align: center;"><br><h1 style="color: maroon;">Response Plan</h1><br></td>
            </tr>

            <!--1 out of 10 Plan Details-->
            <tr>
              <td class="tg" colspan="9"style="text-align: center; color: white; border: 1px solid #222; background: darkred;">
                <h2 style="margin: 0; padding: 0; font-weight: normal;">1 of 10 Plan Details</h2>
              </td>
            </tr>
            <tr>
              <td class="tg" colspan="9"></td>
            </tr>
            <tr>
              <td class="tg" colspan="4" style="background: lightgrey;">Plan Name</td>
              <td class="tg" colspan="5">{{responsePlan.name}}</td>
            </tr>
            <tr>
              <td class="tg" colspan="4" style="background: lightgrey;">Geographical location</td>
              <td class="tg" colspan="5">{{responsePlan.location}}</td>
            </tr>

            <tr>
              <td class="tg" colspan="4" style="background: lightgrey;">Hazard scenario</td>
              <td class="tg" colspan="5">{{responsePlan.hazardScenario ? (HazardScenariosList[responsePlan.hazardScenario] | translate) : ''}}</td>
            </tr>

            <tr>
              <td class="tg" colspan="4" style="background: lightgrey;">Plan Lead</td>
              <td class="tg" colspan="5">{{planLeadName}}</td>
            </tr>

            <tr>
              <td class="tg" colspan="9"></td>
            </tr>

            <!--2 out of 10 Plan Context-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">2 of 10 Plan Context</h2></td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Summarize the crisis event and how it is likely to develop over the next month (maximum 5 points)</strong></p>
              </td>
            </tr>

            <tr>
              <td colspan="9">
                <ol type="1" *ngIf="responsePlan.scenarioCrisisList">
                  <li *ngFor="let crisis of responsePlan.scenarioCrisisList">{{crisis}}</li>
                </ol>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Explain the impact of the crisis on people you want to help (maximum 5 points)</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <ol type="1" *ngIf="responsePlan.impactOfCrisisList">
                  <li *ngFor="let impact of responsePlan.impactOfCrisisList">{{impact}}</li>
                </ol>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p>
                  <strong>Explain the availability of funding your agency can access for this crisis (maximum 3 points)</strong>
                </p>
              </td>
            </tr>

            <tr>
              <td colspan="9">
                <ol type="1" *ngIf="responsePlan.availabilityOfFundsList">
                  <li *ngFor="let availability of responsePlan.availabilityOfFundsList">{{availability}}</li>
                </ol>
              </td>
            </tr>


            <!--3 out of 10 Basic Information-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">3 out of 10 Basic Information</h2></td>
            </tr>

            <tr>
              <td class="tg" colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>What sectors will the intervention’s activities most relate to?</strong></p></td>
            </tr>

            <tr style="text-align: center;">
              <td class="1"><p>WaSH</p></td>
              <td class="1"><p>Health</p></td>
              <td class="1"><p>Shelter</p></td>
              <td class="1"><p>Nutrition</p></td>
              <td class="1"><p>Food security & livelihoods</p></td>
              <td class="1"><p>Protection</p></td>
              <td class="1"><p>Education</p></td>
              <td class="1"><p>Camp Management</p></td>
              <td class="1"><p>Other (specify)</p></td>
            </tr>

            <tr style="text-align: center;">
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.wash)">X</p></td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.health)">X</p></td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.shelter)">X</p></td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.nutrition)">X</p>
              </td>
              <td class="1" style="width: 10%;"><p
                *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.foodSecurityAndLivelihoods)">X</p></td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.protection)">X</p>
              </td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.education)">X</p>
              </td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.campManagement)">
                X</p></td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.other)">X</p></td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Presence in the country before project</strong></p>
              </td>
            </tr>
            <tr>
              <td colspan="9" style="text-align: left;">
                <p *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.currentProgrammes">Current programmes</p>
                <p *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.preExistingPartner">Pre-existing partner</p>
                <p *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.noPreExistingPresence">No pre-existing presence</p>
              </td>
            </tr>


            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Method of Implementation</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.fieldStaff">Directly through field staff</p>
                <p *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.withPartner">Working through partners</p>
              </td>
            </tr>

            <!--4 out of 10 Activity Summary-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">4 out of 10 Activity Summary</h2></td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Explain your proposed project and why you have selected this particular response to the crisis</strong></p>
              </td>
            </tr>
            <tr>
              <td colspan="9">
                <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q1']">{{responsePlan.activitySummary['q1']}}</p>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Explain how you will start your activities in 7 days and finish within 45 days.</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q2']">{{responsePlan.activitySummary['q2']}}</p>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>How are you co-ordinating and with whom?</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q3']">{{responsePlan.activitySummary['q3']}}</p>
              </td>
            </tr>

            <!--5 out of 10 Target Population-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">5 out of 10 Target Population</h2></td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong><span>How many beneficiaries are you targeting?</span>
                  <span style="font-style: italic;">(Beneficiaries = People Per Household * Number Of Households)</span></strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p style="text-align: left;" *ngIf="responsePlan.peoplePerHousehold && responsePlan.numOfHouseholds &&
              isNumber(responsePlan.peoplePerHousehold) && isNumber(responsePlan.numOfHouseholds)">{{responsePlan.peoplePerHousehold * responsePlan.numOfHouseholds}}
                </p>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Which vulnerable groups are you specifically targeting?</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <ol *ngIf="vulnerableGroupsToShow">
                  <li *ngFor="let group of vulnerableGroupsToShow">{{group.name}}</li>
                </ol>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Explain how the target population is/will be involved in your proposed intervention.</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <ol *ngIf="responsePlan.targetPopulationInvolvementList">
                  <li *ngFor="let involvement of responsePlan.targetPopulationInvolvementList">{{involvement}}</li>
                </ol>
              </td>
            </tr>

            <!--6 out of 10 Risk Management-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">5 out of 10 Target Population</h2></td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Describe the risks to a successful response and how you are managing them.</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p>{{responsePlan.riskManagementPlan ? responsePlan.riskManagementPlan : ''}}</p>
              </td>
            </tr>

            <!--7 out of 10 Activities-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">7 out of 10 Activties</h2></td>
            </tr>

            <ng-container *ngFor="let sector of sectors">
                <tr rowspan="9">
                  <td colspan="9" style="text-align: center;">
                    <p><strong>{{SECTORS[sector.id] | translate}}</strong></p>
                  </td>
                </tr>

              <ng-container *ngFor="let activity of activityMap.get(sector.id)">
                  <tr>
                    <td colspan="9" style="background-color: darkred; color: white; font-weight: bold;">
                      <p style="text-transform: uppercase;">ACTIVITY 1</p>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="9" style="background-color: lightgrey; text-align: left;">
                      <p><strong>What is the planned activity?</strong></p></td>
                  </tr>
                  <tr>
                    <td colspan="9">
                      <p>{{activity.name}}</p>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="9" style="background-color: lightgrey; text-align: left;">
                      <p><strong>Planned outputs for this activity</strong></p></td>
                  </tr>
                  <tr>
                    <td colspan="9">
                      <p>{{activity.output}}</p>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="9" style="background-color: lightgrey; text-align: left;">
                      <p><strong>Provide one indicator (KPI) to capture the effects of this activity</strong></p></td>
                  </tr>
                  <tr>
                    <td colspan="9">
                      <p>{{activity.indicator}}</p>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="9" style="background-color: lightgrey; text-align: left;">
                      <p><strong>Beneficiaries of this activity by age and gender</strong></p></td>
                  </tr>
                  <tr>
                    <td colspan="3"><p>Female <18</p></td>
                    <td colspan="2"><p>{{activity.beneficiary && activity.beneficiary[0]?activity.beneficiary[0]["value"]:0}}</p></td>
                    <td colspan="2"><p>Male <18</p></td>
                    <td colspan="2"><p>{{activity.beneficiary && activity.beneficiary[3]?activity.beneficiary[3]["value"]:0}}</p></td>
                  </tr>
                  <tr>
                    <td colspan="3"><p>Female 18-50</p></td>
                    <td colspan="2"><p>{{activity.beneficiary && activity.beneficiary[1]?activity.beneficiary[1]["value"]:0}}</p></td>
                    <td colspan="2"><p>Male 18-50</p></td>
                    <td colspan="2"><p>{{activity.beneficiary && activity.beneficiary[4]?activity.beneficiary[4]["value"]:0}}</p></td>
                  </tr>
                  <tr>
                    <td colspan="3"><p>Female >50</p></td>
                    <td colspan="2"><p>{{activity.beneficiary && activity.beneficiary[2]?activity.beneficiary[2]["value"]:0}}</p></td>
                    <td colspan="2"><p>Male >50</p></td>
                    <td colspan="2"><p>{{activity.beneficiary && activity.beneficiary[5]?activity.beneficiary[5]["value"]:0}}</p></td>
                  </tr>
              </ng-container>

              <tr>
                  <td colspan="9" style="background-color: lightgrey; text-align: left;">
                    <p><strong>How are you planning to source your goods?</strong></p></td>
                </tr>

              <tr>
                <td colspan="2" style="background: lightgrey;"><p>Internationally</p></td>
                <td colspan="1" style="text-align: center;"><p *ngIf="sourcePlanId == SourcePlan.Internationally">X</p></td>
                <td colspan="2" style="background: lightgrey;"><p>Regionally/ neighbouring country</p></td>
                <td colspan="1" style="text-align: center;"><p *ngIf="sourcePlanId == SourcePlan.Regionally">X</p></td>
                <td colspan="2" style="background: lightgrey;"><p>In country/ locally</p></td>
                <td colspan="1" style="text-align: center;"><p *ngIf="sourcePlanId == SourcePlan.Locally">X</p></td>
              </tr>

            </ng-container>

            <!--8 of 10 Monitoring, Accountability and Learning-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">8 of 10 Monitoring, Accountability and Learning</h2></td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Describe the monitoring, accountability and learning systems that you will employ to ensure quality and accountability.</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p>{{responsePlan.monAccLearning && responsePlan.monAccLearning['mALSystemsDescription'] ?
                  (responsePlan.monAccLearning['mALSystemsDescription']) : ''}}</p>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Do you intend to visually document your response?</strong></p></td>
            </tr>
            <tr>
              <td colspan="3" style="text-align: center; background-color: lightgrey;"><p>Yes</p></td>
              <td colspan="2" style="text-align: center;"><p>{{responsePlan.monAccLearning['isMedia'] ? 'X': ''}}</p></td>
              <td colspan="3" style="text-align: center; background-color: lightgrey;"><p>No</p></td>
              <td colspan="1" style="text-align: center;"><p>{{!responsePlan.monAccLearning['isMedia'] ? 'X': ''}}</p></td>
            </tr>
            <tr>
              <td colspan="9" style="background: lightgrey;"><p><strong>If so, will this be photographic, video, or both?<span
                style="font-style: italic;">(please mark)</span></strong>
              </p></td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center; background-color: lightgrey;"><p>Photographic</p></td>
              <td colspan="1" style="text-align: center;"><p *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.photographic">X</p></td>
              <td colspan="2" style="text-align: center; background-color: lightgrey;"><p>Video</p></td>
              <td colspan="1" style="text-align: center;"><p *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.video">X</p></td>
              <td colspan="2" style="text-align: center; background-color: lightgrey;"><p>Both</p></td>
              <td colspan="1" style="text-align: center;"><p *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.photographicAndVideo">X</p></td>
            </tr>

            <!--9 of 10 Adjust Beneficiaries for Double Counting-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">9 of 10 Adjust Beneficiaries for Double Counting</h2></td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>Total beneficiaries after adjustment</strong></p></td>
            </tr>

            <tr>
              <td colspan="3"><p>Female <18</p></td>
              <td colspan="2"><p *ngIf="responsePlan.doubleCounting[0]">{{responsePlan.doubleCounting[0].value}}</p></td>
              <td colspan="2"><p>Male <18</p></td>
              <td colspan="2"><p *ngIf="responsePlan.doubleCounting[3]">{{responsePlan.doubleCounting[3].value}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p>Female 18-50</p></td>
              <td colspan="2"><p *ngIf="responsePlan.doubleCounting[1]">{{responsePlan.doubleCounting[1].value}}</p></td>
              <td colspan="2"><p>Male 18-50</p></td>
              <td colspan="2" *ngIf="responsePlan.doubleCounting[4]"><p>{{responsePlan.doubleCounting[4].value}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p>Female >50</p></td>
              <td colspan="2"><p *ngIf="responsePlan.doubleCounting[2]">{{responsePlan.doubleCounting[2].value}}</p></td>
              <td colspan="2"><p>Male >50</p></td>
              <td colspan="2"><p *ngIf="responsePlan.doubleCounting[5]">{{responsePlan.doubleCounting[5].value}}</p></td>
            </tr>

            <!--10 of 10 Budget-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">10 of 10 Budget</h2></td>
            </tr>

            <tr>
              <td colspan="3"><p><strong>A:Inputs</strong></p></td>
              <td colspan="3"><p>{{totalInputs}}</p></td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td colspan="3"><p>A-2:WaSH</p></td>
              <td colspan="3"></td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td colspan="3"><p>A-2:Health</p></td>
              <td colspan="3"></td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td colspan="3"><p>A-3: Shelter</p></td>
              <td colspan="3"></td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>B:Transport</strong></p></td>
              <td colspan="3"><p>{{transportBudget}}</p></td>
              <td colspan="3"><p>{{transportNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>C:Security</strong></p></td>
              <td colspan="3"><p>{{securityBudget}}</p></td>
              <td colspan="3"><p>{{securityNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>D:Logistics & overheads</strong></p></td>
              <td colspan="3"><p>{{logisticsAndOverheadsBudget}}</p></td>
              <td colspan="3"><p>{{logisticsAndOverheadsNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>E:Staffing & support</strong></p></td>
              <td colspan="3"><p>{{staffingAndSupportBudget}}</p></td>
              <td colspan="3"><p>{{staffingAndSupportNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>F:Monitoring & evaluation</strong></p></td>
              <td colspan="3"><p>{{monitoringAndEvolutionBudget}}</p></td>
              <td colspan="3"><p>{{monitoringAndEvolutionNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>G:Capital Items</strong></p></td>
              <td colspan="3"><p>{{capitalItemsBudget}}</p></td>
              <td colspan="3"><p>{{capitalItemsNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>H:Management support</strong></p></td>
              <td colspan="3"><p>{{totalOfAllCosts}}</p></td>
              <td colspan="3"><p>{{managementSupportNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>TOTAL</strong></p></td>
              <td colspan="3"><p><strong>{{total}}</strong></p></td>
              <td colspan="3"></td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
