<ng-container *ngIf="!isViewing; else country">
  <ng-container *ngIf="!isLocalNetworkAdmin; else localNetworkAdmin">
    <app-network-country-header></app-network-country-header>
    <app-network-country-menu></app-network-country-menu>
  </ng-container>
</ng-container>

<ng-template #localNetworkAdmin>
  <app-local-network-header></app-local-network-header>
  <app-local-network-menu></app-local-network-menu>
</ng-template>

<ng-template #country>
  <app-country-admin-header></app-country-admin-header>
  <app-network-country-menu></app-network-country-menu>
</ng-template>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="">
      <div class="Back--button"
           [routerLink]="isViewing ? ['/network-country/network-plans', networkViewValues] : isLocalNetworkAdmin ? '/network/local-network-plans' : networkCountryId ? '/network-country/network-plans' : '/response-plans'">
        {{"RESPONSE_PLANS.TITLE_TEXT" | translate}}
      </div>

      <div align="center">
        <h1>Export for Proposal ({{docType}})</h1>
        <a id="downloadLink" style="display:none;"></a>

        <input *ngIf="isExcel == 1" type="button"
               onclick="exportToExcelFile(['tableExportProposal'], ['Response Plan for Proposal'])" value="Download"/>
        <input *ngIf="isExcel == 0" type="button"
               onclick="exportToWordFile(['tableExportProposal'], ['Response Plan for Proposal'])" value="Download"/>

      </div>

      <br>

      <div>

        <!--Proposal Table-->
        <div class="scrollingDiv">
          <table class="tg" style="width: auto;" align="center" id="tableExportProposal">

            <tr>
              <td class="tg" colspan="9" style="width: 40%; text-align: center;"><br>
                <h1 style="color: maroon;">{{"RESPONSE_PLAN" | translate}}</h1><br></td>
            </tr>

            <!--1 out of 10 Plan Details-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;">
                <h2 style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_1_TITLE" |
                  translate}}</h2>
              </td>
            </tr>
            <tr>
              <td class="tg" colspan="9"></td>
            </tr>
            <tr>
              <td class="tg" colspan="4" style="background: lightgrey;">{{"PLAN_NAME" | translate}}</td>
              <td class="tg" colspan="5">{{responsePlan.name}}</td>
            </tr>
            <tr>
              <td class="tg" colspan="4" style="background: lightgrey;">{{"GEOGRAPHICAL_LOCATION" | translate}}</td>
              <td class="tg" colspan="5">{{responsePlan.location}}</td>
            </tr>

            <tr>
              <td class="tg" colspan="4" style="background: lightgrey;">{{"HAZARD_SCENARIO" | translate}}</td>
              <td class="tg" colspan="5">{{responsePlan.hazardScenario ?
                (HazardScenariosList[responsePlan.hazardScenario] | translate) : ''}}
              </td>
            </tr>

            <tr>
              <td class="tg" colspan="4" style="background: lightgrey;">{{"PLAN_LEAD" | translate}}</td>
              <td class="tg" colspan="5">{{planLeadName}}</td>
            </tr>

            <tr>
              <td class="tg" colspan="9"></td>
            </tr>

            <!--2 out of 10 Plan Context-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_2_TITLE" | translate}}</h2>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"SUMMARIZE_CRISIS" | translate}}</strong></p>
              </td>
            </tr>

            <tr>
              <td colspan="9">
                <ol type="1" *ngIf="responsePlan.scenarioCrisisList">
                  <li *ngFor="let crisis of responsePlan.scenarioCrisisList">{{crisis}}</li>
                </ol>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"EXPLAIN_CRISIS_IMPACT" | translate}}</strong></p>
              </td>
            </tr>
            <tr>
              <td colspan="9">
                <ol type="1" *ngIf="responsePlan.impactOfCrisisList">
                  <li *ngFor="let impact of responsePlan.impactOfCrisisList">{{impact}}</li>
                </ol>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p>
                  <strong>{{"EXPLAIN_AVAILABILITY_OF_FUNDING" | translate}}</strong>
                </p>
              </td>
            </tr>

            <tr>
              <td colspan="9">
                <ol type="1" *ngIf="responsePlan.availabilityOfFundsList">
                  <li *ngFor="let availability of responsePlan.availabilityOfFundsList">{{availability}}</li>
                </ol>
              </td>
            </tr>


            <!--3 out of 10 Basic Information-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_3_TITLE" | translate}}</h2>
              </td>
            </tr>

            <tr>
              <td class="tg" colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"WHAT_SECTORS_WILL_THE_INTERVENTION_ACTIVITIES_MOST_RELATE_TO" | translate}}</strong></p>
              </td>
            </tr>

            <tr style="text-align: center;">
              <td class="1"><p>{{"SECTOR_WASH" | translate}}</p></td>
              <td class="1"><p>{{"SECTOR_HEALTH" | translate}}</p></td>
              <td class="1"><p>{{"SECTOR_SHELTER" | translate}}</p></td>
              <td class="1"><p>{{"SECTOR_NUTRITION" | translate}}</p></td>
              <td class="1"><p>{{"SECTOR_FOOD_SECURITY_LIVELIHOOD" | translate}}</p></td>
              <td class="1"><p>{{"SECTOR_PROTECTION" | translate}}</p></td>
              <td class="1"><p>{{"SECTOR_EDUCATION" | translate}}</p></td>
              <td class="1"><p>{{"SECTOR_CAMP_MANAGEMENT" | translate}}</p></td>
              <td class="1"><p>{{"SECTOR_OTHER" | translate}}</p></td>
            </tr>

            <tr style="text-align: center;">
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.wash)">X</p></td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.health)">X</p>
              </td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.shelter)">X</p>
              </td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.nutrition)">X</p>
              </td>
              <td class="1" style="width: 10%;"><p
                *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.foodSecurityAndLivelihoods)">X</p></td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.protection)">X</p>
              </td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.education)">X</p>
              </td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.campmanagement)">
                X</p></td>
              <td class="1" style="width: 10%;"><p *ngIf="sectorsRelatedToMap.get(ResponsePlanSectors.other)">X</p></td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"PRESENCE_IN_COUNTRY" | translate}}</strong></p>
              </td>
            </tr>
            <tr>
              <td colspan="9" style="text-align: left;">
                <p *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.currentProgrammes">
                  {{"CURRENT_PROGRAMMES" | translate}}</p>
                <p *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.preExistingPartner">
                  {{"PRE_EXISITING_PARTNER" | translate}}</p>
                <p *ngIf="responsePlan.presenceInTheCountry == PresenceInTheCountry.noPreExistingPresence">
                  {{"EXISTING_PRESENCE" | translate}}</p>
              </td>
            </tr>


            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"METHOD_OF_IMPLEMENTATION" | translate}}</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.fieldStaff">
                  {{"DIRECTLY_THROUGH_STAFF" | translate}}</p>
                <p *ngIf="responsePlan.methodOfImplementation == MethodOfImplementation.withPartner">
                  {{"WORKING_WITH_PARTNERS" | translate}}</p>
              </td>
            </tr>

            <!--4 out of 10 Activity Summary-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_4_TITLE" | translate}}</h2>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"EXPLAIN_PROPOSED_PROJECT" | translate}}</strong></p>
              </td>
            </tr>
            <tr>
              <td colspan="9">
                <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q1']">
                  {{responsePlan.activitySummary['q1']}}</p>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"EXPLAIN_HOW_WILL_YOU_START_ACTIVITIES" | translate}}</strong></p>
              </td>
            </tr>
            <tr>
              <td colspan="9">
                <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q2']">
                  {{responsePlan.activitySummary['q2']}}</p>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"HOW_ARE_YOU_CO_ORDINATING" | translate}}</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p *ngIf="responsePlan.activitySummary && responsePlan.activitySummary['q3']">
                  {{responsePlan.activitySummary['q3']}}</p>
              </td>
            </tr>

            <!--5 out of 10 Target Population-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_5_TITLE" | translate}}</h2>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong><span>{{"HOW_MANY_BENEFICIARIES" | translate}}</span>
                  <span style="font-style: italic;">{{"FORMULA_BENEFICIARIES" | translate}}</span></strong>
                </p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p style="text-align: left;" *ngIf="responsePlan.peoplePerHousehold && responsePlan.numOfHouseholds &&
              isNumber(responsePlan.peoplePerHousehold) && isNumber(responsePlan.numOfHouseholds)">
                  {{responsePlan.peoplePerHousehold * responsePlan.numOfHouseholds}}
                </p>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"WHICH_VULNERABLE_GROUP_TARGETING" | translate}}</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <ol *ngIf="vulnerableGroupsToShow">
                  <li *ngFor="let group of vulnerableGroupsToShow">{{group.name}}</li>
                </ol>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"EXPLAIN_TARGET_POPULATION_INVOLVEMENT" | translate}}</strong>
                </p></td>
            </tr>
            <tr>
              <td colspan="9">
                <ol *ngIf="responsePlan.targetPopulationInvolvementList">
                  <li *ngFor="let involvement of responsePlan.targetPopulationInvolvementList">{{involvement}}</li>
                </ol>
              </td>
            </tr>

            <!--6 out of 10 Risk Management-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_6_TITLE" | translate}}</h2>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"DESCRIBE_THE_RISKS" | translate}}</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p>{{responsePlan.riskManagementPlan ? responsePlan.riskManagementPlan : ''}}</p>
              </td>
            </tr>

            <!--7 out of 10 Activities-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_7_TITLE" | translate}}</h2>
              </td>
            </tr>

            <ng-container *ngFor="let sector of sectors">

              <tr rowspan="9">
                <td colspan="1" style="text-align: center;">
                  <p><strong>{{SECTORS[sector.id] | translate}}</strong></p>
                </td>
              </tr>

              <ng-container *ngFor="let activity of activityMap.get(sector.id); index as i">

                <tr>
                  <td colspan="9" style="background-color: darkred; color: white; font-weight: bold;">
                    <p style="text-transform: uppercase;">{{"ACTIVITY" | translate}} {{i+1}}</p>
                  </td>
                </tr>

                <tr>
                  <td colspan="9" style="background-color: lightgrey; text-align: left;">
                    <p><strong>{{"WHAT_IS_PLANNED_ACTIVITY" | translate}}</strong></p></td>
                </tr>
                <tr>
                  <td colspan="9">
                    <p>{{activity.name}}</p>
                  </td>
                </tr>

                <tr>
                  <td colspan="9" style="background-color: lightgrey; text-align: left;">
                    <p><strong>{{"PLANNED_OUTPUTS_FOR_ACTIVITY" | translate}}</strong></p></td>
                </tr>
                <tr>
                  <td colspan="9">
                    <p>{{activity.output}}</p>
                  </td>
                </tr>

                <tr>
                  <td colspan="9" style="background-color: lightgrey; text-align: left;">
                    <p><strong>{{"PROVIDE_ONE_INDICATOR" | translate}}</strong></p></td>
                </tr>
                <tr>
                  <td colspan="9">
                    <p>{{activity.indicator}}</p>
                  </td>
                </tr>

                <tr>
                  <td colspan="9" style="background-color: lightgrey; text-align: left;">
                    <p><strong>{{"BENEFICIARIES_OF_THIS_ACTIVITY" | translate}}</strong></p></td>
                </tr>
                <tr>
                  <td colspan="3"><p>{{"FEMALE_LESS_18" | translate}}</p></td>
                  <td colspan="2"><p>{{activity.beneficiary &&
                    activity.beneficiary[0]?activity.beneficiary[0]["value"]:0}}</p></td>
                  <td colspan="2"><p>{{"MALE_LESS_18" | translate}}</p></td>
                  <td colspan="2"><p>{{activity.beneficiary &&
                    activity.beneficiary[3]?activity.beneficiary[3]["value"]:0}}</p></td>
                </tr>
                <tr>
                  <td colspan="3"><p>{{"FEMALE_18_50" | translate}}</p></td>
                  <td colspan="2"><p>{{activity.beneficiary &&
                    activity.beneficiary[1]?activity.beneficiary[1]["value"]:0}}</p></td>
                  <td colspan="2"><p>{{"MALE_18_50" | translate}}</p></td>
                  <td colspan="2"><p>{{activity.beneficiary &&
                    activity.beneficiary[4]?activity.beneficiary[4]["value"]:0}}</p></td>
                </tr>
                <tr>
                  <td colspan="3"><p>{{"FEMALE_GREATER_50" | translate}}</p></td>
                  <td colspan="2"><p>{{activity.beneficiary &&
                    activity.beneficiary[2]?activity.beneficiary[2]["value"]:0}}</p></td>
                  <td colspan="2"><p>{{"MALE_GREATER_50" | translate}}</p></td>
                  <td colspan="2"><p>{{activity.beneficiary &&
                    activity.beneficiary[5]?activity.beneficiary[5]["value"]:0}}</p></td>
                </tr>
              </ng-container>

              <tr>
                <td colspan="9" style="background-color: lightgrey; text-align: left;">
                  <p><strong>{{"HOW_ARE_YOY_PLANNING_TO_OUTSOURCE_GOODS" | translate}}</strong></p></td>
              </tr>

              <tr>
                <td colspan="9"><p>{{sector.sourcePlan}}</p></td>
              </tr>
              <tr>
                <td colspan="9">
                  <ol>
                    <li>{{sector.bullet1}}</li>
                    <li>{{sector.bullet2}}</li>
                  </ol>
                </td>
              </tr>
            </ng-container>
            <!--8 of 10 Monitoring, Accountability and Learning-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_8_TITLE" | translate}}</h2>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"DESCRIBE_MONITORING_ACCOUNTABILITY_LEARNING" | translate}}</strong></p></td>
            </tr>
            <tr>
              <td colspan="9">
                <p>{{responsePlan.monAccLearning && responsePlan.monAccLearning['mALSystemsDescription'] ?
                  (responsePlan.monAccLearning['mALSystemsDescription']) : ''}}</p>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"DO_YOU_INTEND_TO_VISSUALLY_DOCUMENT_YOUR_RESPONSE" | translate}}</strong></p></td>
            </tr>
            <tr>
              <td colspan="3" style="text-align: center; background-color: lightgrey;"><p>{{"YES" | translate}}</p></td>
              <td colspan="2" style="text-align: center;"><p>{{responsePlan.monAccLearning['isMedia'] ? 'X': ''}}</p>
              </td>
              <td colspan="3" style="text-align: center; background-color: lightgrey;"><p>{{"GLOBAL.NO" |
                translate}}</p></td>
              <td colspan="1" style="text-align: center;"><p>{{!responsePlan.monAccLearning['isMedia'] ? 'X': ''}}</p>
              </td>
            </tr>
            <tr>
              <td colspan="9" style="background: lightgrey;"><p><strong>{{"WILL_THIS_BE_PHOTO_VIDEO_BOTH" |
                translate}}<span
                  style="font-style: italic;">{{"PLEASE_MARK" | translate}}</span></strong>
              </p></td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center; background-color: lightgrey;"><p>{{"PHOTOGRAPHIC" |
                translate}}</p></td>
              <td colspan="1" style="text-align: center;"><p
                *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.photographic">X</p></td>
              <td colspan="2" style="text-align: center; background-color: lightgrey;"><p>{{"VIDEO" | translate}}</p>
              </td>
              <td colspan="1" style="text-align: center;"><p
                *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.video">X</p></td>
              <td colspan="2" style="text-align: center; background-color: lightgrey;"><p>{{"BOTH" | translate}}</p>
              </td>
              <td colspan="1" style="text-align: center;"><p
                *ngIf="responsePlan.monAccLearning['mediaFormat'] == MediaFormat.photographicAndVideo">X</p></td>
            </tr>

            <!--9 of 10 Adjust Beneficiaries for Double Counting-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_9_TITLE" | translate}}</h2>
              </td>
            </tr>

            <tr>
              <td colspan="9" style="background-color: lightgrey; text-align: left;">
                <p><strong>{{"TOTAL_BENEFICIARIES_AFTER_ADJUSTMENT" | translate}}</strong></p></td>
            </tr>

            <tr>
              <td colspan="3"><p>{{"FEMALE_LESS_18" | translate}}</p></td>
              <td colspan="2"><p>{{totalFemaleUnder18}}</p></td>
              <td colspan="2"><p>{{"MALE_LESS_18" | translate}}</p></td>
              <td colspan="2"><p>{{totalMaleUnder18}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"FEMALE_18_50" | translate}}</p></td>
              <td colspan="2"><p>{{totalFemale18To50}}</p></td>
              <td colspan="2"><p>{{"MALE_18_50" | translate}}</p></td>
              <td colspan="2"><p>{{totalMale18To50}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"FEMALE_GREATER_50" | translate}}</p></td>
              <td colspan="2"><p>{{totalFemaleOver50}}</p></td>
              <td colspan="2"><p>{{"MALE_GREATER_50" | translate}}</p></td>
              <td colspan="2"><p>{{totalMaleOver50}}</p></td>
            </tr>

            <!--10 of 10 Budget-->
            <tr>
              <td class="tg" colspan="9"
                  style="text-align: center; color: white; border: 1px solid #222; background: darkred;"><h2
                style="margin: 0; padding: 0; font-weight: normal;">{{"EXPORT_PROPOSAL_SEC_10_TITLE" | translate}}</h2>
              </td>
            </tr>

            <tr>
              <td colspan="3"><p><strong>{{"BUDGET_TOTAL_INPUTS" | translate}}</strong></p></td>
              <td colspan="3"><p>{{totalInputs}}</p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"BUDGET_A_WASH" | translate}}</p></td>
              <td colspan="3"><p></p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"BUDGET_A_HEALTH" | translate}}</p></td>
              <td colspan="3"><p></p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"BUDGET_A_SHELTER" | translate}}</p></td>
              <td colspan="3"><p></p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"BUDGET_A_NUTRITION" | translate}}</p></td>
              <td colspan="3"><p></p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"BUDGET_A_CAMP_MANAGEMENT" | translate}}</p></td>
              <td colspan="3"><p></p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"BUDGET_A_EDUCATION" | translate}}</p></td>
              <td colspan="3"><p></p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"BUDGET_A_PROTECTION" | translate}}</p></td>
              <td colspan="3"><p></p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"BUDGET_A_FOOD_SECURITY" | translate}}</p></td>
              <td colspan="3"><p></p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p>{{"BUDGET_A_OTHER" | translate}}</p></td>
              <td colspan="3"><p></p></td>
              <td colspan="3"><p></p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>{{"BUDGET_B_TRANSPORT" | translate}}</strong></p></td>
              <td colspan="3"><p>{{transportBudget}}</p></td>
              <td colspan="3"><p>{{transportNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>{{"BUDGET_C_SECURITY" | translate}}</strong></p></td>
              <td colspan="3"><p>{{securityBudget}}</p></td>
              <td colspan="3"><p>{{securityNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>{{"BUDGET_D_LOGISTICS_AND_OVERHEADS" | translate}}</strong></p></td>
              <td colspan="3"><p>{{logisticsAndOverheadsBudget}}</p></td>
              <td colspan="3"><p>{{logisticsAndOverheadsNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>{{"BUDGET_E_STAFFING_AND_SUPPORT" | translate}}</strong></p></td>
              <td colspan="3"><p>{{staffingAndSupportBudget}}</p></td>
              <td colspan="3"><p>{{staffingAndSupportNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>{{"BUDGET_F_MONITORING_EVALUATION" | translate}}</strong></p></td>
              <td colspan="3"><p>{{monitoringAndEvolutionBudget}}</p></td>
              <td colspan="3"><p>{{monitoringAndEvolutionNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>{{"BUDGET_G_CAPITAL_ITEMS" | translate}}</strong></p></td>
              <td colspan="3"><p>{{capitalItemsBudget}}</p></td>
              <td colspan="3"><p>{{capitalItemsNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>{{"BUDGET_H_MANAGEMENT_SUPPORT" | translate}}</strong></p></td>
              <td colspan="3"><p>{{totalOfAllCosts}}</p></td>
              <td colspan="3"><p>{{managementSupportNarrative}}</p></td>
            </tr>
            <tr>
              <td colspan="3"><p><strong>{{"TOTAL_AUTOSUM" | translate}}</strong></p></td>
              <td colspan="3"><p><strong>{{total}}</strong></p></td>
              <td colspan="3"><p></p></td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
