<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="">
      <div class="Back--button" routerLink="/response-plans">{{"RESPONSE_PLANS.TITLE_TEXT" | translate}}</div>

      <div align="center">
        <h1>Start Fund</h1>
        <a id="downloadLink" style="display:none;"></a>

        <input type="button" value="Download All"/>
      </div>

      <br>

      <div>

        <!--Proposal Table-->
        <div class="scrollingDiv">


        </div>

      </div>

    </div>
  </div>
</div>
