<script src="programme.component.ts"></script>
<ng-container *ngIf="!isLocalAgency">
  <div *ngIf="!isViewing">
    <app-country-admin-header></app-country-admin-header>
    <app-country-admin-menu></app-country-admin-menu>
  </div>
</ng-container>
<ng-container *ngIf="isLocalAgency">
  <div *ngIf="!isViewing">
    <app-local-agency-header></app-local-agency-header>
    <app-local-agency-menu></app-local-agency-menu>
  </div>
</ng-container>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success"
                  [show]="alertMessage"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <ng-container *ngIf="!isLocalAgency">
      <app-country-office-profile-menu></app-country-office-profile-menu>
    </ng-container>
    <ng-container *ngIf="isLocalAgency">
      <app-local-agency-profile-menu></app-local-agency-profile-menu>
    </ng-container>

    <div class="Header-title__wrap Spaced row">
      <h2 class="col-sm-6">{{"SYSTEM_ADMIN.ACTIONS.GENERIC_MPA_APA.CATEGORIES.Programmes" | translate}}</h2>
      <div *ngIf="!isViewing" class="col-sm-6 Right-aligned">
        <button type="button" class="btn btn-outline-primary text-uppercase"
                *ngIf="canEdit && !isEdit"
                (click)="editProgramme()">{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.EDIT_PROGRAMME_BUTTON" | translate}}
        </button>
        <button type="button" class="btn btn-outline-primary text-uppercase"
                *ngIf="canEdit && isEdit"
                (click)="showProgramme()">{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.VIEW_PROGRAMME_BUTTON" | translate}}
        </button>
      </div>
    </div>

    <div class="row Spaced">
      <div class="col-sm-0 padding-left-two">
        <h3>{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.COMMON.SECTOR_EXPERTISE" | translate}}</h3>
      </div>
      <div *ngIf="canEdit && isEdit" class="col-sm-0 padding-left-two">
        <button data-toggle="modal" data-target="#sectorSelection"
                class="btn btn-outline-primary text-uppercase">{{"EDIT" | translate}}
        </button>
        <!--<a href="javascript:void(0)" data-toggle="modal" data-target="#sectorSelection">{{"EDIT" |-->
          <!--translate}}</a>-->
      </div>
    </div>

    <div class="row-sm-12">
      <div class="row">
        <div class="Icon__selectable col-sm-0" *ngFor="let s of sectorExpertise">
          <div class="{{ResponsePlanSectors[s.key] | translate | lowercase}}"></div>
          <label>{{ResponsePlanSectors[s.key] | translate}}</label>
        </div>
      </div>
    </div>

    <div class="row-sm-12" *ngIf="!sectorExpertise || sectorExpertise.length == 0">
      <p class="text-gray-v-light">
        {{"COUNTRY_ADMIN.PROFILE.PROGRAMME.COMMON.NO_SECTOR_SELECTED" | translate}}</p>
    </div>

    <div class="Line-row margin-left"></div>

    <h3 class="row-sm-12 Spaced-above">{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.COMMON.4WMAPPING" | translate}}</h3>
    <br>
    <div class="row">
      <div class="col-sm-1"><strong>{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.COMMON.TABLE_UPDATED" | translate}}</strong>
      </div>
      <div class="col-sm-2"><strong>{{"ADD_PARTNER.SECTOR" | translate}}</strong></div>
      <div class="col-sm-2"><strong>{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.COMMON.TABLE_WHAT" | translate}}</strong></div>
      <div class="col-sm-2"><strong>{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.EDIT_MAPPING.WHERE" | translate}}</strong></div>
      <div class="col-sm-2"><strong>{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.EDIT_MAPPING.TO_WHO" | translate}}</strong></div>
      <div class="col-sm-2"><strong>{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.EDIT_MAPPING.WHEN" | translate}}</strong></div>
    </div>
    <div class="Line-row margin-left"></div>
    <div *ngFor="let m of mapping">
      <div class="row">
        <div class="col-sm-1"><p style="text-align: center;">{{m.updatedAt ? (m.updatedAt | date:"dd/MM/yyyy") : '-'}}</p>
        </div> <!--Updated-->
        <div class="col-sm-2">
          <p *ngIf="m.sector == ResponsePlansEnum.other && m.otherName != null">
            <img src="assets/images/icons/{{ResponsePlanSectorsIcons[m.sector] | translate | lowercase}}.svg"
                 alt="{{ResponsePlanSectorsIcons[m.sector] | translate}}"> {{m.otherName | translate}}
          </p>
          <p *ngIf="m.sector != ResponsePlansEnum.other || m.otherName == null">
            <img src="assets/images/icons/{{ResponsePlanSectorsIcons[m.sector] | translate | lowercase}}.svg"
                 alt="{{ResponsePlanSectorsIcons[m.sector] | translate}}"> {{ResponsePlanSectors[m.sector] | translate}}
          </p>
        </div>
        <!--Sector-->
        <div class="col-sm-2"><p>{{m.what ? m.what : ''}}</p></div> <!--What-->
        <div class="col-sm-2"><p>{{ countries[selectedCountry] | translate }}</p></div> <!--Where-->
        <div class="col-sm-2"><p>{{m.toWho ? m.toWho : ''}}</p></div> <!--To Who-->
        <div class="col-sm-2"><p>{{m.when | date:"MM/yyyy"}}</p></div> <!--When-->

        <div *ngIf="canEdit && isEdit" class="col-sm-1">
          <button *ngIf="!isLocalAgency" [routerLink]="['/country-admin/country-office-profile/mapping-programme-add-edit/', m.key]"
                  class="btn btn-outline-primary text-uppercase">{{"EDIT" | translate}}
          </button>
          <button *ngIf="isLocalAgency" [routerLink]="['/local-agency/profile/mapping-programme-add-edit/', m.key]"
                  class="btn btn-outline-primary text-uppercase">{{"EDIT" | translate}}
          </button>
        </div>

        <!--Notes-->
        <div *ngIf="canEdit && !isEdit" class="col-sm-1">
          <img src="assets/images/icons/log_bubble.svg" class="margin-left-one" style="width:2em;" alt="Notes">
          <p class="notes-number__components--country-office-profile">{{m.notes.length && m.notes.length > 0 ?
            m.notes.length : 0}}</p>
          <a href="#notesFor{{m.key}}" data-toggle="collapse" class="row margin-left-one-half">{{"GLOBAL.NOTES" |
            translate}}</a>
        </div>
      </div>

      <!-----Notes Drop Down One----->
      <div id="notesFor{{m.key}}" class="Tooltip__bubble container-fluid notes log collapse">
        <div class="log_left p-3">
          <h3>{{"COUNTRY_ADMIN.PROFILE.PROGRAMME.NOTE" | translate}}</h3>
          <hr class="d-inline-flex">
          <form>
            <input type="text" placeholder="{{'RISK_MONITORING.MAIN_PAGE.PLACEHOLDER_ADD_LOG' | translate}}" name="log_{{logContent[m.key]}}"
                   [(ngModel)]="logContent[m.key]">
          </form>

          <!--Log post #1-->
          <div class="row Spaced log-post__wrap--risk" *ngFor="let note of m.notes">
            <div class="log-date__wrap--risk col-lg-1">
              <p>{{note.time | date:"dd/MM/yyyy"}}</p>
              <!--                            <p>Status: <img src="assets/images/oval_green.svg"></p>-->
            </div>
            <div class="col-lg-6">
              <p>{{note.content}}</p>
              <br>
              <div class="row">
                <p class="col-sm-8"><strong>by {{note.uploadByFullName}}<span *ngIf="note.agencyName">, {{note.agencyName}} </span></strong></p>
                <a *ngIf="note.uploadBy == uid" href="#editNote" data-toggle="modal" data-target="#editNote"
                   class="col-sm-0 margin-right-none" (click)="setTmpNote(m.key, note)">{{"EDIT" |
                  translate}}</a>
                <p *ngIf="note.uploadBy == uid" href="#" class="padding-left-one">|</p>
                <a *ngIf="note.uploadBy == uid" href="#deleteNote" data-toggle="modal" data-target="#deleteNote"
                   class="padding-left-one col-sm-0 text-danger" (click)="setTmpNote(m.key, note)">{{"DELETE" |
                  translate}}</a>
              </div>
            </div>
          </div>
          <hr>
        </div>

        <!--add Note button-->
        <div class="add_log mt-auto p-2 text-right float-right">
          <div class="btn btn-primary text-uppercase" *ngIf="!isLocalAgency" (click)="saveNote(m.key)">
            {{"NOTES.ADD" | translate}}
          </div>
          <div class="btn btn-primary text-uppercase" *ngIf="isLocalAgency" (click)="saveNoteLocalAgency(m.key)">
            {{"NOTES.ADD" | translate}}
          </div>
          <br>
          <br><a href="#notesFor{{m.key}}" class="margin-left-two" data-toggle="collapse">{{"GLOBAL.CANCEL" |
          translate}}</a>
        </div>
      </div>

    </div>


    <!--Edit Note Modal-->
    <div class="modal fade" id="editNote" tabindex="-1" role="dialog" aria-labelledby="editNote" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" class="Spaced-above">
              {{"NOTES.EDIT_DIALOG_TITLE" | translate}}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center form-group input-lg">
            <textarea type="text" rows="6" class="form-text form-control" [(ngModel)]="noteTmp['content']"></textarea>
          </div>
          <div class="row Right-aligned Spaced col-sm-12">
            <a href="#" data-dismiss="modal" class="col-sm-9 margin-top-one">{{"GLOBAL.CANCEL" | translate}}</a>
            <button href="#" data-dismiss="modal" class="btn btn-primary col-sm-3 text-uppercase " *ngIf="!isLocalAgency" (click)="saveLog()">
              {{"SAVE" | translate}}
            </button>
            <button href="#" data-dismiss="modal" class="btn btn-primary col-sm-3 text-uppercase " *ngIf="isLocalAgency" (click)="saveLogLocalAgency()">
              {{"SAVE" | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Delete Note Modal-->
    <div class="modal fade" id="deleteNote" tabindex="-1" role="dialog" aria-labelledby="deleteNote" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" class="Spaced-above">
              {{"COUNTRY_ADMIN.PROFILE.PROGRAMME.MODALS.DELETE_NOTE_MODAL_TITLE" | translate}}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center col-sm-12">
            <p class="text-center">
              {{"COUNTRY_ADMIN.PROFILE.PROGRAMME.MODALS.DELETE_NOTE_TEXT_PART_ONE" | translate}}
              <br>
              {{"COUNTRY_ADMIN.PROFILE.PROGRAMME.MODALS.DELETE_NOTE_TEXT_PART_TWO" | translate}}
            </p>
          </div>
          <div class="row Right-aligned Spaced col-sm-12">
            <a href="#" data-dismiss="modal" class="col-sm-6 margin-top-one">{{"GLOBAL.CANCEL" | translate}}</a>
            <button href="#" data-dismiss="modal" class="btn btn-primary col-sm-3 text-uppercase "
                    *ngIf="!isLocalAgency"
                    (click)="deleteLog()">
              {{"GLOBAL.CONFIRM" | translate}}
            </button>
            <button href="#" data-dismiss="modal" class="btn btn-primary col-sm-3 text-uppercase "
                    *ngIf="isLocalAgency"
                    (click)="deleteLogLocalAgency()">
              {{"GLOBAL.CONFIRM" | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row-sm-12"><p class="text-gray-v-light" *ngIf="!mapping && !mapping.length">
      {{"COUNTRY_ADMIN.PROFILE.PROGRAMME.COMMON.NO_4WMAPPING" | translate}}</p></div>
    <div class="Line-row margin-left"></div>

    <div class="row">
      <button *ngIf="!isLocalAgency" [routerLink]="['/country-admin/country-office-profile/mapping-programme-add-edit/']" data-toggle="modal"
              class="btn btn-outline-primary text-uppercase">{{"GLOBAL.ADD" | translate}}
      </button>
      <button *ngIf="isLocalAgency" [routerLink]="['/local-agency/profile/mapping-programme-add-edit/']" data-toggle="modal"
              class="btn btn-outline-primary text-uppercase">{{"GLOBAL.ADD" | translate}}
      </button>
    </div>

  </div>
</div>

<div class="modal fade" id="sectorSelection" tabindex="-1" role="dialog" aria-labelledby="sectorSelection"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" class="Spaced-above">
          {{"COUNTRY_ADMIN.PROFILE.PROGRAMME.EDIT_PROGRAMME.MODAL_EDIT_SECTOR_TITLE" | translate}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="row Centered Spaced-above">
        <div *ngFor="let sector of ResponsePlanSectorsList; let key = index;">
          <div class="Item__selectable Icon__selectable col-sm-0" *ngIf="key < 4">
            <div onClick="$(this).toggleClass('Selected');" (click)="selectedSectors($event, sector)"
                 [ngClass]="setSelectorClass(sector)"
                 class="{{ResponsePlanSectors[sector] | translate | lowercase}}"></div>
            <label>{{ResponsePlanSectors[sector] | translate}}</label>
          </div>
        </div>
      </div>

      <div class="row Centered">
        <div *ngFor="let sector of ResponsePlanSectorsList; let key = index;">
          <div class="Item__selectable Icon__selectable col-sm-0" *ngIf="key > 3 && key < 8">
            <div onClick="$(this).toggleClass('Selected');" (click)="selectedSectors($event, sector)"
                 [ngClass]="setSelectorClass(sector)"
                 class="{{ResponsePlanSectors[sector] | translate | lowercase}}"></div>
            <label>{{ResponsePlanSectors[sector] | translate}}</label>
          </div>
        </div>
      </div>

      <div class="row Right-aligned Spaced col-sm-12">
        <a href="#" data-dismiss="modal" class="col-sm-9 margin-top-one">{{"GLOBAL.CANCEL" | translate}}</a>
        <button href="#" data-dismiss="modal" class="btn btn-primary col-sm-3 text-uppercase" *ngIf="!isLocalAgency" (click)="saveSectors()">
          {{"SAVE" | translate}}
        </button>

        <button href="#" data-dismiss="modal" class="btn btn-primary col-sm-3 text-uppercase" *ngIf="isLocalAgency" (click)="saveSectorsLocalAgency()">
          {{"SAVE" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
