<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng--grey">
  <div class="Full-page__wrap--inner">

    <!--country header-->
    <div class="Widget">
      <ul class="list-inline">
        <li class="list-inline-item active">
          <div class="Icon">
            <div
              class="Icon--lg Icon--align-center Icon__country--{{getCountryCodeFromLocation(countryLocation)}}"></div>
          </div>
          <span>{{CountriesList[countryLocation] | translate}}</span>
        </li>
        <li class="list-inline-item">
          <div class="Icon">
            <div class="Icon__circle Icon--blue Icon--lg">{{numOfApprovedResponsePlans}}</div>
          </div>
          <span>{{"RESPONSE_PLANS.TITLE_TEXT" | translate}}</span>
        </li>
        <li class="list-inline-item">
          <div class="Icon">
            <div class="Icon__circle Icon--b-{{mpaStatusColor}} Icon--lg">
              <i class="fa {{mpaStatusIcon}} fa-2x fa-inverse" aria-hidden="true"></i></div>
          </div>
          <span>{{"GLOBAL.PREPAREDNESS_LEVEL.MPA" | translate}}</span>
        </li>
        <li class="list-inline-item  ">
          <div class="Icon">
            <div *ngIf="overallAlertLevel == AlertLevels.Red" class="Icon__circle Icon--b-{{advStatusColor}} Icon--lg">
              <i class="fa {{advStatusIcon}} fa-2x fa-inverse" aria-hidden="true"></i>
            </div>
            <div *ngIf="overallAlertLevel != AlertLevels.Red" class="Icon__circle Icon--b-grey Icon--lg">
              <i class="fa fa-times fa-2x fa-inverse" aria-hidden="true"></i>
            </div>
          </div>

          <span>{{"GLOBAL.PREPAREDNESS_LEVEL.APA" | translate}}</span>
        </li>
        <li class="list-inline-item">
          <div class="Icon">
            <div class="Icon__circle Icon--green Icon--lg">{{percentageCHS}}%</div>
          </div>
          <span>{{"COUNTRY_ADMIN.VIEW_MY_AGENCY.CHS" | translate}}</span>
        </li>
      </ul>
    </div>

    <!--alert screen-->
    <div *ngIf="alerts | async as alertList">
      <div class="Widget Alert-Widget" *ngFor="let alert of alertList">
        <div class="row">
          <div class="col-md-3 Alert-Widget__item"
               [class.bg-info]="alert.approvalStatus==0"
               [class.bg-warning]="alert.alertLevel==1 && alert.approvalStatus==1"
               [class.bg-danger]="alert.alertLevel==2 && alert.approvalStatus==1">
            <h4 *ngIf="alert.alertLevel == AlertLevels.Red">{{"ALERT.RED_ALERT" | translate}}</h4>
            <h4 *ngIf="alert.alertLevel == AlertLevels.Amber">{{"ALERT.AMBER_ALERT" | translate}}</h4>
          </div>
          <div class="col-md-2 Alert-Widget__item Alert-Widget__item--risk">
            <i div
               class="Icon__circle Icon--sm Icon--b-dark-blue {{(isNumber(alert.hazardScenario) ? getCSSHazard(alert.hazardScenario) : 'Icon--alert')}}"></i>
            <div>
              <span>{{"ALERT.RISK" | translate}}:</span>
              {{HAZARDS[alert.hazardScenario] | translate}}
            </div>
          </div>
          <div class="col-md-2 Alert-Widget__item">
            <div>
              <span>{{"ALERT.POPULATION_AFFECTED" | translate}}:</span> {{alert.estimatedPopulation}} {{"ALERT.PEOPLE" |
              translate}}
            </div>
          </div>
          <div class="col-md-2 Alert-Widget__item">
            <div>
              <span>{{"ALERT.AFFECTED_AREAS" | translate}}:</span> {{alert.affectedAreasDisplay}}
            </div>
          </div>

          <div class="col-md-1 Alert-Widget__item Alert-Widget__item--notes">
            <a href="javascript:void(0)" class="text-primary" data-toggle="collapse" [attr.data-target]="'#'+alert.id"
               aria-expanded="false" [attr.aria-controls]="alert.id">
              <div class="fa-stack">
                <i class="fa fa-comment fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse"></i>
              </div>
              <div>{{"GLOBAL.NOTES" | translate}}</div>
            </a>
          </div>


          <div class="col-md-2 Alert-Widget__item">
            <span *ngIf="alert.approvalStatus == 0" class="text-danger text-bold">{{"ALERT.RED_ALERT_REQUESTED" | translate}}</span>
            <button *ngIf="alert.approvalStatus == 1" class="btn btn-outline-primary" (click)="updateAlert(alert.id)">
              {{"ALERT.UPDATE_ALERT_LEVEL" | translate}}
            </button>
          </div>

        </div>

        <!--notes modal-->
        <div id="{{alert.id}}" class="Popover__ribbon prevent_parent_collapse collapse col-12 notes-popover">
          <!-- Notes -->
          <div class="row Spaced">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <div class="row align-items-center Small-spaced no-gutters">
                <div class="col-sm-6 col-8">
                  <h4>{{"ALERT.INFO_AND_NOTES" | translate}}</h4>
                </div>
                <div class="col-sm-6 col-4 text-right">
                  <a href="javascript:void(0);"
                     onClick="$(this).parent().parent().parent().parent().parent().collapse('hide')">{{"GLOBAL.CLOSE" |
                    translate}}</a>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-sm-10 col-12 notes-popover__item">
                  <p>
                    {{alert.infoNotes}}
                  </p>
                  <p>
                    <strong>by {{alert.createdByName}}</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <!--my tasks-->
    <div
      *ngIf="actionsToday.length==0 && indicatorsToday.length==0 && actionsThisWeek.length==0 && indicatorsThisWeek.length==0"
      class="Widget">
      <h3>My Tasks</h3>
      <div class="My-Tasks container-fluid">
        <div class="Empty--ribbon">
          No actions or indicators assigned to you needs completing this week
        </div>
      </div>
    </div>

    <div
      *ngIf="actionsToday.length>0 || indicatorsToday.length>0 || actionsThisWeek.length>0 || indicatorsThisWeek.length>0 "
      class="Widget">
      <h3>{{"DASHBOARD.MY_TASKS" | translate}}</h3>
      <div class="My-Tasks container-fluid">

        <div *ngFor="let action of actionsToday" class="row alert-danger">
          <div class="col-md-1"><i class="fa fa-exclamation-circle fa-2x text-danger" aria-hidden="true"></i></div>
          <div class="col-md-8"><a href="">{{getActionTitle(action)}}
            <strong>{{"DASHBOARD.TODAY" | translate}}</strong>.<span>{{action.task}}</span></a></div>
          <div class="col-md-3">
            <button class="btn btn-danger btn-block" routerLink="/preparedness/advanced">{{"GLOBAL.UPDATE" |
              translate}}
            </button>
          </div>
        </div>

        <div *ngFor="let indicator of indicatorsToday" class="row alert-danger">
          <div class="col-md-1"><i class="fa fa-exclamation-circle fa-2x text-danger" aria-hidden="true"></i></div>
          <div class="col-md-8"><a href="">{{getIndicatorName(indicator)}} <strong>today</strong>.<span>{{indicator.name}}</span></a>
          </div>
          <div class="col-md-3">
            <button class="btn btn-danger btn-block" routerLink="/preparedness/minimum">{{"GLOBAL.UPDATE" |
              translate}}
            </button>
          </div>
        </div>

        <!--<div class="row alert-danger">-->
        <!--<div class="col-md-1"><i class="fa fa-exclamation-circle fa-2x text-danger" aria-hidden="true"></i></div>-->
        <!--<div class="col-md-8"><a href="">An advanced prepadredness action needs to be completed <strong>this-->
        <!--week</strong>.<span>Request immediate deployment of surge capacity</span></a></div>-->
        <!--<div class="col-md-3"><a href="#" class="btn btn-danger btn-block" routerLink="/preparedness/minimum">Update</a></div>-->
        <!--</div>-->

        <div *ngFor="let action of actionsThisWeek" class="row">
          <div class="col-md-1"><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></div>
          <div class="col-md-8"><a href="">{{getActionTitle(action)}} <strong>{{"DASHBOARD.THIS_WEEK" | translate}}
            )</strong>.<span>{{action.task}}</span></a></div>
          <div class="col-md-3"><a href="#" class="btn btn-primary btn-block" routerLink="/risk-monitoring">{{"GLOBAL.UPDATE"
            | translate}}</a>
          </div>
        </div>

        <div *ngFor="let indicator of indicatorsThisWeek" class="row">
          <div class="col-md-1"><i class="fa fa-exclamation-circle fa-2x text-warning" aria-hidden="true"></i></div>
          <div class="col-md-8"><a href="">{{getIndicatorName(indicator)}} <strong>{{"DASHBOARD.THIS_WEEK" |
            translate}}</strong>.<span>{{indicator?.name}}</span></a>
          </div>
          <div class="col-md-3"><a href="#" class="btn btn-primary btn-block" routerLink="/risk-monitoring">{{"GLOBAL.UPDATE"
            | translate}}</a>
          </div>
        </div>

      </div>
    </div>

    <!--TODO - Remove after calendar import-->
    <button class="btn" routerLink="/dashboard/dashboard-seasonal-calendar">Temp Button</button>

    <div class="Widget-Group">

      <div class="Widget Risk-Monitoring">
        <h3>{{"DASHBOARD.RISK_MONITORING" | translate}}</h3>
        <ul class="list-inline">
          <li class="list-inline-item active">
            <div class="Icon">
              <div
                class="Icon--md Icon__circle Icon--b-dark-blue Icon__country--{{getCountryCodeFromLocation(countryLocation)}}"></div>
            </div>
            <span>{{"DASHBOARD.CONTEXT" | translate}}</span>
            {{countryContextIndicators.length}} {{"DASHBOARD.INDICATORS" | translate}}
          </li>
          <li class="list-inline-item" *ngFor="let hazard of hazards">
            <div class="Icon">
              <div
                class="Icon--md Icon__circle Icon--b-dark-blue {{(isNumber(hazard.hazardScenario) ? getCSSHazard(hazard.hazardScenario) : 'Icon--alert')}}"></div>
            </div>
            <span>{{HazardScenariosList[hazard.hazardScenario] | translate}}</span>
            {{numberOfIndicatorsObject[hazard.$key]}} {{"DASHBOARD.INDICATORS" | translate}}
          </li>
        </ul>
      </div>


      <div class="Widget Calendar-Widget">
      </div>

    </div>
  </div>
</div>
