<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success" [show] = "alertMessage"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Back--button">Country Office Staff</div>
    <div class="Header-title__wrap">
      <h1>Add partner organisation</h1>
    </div>


    <div class="Underline-title__wrap">
      <h5>Organisation Details</h5>
    </div>

    <form (ngSubmit)="submit()" class="Spaced">

    <div class="row Spaced">
      <div class="col-lg-4 col-md-6 form-group">
        <label for="P-org">Partner Organisation</label>
        <input type="text" class="form-control" name="P-org" id="P-org" [(ngModel)]="partnerOrganisation && partnerOrganisation.organisationName" placeholder="Please enter">
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <label for="Relationship">Relationship</label>
        <input type="text" class="form-control" id="Relationship" placeholder="Please enter">
      </div>
    </div>


    <div class="Underline-title__wrap">
      <h5>Projects</h5>
    </div>

    <div class="Outline__bubble__wrap Grey">
      <div class="row">
        <div class="col-sm-6">Example: 500 kits distributed across 4 communities</div>
        <div class="col-sm-6 Right-aligned">View this project</div>
      </div>
    </div>
    <div class="Outline__bubble__wrap Grey">
      <div class="row">
        <div class="col-sm-6"><h6>Test</h6></div>
        <div class="col-sm-6 Right-aligned text-danger">Remove this project</div>
      </div>
      <div class="row">
        <div class="Selection-row">
          <div class="Item__selectable Icon__selectable"><div onClick="$(this).toggleClass('Selected');"  class="water"></div><label>WaSH</label></div>
          <div class="Item__selectable Icon__selectable"><div onClick="$(this).toggleClass('Selected');"  class="health"></div><label>Health</label></div>
          <div class="Item__selectable Icon__selectable"><div onClick="$(this).toggleClass('Selected');"  class="shelter"></div><label>Shelter</label></div>
          <div class="Item__selectable Icon__selectable"><div onClick="$(this).toggleClass('Selected');"  class="nutrition"></div><label>Nutrition</label></div>
          <div class="Item__selectable Icon__selectable"><div onClick="$(this).toggleClass('Selected');"  class="food"></div><label>Food Security &amp; Livelihoods</label></div>
          <div class="Item__selectable Icon__selectable"><div onClick="$(this).toggleClass('Selected');"  class="protection"></div><label>Protection</label></div>
          <div class="Item__selectable Icon__selectable"><div onClick="$(this).toggleClass('Selected');"  class="education"></div><label>Education</label></div>
          <div class="Item__selectable Icon__selectable"><div onClick="$(this).toggleClass('Selected');"  class="camp"></div><label>Camp Management</label></div>
          <div class="Item__selectable Icon__selectable"><div onClick="$(this).toggleClass('Selected');"  class="misc"></div><label>Other</label></div>
        </div>
      </div>
      <div class="row Spaced">
        <div class="col-lg-4 col-md-6 form-group">
          <label for="P-title">Protject title</label>
          <input type="text" class="form-control" id="P-title" placeholder="Please enter">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="P-end-date">Project end date</label>
          <input type="text" class="form-control" id="P-end-date" placeholder="Please enter">
        </div>
      </div>
      <div class="row Spaced">
        <div class="col-lg-4 col-md-6 form-group">
          <label for="A-operation">Areas of operation</label>
          <input type="text" class="form-control" id="A-operation" placeholder="Please enter">
        </div>
      </div>
      <div class="row Spaced">
        <div class="col-sm-12">
          <p class="text-primary">+ Add another location</p>
        </div>
      </div>
    </div>
    <div class="row Spaced">
      <div class="col-sm-12">
        <p class="text-primary">+ Add another project</p>
      </div>
    </div>

    <div class="Underline-title__wrap">
      <h5>Partner Contact Details</h5>
    </div>

    <div class="row Spaced">
      <div class="col-lg-4 col-md-6 form-group">
        <label for="Title">Title</label>
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <label for="f-Name">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="partnerOrganisation && partnerOrganisation.firstName" name="f-name" id="f-Name" placeholder="Please enter">
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <label for="l-Name">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="partnerOrganisation && partnerOrganisation.lastName" name="l-name" id="l-Name" placeholder="Please enter">
      </div>
    </div>
    <div class="row Spaced">
      <div class="col-lg-4 col-md-6 form-group">
        <label for="Position">Position</label>
        <input type="text" class="form-control" id="Position" placeholder="Please enter">
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <label for="e-Address">Email Address</label>
        <input type="text" class="form-control" id="e-Address" placeholder="Please enter">
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <label for="t-Number">Telephone Number</label>
        <input type="number" class="form-control" id="t-Number" placeholder="Please enter">
      </div>
    </div>
    <div class="Form-submit__wrapper">
        <button class="btn btn-primary" type="submit" (click)="validateForm()">
          {{"GLOBAL.SAVE_CHANGES" | translate | uppercase}}
        </button>
        <button class="btn btn-outline-secondary" (click)="goBack()">{{"GLOBAL.CANCEL"| translate}}</button>
    </div>
    </form>
  </div>
</div>
