<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>


<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">
    <ng-template [ngIf]="countrySelected">
    	<app-agency-submenu [countryId]="countryId"></app-agency-submenu>
    	<app-alert-widget></app-alert-widget>
    </ng-template>

    <div class="Header-title__wrap">
        <h1>Country Office Profile</h1>
    </div>

    </div>

</div><!-- end #wrap -->
