<app-system-admin-header></app-system-admin-header>
<app-system-admin-menu></app-system-admin-menu>

<!--Start Put page data-->
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div class="Header-title__wrap">
      <h1>Messages</h1>
      <a routerLink="/system-admin/messages/create" class="btn btn-primary">Create new message</a>
    </div>

    <div class="Data--ribbon" *ngFor="let sentMessage of sentMessages">
      <div class="row col-lg-9 col-sm-10">
        <div class="Info--ribbon--wrap">
          <div class="col-sm-4">From: <b>System Admin</b></div>
          <div class="col-sm-5">at: <b>{{sentMessage.time | date:"HH:mm dd/MM/yyyy"}}</b></div>
        </div>
        <div class="col-sm-12">
          <h5>{{sentMessage.title}}</h5>
          <p>{{sentMessage.content}}</p>
        </div>
      </div>
      <div class="col-sm-2 col-lg-3 Right-aligned">
        <div class="btn btn-danger" (click)="deleteMessage(sentMessage)">Delete</div>
      </div>
    </div>

  </div>
</div>
