<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
    <div class="logo" (click)="goToHome()"></div>
    <ul>
      <li *ngIf="user?.firstName" class="Header_bar__username">{{user?.firstName+" "+user?.lastName}}</li>
      <!--<li class="Header_bar__username" (click)="test()">{{firstName+" "+lastName}}</li>-->
      <li class="Header_bar__country">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">{{network?.name}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/network/network-account-details">
            {{"SYSTEM_ADMIN.GLOBAL_NETWORKS.NETWORK_DETAIL" | translate}}
          </a>
          <a class="dropdown-item" routerLink="/network/network-account-settings">
            {{"GLOBAL.ACCOUNT_SETTINGS.TITLE" | translate}}
          </a>
          <a class="dropdown-item" routerLink="/network/network-account-selection">
            {{"NETWORK.SWITCH_ACCOUNTS" | translate}}
          </a>
          <a class="dropdown-item" (click)="logout()">
            {{"GLOBAL.LOGOUT" | translate}}
          </a>
        </div>
      </li>
      <app-notification-badge [userId]="uid" [USER_TYPE]="USER_TYPE" [networkId]="networkId"></app-notification-badge>
    </ul>
  </div>
</div>
