<div class="Sub-header_bar">
  <div class="Hamburger">
    <span></span>
  </div>
  <ul>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-offices">{{"NETWORK.NETWORK_OFFICES" | translate}}</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-agencies">{{"NETWORK.NETWORK_AGENCIES" | translate}}</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-mpa">{{"AGENCY_ADMIN.MANDATED_PA.TITLE_TEXT" | translate}}</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-settings/modules">{{"NETWORK.NETWORK_SETTINGS" | translate}}</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-message">{{"NETWORK.NETWORK_MESSAGES" | translate}}</a>
    </li>
  </ul>
</div>
