<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>Country Offices</h1>
      <button [routerLink]="['/agency-admin/country-office/create-edit-region']" type="button" class="btn btn-primary">
        CREATE A REGION
      </button>
      <button [routerLink]="['/agency-admin/country-office/create-edit-country']" type="button" class="btn btn-primary">
        ADD NEW COUNTRY OFFICE
      </button>
    </div>

    <!-- Display only when no countries in the list -->
    <!--<div *ngIf="(agencies | async)?.length == 0" class="Empty&#45;&#45;ribbon">-->
    <div *ngIf="(countries | async)?.length == 0" class="Empty--ribbon">
      You have not added any country offices to your agency
    </div>

    <table class="table Table__v-spacing__mid Agency-table">
      <tr>
        <th>Country</th>
        <th>Country Administrator</th>
        <th></th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let country of countries | async">
        <td>{{countryNames[country?.location] | translate}}</td>
        <td>{{getAdminName(country?.$key)}}</td>
        <td></td>
        <td *ngIf="country?.isActive">{{"GLOBAL.ACTIVE" | translate}}</td>
        <td *ngIf="!country?.isActive">{{"GLOBAL.DEACTIVE" | translate}}</td>
        <td>
          <div *ngIf="!country?.isActive" class="btn btn-danger" (click)="toggleActive(country)">{{"GLOBAL.ACTIVATE" |
            translate}}
          </div>
          <div *ngIf="country?.isActive" class="btn btn-danger" (click)="toggleActive(country)">{{"GLOBAL.DEACTIVATE" |
            translate}}
          </div>
          <div class="btn btn-primary" (click)="editCountry(country)">{{"GLOBAL.EDIT" | translate}}</div>
        </td>
      </tr>
    </table>
  </div>

</div>
