<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>
<app-alert-loader [hidden]="hideLoader"></app-alert-loader>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"AGENCY_ADMIN.COUNTRY_OFFICES.TITLE_TEXT" | translate}}</h1>
      <button [routerLink]="['/agency-admin/country-office/create-edit-region']" type="button" class="btn btn-primary">
        {{"AGENCY_ADMIN.COUNTRY_OFFICES.CREATE_REGION" | translate | uppercase}}
      </button>
      <button [routerLink]="['/agency-admin/country-office/create-edit-country']" type="button" class="btn btn-primary">
        {{"AGENCY_ADMIN.COUNTRY_OFFICES.ADD_NEW_COUNTRY_OFFICE" | translate | uppercase}}
      </button>
    </div>

    <div [hidden]="(countries | async)?.length != 0" class="Empty--ribbon">
      {{"AGENCY_ADMIN.COUNTRY_OFFICES.NO_COUNTRY_OFFICES" | translate}}
    </div>

    <table [hidden]="(regions | async)?.length != 0 || (countries | async)?.length == 0"
           class="table Table__v-spacing__mid Agency-table">
      <tr>
        <th>{{"GLOBAL.USER_INFO.COUNTRY" | translate}}</th>
        <th>{{"AGENCY_ADMIN.COUNTRY_OFFICES.COUNTRY_ADMINISTRATOR" | translate}}</th>
        <th></th>
        <th>{{"GLOBAL.STATUS" | translate}}</th>
      </tr>
      <tr *ngFor="let country of countries | async">
        <td>{{countryNames[country?.location] | translate}}</td>
        <td>{{getAdminName(country?.$key)}}</td>
        <td></td>
        <td *ngIf="country?.isActive">{{"GLOBAL.ACTIVE" | translate}}</td>
        <td *ngIf="!country?.isActive">{{"GLOBAL.DEACTIVE" | translate}}</td>
        <td>
          <div *ngIf="!country?.isActive" class="btn btn-success" (click)="update(country)">{{"GLOBAL.ACTIVATE" |
            translate}}
          </div>
          <div *ngIf="country?.isActive" class="btn btn-danger" (click)="update(country)">{{"GLOBAL.DEACTIVATE"
            |
            translate}}
          </div>
          <div class="btn btn-primary" (click)="editCountry(country)">{{"GLOBAL.EDIT" | translate}}</div>
        </td>
      </tr>
    </table>

    <div [hidden]="(regions|async)?.length == 0" *ngFor="let region of regions | async">
      <div class="Accordion Map-list" data-toggle="collapse" href="#collapseOne" aria-expanded="true"
           aria-controls="collapseOne">
        <div class="row align-items-center">
          <div class="col-md-4 col-lg-4 col-sm-4"><h4>{{region.name}}</h4></div>
          <div class="col-md-5 col-lg-5 col-sm-5">
            <strong>{{"AGENCY_ADMIN.COUNTRY_OFFICES.REGIONAL_DIRECTOR" | translate}}:
            </strong>
            <!--{{"AGENCY_ADMIN.COUNTRY_OFFICES.UNASSIGNED" | translate}}-->
            {{getDirectorName(region) | translate}}
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2">
            <a href="agency-admin__office__region--edit.html" (click)="editRegion(region)">{{"GLOBAL.EDIT_SECTION" |
              translate}}</a>
          </div>
          <div class="col-md-1 col-lg-1 col-sm-1">
            <i class="fa fa-caret-down text-primary" aria-hidden="true" (click)="hideCountryList(region)"></i></div>
        </div>
      </div>

      <table [hidden]="showRegionMap?.get(region.$key)" class="table Table__v-spacing__mid Agency-table">
        <tr>
          <th>{{"GLOBAL.USER_INFO.COUNTRY" | translate}}</th>
          <th>{{"AGENCY_ADMIN.COUNTRY_OFFICES.COUNTRY_ADMINISTRATOR" | translate}}</th>
          <th></th>
          <th>{{"GLOBAL.STATUS" | translate}}</th>
          <th></th>
        </tr>
        <tr *ngFor="let country of getCountries(region)">
          <td>{{countryNames[country?.location] | translate}}</td>
          <td>{{getAdminName(country?.$key)}}</td>
          <td></td>
          <td *ngIf="country?.isActive">{{"GLOBAL.ACTIVE" | translate}}</td>
          <td *ngIf="!country?.isActive">{{"GLOBAL.DEACTIVE" | translate}}</td>
          <td>
            <div *ngIf="!country?.isActive" class="btn btn-success" (click)="update(country)">{{"GLOBAL.ACTIVATE" |
              translate}}
            </div>
            <div *ngIf="country?.isActive" class="btn btn-danger" (click)="update(country)">{{"GLOBAL.DEACTIVATE"
              | translate}}
            </div>
            <div class="btn btn-primary" (click)="editCountry(country)">{{"GLOBAL.EDIT" | translate}}</div>
          </td>
        </tr>
      </table>
    </div>

    <div [hidden]="hideOtherTab || (regions|async)?.length == 0">
      <div class="Accordion Map-list" data-toggle="collapse" href="#collapseOne" aria-expanded="true"
           aria-controls="collapseOne">
        <div class="row align-items-center">
          <div class="col-md-4 col-lg-4 col-sm-4"><h4>{{"AGENCY_ADMIN.COUNTRY_OFFICES.OTHER_COUNTRIES" |
            translate}}</h4></div>
          <div class="col-md-5 col-lg-5 col-sm-5"></div>
          <div class="col-md-2 col-lg-2 col-sm-2"></div>
          <div class="col-md-1 col-lg-1 col-sm-1"><i class="fa fa-caret-down text-primary" aria-hidden="true"
                                                     (click)="hideCountryList(null)"></i></div>
        </div>
        <table [hidden]="hideOtherCountries" class="table Table__v-spacing__mid Agency-table">
          <tr>
            <th>{{"GLOBAL.USER_INFO.COUNTRY" | translate}}</th>
            <th>{{"AGENCY_ADMIN.COUNTRY_OFFICES.COUNTRY_ADMINISTRATOR" | translate}}</th>
            <th></th>
            <th>{{"GLOBAL.STATUS" | translate}}</th>
          </tr>
          <tr *ngFor="let country of otherCountries">
            <td>{{countryNames[country?.location] | translate}}</td>
            <td>{{getAdminName(country?.$key)}}</td>
            <td></td>
            <td *ngIf="country?.isActive">{{"GLOBAL.ACTIVE" | translate}}</td>
            <td *ngIf="!country?.isActive">{{"GLOBAL.DEACTIVE" | translate}}</td>
            <td>
              <div *ngIf="!country?.isActive" class="btn btn-success" (click)="update(country)">{{"GLOBAL.ACTIVATE"
                |
                translate}}
              </div>
              <div *ngIf="country?.isActive" class="btn btn-danger" (click)="update(country)">{{"GLOBAL.DEACTIVATE"
                |
                translate}}
              </div>
              <div class="btn btn-primary" (click)="editCountry(country)">{{"GLOBAL.EDIT" | translate}}</div>
            </td>
          </tr>
        </table>
      </div>

    </div>

  </div>
</div>

<div class="modal fade" id="update-country" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="countryToUpdate" class="modal-title" id="exampleModalLabel">
          <strong>{{alertTitle | translate}} {{countryNames[countryToUpdate.location] | translate}}</strong>
        </h5>
        <h5 *ngIf="!countryToUpdate" class="modal-title" id="exampleModalLabelDefault">
          <strong>{{alertTitle | translate}}</strong>
        </h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{alertContent | translate}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="toggleActive()">{{"GLOBAL.CONFIRM" | translate}}</button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">{{"GLOBAL.CANCEL"| translate}}
        </button>
      </div>
    </div>
  </div>
</div>
