<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>Country Offices</h1>
      <button type="button" class="btn btn-primary">Add new country office</button>
    </div>

    <table class="table Table__v-spacing__mid Agency-table">
      <tr>
        <th>Country</th>
        <th>Country Administrator</th>
        <th></th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>Phillipines</td>
        <td>John Smith</td>
        <td></td>
        <td>Active</td>
        <td>
          <div class="btn btn-danger">Deactivate</div>
          <div class="btn btn-primary">Edit</div>
        </td>
      </tr>
      <tr>
        <td>Malaysia</td>
        <td>Terry Collins</td>
        <td></td>
        <td>Active</td>
        <td>
          <div class="btn btn-danger">Deactivate</div>
          <div class="btn btn-primary">Edit</div>
        </td>
      </tr>
    </table>
  </div>

</div>
