<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>
<app-status-alert [message]="alertMessage" [success]="alertSuccess" [(show)]="alertShow"
                  (onAlertHidden)="onAlertHidden($event)"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <app-settings-menu></app-settings-menu>

    <div class="Sub-header-title__wrap">
      <h2>{{"AGENCY_ADMIN.SETTINGS.DEPARTMENTS.TITLE_TEXT" | translate}}</h2>
      <button type="button" class="btn btn-primary btn-ghost Inline-editable--enable" *ngIf="deleting"
              (click)="cancelDeleteDepartments($event)">{{"GLOBAL.CANCEL" | translate}}
      </button>
      <button type="button" class="btn btn-danger Inline-editable--enable" *ngIf="deleting"
              (click)="deleteSelectedDepartments($event)">{{"GLOBAL.DELETE" | translate}}
      </button>

      <button type="button" class="btn btn-outline-danger Inline-editable--enable" (click)="deleteDepartments($event)"
              *ngIf="!deleting && !editing">{{"AGENCY_ADMIN.SETTINGS.DEPARTMENTS.DELETE_DEPARTMENTS" | translate |
        uppercase}}
      </button>
      <button type="button" class="btn btn-outline-primary Inline-editable--enable" (click)="editDepartments($event)"
              *ngIf="!deleting && !editing">{{"AGENCY_ADMIN.SETTINGS.DEPARTMENTS.EDIT_DEPARTMENTS" | translate |
        uppercase}}
      </button>

      <button type="button" class="btn btn-primary btn-ghost Inline-editable--enable" *ngIf="editing"
              (click)="cancelEditDepartments($event)">{{"GLOBAL.CANCEL" | translate}}
      </button>
      <button type="button" class="btn btn-primary Inline-editable--enable" *ngIf="editing"
              (click)="saveEditedDepartments($event)">{{"GLOBAL.SAVE" | translate | uppercase}}
      </button>
    </div>

    <p *ngIf="deleting">{{"AGENCY_ADMIN.SETTINGS.DEPARTMENTS.DELETE_DEPARTMENTS_INFO" | translate}}</p>

    <div class="Departments">
      <div class="row Editable-check-text Large-spacing-top" *ngFor="let department of depts | keyValues">
        <label for="{{department.key}}" *ngIf="deleting && !department.value">
          <input class="form-check-input" type="checkbox" id="{{department.key}}" [value]="department.key"
                 (change)="onDepartmentSelected(department.key)"> {{department.key}}
        </label>
        <ng-container *ngIf="(!deleting || department.value) && !editing">
          {{department.key}}
        </ng-container>
        <input type="text" class="form-control col-md-4" *ngIf="editing" [ngModel]="department.key"
               (ngModelChange)="setDepartmentValue(department.key, $event)">
      </div>
      <div class="row Add-new-department no-gutters" *ngIf="!deleting && !editing">
        <div class="col-md-4 col-8" [ngClass]="{'has-danger': alerts[departmentName]}">
          <input type="text" class="form-control" placeholder="Add a new department" [(ngModel)]="departmentName"
                 required>
        </div>
        <div class="col-md-8 col-4">
          <button type="button" class="btn btn-outline-primary" (click)="addDepartment($event)">{{"GLOBAL.SAVE" |
            translate | uppercase}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
