<div class="Header_bar">
  <div class="Header_bar__wrap--inner">
  </div>
</div>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">

		<app-settings-menu></app-settings-menu>

        <div class="Sub-header-title__wrap">
        <h2>Departments</h2>
            <button type="button" class="btn btn-outline-danger Inline-editable--enable">Delete Departments</button> 
            <button type="button" class="btn btn-outline-primary Inline-editable--enable">Edit Departments</button>  
        </div>
        <div class="Departments">
            <div class="row Editable-check-text Large-spacing-top">Finance</div>
            <div class="row Editable-check-text Large-spacing-top">HR</div>
            <div class="row Editable-check-text Large-spacing-top">Logistics</div>
            <div class="row Editable-check-text Large-spacing-top">Programme</div>
            <div class="row Add-new-department no-gutters">
                <div class="col-md-4 col-8">
                    <input type="text" class="form-control" placeholder="Add a new department">
                </div>
                <div class="col-md-8 col-4">
                    <button type="button" class="btn btn-outline-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>