<!--TODO - UPDATE WHEN THE MODULES ARE COMPLETED-->
<div class="Sub-header_bar">
    <div class="Hamburger">
        <span></span>
    </div>
    <ul>
        <li class="" routerLinkActive="active">
            <a routerLink="/dashboard">Home</a> <!--TODO - Go to Dashboard-->
        </li>
        <li class="" routerLinkActive="active">
            <a routerLink="/risk-monitoring">Risk Monitoring</a> <!--TODO - Go to Risk Monitoring-->
        </li>
        <li class="" routerLinkActive="active">
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="preparedness__country-agencies-overview.html" aria-haspopup="true" aria-expanded="false">Preparedness</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/preparedness">Minimum preparedness</a>
                    <a class="dropdown-item" routerLink="/preparedness">Advanced preparedness</a>
                    <a class="dropdown-item" routerLink="/preparedness">Preparedness budget</a>
                </div>
            </div>
        </li>
        <li class="" routerLinkActive="active">
            <a routerLink="/response-plans">Response Plans</a> <!--TODO - Go to Response Plans-->
        </li>
        <li class="" routerLinkActive="active">
            <a routerLink="/country-admin/country-office-profile">Country Office</a> <!--TODO - Go to Country Office Profile-->
        </li>
        <li class="" routerLinkActive="active">
            <a routerLink="/map">Global Map</a> <!--TODO - Go to Global Maps-->
        </li>
        <li class="" routerLinkActive="active">
            <a routerLink="/country-admin/settings/country-permission-settings">Country Administrator</a> <!--TODO - Go to Country Office Profile-->
        </li>
    </ul>
</div>
