<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<div class="Alert-error" [hidden]="hideWarning">{{warningMessage | translate}}</div>
<div class="Alert-success" [hidden]="hideSuccess">{{successMessage | translate}}</div>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">

    <div (click) = "goBack()" class="Back--button">
        {{"COUNTRY_ADMIN.STAFF.TITLE_TEXT"| translate}}</div>

    <div class="Header-title__wrap">
      <h1 *ngIf="!isEdit">{{"COUNTRY_ADMIN.STAFF.TITLE_ADD_STAFF"| translate}}</h1>
      <h1 *ngIf="isEdit">{{"COUNTRY_ADMIN.STAFF.TITLE_EDIT_STAFF"| translate}}</h1>
      <button *ngIf="isEdit" type="button" class="btn btn-danger" (click)="deleteStaff()">
        {{"COUNTRY_ADMIN.STAFF.TITLE_DELETE_STAFF" | translate}}
      </button>
    </div>

    <form #addStaffForm (ngSubmit)="submit()" class="Spaced">
      <div class="row">
        <div class="col-lg-4 col-md-6 form-group">
          <label for="Title">{{"GLOBAL.TITLE"| translate}}</label>
          <select class="form-control" id="Title" [(ngModel)]="title" name="title" required #selectTitle>
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let title of userTitleSelection" [value]="title">{{userTitle[title]|translate}}
            </option>
          </select>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="f-Name">{{"GLOBAL.USER_INFO.FIRST_NAME"| translate}}</label>
          <input type="text" class="form-control" id="f-Name" [(ngModel)]="firstName" name="firstName"
                 placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}" required>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="l-Name">{{"GLOBAL.USER_INFO.LAST_NAME"| translate}}</label>
          <input type="text" class="form-control" id="l-Name" [(ngModel)]="lastName" name="lastName"
                 placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}" required>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 form-group">
          <label for="User-Type">{{"COUNTRY_ADMIN.STAFF.USER_TYPE"| translate}}</label>
          <select class="form-control" id="User-Type" [(ngModel)]="userType" name="userType" required (change)="selectedUserType(userType)">
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let type of userTypeSelection;let i = index" [hidden] = "i==0" [value]="type">
              {{userTypeConstant[i] | translate}}
            </option>
          </select>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="telephone">{{"GLOBAL.USER_INFO.PHONE"| translate}}</label>
          <input type="text" class="form-control" id="telephone" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}"
                 [(ngModel)]="phone" name="phone" required>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="Department">{{"GLOBAL.DEPARTMENT"| translate}}</label>
          <select class="form-control" id="Department" [(ngModel)]="department" name="department" required>
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let department of departmentList | async" [ngValue]="department">{{department}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 form-group">
          <label for="Position">{{"COUNTRY_ADMIN.STAFF.POSITION"| translate}}</label>
          <input type="text" class="form-control" id="Position" [(ngModel)]="position" name="position"
                 placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}" required>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="o-Type">{{"COUNTRY_ADMIN.STAFF.OFFICE_TYPE"| translate}}</label>
          <select class="form-control" id="o-Type" [(ngModel)]="officeType" name="officeType" required>
            <option value="undefined" disabled selected hidden>{{'GLOBAL.PLEASE_SELECT'| translate}}</option>
            <option *ngFor="let type of officeTypeSelection; let i = index" [hidden]="i==0" [value]="type">
              {{officeTypeConstant[type] | translate}}
            </option>
          </select>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <label for="e-Address">{{"GLOBAL.USER_INFO.EMAIL"| translate}}</label>
          <input type="email" class="form-control" id="e-Address" placeholder="{{'GLOBAL.PLEASE_ENTER'| translate}}"
                 [(ngModel)]="email" name="email" required>
        </div>
      </div>
      <div class="form-group"><label>{{"COUNTRY_ADMIN.STAFF.SUPPORT_SKILLS"| translate}}</label></div>
      <div class="row">
        <label *ngFor="let support of supportSkillList" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5">
          <input type="checkbox" #box (change)="supportSkillCheck(support,box.checked)"
              [checked]="skillsMap.get(support.$key)">{{support.name}}</label>
      </div>

      <div class="form-group"><label>{{"COUNTRY_ADMIN.STAFF.TECHNICAL_SKILLS"| translate}}</label></div>
      <div class="row">
        <label *ngFor="let tech of techSkillsList" class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5">
          <input type="checkbox" #box (change)="techSkillCheck(tech,box.checked)"
              [checked]="skillsMap.get(tech.$key)">{{tech.name}}</label>
      </div>

      <div class="row Spaced">
        <div class="col-lg-8 col-md-10 form-group">
          <label for="n-Done">{{"COUNTRY_ADMIN.STAFF.TRAINING_NEEDS"| translate}}</label>
          <textarea name="n-Done" id="n-Done" cols="30" rows="5" class="form-control"
              [(ngModel)]="trainingNeeds"></textarea>
        </div>
      </div>

      <div class="form-group"><label>{{"GLOBAL.NOTIFICATIONS"| translate}}</label></div>
      <div class="row Spaced">
        <label *ngFor="let notification of notificationList | async"
               class="Checkbox--ribbon col-lg-3 col-md-4 col-sm-5">
          <input type="checkbox" #box (change)="notificationCheck(notification, box.checked)"
                 [checked]="notificationSettings[notification?.$key]">{{notificationsSettingsSelection[notification.$key] |
          translate}}</label>
      </div>

      <div class="form-group"><label>{{"COUNTRY_ADMIN.STAFF.IS_PART_OF_RESPONSE_TEAM"| translate}}</label></div>
      <div class="row">
        <label for="RT_no" class="Checkbox--ribbon col-md-1 col-sm-2">
          <input type="radio" name="RT" id="RT_no" [value]="false" [(ngModel)]="isResponseMember">{{"GLOBAL.NO"|
          translate}}</label>
      </div>
      <div class="row">
        <label for="RT_yes" class="Checkbox--ribbon col-md-1 col-sm-2">
          <input type="radio" name="RT" id="RT_yes" [value]="true" [(ngModel)]="isResponseMember">{{"GLOBAL.YES"|
          translate}}</label>
      </div>

      <div class="Form-submit__wrapper">
        <button *ngIf="!isEdit" class="btn btn-primary" type="submit">
          {{"COUNTRY_ADMIN.STAFF.SAVE_NEW_STAFF" | translate | uppercase}}
        </button>
        <button *ngIf="isEdit" class="btn btn-primary" type="submit">
          {{"COUNTRY_ADMIN.STAFF.SAVE_CHANGES" | translate | uppercase}}
        </button>
        <button class="btn btn-outline-secondary" (click)="goBack()">{{"GLOBAL.CANCEL"| translate}}</button>
      </div>

    </form>

  </div>
</div>

<div class="modal fade" id="delete-action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <strong *ngIf="firstName && lastName">{{"GLOBAL.DELETE" | translate}} {{firstName + " " + lastName}}?</strong>
          <strong *ngIf="!(firstName && lastName)">{{"GLOBAL.DELETE" | translate}}?</strong>
        </h5>
      </div>
      <div class="modal-body">
        <div class="text-center"><p>{{"COUNTRY_ADMIN.STAFF.DELETE_DIALOG_CONTENT" | translate}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteAction()">{{"GLOBAL.CONFIRM" | translate}}</button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">{{"GLOBAL.CANCEL"| translate}}</button>
      </div>
    </div>
  </div>
</div>

