<app-country-admin-header></app-country-admin-header>
<app-country-admin-menu></app-country-admin-menu>

<app-status-alert [message]="alertMessage?.message" [success]="alertMessage?.type === alertMessageType.Success" [show] = "alertMessage"></app-status-alert>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>{{"GLOBAL.ACCOUNT_SETTINGS.TITLE" | translate}}</h1>
    </div>

    <ul class="section-nav">
      <li class="section-nav__item"><a [routerLink]="['/country-admin/country-account-settings']">{{"GLOBAL.ACCOUNT_SETTINGS.PROFILE"
        | translate}}</a></li>
      <li class="section-nav__item active"><a [routerLink]="['/country-admin/country-account-settings/country-change-password']">{{"GLOBAL.ACCOUNT_SETTINGS.PASSWORD"
        | translate}}</a></li>
      <li class="section-nav__item"><a [routerLink]="['/country-admin/country-account-settings/country-admin-settings-coc-view']">{{"SYSTEM_ADMIN.SETTING.COC" | translate}}</a></li>
    </ul>

    <form (ngSubmit)="submit()">

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="CurrentPassword">{{"GLOBAL.ACCOUNT_SETTINGS.CURRENT_PASSWORD" | translate}}</label>
          <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" placeholder="{{'GLOBAL.CURRENT_PASSWORD' | translate}}"
            [(ngModel)] = "changePassword.currentPassword">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="NewPassword">{{"GLOBAL.ACCOUNT_SETTINGS.NEW_PASSWORD" | translate}}</label>
          <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="{{'GLOBAL.NEW_PASSWORD' | translate}}"
            [(ngModel)] = "changePassword.newPassword">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="ConfirmPassword">{{"GLOBAL.ACCOUNT_SETTINGS.CONFIRM_PASSWORD" | translate}}</label>
          <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="{{'GLOBAL.CONFIRM_PASSWORD' | translate}}"
            [(ngModel)] = "changePassword.confirmPassword">
        </div>
      </div>
    </div>
    <div class="Form-submit__wrapper">
      <button type="submit" class="btn btn-primary" (click)="validateForm()">{{"GLOBAL.ACCOUNT_SETTINGS.UPDATE_PASSORD" | translate |
        uppercase}}
      </button>
      <button class="btn btn-outline-secondary" (click) = "goBack()">{{"GLOBAL.CANCEL" | translate}}</button>
    </div>
    </form>
  </div>
</div>
