<div class="Sub-header_bar">
  <div class="Hamburger">
    <span></span>
  </div>
  <ul>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-offices">Network Offices</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-agencies">Network Agencies</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-mpa">Mandated Preparedness Actions</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-settings">Network Settings</a>
    </li>
    <li class="" routerLinkActive="active">
      <a routerLink="/network/network-message">Messages</a>
    </li>
  </ul>
</div>
