<div id="wrap">
  <div class="Header_bar">
    <div class="Header_bar__wrap--inner">
      <div class="logo"></div>
    </div>
  </div>

  <div class="Alert-success" [hidden]="successInactive">
    {{successMessage | translate}}
  </div>

  <div class="Alert-error" [hidden]="errorInactive">
    {{errorMessage | translate}}
  </div>

  <div class="Page-top__wrap--w_sub_header--no-paddng">
    <div class="Full-page__wrap--inner">

      <div class="Header-title__wrap">
        <h1>{{"GLOBAL.WELCOME" | translate}}, {{agencyAdminName}}</h1>
      </div>
      <h3>{{"AGENCY_ADMIN.PLEASE_FILL" | translate}}</h3>

      <div class="Agency-details__logo">
        <div class="form-group"><label>{{"AGENCY_ADMIN.UPDATE_DETAILS.AGENCY_LOGO" | translate}}</label></div>
        <label for="imgInp" class="Agency-details__logo__preview"></label>
        <input type='file' id="imgInp" onChange="previewLogo(this)" class="Input-form--hidden" />
        <div><a href="#" id="select-logo" onClick="triggerPreviewLogo(event)">{{"GLOBAL.ADD_IMAGE" | translate}}</a></div>
        <div><a href="#" id="replace-logo" class="Agency-details__logo__replace-logo"  onClick="triggerPreviewLogo(event)">{{"AGENCY_ADMIN.UPDATE_DETAILS.REPLACE_IMAGE" | translate}}</a></div>
        <div><a href="#" class="Agency-details__logo__remove-logo text-danger" onClick="removeLogoPreview(event)" id="remove-logo">{{"AGENCY_ADMIN.UPDATE_DETAILS.REMOVE_IMAGE" | translate}}</a></div>
        <div>{{"AGENCY_ADMIN.UPDATE_DETAILS.SUPPORTED_FORMATS" | translate}}: jpeg, png, gif</div>
        <div>{{"SYSTEM_ADMIN.SETTING.FILE_SIZE" | translate}}: 2MB</div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group" [ngClass]="{'has-danger': alerts[agencyAddressLine1]}">
            <label for="A-line-1">{{"GLOBAL.USER_INFO.ADDRESS_LINE_1" | translate}}*</label>
            <input type="text" class="form-control" id="A-line-1" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" required [(ngModel)]="agencyAddressLine1">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="A-line-2">{{"GLOBAL.USER_INFO.ADDRESS_LINE_2" | translate}}</label>
            <input type="text" class="form-control" id="A-line-2" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" [(ngModel)]="agencyAddressLine2">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="A-line-3">{{"GLOBAL.USER_INFO.ADDRESS_LINE_3" | translate}}</label>
            <input type="text" class="form-control" id="A-line-3" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" [(ngModel)]="agencyAddressLine3">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group" [ngClass]="{'has-danger': alerts[agencyCountry]}">
            <label for="Country">{{"GLOBAL.USER_INFO.COUNTRY" | translate}}*</label>
            <select name="Country" id="Country" class="form-control" [(ngModel)]="agencyCountry">
              <option *ngFor="let country of countriesList" [ngValue]="country">{{Country[country] | translate}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group" [ngClass]="{'has-danger': alerts[agencyCity]}">
            <label for="City">{{"GLOBAL.USER_INFO.CITY" | translate}}*</label>
            <input type="text" class="form-control" id="City" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" required [(ngModel)]="agencyCity">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group" >
            <label for="Postcode">{{"GLOBAL.USER_INFO.POSTCODE" | translate}}</label>
            <input type="text" class="form-control" id="Postcode" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" [(ngModel)]="agencyPostCode">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group" [ngClass]="{'has-danger': alerts[agencyPhone]}">
            <label for="T-number">{{"GLOBAL.USER_INFO.PHONE" | translate}}*</label>
            <input type="text" class="form-control" id="T-number" placeholder="{{'GLOBAL.PLEASE_ENTER' | translate}}" required [(ngModel)]="agencyPhone">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="W-address">{{"GLOBAL.USER_INFO.WEB_ADDRESS" | translate}}</label>
            <input type="text" class="form-control" id="W-address" placeholder="{{'GLOBAL.OPTIONAL' | translate}}" [(ngModel)]="agencyWebAddress">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group" [ngClass]="{'has-danger': alerts[agencyCurrency]}">
            <label for="Country">{{"GLOBAL.CURRENCY" | translate}}*</label>
            <select name="Country" id="Currency" class="form-control" [(ngModel)]="agencyCurrency">
              <option *ngFor="let currency of currenciesList" [ngValue]="currency">{{Currency[currency] | translate}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="Form-submit__wrapper">
        <div class="btn btn-primary" (click)="onSubmit()">{{"GLOBAL.CONTINUE" | translate | uppercase}}</div>
      </div>

    </div>
  </div>
</div>
