<app-network-header></app-network-header>
<app-network-menu></app-network-menu>
<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>Network Agencies</h1>
      <button type="button" class="btn btn-primary uppercase" routerLink="/network/network-agencies/invite-agencies">Invite Agencies</button>
    </div>

    <div class="Empty--ribbon">You have not selected any agencies to be part of your network</div>
  </div>
</div>
