<app-agency-admin-header></app-agency-admin-header>
<app-agency-admin-menu></app-agency-admin-menu>

<div class="Page-top__wrap--w_sub_header--no-paddng">
  <div class="Full-page__wrap--inner">
    <div class="Header-title__wrap">
      <h1>Your notifications</h1>
    </div>
    <div class="Data--ribbon">
      <div class="row">
        <div class="Info--ribbon--wrap">
          <div class="col-sm-5">Received: <b>15:15, 31/01/2017</b></div>
        </div>
        <div class="col-sm-12">
          <h5>System maintenance</h5>
          <p>There is a scheduled maintenance starting at 10:00am BST on 23/03/2017. We apologise for any inconvience
            caused during this time </p>
        </div>
      </div>
      <div class="col-sm-3 Right-aligned">
        <div class="btn btn-danger">Delete</div>
      </div>
    </div>
  </div>
</div>
