<div class="Header-title__wrap">
    <h1>{{ "COUNTRY_ADMIN.SETTINGS.TITLE_TEXT" | translate}}</h1>
</div>
 <!-- Set the active item -->

<ul class="section-nav">
	<li class="section-nav__item" routerLinkActive="active">
      <a routerLink="/country-admin/settings/country-permission-settings">{{ "COUNTRY_ADMIN.SETTINGS.MENU.PERMISSIONS" | translate}}</a>
    </li>
    <li class="section-nav__item" routerLinkActive="active">
      <a routerLink="/country-admin/settings/country-modules-settings">{{ "COUNTRY_ADMIN.SETTINGS.MENU.MODULES" | translate}}</a>
    </li>
    <li class="section-nav__item" routerLinkActive="active">
      <a routerLink="/country-admin/settings/country-clock-settings">{{ "COUNTRY_ADMIN.SETTINGS.MENU.CLOCK_SETTINGS" | translate}}</a>
    </li>
    <li class="section-nav__item" routerLinkActive="active">
      <a routerLink="/country-admin/settings/country-notification-settings">{{ "NOTIFICATIONS_TEXT" | translate}}</a>
    </li>
</ul>
